#mask {
    z-index: 1000000000;
    position: absolute;
    display: none;
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50); /* IE 5-7 */
    -moz-opacity: 0.5;  /* Netscape */
    -khtml-opacity: 0.5;  /* Safari 1.x */
    opacity: 0.5;  /* Good browsers */
    padding: 10px 0 2px;
    display: none;
}

#message { 
    position: absolute;
    width: 700px;
    height: 300px;
    display: none;
    box-shadow: 0 0 10px #888888;
    z-index: 1000000000;
}

#message .header {
    background: url("/images/system/dialog/big/header.png") no-repeat scroll 0 0 transparent;
    border-bottom: 1px solid #E6AC5A;
    height: 24px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 700px;
}
#message .header a.close{
    float: right;
    margin-top: -20px;
    margin-right: 5px;
}
#message .header p.title{ 
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    cursor: default;
    width: 300px;
    font-weight: bold;
    font-size: 14px;
}

#message .body {
    background-color: #fff;
    width: 700px;
    display: block;
    height: 125px; 
    border: 1px solid #A2917A;
    border-top: none;
    margin-left: -1px;
}

#message .body a.button {
    width: 120px;
    height: 28px;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 25px;
}

#message .body p.text{
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #000;
    cursor: default;
    padding: 5px;
    color: #000;
}
