<?php $this->placeholder('mycss')->captureStart(); ?>
<style>
    table.list tr {
        border: 2px solid #CCCCCC;
        background-color: #F8F8F8;
        height: 30px;
    }

    table.list tr.selected {
        border: 2px solid #CCCCCC;
        background-color: greenyellow;
        height: 30px;
    }

    table.list tr:hover {
        border: 2px solid #CCCCCC;
        background-color: #F1F1F1;
        height: 30px;
    }
</style>
<?php $this->placeholder('mycss')->captureEnd(); ?>
<div id="result"></div>
<table class="list" style="margin: 0 auto; width: 100%">
    <tr align="right">
        <td colspan="9">
            <?= $this->LIST->tbarHeader(); ?>
        </td>
    </tr>
    <tr>
        <th>
            N
        </th>
        <th>
            Эл. почта
        </th>
        <th>
            Персона
        </th>
        <th>
            Номер телефона
        </th>
        <th>
            Номер купона
        </th>
        <th>
            Пин код
        </th>
        <th>
            статус
        </th>
        <th>
            Дата
        </th>
        <th>
            Действия
        </th>
    </tr>

    <?php
    $data = $this->LIST->getRecords();
    $index = 1;
    foreach ($data as $d) {
        $obj = new Lingua_Object($d);
        ?>
        <tr <?php if ($obj->view == "approved") echo 'class="selected"' ?>>
            <td width="61px"><?= $index * ($this->LIST->currentPage() + 1); ?></td>
            <td align="center"><?= $obj->login; ?></td>
            <td align="center"><?= $obj->person ?></td>
            <td align="center"><?= $obj->phone; ?></td>
            <td align="center"><?= $obj->number; ?></td>
            <td align="center"><?= $obj->pin; ?></td>
            <td align="center"><?= $obj->view; ?></td>
            <td align="center"><?= $obj->date; ?></td>
            <td align="center">
                <?php if ($obj->view == 'pending') { ?>
                <?=
                $this->formSelect($obj->lingua_id, null, array('class' => 'action'), array('--действие--', 'на месяц', 'на пол года', 'на год', 'на год + трейнинги Олега', '-1' => 'отказать'))
                ; ?>
                <?php } else { ?>
                Активен до <?=
                $obj->active_till
                ; ?>
                <?php } ?>
            </td>
        </tr>
        <?php
        $index++;
    }
    ?>

    <tr align="right">
        <td colspan="9">
            <?= $this->LIST->tbarHeader(); ?>
        </td>
    </tr>
</table>

<?php $this->placeholder('filter')->captureStart(); ?>
<form action="/admin/user/coupons" method="post">
    <h3>Фильтр</h3>

    <div class="filter_body">
        <table>
            <tr>
                <td>
                    <label for="email">Эл. почта: </label>
                </td>
                <td>
                    <?= $this->formText("email", $this->email); ?>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="person">Имя: </label>
                </td>
                <td>
                    <?= $this->formText("person", $this->person); ?>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="person">Статус: </label>
                </td>
                <td>
                    <?= $this->formRadio('status', $this->status, array(), array('Активные', 'Неактивные'), ''); ?>
                </td>
            </tr>

            <tr>
                <td colspan="2" align="right">
                    <input type="submit" value="Показать" name="filter"/>
                    <input type="submit" value="Очистить" name="clean"/>
                </td>
            </tr>
        </table>
    </div>
</form>
<br/>
<form action="/admin/user/coupons-add" method="post">
    <h3>Добавить купон</h3>
    <br/>

    <div align="center">
        Эл. почта<br/>
        <?= $this->formText("email", $this->email); ?>
        <br/>
        Номер купона<br/>
        <?= $this->formText("coupon", $this->coupon); ?>
        <br/>
        Пин код купона<br/>
        <?= $this->formText("pin", $this->pin); ?>

        <br/><br/>
        <input type="submit" value="Добавить" name="couponadd"/>
    </div>

</form>
<?php $this->placeholder('filter')->captureEnd(); ?>

<?php $this->placeholder('myscript')->captureStart(); ?>
<script type="text/javascript">
    $(document).ready(function () {
        $('.action').each(function (index, element) {
            $(element).change(function (e) {
                if (!confirm("Are you sure?!")) {
                    return;
                }

                $.post('/admin/user/coupons-active', {
                    lingua_id:this.id, action_type:$(this).val()
                }, function (data) {
                    //window.location.href = "/admin/user/coupons";
                });
            });
        });
    });
</script>
<?php $this->placeholder('myscript')->captureEnd(); ?>