<?php
$abar = new Lingua_View_ActionBar();
$abar->add('user-add', 'Зарегистрировать', '/admin/user/new');
$abar->add('user-edit', 'Редактировать', null, false);
$abar->add('user-delete', 'Удалить', null, false);

echo $abar->render("Действия");
?>

<?php $this->placeholder('mycss')->captureStart(); ?>
<style>
    table.list tr {
        border: 2px solid #CCCCCC;
        background-color: #F8F8F8;
        height: 30px;
    }

    table.list tr:hover {
        border: 2px solid #CCCCCC;
        background-color: #F1F1F1;
        height: 30px;
    }
    
</style>
<?php $this->placeholder('mycss')->captureEnd(); ?>

<form method="post" action="/admin/panel/video">
    <fieldset class="filter">
        <table>
            <tr>
                <td align="center">Категории</td>
                <td align="center">Статус</td>
                <td align="center">Исполнитель</td>
                <td align="center">Слова</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <select name="video_category">
                        <option value="0">Все</option>
                            <?php foreach ($this->categories as $category) : ?>
                            <option value="<?= $category['video_category_id'] ?>" <?php if ($category['video_category_id'] == $this->LIST->SESS->category_id) echo "selected" ?>>
                            <?= $category['category_name']; ?>
                            </option>    
<?php endforeach; ?>
                    </select>
                </td>

                <td>
                    <select name="video_status">
                        <option value="0">Все</option>
                            <?php foreach ($this->statuses as $status) : ?>
                            <option value="<?= $status['status'] ?>" <?php if ($status['status'] == $this->LIST->SESS->status) echo "selected" ?>>
                            <?= $status['status']; ?>
                            </option>    
<?php endforeach; ?>
                    </select>
                </td>

                <td>
                    <select name="video_artists">
                        <option value="0">Все</option>
                            <?php foreach ($this->artists as $artist) : ?>
                            <option value="<?= $artist['video_artist'] ?>" <?php if ($artist['video_artist'] == $this->LIST->SESS->artist) echo "selected" ?>>
                            <?= $artist['video_artist']; ?>
                            </option>    
<?php endforeach; ?>
                    </select>
                </td>

                <td>
                    <input type="text" value="<?= $this->LIST->SESS->keyword; ?>" name="keyword" size="50" />
                </td>
                <td><input type="submit" name="show" value="Показать" /></td>
            </tr>
        </table>
    </fieldset>
</form>
<div id="result"></div>

<table class="list" style="margin: 0 auto; width: 100%">
    <tr align="right">
        <td colspan="6">
            <?= $this->LIST->tbarHeader(); ?>
        </td>
    </tr>
    <tr>
        <th>
            Фото
        </th>
        <th>
            Эл. почта
        </th>
        <th>
            Имя(возрост)
        </th>
        <th>
            Роль
        </th>
        <th>
            Дата регистрации
        </th>

        <th>
            Статус
        </th>
    </tr>

    

    <?php
    $data = $this->LIST->getRecords();
    foreach ($data as $d) {
        $obj = new Lingua_Object($d);
        ?>
        <tr>
            <td></td>
            <td><?= $obj->login; ?></td>
            <td><?= $obj->firstname . ' ' . $obj->surname . "(" . $obj->age . ")"; ?></td>
            <td><?= $obj->role_name; ?></td>
            <td><?= $obj->create_ts; ?></td>
            <td>
                <?php $status = $this->LIST->getStatus($obj->status); ?>
                <span style="color: <?= $status['color']; ?>"><?= $status['status']; ?></span>
            </td>
        </tr>
        <?php
    }
    ?>
        
    <tr align="right">
        <td colspan="6">
            <?= $this->LIST->tbarHeader(); ?>
        </td>
    </tr>
</table>