<?php $this->placeholder('mycss')->captureStart(); ?>
<style>
    #form {
        width: 600px;
        margin: 0 auto;
        border: 1px solid #ccc;
    }
</style>
<?php $this->placeholder('mycss')->captureEnd(); ?>

<div id="form">
    <form action = "/admin/user/new" enctype="multipart/form-data" method="post">
        <?= $this->render('/user/user-form.phtml'); ?>
    </form>
</div>