<table>
    <tr>
        <td> Эл. почта :</td>
        <td><input type="text" value="<?= $this->email ?>" name="email" size="50" /></td>
    </tr>
    <tr>
        <td> Имя :</td>
        <td><input type="text" value="<?= $this->firstname ?>" name="firstname" size="50" /></td>
    </tr>
    <tr>
        <td> Фамилия :</td>
        <td><input type="text" value="<?= $this->surname ?>" name="surname" size="50" /></td>
    </tr>
    <tr>
        <td> Фото :</td>
        <td><input type="file" name="photo" size="50" /></td>
    </tr>
    <tr>
        <td> Возрост :</td>
        <td>
            <input type="text" value="<?= $this->age ?>" name="age" size="5" />
        </td>
    </tr>
    <tr>
        <td> Пол :</td>
        <td>
            <select name="gender">
                <option value="male">Мужской</option>
                <option value="female">Женский</option>
            </select>
        </td>
    </tr>
    <tr>
        <td> Роль :</td>
        <td>
            <select name="role_id">
                <?php foreach ($this->roles as $role): ?>
                    <option value="<?= $role['acl_role_id'] ?>">
                        <?= $role['role_name']; ?>
                    </option>
                <?php endforeach; ?>
            </select>
        </td>
    </tr>
    
    <tr>
        <td colspan="2" align="right">
            <input type="submit" value="Зарегистрировать" />
        </td>
    </tr>
</table>
