<?php $lesson = $this->lesson; ?>
<style>
    body {
        background-position: center top;    
    }
    #content {
        height: auto;
    }
    #content .conten-middle {
        height: auto;
    }
    .sentence {
        cursor: pointer;
    }
    .selected {
        background: #FFFF80;
    }
    span.phrase {
        border-bottom: 1px dashed #000;
    }
    .source span.selected-word, .source .word:hover {
        color: #543E2A;
        font-size: 14px;
        font-weight: 100;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        background-color: #FFC412;
        border-radius: 4px;
        cursor: pointer;
    }
    .lesson {
        margin-top: 50px;
        height: 680px;
        overflow: auto;
        width: 680px;
    }
    .lesson .part {
        overflow: hidden;
    }
    
    .lesson .source {
        float: left;
        width: 320px;
        margin-right: 15px;
    }    
    .lesson .translate {
        float: left;
        width: 320px;
    }
    .lesson .part {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .lesson .part .title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .lesson .part  .name {
        font-weight: bold;
        margin-bottom: 10px;
    }
    .lesson .part .textbox {
        background-color:#FFEFE0;
          border:1px solid #E7DBCD;
          float:left;
          width:290px;
          padding: 10px;
    }
    .lesson .audio-block {
        float: left;
        overflow:  hidden;
       
    }
    .show-audio-text-button {
        width: 32px;
        height: 32px;
        background:  url(/images/lessons/plus_orange.png) no-repeat;
        margin-left: 425px;
        position: relative;
        top: 5px;
    }
    .audio-text-block {
        clear: both;
        margin-top: 20px;
        width: 435px;
        background-color:#FFEFE0;
        border:1px solid #E7DBCD;
        padding: 10px;
    }
</style>

<div class="conten-middle-right-side">
    
    <div class="conten-middle-right-side-label">
        <img src="/images/audio/flag.png" alt="учись английский со звездами" />
        <p class="words_translation" style="cursor: pointer;">Новые слова</p>
    </div>

    <div class="conten-middle-right-side-google-block">
        <div id="scroll-goog">
            <div id="scrollcontent-goog">                     		
                загрузка...                  
            </div>
        </div>                                   
    </div>
    <div id="scrollbar-goog">
        <div id="scroller-goog" class="scroller-goog"></div>
    </div>

</div><!-- #content-middle-right- block-slovar-->
<div class="lesson">
<h1>
    <?php echo $lesson->lesson_title; ?>
</h1>

    
    <div class="part part1">
        <div class="title">Часть 1. Перевод текста</div>
        <div class="content">
            <div class="source">
                <div class="name">Исходный текст:</div>
                <div class="textbox">
                    <?php echo $lesson->source; ?>
                </div>
            </div>
            
            <div class="translate">
                <div class="name">Перевод:</div>
                <div class="textbox">
                    <?php echo $lesson->translate; ?>
                </div>
            </div>
        </div>
    </div>
    <div class="part">
        <div class="title">Часть 2. Аудиоистория</div>
        <div class="content">
            <div class="audio-block">
                <object style="width: 410px; height: 42px;">
                    <param name="movie" value="<?php echo $lesson->audio_history_url; ?>"/>
                    <embed src="<?php echo $lesson->audio_history_url; ?>" type="application/x-shockwave-flash" style="width: 410px; height: 42px;"/>
                </object>
            </div>
            <div class="show-audio-text-button">
            
            </div>
            <div class="audio-text-block">
                <?php echo $lesson->source; ?>
            </div>    
        </div>
    </div>
    <div class="part">
        <div class="title">Часть 3. Аудиовокабуляр</div>
        <div class="content">
            <div class="audio-block">
                <object style="width: 410px; height: 42px;">
                    <param name="movie" value="<?php echo $lesson->audio_vocabular_url; ?>"/>
                    <embed src="<?php echo $lesson->audio_vocabular_url; ?>" type="application/x-shockwave-flash" style="width: 410px; height: 42px;" />
                </object>
            </div>
                   
        </div>
    </div>
    <div class="part">
        <div class="title">Часть 4. Аудиоминистори</div>
        <div class="content">
            <div class="audio-block">
                <object style="width: 410px; height: 42px;">
                    <param name="movie" value="<?php echo $lesson->audio_ministory_url; ?>"/>
                    <embed src="<?php echo $lesson->audio_ministory_url; ?>" type="application/x-shockwave-flash" style="width: 410px; height: 42px;" />
                </object>
            </div>
            <div class="show-audio-text-button">
                
            </div>
            <div class="audio-text-block">
                <?php echo $lesson->audio_ministory_text; ?>
            </div>
        </div>
    </div>
    <div class="part">
        <div class="title">Часть 5. Видеоклип</div>
        <div class="content">
            
        </div>
    </div>
    <div class="part">
        <div class="title">Часть 6. Лингвотренажеры</div>
        <div class="content">
            
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/lingua/init.js"></script>
<script type="text/javascript" src="/js/lingua/lessons.js"></script>
<script type="text/javascript">
    LESSON.run('<?= $this->lesson->lesson_id ?>', '<?= $this->key ?>', '<?= Lingua_Auth::getLinguaId(); ?>', '<?= $this->lesson->language_id ?>');
    $('.part1 .sentence').mouseover(function(){
        var num = $(this).data('num');        
        $('.part1 .sentence-'+num).addClass('selected');
    });
    
    $('.part1 .sentence').mouseout(function(){
        var num = $(this).data('num');        
        $('.part1 .sentence-'+num).removeClass('selected');
    })
</script>