<?php
$abar = new Lingua_View_ActionBar();
$abar->add('permission-add', 'Новое право', '/admin/role/new');
$abar->add('save-changes', 'Сохранить изменения');

echo $abar->render();
?>

<?php $this->placeholder('mycss')->captureStart(); ?>
<style>
    table.roles {
        border: 1px solid #000;
        margin: 0 auto;
    }

    table.roles tr{
        padding: 5px 7px;
        background-color: #cecece;

    }

    table.roles td {
        padding: 5px;
    }

    .perm {
        width: 100%;
        height: 20px;
        display: block;
    }
</style>
<?php $this->placeholder('mycss')->captureEnd(); ?>


<?php $roles = $this->role->getRoles(); ?>
<?php $permissions = $this->role->getPermissions(); ?>

<table class="roles">
    <tr>
        <td class="head">Право на</td>
        <?php foreach ($roles as $role): ?>
            <td><?= $role['role_name'] ?></td>
        <?php endforeach; ?>
    </tr>

    <?php foreach ($permissions as $permission): ?>
        <tr>
            <td>
                <?= $permission['permission_desc']; ?>
            </td>
            <?php
            $index = 0;
            foreach ($roles as $role):
                ?>
                <td align = "center" >
                    <?php if ($this->role->hasRolePermission($role['role_name'], $permission['permission_name'])) { ?>
                        <span id="<?= $role['acl_role_id'] ?>_<?= $permission['acl_permissions_id'] ?>" class="perm">
                            <img src="/images/admin/checked.gif" width="16" height="16" />
                        </span>
                        <input type="hidden" value="1" id="input_<?= $role['acl_role_id'] ?>_<?= $permission['acl_permissions_id'] ?>" />
                    <?php } else { ?>
                        <span id="<?= $role['acl_role_id'] ?>_<?= $permission['acl_permissions_id'] ?>" class="perm">
                        </span>
                        <input type="hidden" value="0" id="input_<?= $role['acl_role_id'] ?>_<?= $permission['acl_permissions_id'] ?>" />

                    <?php } ?>
                </td>
            <?php endforeach; ?>
        </tr>
    <?php endforeach; ?>
</table>

<?php $this->placeholder('myscript')->captureStart(); ?>
<script>
    $(document).ready(function() {
        $('span.perm').each(function(index, element) {
            $(element).click(function() {
                if($(this).html() == "") {
                    $(this).html('<img src="/images/admin/checked.gif" width="16" height="16" />');
                    $("#input_"+this.id).val('1');
                }
                else {
                    $(this).html('');
                    $("#input_"+this.id).val('0');
                }
            });
        });
        
        $('#save-changes').click(function() {
            var data = new Array();
            
            $('.perm').each(function(index, element){
                var obj = new Object();
                obj.id = this.id;
                obj.val = $("#input_"+this.id).val();
                
                data.push(obj);
            });
            
            $.post('/admin/role/save', {data:data}, function(data){
                
            });
        });
    });
</script>
<?php $this->placeholder('myscript')->captureEnd(); ?>
    
