<form action="/admin/role/new" method="post">
    <div align="center" width="100%">
        <table>
            <tr>
                <td><h1>Новое право</h1></td>
                <td><input type="text" name="permission" value="" size="40" /></td>
            </tr>
            <tr>
                <td><h1>Описание</h1></td>
                <td><input type="text" name="description" value="" size="40" /></td>
            </tr>
        </table>
        
        
        
        <input type="submit" value="Добавить" />
    </div>
</form>