@import "http://fonts.googleapis.com/css?family=Kreon";
body {
font-family:Calibri;
font-size:14px;
color:#333;
line-height:20px;
position:relative;
background-color:transparent;

background-position:left top;
background-repeat:repeat-x;
margin:0;
padding:0;
}

strong,b {
font-weight:700;
}

em,dfn,i {
font-style:italic;
}

a,img {
border:0 none;
outline:medium none;
}

a {
text-decoration:none;
color:#06C;
}

.pp_pic_holder {
display:none;
}

h1,h2,h3,h4,h5,h6 {

font-weight:600;
letter-spacing:1px;
line-height:100%;
}

.the_title {
display:inline-block;
font-size:40px;
margin:0 40px 0 0;
padding:5px 0;
}

h1 {
background-color:rgba(253, 252, 183, 0.7);
color:#ED0000;

font-size:42px;
line-height:55px;
text-align:center;
text-shadow:1px 1px 1px rgba(255, 255, 255, 0.3);
margin:10px auto;
}

h2 {
font-size:26px;
}

h3 {
font-size:22px;
}

h4 {
font-size:18px;
}

h5 {
font-size:16px;
}

h1 strong {
font-size:40px;
font-weight:700;
}

h1,h2,h3,h4,h5,h6,hr,p,ul,ol,dl,pre,address,table,form {

}

li {
list-style:url('http://mokselle.ru/sales-lessons/img/arrow.gif');
border-bottom:1px solid #ddd;
padding-bottom:5px;
padding-top:5px;
}

ol,dd {
margin-left:24px;
}

ul ul,ol ul,ul ol,ol ol {
margin-bottom:0;
margin-top:0;
}

a:hover {
color:#999;
}

blockquote p {
padding:0;
}

pre,code {
font-family:mono-space,monospace;
font-weight:400;
line-height:20px;
overflow-x:auto;
overflow-y:hidden;
white-space:pre;
padding:0;
}

pre code {
margin:0;
padding:0;
}

.wrap {
width:960px;
margin:0 auto;
padding:0;
}

.clear,.cleared {
clear:both;
display:block;
font-size:0;
height:0;
line-height:0;
overflow:hidden;
width:100%;
}

.alignright,img.alignright,a img.alignright {
float:right;
margin:10px 0 10px 16px;
}

.alignleft,img.alignleft,a img.alignleft {
float:left;
margin:10px 16px 10px 0;
}

.aligncenter,img.aligncenter,a img.aligncenter {
display:block;
margin-left:auto;
margin-right:auto;
}

.wp-caption {
-moz-border-radius:3px;
background-color:#FFF;
border:1px solid #DDD;
margin-bottom:18px;
text-align:center;
padding:4px;
}

.wp-caption img {
border:medium none;
margin:0;
padding:0;
}

.wp-caption p.wp-caption-text {
color:#111;
font-size:11px;
line-height:17px;
margin:0;
padding:0 4px 5px;
}

.tleft {
float:left;
margin:0 10px 0 0;
}

th {
border-top:1px solid #FFF;
color:#666;
text-transform:uppercase;
background-color:#FBFBFB;
border-bottom:1px solid #EAEAEA;
padding:10px;
}

td {
color:#000;

}

tfoot td {
border:0 none;
}

html {
background-color:transparent;

background-position:left top;
background-repeat:repeat;
}

#PageWrap {
width:100%;

background-repeat:repeat-x;
margin:0;
}

#Page {
height:auto;
min-height:300px;
position:relative;
width:887px;
z-index:0;
margin:0 auto;
padding:0 0px;
}

#Page-In {
min-height:700px;
width:987px;
padding:30px 0 0;
}

#OptinWrap {
background-color:transparent;
background-position:center top;
background-repeat:no-repeat;
height:380px;
margin-bottom:5px;
padding-top:15px;
margin-top:15px;
position:relative;
}

#videoplayer {
height:285px;
text-align:center;
top:0;
background:#000;
width:400px;
margin-left:20px;
padding:3px 5px;
}

#optinform {
margin-left: 20px;
width:385px;
background: #f5f5f5;
height:260px;
padding: 15px;
f0nt-size: 18px;
border: 1px solid #d8d8d8;
color: #000;
}

#optinform p {
color:#000;
font-family:Calibri;
font-size:16px;
padding:0;
}



#optinform p.white {
color:rgba(255, 255, 255, 0.9) !important;
font-size:15px;
text-align:center;
text-shadow:1px 1px 1px rgba(8, 31, 62, 0.55);
margin:0;
padding:0;
}

input[type="text"]:focus {
background-color:#C4E8F4;
}

input[type="submit"] {
background-color:transparent;
background-image:url("../img/button-optin.png");
background-position:0 0;
background-repeat:no-repeat;
border:medium none;
cursor:default;
display:block;
font-size:0;
height:96px;
width:303px;
margin:0 auto;

}

input[type="submit"]:hover {
background-image:url("../img/button-optin-hover.png");
color:#004749;
}

#Azthetik-Logo-Wrap {
bottom:0;
display:block;
height:53px;
opacity:0.8px;
position:absolute;
right:0;
width:147px;
}

.azlogo {
background:url("../img/azlogo_hover.png") no-repeat scroll 0 0 transparent;
clear:right;
display:block;
float:left;
height:53px;
opacity:0.4px;
position:relative;
width:147px;
}

.azlogo:hover {
opacity:1px;
}

summary {
font-family:'Kreon',serif;
font-size:16px;
}

#footer {
background-color:#F2F2F2;
background-image:url("../img/footer_bg-x.jpg");
background-position:left top;
background-repeat:repeat-x;
height:auto;
min-height:300px;
padding-top:80px;
position:relative;
text-align:center;
margin:0 auto;
}

#footer #content {
color:#000;
font-size:14px;
line-height:16px;
position:relative;
width:650px;
margin:0 auto;
padding:10px;
}

#footer #content #copyright a,#footer #content #copyright p {
color:rgba(0, 0, 0, 0.85);
text-shadow:1px 1px 0 rgba(255, 255, 255, 0.9);
}

.justified {
text-align:justify;
}

.iph {
width:500px;
height:345px;
}

.title {
font-size:36px;
}


input.required,textarea,select {

border:1px solid #ddd;
clear:right;
color:#444;
float:none;
font-size:14px;
margin-bottom:5px;
width:230px;
padding:6px;
}

.ddb {
background:#dde8f4;
-moz-border-radius:10px;
border:2px solid #ddd;
-moz-box-shadow:1px 2px 1px rgba(0, 0, 0, 0.75);
color:#555;
font-size:16px;
width:600px;
padding:10px;
}

h6,table,tr {

}