* {
    margin: 0;
    padding: 0;
}
*:focus  
{  
    outline: none;  
} 
body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    width: 100%;
    background:url(/images/profile/user/profile-page-bg.jpg) repeat-x center ;
    background-color:#ffc412;
    min-height:1100px;
    max-height:100%;	
}
a {
    color: blue;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 18px
}
img {
    border: none;
}
input {
    vertical-align: middle;
}
#wrapper {	
    width: 1000px;
    margin: 0 auto;
    height:100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
    margin-top:4px;
    height: 40px;
}
/* Header top menu1
-----------------------------------------------------------------------------*/
.header_menu1{
    margin:-3px auto auto 14px;
    float:left;
    background:url(/images/profile/user/header-menu1-not-line.png) no-repeat;
    width:330px;
    height:36px;
}
.header_menu1 ul{
    list-style-type:none;
}
.header_menu1 ul li {
    float:left;
    margin:9px 5px auto 10px;
}
.header_menu1 ul li img{
    position:absolute;
    margin-left:5px;
}
.header_menu1 ul li a{
    color:#fff;
    font-size:13px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style:italic;
    text-decoration:none;
}
/* Header top right menu2
-----------------------------------------------------------------------------*/
.header_menu2{
    margin-top:-3px;
    margin-right:7px;
    float:right;
    background:url(/images/community/header-menu2-community.png) no-repeat;
    width:299px;
    height:37px;
}
/* Header top right menu2 button
-------------------------------*/
.header_menu2_button{
    float:left;
    width:80px;
    margin:5px  auto auto 20px;
}
.header_menu2_button img{
    position:relative;
    z-index:1;
}
.header_menu2_button a{
    position:relative;
    z-index:100;
    margin:-30px auto auto 17px;
    float:left;
    color:#ffff6a;
    font-size:12px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style:italic;
    text-decoration:none;
}
.header_menu2_credit{	
    width:75px;
    overflow:hidden;
    float:left;
    margin:10px auto auto 10px;
}
.header_menu2_credit h1.normal {
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 25px;
    position: relative;
    top: 0;
}

.header_menu2_credit h1.standart {
    color: #FFFFFF;
    font-size: 15px;
    position: relative;
    top: 0;
}
.header_menu2_credit img{
    float: left;
}
/* Header top right menu2 status
-------------------------------*/
.header_menu2_status{
    float:left;
    margin:12px  auto auto 18px;
}
.header_menu2_icon{
    float:left;
    margin:-1px  auto auto 6px;
}
.header_menu2_fr_count{	
    width:45px;
    overflow:hidden;
    float:left;
    margin:10px  auto auto 2px;
}
.header_menu2_fr_count h4{
    color:#fff;
    font-size:18px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* Header top right menu2 menu
-------------------------------*/
.header_menu2 ul{
    list-style-type:none;
}
.header_menu2 ul li {
    float:left;
    margin:10px 0px auto 12px;
}  
.header_menu2 ul li a.notifications{
    color:#fff;
    text-decoration:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50); /* IE 5-7 */
    -moz-opacity: 0.5;  /* Netscape */
    -khtml-opacity: 0.5;  /* Safari 1.x */
    opacity: 0.5;  /* Good browsers */
    padding: 10px 0 2px;
}

.header_menu2 ul li a.shown{
    color:#fff;
    text-decoration:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100); /* IE 5-7 */
    -moz-opacity: 1;  /* Netscape */
    -khtml-opacity: 1;  /* Safari 1.x */
    opacity: 1;  /* Good browsers */
    background-color: #FFF6E0; 
    padding: 10px 0 2px;
    border: 1px solid #A2917A; 
    border-raduis: 5px; 
    border-bottom: none;   
    position: relative;
    z-index: 5001
}


.header_menu2_popup {
    margin-top:-3px;
    width:350px;
    height:110px;
    float:left;
    position: relative; 
    display:none;	
    z-index: 5000;
    background-color:#fff6e0;
    border:1px solid #a2917a; 
}
/* Middle
-----------------------------------------------------------------------------*/
#content {
    margin-left:10px;
    height:954px;
    width:1000px;	
}
/* content -top -user menu
-----------------------------------------------------------------------------*/
#content .conten-top-menu{
    margin-left:445px;
    height:50px;
    width:100px;
    position:absolute;
    top:20px;
    text-align:center;
}
#content .conten-top-menu p{
    color:#5d3c1b;
    font-size:11px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-top-menu ul{
    margin:-22px auto auto -5px;
    list-style-position:inside;
}
#content .conten-top-menu ul li{
    color:#fffffe;
    margin-bottom:10px;
}
#content .conten-top-menu ul li a{
    color:#fffffe;
    font-size:13px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* content middle
-----------------------------------------------------------------------------*/
#content .conten-middle{
    margin-top:165px;
    float:left;	
    height:770px;
    width:1000px;	
}

#content .conten-middle-myprofile{
    margin:20px auto auto 0px;
    width:485px;	
    float:left;
}
#content .conten-middle-myprofile img{
    margin:0px auto auto 17px;	
    float:left;
}
#content .conten-middle-myprofile-txt{
    margin:3px auto auto 65px;
    width:390px;
    overflow:hidden;
    height:30px;
}
#content .conten-middle-myprofile-txt b{
    color:#725432;
    font-size:17px;
    font-weight:100;
    font-style:italic;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* conten-middle-profile-data
-----------------------------------------------------------------------------*/
#content .conten-middle-profile-data{
    margin:0px auto auto 8px;
    padding:10px;
    float:left;	
    width:700px;
    height:130px;
}
/* conten-middle-profile-data-avatar
----------------------------------------*/
#content .conten-middle-profile-data-foto{
    float:left;
    background-color:transparent;
    overflow:hidden;
    width:98px;
    max-height:150px;
}
#content .conten-middle-profile-data-info{
    position: relative;
    background-image: url(/images/profile/user/info.png);
    width: 86px;
    height: 27px;
    display: block;
    top: 200px;
}
#content .conten-middle-profile-data-info p{
    padding: 7px 0 0 0;
    font-size:11px;
}
#content .conten-middle-profile-data-foto img{	
    max-width:95px;    
    border:1px solid #a27d34;
}
/* conten-middle-profile-data
----------------------------------------*/
#content .conten-middle-profile-data-txt{
    margin:-3px auto auto 15px;
    float:left;
    width:580px;
    height:135px;
}
#content .conten-middle-profile-data-txt p{
    overflow:hidden;
    margin-bottom:0px;    
    color:#77634d;
    font-size:13px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-profile-data-txt span{    
    color:#15669a;
    font-size:13px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* conten-middle-profile-data redaktirowat
----------------------------------------*/
#content .conten-middle-profile-data-redakt{	
    margin:-140px auto auto auto;
    float:right;	
    width:140px;
    height:30px;
}
#content .conten-middle-profile-data-redakt a{	
    color:#15669a;
    font-size:13px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* conten-middle-profile-data-redakt-form
----------------------------------------------------------------------*/
#content .conten-middle-profile-data-redakt-form{
    margin:-50px 10px auto 0px;
    padding-left:10px;
    padding-top:10px;	
    float:right;
    width:230px;
    height:auto;
    border:1px dashed #e6a94e;
    display: none;
}
#content .conten-middle-profile-data-redakt-form p{
    color:#77634d;
    font-size:12px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-profile-data-redakt-form img{
    margin:-10px auto auto 120px;
}
#content .conten-middle-profile-data-redakt-form input.success{
    margin:0px 0px 8px auto;
    padding-left:5px;
    border:1px solid #c9c8c3;
    border-radius:2px;	
    -moz-border-radius:3px;
    -khtml-border-radius:4px;
    color:#696867;
    font-size:12px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}


#content .conten-middle-profile-data-redakt-form input.error{
    margin:0px 0px 8px auto;
    padding-left:5px;
    border:1px solid #FF1400;
    border-radius:2px;	
    -moz-border-radius:3px;
    -khtml-border-radius:4px;
    color:#696867;
    font-size:12px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-profile-data-redakt-form [type="submit"]{
    background: url('/images/profile/user/login-btn.png') no-repeat scroll 0 0 transparent; 
    border:none;
    margin:-63px auto auto 120px; 
    width:100px;
    cursor:pointer;
    color:#efbb4c;
    font-size:13px;
    font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-style:italic;
    font-weight:700;
    width:100px; 
    height: 32px;
    display: block;
}
#content .conten-middle-profile-data-redakt-form select.success{	
    margin:0px 0px 5px auto;
    padding-left:3px;
    background-color:transparent;
    border:1px solid #c9c8c3;
    color:#696867;
    font-size:12px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-profile-data-redakt-form select.error{	
    margin:0px 0px 5px auto;
    padding-left:3px;
    background-color:transparent;
    border:1px solid #FF1400;
    color:#696867;
    font-size:12px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* conten-middle-profile-center
----------------------------------------------------------------------*/
#content .conten-middle-profile-center{
    margin:-5px auto auto 20px;       
    width:715px;
    height:540px;
}
/* conten-middle-profile-center-activ-text
----------------------------------------------------------------------*/
#content .conten-middle-profile-center-act-txt{
    border-bottom:1px dashed #e6a94e;
    float:left;
    width:715px;
    height:65px;
}
#content .conten-middle-profile-center-act-txt h2{
    margin:15px auto auto 5px;
    color:#15669a;
    font-size:16px;
    font-weight:100;
    font-style:italic;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
#content .conten-middle-profile-center-act-txt-stat{
    margin:5px auto auto 0px;	
    width:auto;
    overflow:hidden;
    float:left;
}
#content .conten-middle-profile-center-act-txt-stat p{
    background-color:#eed1ad;
    margin-right:5px;
    color:#644f3b;
    font-size:11px;
    font-weight:700;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-left:3px;
}
#content .conten-middle-profile-center-act-txt-stat span{
    margin:0px 8px 0px 8px;
    color:#31769f;
    font-size:12px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* .conten-middle-profile-center-video-blok
----------------------------------------------------------------------*/
#content .conten-middle-profile-center-video-blok{	
    margin-top:5px;
    float:left;
    width:715px;
    height:460px;
}
/* .conten-middle-profile-center-video-blok-left
---------------------------------------------------------*/
#content .conten-middle-profile-center-video-blok-left{		
    float:left;
    width:345px;
    height:460px;
}
#content .conten-middle-profile-center-video-blok-left h2{
    margin:0px auto 10px 5px;
    color:#15669a;
    font-size:16px;
    font-weight:100;
    font-style:italic;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-profile-center-video-blok-left ul{
    list-style-type:none;	
}
#content .conten-middle-profile-center-video-blok-left ul li{
    display:block;	
}
.bg{
    background-color:#ffe6cd;
}
#content .conten-middle-profile-center-video-blok-left ul li div{
    height:60px;
    border-bottom:1px dashed #e6a94e;
}
#content .conten-middle-profile-center-video-blok-left ul li div img{
    margin:15px auto auto 15px;
    float:left;
}
#content .conten-middle-profile-center-video-blok-left ul li div a{
    margin:12px auto auto 2px;
    overflow:hidden;
    position:absolute;
    width:290px;	
    color:#15669a;
	height:16px;
    font-size:14px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-profile-center-video-blok-left ul li div p{
    margin:28px auto auto 53px;
    overflow:hidden;
    position:absolute;
    width:290px;	
    color:#644f3b;
    font-size:13px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* .conten-middle-profile-center-video-blok-right
----------------------------------------------------------*/
#content .conten-middle-profile-center-video-blok-right{	
    margin-left:25px;	
    float:left;
    width:345px;
    height:460px;
}
#content .conten-middle-profile-center-video-blok-right h2{
    margin:0px auto 10px 5px;
    color:#15669a;
    font-size:16px;
    font-weight:100;
    font-style:italic;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-profile-center-video-blok-right ul{
    list-style-type:none;	
}
#content .conten-middle-profile-center-video-blok-right ul li{
    display:block;	
}
.bg{
    background-color:#ffe6cd;
}
#content .conten-middle-profile-center-video-blok-right ul li div{
    height:60px;
    border-bottom:1px dashed #e6a94e;
}
#content .conten-middle-profile-center-video-blok-right ul li div img{
    margin:15px auto auto 15px;
    float:left;
}
#content .conten-middle-profile-center-video-blok-right ul li div a{
    margin:12px auto auto 2px;
    overflow:hidden;
    position:absolute;
    width:290px;
	height:16px;
    color:#15669a;
    font-size:14px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-profile-center-video-blok-right ul li div p{
    margin:28px auto auto 45px;
    overflow:hidden;
    position:absolute;
    width:290px;
    color:#644f3b;
    font-size:13px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {	
    clear:both;
    height: 100px;

}
#footer .footer-center{	
    margin:0 auto;
    width:600px;
    height:100px;			
}
#footer .footer-center-copy{	
    float:left;
    margin:15px auto auto 25px;	
}
#footer .footer-center-copy p{
    margin-bottom:-5px;	
    color:#5d3c1b;
    font-size:11px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
#footer .footer-center-soc-iconki{	
    float:left;
    width:150px;	
    margin:15px auto auto 95px;		
}
#footer .footer-center-menu{
    margin:24px auto auto 10px;
    float:left;	
    background:url(/images/profile/user/footer-menu-bg.png) no-repeat;
    width:580px;
    height:41px;	
}
#footer .footer-center-menu ul{	
    list-style-type:none;
}
#footer .footer-center-menu ul li{	
    float:left;
    margin:8px 10px auto 12px;
}
#footer .footer-center-menu ul li a{	
    color:#fff;
    font-size:13px;
    font-weight:100;
    text-decoration:none;
    font-style:italic;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#footer ul li img{
    position:absolute;
    margin-left:13px;
}

.required {
    color: red;
    font-size: 15px;
    font-weight: bold;
}

