<link rel="stylesheet" href="/css/user/dictionary/dictionary.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="/js/jScroll/jScroll.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="/css/global/global.css" type="text/css" media="screen, projection" />

<?php $this->headScript()->prependFile('/js/jScroll/jScroll.js'); ?>
<?php $this->headScript()->prependFile('/js/jScroll/mousewheel.js'); ?>
<?php $this->headScript()->prependFile('/js/lingua/dictionary.js'); ?>
<?php $this->headScript()->prependFile('/js/mp3player/swfobject/swfobject.js'); ?>


<div class="conten-middle-presentn-txt">
    <a href="/resources">Главная</a>                                        
</div>
<div class="conten-middle-lang">
    <h5>Выберите язык обучения</h5>

    <?php foreach ($this->languages as $short_name => $language) : ?>
        <?php if ($language['sys_use'] == 'YES') : ?>
            <a href="#" alt="<?= $language['system_languages_id']; ?>" click="return false" id="<?= $short_name ?>" <?php if ($this->lang != $short_name) echo 'class="select"' ?> >
                <img src="/images/resources/<?= $language['icon']; ?>" alt="английский онлайн" title="<?= $language['name'] ?>" />
            </a>
        <?php endif; ?>
    <?php endforeach; ?>
</div>
<h2>Словарь</h2>
<div class="conten-middle-top-blok">                    
    <div class="conten-middle-top-blok-search"></div>
</div><!-- #conten-middle-top-blok-->

<div class="conten-middle-center"> 
    <div class="conten-middle-center-left">            	              
        <div class="conten-middle-center-left-cont">   
            <div id="scroll1">
                <div id="scrollcontent">    
                    <div class="conten-middle-center-left-cont-bl">
                        загрузка...
                    </div>
                </div>
            </div>
        </div>                                     
    </div><!-- #conten-middle-center-left-->                   

    <div class="conten-middle-center-right">               	              
        <div class="conten-middle-center-right-cont">

            <div id="jpId" style="display: none; width:0; height: 0; position: absolute; z-index: none;"></div> 
            <div class="conten-middle-center-right-cont-bl">

            </div>                   
        </div>
    </div><!-- #conten-middle-center-right-->
</div> <!-- #conten-middle-center--> 


<script type="text/javascript">
    $(document).ready(function(){
        $("#scroll1").jScrollPane({animateTo:true, autoReinitialise: true});
        
        var flashvars = {};
        var params = {
            bgcolor: '#4EB1D9',
            scale: 'noScale',
            allowFullScreen: 'false',
            allowScriptAccess: 'always',
            allowNetworking: 'true',
            salign: 'lt'
        };
        var attributes = {id : "myFlash"};    
        swfobject.embedSWF("/js/mp3player/script.swf", "jpId", "0", "0", "9.0.0", false, flashvars, params, attributes);
        
        DICTIONARY.run('<?= $this->lang_id; ?>');
    });
</script>
