<div class="conten-middle-profile-data-redakt-form">
    <span style="font-size: 11px">Поля, отмеченные красной звездочкой (<span class="required">*</span>), обязательны для заполнения.</span><br /><br />
    <form name="user_data_edit" action="/profile" method="post" enctype="multipart/form-data">

        <?= $this->formText("nick", Lingua_String::getString($this->USER->nickname, 'Никнейм'), array('size' => 33, 'class' => 'success')); ?>
        <br/>
        <?= $this->formText("firstname", Lingua_String::getString($this->USER->firstname, 'Имя'), array('size' => 33, 'class' => isset($this->errors['firstname']) ? 'error' : 'success')); ?> <span class="required">*</span>
        <br/>
        <?= $this->formText("surname", Lingua_String::getString($this->USER->surname, 'Фамилия'), array('size' => 33, 'class' => 'success')); ?>
        <br/>
        <?= $this->formText("phone", Lingua_String::getString($this->USER->phone, 'Номер телефона'), array('size' => 33, 'class' => isset($this->errors['phone']) ? 'error' : 'success', 'style' => 'margin-bottom: 1px;')); ?> <span class="required">*</span>
        <span style="font-size: 10px; margin-bottom: 10px;">(скрытая информация)</span>


        <select style="width:185px; margin-top: 10px;" name="coutry" class="<?= isset($this->errors['country_id']) ? 'error' : 'success' ?>">
            <option value="0">Выберите страну...</option>
            <?php foreach ($this->countries as $country): ?>
                <?php if ($this->USER->country == $country['system_countries_id']) : ?>
                    <option value="<?= $country['system_countries_id'] ?>" selected><?= $country['name_ru'] ?></option>
                <?php else : ?>
                    <option value="<?= $country['system_countries_id'] ?>"><?= $country['name_ru'] ?></option>
                <?php endif; ?>
            <?php endforeach; ?>
        </select> <span class="required">*</span><br/>

        <!-- Список родного языка -->
        <span style="font-size: 10px;">Родной язык</span>
        <select style="width:185px;" name="mother_lang" class='<?= isset($this->errors['mother_lang']) ? 'error' : 'success' ?>'>
            <option value="">Родной язык...</option> 
            <?php foreach ($this->languages as $language): ?>
                <?php if ($this->mother_lang->system_language_id == $language['system_languages_id']) : ?>
                    <option value="<?= $language['system_languages_id'] ?>" selected><?= $language['name'] ?></option>
                <?php  else : ?>
                    <option value="<?= $language['system_languages_id'] ?>"><?= $language['name'] ?></option>
                <?php endif; ?>
            <?php endforeach; ?>
        </select> <span class="required">*</span>

        <?php if ($this->mother_lang->user_language_level_id) : ?>
            <select name="mother_lang_lvl" style="width:110px;" class='<?= isset($this->errors['mother_lang_lvl']) ? 'error' : 'success' ?>'>
                <?php foreach ($this->languages_levels as $lvl): ?>
                    <?php if ($lvl['user_language_level_id'] == $this->mother_lang->user_language_level_id) { ?>
                        <option value="<?= $lvl['user_language_level_id']; ?>" selected><?= $lvl['name']; ?></option>    
                    <?php } else { ?>
                        <option value="<?= $lvl['user_language_level_id']; ?>"><?= $lvl['name']; ?></option>   
                    <?php } ?>    
                <?php endforeach; ?>    
            </select> <span class="required">*</span>
        <?php endif; ?>

        <br />
        <hr style="margin: 2px 0 4px 0; width: 185px; border: 1px dashed #000; display: block;" />
        <!-- Список родного языка -->
        <?php include_once('user_know_languages_list.phtml'); ?>

        <hr style="margin: 2px 0 4px 0; width: 185px; border: 1px dashed #000; display: block;" />

        <!-- Список изучаемых языков -->
        <?php include_once ('user_learning_languages_list.phtml'); ?>
        <br/>

        <hr style="margin: 2px 0 4px 0; width: 185px; border: 1px dashed #000; display: block;" />
        <p>выберите дату рождения и пол<br/>
            <select name="day">  
            </select> 
            <select name="month">                     
            </select>
            <select name="year">                      
            </select> <br/>
            <input type="radio" name="gender" value="male" <?php if ($male) echo 'checked'; ?> style="margin:5px auto auto 0px" /> <span style="margin: 5px 0 0 0;">м.</span> 
            <input type="radio" name="gender" value="female" <?php if ($female) echo 'checked'; ?> style="margin:5px auto auto 10px" /><span style="margin: 5px 0 0 0;">ж.</span>
            <br/><br/>добавить фото<br/>
            <input type="file" name="foto" />
        </p>

        <?php if (!(Boolean) $this->status) : ?>
            <p style="font-size: 13px;padding:0 ; margin: 0;">Активация купона</p>
            <?= $this->formText("coupon_number", Lingua_String::getString($this->USER->number, 'Номер купона'), array('size' => 33, 'class' => 'success')); ?><br />
            <?= $this->formText("coupon_pin", Lingua_String::getString($this->USER->pin, 'Пин код'), array('size' => 33, 'class' => 'success')); ?><br /><br />
        <?php endif; ?>
        <br />
        <br /><br />
        <input type="submit" name="save" value="Сохранить" />
    </form>
</div>   

<?php $this->placeholder('myscript')->captureStart(); ?>
<script>
    $(document).ready(function() {
        mother_lang_selected();
        know_lang_selected();
        learning_lang_selected();
    });
    
    function mother_lang_selected() {
        $('[name="mother_lang"]').change(function(){
            if($('[name="mother_lang_lvl"]').length < 1 ) {
            
                var html = '<select name="mother_lang_lvl" style="width:185px;"  class="success">';
<?php foreach ($this->languages_levels as $lvl): ?>
                    html += '<option value="<?= $lvl['user_language_level_id']; ?>"><?= $lvl['name']; ?></option>';
<?php endforeach; ?>    
                html += "</select>";
            
                $(this).after(html);
            }
        });
    }
    
    function know_lang_selected() {        
        $('[name="know_lang[]"]:last').change(function() {
            var html = '';
            if($('[name="know_lvl[]"]').length < 3) {
                html += '<select name="know_lvl[]" style="width:110px;"  class="success">';
<?php foreach ($this->languages_levels as $lvl): ?>
                    html += '<option value="<?= $lvl['user_language_level_id']; ?>"><?= $lvl['name']; ?></option>';
<?php endforeach; ?>    
                html += "</select><br />"; 
            } 
              
            if($('[name="know_lang[]"]').length < 3) {
                html += '<select style="width:110px;" name="know_lang[]" class="success">';
                html += '<option value="">Я Владею...</option>';
<?php foreach ($this->languages as $language): ?>
                    html += '<option value="<?= $language['system_languages_id'] ?>"><?= $language['name'] ?></option>';
<?php endforeach; ?>
                html += '</select>';
            }
            
            $(this).after(html);
            know_lang_selected();
        });
    }
    
    function learning_lang_selected() {        
        $('[name="learning[]"]:last').change(function() {
            var html = "";
            
            if($('[name="learning_lvl[]"]').length < 3) {
                html += '<select name="learning_lvl[]" style="width:110px;" class="success">';
<?php foreach ($this->languages_levels as $lvl): ?>
                    html += '<option value="<?= $lvl['user_language_level_id']; ?>"><?= $lvl['name']; ?></option>';
<?php endforeach; ?>    
                html += "</select><br />";
            }
            
            if($('[name="learning[]"]').length < 3) {
                html += '<select style="width:110px;" name="learning[]" class="success">';
                html += '<option value="">Я изучаю...</option>';
<?php foreach ($this->languages as $language): ?>
                    html += '<option value="<?= $language['system_languages_id'] ?>"><?= $language['name'] ?></option>';
<?php endforeach; ?>
                html += '</select>';
            }
            
            $(this).after(html);
            learning_lang_selected();
        });
    }
</script>
<?php $this->placeholder('myscript')->captureEnd(); ?>