<div class="conten-middle-profile-data">
    <div class="conten-middle-profile-data-foto" align="center">
        <img src="<?= Lingua_Storage_User::getUrl($this->lignua_id, 95, 95) ?>"  alt="Английский онлайн"/>

        <div id="profability" style="width: 93px; height: 10px; border: 1px solid #FE9B00;border-radius:2px;-moz-border-radius:3px;-khtml-border-radius:4px;margin:2px 0px">
            <div id="procent" style="width: 0; background-color: #FE9B00; display: block;height: 10px;"></div>

        </div>
        <div class="conten-middle-profile-data-info">
            <p><?= $this->total ?>% полезный</p>
        </div>
    </div>

    <div class="conten-middle-profile-data-txt">
        <table width="430">
            <tr>
                <td colspan="2">
                    <?php
                    //$this->USER->dump();
                    if ($this->USER->paid_status == "NOPAID")
                        echo '<p>Free account</p>';
                    else
                        echo "<p>Standart<span style='font-size: 10px;'> \t(Активна до " . $this->USER->active_till . ")</span></p>";
                    ?>
                </td>
            </tr>
            <tr><td width="22%"><p>Никнейм</p></td><td><span><?= Lingua_String::getString($this->USER->nickname, '-'); ?></span></td></tr>
            <tr><td width="30%"><p>Имя/Фамилия</p></td><td><span><?= Lingua_String::getString($this->USER->firstname, '-'); ?> <?= Lingua_String::getString($this->USER->surname, '-'); ?></span></td></tr>            
            <tr><td width="22%"><p>Возраст/Пол</p></td><td><span>
                        <?= Lingua_String::getString($this->USER->age, '-'); ?> лет /
                        <?php
                        $male = true;
                        $female = false;
                        if (Lingua_String::getString($this->USER->gender, '-') == "Male") {
                            echo "Мужской";
                            $male = true;
                            $female = false;
                        }
                        if (Lingua_String::getString($this->USER->gender, '-') == "Female") {
                            echo "Женский";
                            $male = false;
                            $female = true;
                        }
                        ?>
                    </span></td></tr>
            <tr><td width="22%"><p>Страна</p></td><td><span><?= Lingua_String::getString($this->USER->country_name); ?></span></td></tr>
            <tr><td width="22%"><p>Родной язык</p></td><td><span>
                        <?php
                        $sys_lang = array();
                        foreach ($this->languages as $language) {
                            $sys_lang[$language['system_languages_id']] = $language;
                        }

                        echo isset($sys_lang[$this->mother_lang->system_language_id]['name']) ? $sys_lang[$this->mother_lang->system_language_id]['name'] : '-';
                        ?></span></td></tr>
            <tr><td width="22%"><p>Я изучаю</p></td><td><span>
                        <?php
                        $learning_lang = array();
                        foreach ($this->learning as $k) {
                            $learning_lang[] = $k['language_name'];
                        }
                        echo join(' ,', $learning_lang);
                        ?>

                    </span></td></tr>
            <tr><td width="22%"><p>Я владею</p></td><td><span>
                        <?php
                        $know_lang = array();
                        foreach ($this->know as $k) {
                            $know_lang[] = $k['language_name'];
                        }
                        echo join(' ,', $know_lang);
                        ?>

                    </span></td></tr>
        </table>
        <?php if (!$this->disableForm) : ?>
            <div class="conten-middle-profile-data-redakt">
                <img src="/images/profile/user/slovari-vnesti-slov-img.png" alt="Английский онлайн"/>
                <a href="javascript:void(0)" id="edit_profile">Редактировать</a>
            </div>
        <?php endif; ?>
    </div>                    
</div><!-- #cconten-middle-profile-data-->

<?php $this->placeholder('myscript')->captureStart(); ?>
<script type="text/javascript">
    $(document).ready(function() {
        $('#procent').animate({width: '<?= $this->total ?>%'}, 'slow', function(){
            $('div.conten-middle-profile-data-info').animate({top: 0}, 'slow')
        });
    });
</script>
<?php $this->placeholder('myscript')->captureEnd(); ?>
