<link rel="stylesheet" href="/css/user/main/main.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="/css/global/global.css" type="text/css" media="screen, projection" />

<div class="text" align="center" style="width: 100%">
    <h1 style="margin-top: 20px; line-height: 28px;"><?= $this->text ?></h1>
    <br />

    <iframe width="800" height="600" src="http://www.youtube.com/embed/CGSXUFfHxbs" frameborder="0" allowfullscreen></iframe>
</div>
