<div class="popup_left">
    <div class="popup_left_foto"><img src="<?= Lingua_Storage_User::getUrl($this->user->lingua_id, 60, 60) ?>" alt="Английский онлайн"/></div>
    <div class="popup_left_under_foto">
        <?php if ($this->has_request) { ?>
            <a href="#">
                <img src="/images/community/add-friends-icon.png" title="Запрос на дружбу отправлено!" alt="Английский онлайн"/>
            </a>
        <?php } elseif (!$this->is_friends) { ?>
            <a href="#" class="friend_request">
                <img src="/images/community/add-friends-icon.png" title="Добавить <?= $this->user->person ?> в друзья" alt="Английский онлайн"/>
            </a>
        <?php } else {
            ?>
            <a href="#" class="friend_remove">
                <img src="/images/community/user_friend_remove.png" title="Удалить alt="Английский онлайн"<?= $this->user->person ?> из списока Ваших друзей"/>
            </a>
        <?php } ?>
        <a href="#" class="new_message"><img src="/images/community/msg-fiend-icon.png" title="Отправить сообщение" alt="Английский онлайн"/></a>
        <a href="#" class="block_user"><img src="/images/community/block-friend-icon.png" title="Блокировать пользователя" alt="Английский онлайн"/></a>
        <?php /* <b>баллы учителя</b>
          <span>5607</span><br/> */ ?>
        <br/> <br/> <span><?= (int) $this->user->total ?>%</span><br/> 
        <b>полезный</b>
    </div>
</div>
<div class="popup_right">
    <div class="popup_right_name"><h3><?= $this->user->person ?></h3></div>
    <div class="popup_right_points"><?php /* <h3>9423</h3><h4>POINTS</h4> */ ?></div>
    <div class="popup_right_speak">
        <b>Говорит:</b>
        <?php foreach ($this->know as $know) : ?>
            <span><?= $know['language_name']; ?> | <a href="#"><?= $know['level_name']; ?></a></span>
        <?php endforeach; ?>
    </div>
    <div class="popup_right_study"> 
        <b>Изучает:</b>

        <?php foreach ($this->learning as $learning) : ?>
            <span style="float:left;"><?= $learning['language_name']; ?> | <a href="#"><?= $learning['level_name']; ?></a></span>
        <?php endforeach; ?>
        <a href="/user/<?= $this->user->lingua_id ?>" style="float:right;margin:10px 10px" target="_blank">больше</a>                                   
    </div>
</div>