<span style="font-size: 10px;">Изучаю...</span><br />
<?php foreach ($this->learning as $learning) : ?>
    <select style="width:110PX; float: left;" name="learning[]" class="success">
        <option value="">Изучаю...</option> 
        <?php foreach ($this->languages as $language): ?>
            <?php if ($learning['system_language_id'] == $language['system_languages_id']) { ?>
                <option value="<?= $language['system_languages_id'] ?>" selected><?= $language['name'] ?></option>
            <?php } else { ?>
                <option value="<?= $language['system_languages_id'] ?>"><?= $language['name'] ?></option>
            <?php } ?>     
        <?php endforeach; ?>
        <option value="">Удалить</option> 
    </select>
    <select name="learning_lvl[]" style="width:110px;" class="success">
        <?php foreach ($this->languages_levels as $lvl): ?>
            <?php if ($lvl['user_language_level_id'] == $learning['user_language_level_id']) { ?>
                <option value="<?= $lvl['user_language_level_id']; ?>" selected><?= $lvl['name']; ?></option>    
            <?php } else { ?>
                <option value="<?= $lvl['user_language_level_id']; ?>"><?= $lvl['name']; ?></option>   
            <?php } ?>    
        <?php endforeach; ?>    
    </select><br />
<?php endforeach; ?>
    
<?php if (count($this->learning) < 3) : ?>
    <select style="width:110PX;" name="learning[]"  class='<?= isset($this->errors['know_lang']) ? 'error' : 'success' ?>'>
        <option value="">Изучаю...</option> 
        <?php foreach ($this->languages as $language): ?>
            <option value="<?= $language['system_languages_id'] ?>"><?= $language['name'] ?></option>
        <?php endforeach; ?>
    </select>
    <?php if (count($this->know) == 0) : ?>
        <span id="required" class="know_lang required">*</span>
    <?php endif; ?>
<?php endif; ?>