<link rel="stylesheet" href="/css/user/profile/profile.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="/css/global/global.css" type="text/css" media="screen, projection" />
<div class="conten-middle-myprofile">
    <img src="/images/profile/user/flag.png" alt="Английский онлайн" />                
    <div class="conten-middle-myprofile-txt">
        <b>Моя страница</b>                        
    </div>
</div>

<?php include_once 'info-form.phtml'; ?>

<?php
if ($this->success) {
    echo htmlspecialchars_decode(Lingua_View_System_Hint_Dialog::render($this->cmessage, $this->ctitle));
    $this->placeholder('myscript')->captureStart();
    ?>
    <script type="text/javascript">
        d.show(100);
    </script>
    <?php
    $this->placeholder('myscript')->captureEnd();
}
?>

<?php if (!$this->disableForm) include_once 'edit-form.phtml'; ?> 
<div class="conten-middle-profile-center">
    <div class="conten-middle-profile-center-act-txt">
        <h2>Активность</h2>
        <div class="conten-middle-profile-center-act-txt-stat">
            <p>Слов в словаре:<span><?= $this->word_count; ?></span><?php /* Стр. освоено:<span>10</span>из<span>20</span> */ ?></p>
        </div>
    </div>
    <div class="conten-middle-profile-center-video-blok">
        <div class="conten-middle-profile-center-video-blok-left">
            <h2>Аудиофайлы</h2>
            <ul>
                <?php
                $index = 1;
                foreach ($this->audios as $audio) :
                    ?>
                    <li <?php if ($index % 2 != 0) echo 'class="bg"' ?>>
                        <div>
                            <img src="/images/profile/user/audio-icon.png" alt="Английский онлайн"/>
                            <a href="/audio/<?= $audio["audio_id"] ?>"><?= $audio['title']; ?></a>
                            <p></p>
                        </div>
                    </li>
                    <?php
                    $index++;
                endforeach;
                ?>
            </ul>
        </div>

        <div class="conten-middle-profile-center-video-blok-right">
            <h2>Видеофайлы</h2>
            <ul>
                <?php
                $index = 1;
                foreach ($this->videos as $video) :
                    ?>
                    <li <?php if ($index % 2 != 0) echo 'class="bg"' ?>>
                        <div>
                            <img src="/images/profile/user/video-icon.png" alt="Английский онлайн"/>
                            <a href="/video/<?= $video["video_id"] ?>"><?= $video['title']; ?></a>
                            <p></p>
                        </div>
                    </li>
                    <?php
                    $index++;
                endforeach;
                ?>
            </ul>
        </div>
    </div>
</div>