<div id="content">    	
    <?= Lingua_View_Misc::getNickNameView(); ?>
    <div class="conten-middle">

    </div><!-- #content-middle-->
    <div id="jpId" style="position: absolute; z-index: 10000000000000;"></div>
</div><!-- #content-->
