<?php
$d = array_chunk($this->artists, 5);
$left = isset($d[0]) ? $d[0] : array();
$right = isset($d[1]) ? $d[1] : array();
?>
<div class="conten-middle-center-alfavit-ru">
    <?php if (!$this->letter) : ?>
        <a href="#" onclick="return false" class="alpabet selected" alt="0">ВСЕ</a>
    <?php else : ?>
        <a href="#" onclick="return false" class="alpabet" alt="0">ВСЕ</a>
    <?php endif; ?>
    <?php foreach ($this->aalphabet_rus as $letter => $status): ?>
        <?php if ($letter == 'num') continue; ?>
        <?php if ($status) : ?>
            <?php if (trim($this->letter) == trim($letter)) : ?>
                <a href="#" onclick ="return false" class="alpabet selected" alt="<?= $letter ?>"><?= $letter; ?></a>
            <?php else: ?>
                <a href="#" onclick ="return false" class="alpabet" alt="<?= $letter ?>"><?= $letter; ?></a>
            <?php endif; ?>
        <?php else : ?><span class="disabled"><?= $letter; ?></span>
        <?php endif; ?>
    <?php endforeach; ?>

    <div class="conten-middle-center-alfavit-ru-menu">
        <ul>
            <?php foreach ($left as $artist): ?>
                <li>
                    <a href="#" onclick="return false" src="<?= $artist['artist_id'] ?>" class="artists">
                        <?= $artist['artist']; ?>(<?= $artist['rcount']; ?>)
                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
    <div class="conten-middle-center-alfavit-pager">
        <p>Страницы:
            <span class="paging">
                <?php
                $pages = ceil($this->artists_count / 10);
                $pdraw = ($pages >= 5) ? 5 : $pages;
                ?>
                <?php for ($iterator = 0; $iterator < $pdraw; $iterator++): ?>
                    <a href="#" click="return false;" alt="<?= $iterator; ?>" <?= $iterator == $this->page ? 'class="selected"' : ''; ?>>
                        <?= ($iterator + 1); ?>
                    </a>
                <?php endfor; ?>

                <?php if ($pages > $pdraw) : ?>
                    <a href="#" click="return false;" alt="1">></a>
                <?php endif; ?>
            </span>            
            <span id="aa_loader"></span>
        </p>
    </div>
</div>
<div class="conten-middle-center-alfavit-eng">
    <?php if ($this->aalphabet_eng['num']): ?>
        <a href="#" onclick ="return false" class="alpabet" alt="num">#</a>
    <?php else : ?>
        <span class="disabled">#</span>
    <?php endif; ?>
    <?php foreach ($this->aalphabet_eng as $letter => $status): ?>
        <?php if ($letter == 'num') continue; ?>
        <?php if ($status) : ?>
            <?php if (trim($this->letter) == trim($letter)) : ?>
                <a href="#" onclick ="return false" class="alpabet selected" alt="<?= $letter ?>"><?= $letter; ?></a>
            <?php else: ?>
                <a href="#" onclick ="return false" class="alpabet" alt="<?= $letter ?>"><?= $letter; ?></a>
            <?php endif; ?>
        <?php else : ?><span class="disabled"><?= $letter; ?></span>
        <?php endif; ?>
    <?php endforeach; ?>
    <div class="conten-middle-center-alfavit-eng-menu">
        <ul>
            <?php foreach ($right as $artist): ?>
                <li><a href="#" onclick="return false" src="<?= $artist['artist_id'] ?>" class="artists"><?= $artist['artist']; ?>(<?= $artist['rcount']; ?>)</a></li>
            <?php endforeach; ?>
        </ul>
    </div>
    <div class="conten-middle-center-alfavit-page-count">
        <p>Всего найдено: <span><?= $this->artists_count; ?></span></p>                       
    </div>                        
</div>                    

