<div class="conten-middle-center-alfavit-ru">
    <a>АУДИО</a>
    <div class="conten-middle-center-alfavit-ru-menu">

    </div>
    <div class="conten-middle-center-alfavit-pager">
        <p>Страницы:<a href="#" class="selected">1</a></p>
    </div>
</div>
<div class="conten-middle-center-alfavit-eng">
    <a>ВИДЕО</a>
    <div class="conten-middle-center-alfavit-eng-menu">
        <ul>
            <?php foreach ($this->video_categories as $video_category): ?>
                <li>
                    <a class="res_cat" href="#" onclick="return false" src="video_<?= $video_category['category_id']; ?>">
                        <?= $video_category['category_name'] ?>
                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
    <div class="conten-middle-center-alfavit-page-count">
        <p>Всего найдено: <?= (count($this->audio_categories) + count($this->video_categories)) ?></p>                        
    </div>                        
</div>                   
