/* content middle
-----------------------------------------------------------------------------*/
#content .conten-middle{
    margin-top:165px;
    float:left;	
    height:770px; 
    width:1000px;  
}
#content .conten-middle h2{
    margin:10px auto auto 20px;
    color:#990000;
    font-size:22px; 
    font-style:italic;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-presentn-txt{
    width:320px;
    overflow:hidden;
    height:20px; 
    margin:-5px auto auto 17px;
}

#content .conten-middle-presentn-txt a{
    margin-right:8px;
    color:#2e759e;
    font-size:11px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-lang{
    width:300px;
    height:35px; 
    float:right;
    margin:-15px 15px auto auto;	
}
#content .conten-middle-lang h5{
    height:auto;	
    color:#2e759e; 
    font-size:11px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-lang a{
    float:left;
    margin:0px 8px auto auto;

}
#content .conten-middle-lang .select{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40); /* IE 5.5+*/
    -moz-opacity: 0.4; /* Mozilla 1.6 и ниже */
    -khtml-opacity: 0.4; /* Konqueror 3.1, Safari 1.1 */
    opacity: 0.4; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
}
#content .conten-middle-center{
    border-top:1px dashed #e6a94e;
    margin:0px auto auto 17px;
    width:970px;
    height:700px;
    float:left;
}
/* conten-middle-center-left
-----------------------------------------------------------------------------*/
#content .conten-middle-center-left{	
    width:230px;
    height:680px;
    float:left;
    margin-top:10px; 
}
/* conten-middle-center-left-content
-----------------------------------------*/
#content .conten-middle-center-left-cont{
    position:relative;
    overflow:auto;
    overflow-x:hidden;	
    width:230px;
    height:670px;
    float:left;
    background-color:#fff2e1;
    border:1px solid #e9e2cf;
}
/* 
-------------------------------------------------------*/
#content .conten-middle-center-left-cont-bl{
    margin:5px auto auto 5px;
    width:200px;
    height:auto;
    float:left;	
}

#content .disable{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75); /* IE 5.5+*/
    -moz-opacity: 0.75; /* Mozilla 1.6 и ниже */ 
    -khtml-opacity: 0.75; /* Konqueror 3.1, Safari 1.1 */
    opacity: 0.75; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
}

#content .conten-middle-center-left-cont-bl h2{	
    margin:0px;
    float:left;
    color:#15669a;
    font-size:14px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;

}
#content .conten-middle-center-left-cont-bl ul{	
    margin-top:5px;
    margin-bottom:12px;
    width:200px;
    float:left;
    list-style-type:none;
    border-top:2px solid #e6a94e;
}
#content .conten-middle-center-left-cont-bl ul li{
    float:left;	
    width:200px;
    height:23px;
    border-bottom:1px dotted #e6a94e;
    background-color:#fff2e1;
}
#content .conten-middle-center-left-cont-bl ul li img{
    position:absolute;
    float:right;
    margin-top:4px;
    cursor:pointer;
}
#content .conten-middle-center-left-cont-bl ul li p{
    float:left;
    margin-top:3px;
    width:180px;
    overflow:hidden;
    color: #77634d;
    font-size:13px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#content .conten-middle-center-left-cont-bl ul li a{
    color: #77634d;
    margin-left: 10px;
    text-decoration: underline;
}

#content .conten-middle-center-left-cont-bl ul li a:hover{
    color: #e6a94e;
    margin-left: 10px;
    text-decoration: none;
}

#content .conten-middle-center-left-cont-bl ul li.off{
    background-color: #FFF2E1;
}

#content .conten-middle-center-left-cont-bl ul li.on{
    background-color: #FFB366;
}
/* conten-middle-center-right
-----------------------------------------------------------------------------*/
#content .conten-middle-center-right{
    margin-left:5px;		
    width:730px;
    height:680px;
    float:left;	
    margin-top:10px	
}
/* conten-middle-center-right-content
-----------------------------------------*/
#content .conten-middle-center-right-cont{
    width:730px;
    height:670px;
    float:left;
    position:relative;
    background-color:#fff2e1;
    border:1px solid #e9e2cf;
} 
#content .conten-middle-center-right-cont-bl{
    margin:10px auto auto 50px;
    width:550px;
    height:650px;
    float:left;	
} 
/* 
-------------------------------------------------------*/
#content .conten-middle-center-right-cont-bl-txt{
    width:530px;
    overflow:hidden;
    float:left;
}
#content .conten-middle-center-right-cont-bl-txt h2{	
    margin:0px;
    float:left;
    color:#15669a;
    font-size:20px;
    line-height: 1.2em;
    font-style:normal;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
} 
#content .conten-middle-center-right-cont-bl-txt h3{
    margin:0px;
    color:#77634d;
    font-size:14px;line-height: 1.8em;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
} 
/* 
-------------------------------------------------------*/
#content .conten-middle-center-right-cont-bl-dict{
    margin-top:10px;
    width:520px;
    height:580px;
    overflow:hidden;border-top:1px dotted #e6a94e;
    float:left;
}
#content .conten-middle-center-right-cont-bl-dict-audio{
    margin-top:5px;	
    width:300px;
    height:30px;	
    float:left;
}
#content .conten-middle-center-right-cont-bl-dict-audio img{		
    float:left;
    cursor:pointer;
}
#content .conten-middle-center-right-cont-bl-dict-audio p{	
    margin-left:35px;	
    color:#77634d;
    font-size:14px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-right-cont-bl-dict-chang-tr{
    margin-top:5px;	
    width:105px;
    height:20px;	
    float:right;
}
#content .conten-middle-center-right-cont-bl-dict-chang-tr a{
    color:#990000;
    font-size:12px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* 
-------------------------------------------------------*/
#content .conten-middle-center-right-cont-bl-dict-block{
    margin-top:10px;
    width:500px;
    height:auto;	
    float:left;
}
#content .conten-middle-center-right-cont-bl-dict-block p{
    margin:0px;
    color:#990000;
    font-size:12px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;

}
#content .conten-middle-center-right-cont-bl-dict-block a{	
    float:left;
    margin:15px auto auto 20px;
    color:#15669a;
    font-size:14px;
    font-weight:100;clear:both;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-right-cont-bl-dict-block b{
    float:left;
    margin:8px auto auto 20px;
    color:#77634d;
    font-size:12px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-right-cont-bl-dict-block span{	
    color:#15669a;
    font-size:13px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#content .conten-middle-top-blok{
    float:left;
    width:970px;
    height:20px;
    margin-left:17px;
}

#scroll1 {position:relative; width:230px; height:670px; overflow:auto}
#scrollcontent {width:230px; z-index:200; }