@charset "utf-8";
body {
	margin:0;
	padding:0;
}
a.logo {
	background: url(/images/portal/logo.jpg) 0 0 no-repeat;
	display: block;
	height: 80px;
	margin: 60px auto 20px auto;
	padding: 0;
	text-decoration: none;
	width: 233px;
}
#xpage {
	margin: 0 auto;
	padding: 0;
	width: 500px;
}
#xpage .box {
	background: url(/images/login/login_page_footer_bg.jpg) repeat;
	padding: 10px;
}
/* ---------- ERROR TEXT ---------- */
.error {
	border: 1px solid #900;
	color: #900;
	font: normal 15px Arial, Helvetica, sans-serif;
	padding: 20px;
}
.error h1 {
	color: #900;
	font: normal 18px Arial, Helvetica, sans-serif;
}
.error h1 strong {
	font-weight: bold;
}
