* {
    margin: 0;
    padding: 0;
}
body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    width: 100%;
    background:url(/images/default/main/bg1-new.jpg) repeat-x center;
    background-color:#ffc412;
    min-height:1200px;
    max-height:100%;
}
a {
    color: blue;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 18px
}
img {
    border: none;
}
input {
    vertical-align: middle;
}
#wrapper {	
    width: 1000px;	
    margin: 0 auto;
    height:1115px;	
}
/* Header
-----------------------------------------------------------------------------*/
#header {
    margin-top:4px;
    height: 40px;
}
/* Header top menu1
-----------------------------------------------------------------------------*/
.header_menu1{
    margin-top:-4px;
    margin-left:5px;
    float:left;
    background:url(/images/community/header-menu1-not-line.png) no-repeat;
    width:550px;
    height:36px;
}
.header_menu1 ul{
    list-style-type:none;
}
.header_menu1 ul li {
    float:left;
    margin:9px 10px auto 15px;
}
.header_menu1 ul li img{
    position:absolute;
    margin-left:10px;
}
.header_menu1 ul li a{
    color:#fff;
    font-size:13px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style:italic;
    text-decoration:none;
    float: left;
}
/* Header top right menu2
-----------------------------------------------------------------------------*/
.header_menu2{
    margin-top:-4px;
    margin-right:18px;
    float:right;
    background:url(/images/default/main/header-menu2.png) no-repeat;
    width:102px;
    height:36px;
}
.header_menu2 ul{
    list-style-type:none;
}
.header_menu2 ul li {
    float:left;
    margin:10px 0px auto 17px;
}
.header_menu2 ul li a.notifications{
    color:#fff;
    text-decoration:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50); /* IE 5-7 */
    -moz-opacity: 0.5;  /* Netscape */
    -khtml-opacity: 0.5;  /* Safari 1.x */
    opacity: 0.5;  /* Good browsers */
    padding: 10px 5px 2px 5px;
}

.header_menu2 ul li a.shown{
    color:#fff;
    text-decoration:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100); /* IE 5-7 */
    -moz-opacity: 1;  /* Netscape */
    -khtml-opacity: 1;  /* Safari 1.x */
    opacity: 1;  /* Good browsers */
    background-color: #FFF6E0; 
    padding: 10px 0 2px;
    border: 1px solid #A2917A; 
    border-raduis: 5px; 
    border-bottom: none;   
    position: relative;
    z-index: 5001
}


.header_menu2_popup {
    margin-top:-3px;
    width:350px;
    height:110px;
    float:left;
    position: relative; 
    display:none;	
    z-index: 5000;
    background-color:#fff6e0;
    border:1px solid #a2917a;
}
/* Middle
-----------------------------------------------------------------------------*/
#content {
    height:auto;
    width:1000px;
}
/* content top
-----------------------------------------------------------------------------*/
#content .content-top{
    height:485px;
    width:1000px;
}
/* content bottom left block
-----------------------------------------------------------------------------*/
#content .content-bottom-left{
    float:left;
    width:320px;
    height:483px
}
#content .content-bottom-left-block{
    margin-top:70px;
    background:url(/images/default/main/content-left-blok-bg.png) no-repeat;
    width:317px;
    height:385px;
}
#content .content-bottom-left-block p{
    margin:0px auto auto 25px;
    padding-top:8px;
    color:#5d3c1b;
    width:270px;
    height:170px;
    font-size:12px;
    line-height:1.3em;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .content-bottom-left-block-podskazka p{
    margin:15px auto auto 50px;	
    color:#5b5b5b;
    width:220px;
    height:90px;
    font-size:12px;
    line-height:1.2em;
    font-style:italic;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .content-bottom-left-block-otziv{
    float:left;
    clear:both;
}
#content .content-bottom-left-block ul{
    list-style-type:none;
    margin:20px auto auto 35px;
}
#content .content-bottom-left-block ul li {
    float:left;
    margin-right:7px;
}
#content .content-bottom-left-block ul li img{
    border:1px solid #ebe5dc;
    width:53px;
    height:53px;
    overflow:hidden;
    cursor:pointer;
}
/* content bottom center block
-----------------------------------------------------------------------------*/
#content .content-bottom-center{
    float:left;
    width:364px;
    height:483px;	
}
#content .content-bottom-center-reg-form{
    margin:210px auto auto 80px;
    width:220px;
    height:150px;	
}
#content .content-bottom-center-reg-form input[type="submit"]{
    background:url(/images/default/main/reg-log-btn.png) no-repeat;
    width:220px;
    height:57px;
    position:relative;
    z-index:1000000;
    border:none;
    background-color:transparent;
}
#content .content-bottom-center-reg-form input[type="text"]{
    padding-left:8px;
    margin:15px auto 10px 3px;
    width:212px;
    height:29px;
    background:url(/images/default/main/reg-log-form-bg.png) no-repeat;
    border:none;                
    color:#696867;
    font-size:13px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;

}
#content .content-bottom-center-reg-form input[type="password"]{
    padding-left:8px;
    margin:5px auto 0px 3px;
    width:212px;
    height:29px;
    background:url(/images/default/main/reg-log-form-bg.png) no-repeat;
    border:none;                
    color:#696867;
    font-size:13px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    position:relative; 
}
#content .content-bottom-center-reg-form input.bg {
    margin:7px auto auto 3px;
    border:none;
    background-color:transparent;
    color:#696867;
    font-size:13px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    position:relative;
    z-index:1000000;
}

#content .content-bottom-center-reg-form input.field_error {
    margin:7px auto auto 3px;	
    width:200px;
    height:29px;
    border-radius:2px;	
    -moz-border-radius:3px;
    -khtml-border-radius:4px;
    border:1px solid red;
    background-color:#F9C6CA;
    color:#696867;
    font-size:13px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    position:relative;
    z-index:1000000;	
}
#content .content-bottom-center-reg-form b{		
    position:relative;
    float:left;
    margin:-2px auto -6px 5px;       
    color:red;
    font-size: 10px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
}
#content .content-bottom-center-reg-form img{
    margin-top:7px;	
    margin-left:2px;
    margin-bottom:-17px;
    position:relative;
    z-index:10;
}
#content .content-bottom-center-text{
    margin:25px auto auto 105px;
    width:180px;	
}
#content .content-bottom-center-text p{
    color:#5d3c1b;
    font-size:12px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight:100;
    text-align:center;
}
#content .content-bottom-center-text a{
    color:#5d3c1b;
    font-size:12px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight:100;
    text-align:center;	
}
/* content bottom right block
-----------------------------------------------------------------------------*/
#content .content-bottom-right{
    float:left;
    width:310px;
    height:483px;
}
#content .content-bottom-right-block{
    margin-top:70px;
    background:url(/images/default/main/content-right-blok-bg.png) no-repeat;
    width:313px;
    height:402px;
}
#content .content-bottom-right-block p{
    float:left;
    margin:40px auto auto 35px;	
    color:#5d3c1b;
    width:230px;
    font-size:13px;
    line-height:1.3em;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .content-bottom-right-block p a{	
    color:#5d3c1b;
    text-decoration:underline;	
}
#content .content-bottom-right-block p a:hover{		
    text-decoration:none;	
}
#content .content-bottom-right-block-player{
    float:left;
    margin:15px auto auto 15px;
    width:280px;	
    height:220px;
    overflow:hidden;
    border-radius:4px;	
    -moz-border-radius:5px;
    -khtml-border-radius:10px;
}
#content .content-bottom-trigger{
    float:left;
    width:1000px;
    height:180px;
}
#content .content-bottom-trigger ul{
    list-style-type:none;
}
#content .content-bottom-trigger ul li{
    padding-bottom:5px;
    float:left;
    width:315px;
    height:85px;
    margin-left:10px;
    margin-right:5px;
    border-bottom:1px dashed #fff;
}
#content .content-bottom-trigger ul li img{
    float:left;
    margin:10px 15px auto 0px;
    width:60px;
    height:55px;
}
#content .content-bottom-trigger ul li p{
    float:left;
    margin-top:10px;
    width:240px;
    color:#5d3c1b;
    font-size:13px;
    font-weight:400;
    font-style:italic;
    line-height:1.2em;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .content-bottom-trigger ul li b{
    color:#fff;
    font-size:15px;
    font-weight:400;
    font-style:italic;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {	
    clear:both;
    height: 100px;

}
#footer .footer-center{	
    margin:0 auto;
    width:600px;
    height:100px;			
}
#footer .footer-center-copy{	
    float:left;
    margin:15px auto auto 25px;	
}
#footer .footer-center-copy p{
    margin-bottom:-5px;	
    color:#5d3c1b;
    font-size:11px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
#footer .footer-center-soc-iconki{	
    float:left;
    width:150px;
    height:25px;
    margin:15px auto auto 95px;		
}
#footer .footer-center-menu{
    margin:27px auto auto 8px;
    float:left;	
    background:url(/images/default/main/footer-menu-bg.png) no-repeat;
    width:580px;
    height:41px;	
}
#footer .footer-center-menu ul{	
    list-style-type:none;
}
#footer .footer-center-menu ul li{	
    float:left;
    margin:8px 10px auto 12px;
}
#footer .footer-center-menu ul li a{	
    color:#fff;
    font-size:13px;
    font-weight:100;
    text-decoration:none;
    font-style:italic;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#footer ul li img{
    position:absolute;
    margin-left:13px;
}


/* login popup window */
*:focus  
{  
    outline: none;  
}  	
#content-login-popup{
    width:289px;
    overflow:hidden;
    background-image: url(/images/default/main/login_gb.png);
    border-radius:4px;	
    -moz-border-radius:5px;
    -khtml-border-radius:10px;
    position: absolute;
    z-index: 10000;
    margin-left: -140px;
    top: 40px;
    height: 0;
}

#content-login-popup .wrapper {
    margin: 35px 0 0 10px;
}

#content-login-popup span.login_error{	
    margin:-5px auto -5px 5px;       
    color:red;
    font-size: 10px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    height: 0;
    text-align: center;
    width: 100%;
}

#content-login-popup span.login_success{	
    margin:-5px auto -5px 5px;       
    color:green;
    font-size: 10px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    height: 0;
    text-align: center;
    width: 100%;
}
#content-login-popup a{		
    margin:0px auto auto 20px;
    color:#5d3c1b;
    font-size:12px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content-login-popup a:hover{		
    text-decoration:none;
}

#content-login-popup a.passwd-remember{		
    color:#5d3c1b;
    font-size:12px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 2px 20px 0 0;
    float:right;
}


#content-login-popup a.passwd-remember:hover{	
    color:#5d3c1b;
    font-size:12px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: underline;
    margin: 2px 20px 0 0;
    float:right;
}

#content-login-popup input[type="text"]{
    padding-left:10px;
    margin:7px auto 5px 3px;	
    width:212px;
    height:29px;
    background:url(/images/default/main/reg-log-form-bg.png) no-repeat;
    border:none;                
    color:#696867;
    font-size:13px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    position:relative;               
}	
#content-login-popup input[type="password"]{
    padding-left:10px;
    margin:7px auto 5px 3px;	
    width:212px;
    height:29px;
    background:url(/images/default/main/reg-log-form-bg.png) no-repeat;
    border:none;                
    color:#696867;
    font-size:13px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    position:relative;

}	
#content-login-popup input[type="submit"]{
    margin:5px auto 5px 0px;
    background: url(/images/default/main/login-btn.png) no-repeat;
    width:100px;
    height:32px;                
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    border:none;
    cursor:pointer;
    color:#efbb4c;
    font-size:14px;
    font-style:italic;
    font-weight:700;
}

iframe{
    width:280px;
    height:220px;
    border:0px;
}


/*********************************************/
#content-remember-popup{
    width:289px;
    overflow:hidden;
    background-image: url(/images/default/main/login_gb.png);
    border-radius:4px;	
    -moz-border-radius:5px;
    -khtml-border-radius:10px;
    position: absolute;
    z-index: 10000;
    margin-left: -140px;
    top: 40px;
    height: 0;
}
#content-remember-popup span.login_error{
    color:red;
    font-size: 10px;
    line-height: 11px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 5px;
    display: block;
}
#content-remember-popup a{		
    margin:0px auto auto 20px; 
    color:#5d3c1b;
    font-size:12px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content-remember-popup a:hover{	
    text-decoration:none;
}
#content-remember-popup input{
    margin:0 0 5px 0;
    width:212px;
    height:29px;
    border:none;
    background-color:transparent;
    color:#696867;
    padding: 0 2px;
    font-size:13px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    background: url('/images/default/main/reg-log-form-bg.png') no-repeat;
    text-align: center;
}	
#content-remember-popup img{
    margin-top:7px;	
    margin-left:2px;
    margin-bottom:-17px;
    position:relative;
    z-index:100;
}

#content-remember-popup input[type="submit"] {
    cursor:pointer;
    color:#efbb4c; 
    font-size:12px;
    font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-style:italic;
    font-weight:700; 
    background: url('/images/default/main/login-btn.png') no-repeat;
    width: 100px;
    height: 32px;
}

#content-remember-popup a.login_again {
    float: right;
    margin-right: 50px;
}
/*/images/default/main/reg-log-form-bg.png*/
