﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Langwee: Видео-Проверь себя</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link rel="stylesheet" href="/css/video/page/examine.css" type="text/css" media="screen, projection" />
    <!--[if IE 6]><script type="text/javascript">location.replace("http://diy.by/ie6/ie6.php");</script><![endif]-->
    <!--[if IE 7]><script type="text/javascript">location.replace("http://diy.by/ie6/ie6.php");</script><![endif]-->    	
        <script type="text/javascript" src="/js/scroll/script.js"></script>
        <script type="text/javascript" src="/js/jquery-1.1.7.js"></script>
        <script type="text/javascript" src="/js/tiny.scroll/jquery.tinyscrollbar.min.js"></script>
        <script type="text/javascript" src="/js/mp3player/swfobject/swfobject.js"></script>

    </head>
    <body>
        <div class="header">        
        </div>
        <?php $obj = $this->examiner->getExaminingRows(); ?>

        <div class="content">
        	<center><h1>
                <?= $this->title ?>
            </h1></center>
            <?php if (!$this->examiner->isExpired()): ?>
        	<div class="content-1" title="Текст который надо перевести"><center><h6><?= $obj->src; ?></h6></center></div>
        	<div class="content-2" title="Введите перевод текста">
            	<textarea  name="answer" id="answer" ></textarea>
            </div>
            <div class="content-buttons">
            	<input type="button" id="check_me" name="check me" value="Проверить" style="padding:5px;height:28px;margin-bottom:10px;"/><br/>
            	<input type="button" value="далее >>" name="next" id="next" style="padding:5px;height:28px;margin-bottom:20px;" />
                <center><h2><?= $this->examiner->getCurrentExaminedCount() ?> из 5</h2></center>
            </div>
            
        	<div class="content-3" title="Правильный перевод">
            	<center><h6><span id="right_answer"></span></h6></center>
            </div>
            <?php endif; ?>
        	<?php if ($this->examiner->isExpired()): ?>
                <center><input type="button" id="close_me" name="check me" value="Закрыть" style="padding:5px;height:28px;margin-top:30px" /></center>                

                <?php $this->examiner->cleanResult(); ?>
            <?php endif; ?><?php
        
            /*?> 

            <?php if (!$this->examiner->isExpired()): ?>
                <center><h1><?= $obj->src; ?></h1></center><br />
                <center>
                    <input type="text" name="answer" id="answer" size="60" style="margin-left:80px;">
                    <input type="button" id="check_me" name="check me" value="Проверить" style="padding:5px;height:28px"/>
                    <input type="button" value="далее >>" name="next" id="next" style="padding:5px;height:28px" />
                </center>
                <center><h2><?= $this->examiner->getCurrentExaminedCount() ?> из 5</h2></center>
                <center><h1><span id="right_answer"></span></h1></center>
                <center></center>

            <?php endif; ?>

            <?php if ($this->examiner->isExpired()): ?>
                <center><input type="button" id="close_me" name="check me" value="Закрыть" style="padding:5px;height:28px" /></center>

                <?php $this->examiner->cleanResult(); ?>
            <?php endif; ?><?php */?>
        </div>

        <script type="text/javascript">
            $(document).ready(function(){
                $("#check_me").click(function(){
                    var html = escape("<?php echo $obj->trg ?>");
                    if($("#answer").val()!="") $("#right_answer").html(unescape(html));
                });
                
                $("#next").click(function(){
                    window.location.href = "/video/page/video-examine/video_id/<?= $this->video_id; ?>/page/<?= $this->examiner->getCurrentExaminedCount() ?>";
                });
                
                $("#close_me").click(function(){
                    window.close();
                });
            });
        </script>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter14186416 = new Ya.Metrika({id:14186416, enableAll: true, webvisor:true});
                    } catch(e) {}
                });

                var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/14186416" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    </body>
</html>

