<?php $data_src = $this->PAGE->getTextSrcWords($this->words); ?>
<?php $data_trg = $this->PAGE->getTextTrgWords($this->words); ?>
<div id="content">    	
    <?= Lingua_View_Misc::getNickNameView(); ?>

    <div id="mask"></div>
    <div id="message">
        <div class="header" align="center">
            <p class="title">Внимание!</p>
            <a href="#" class="close" style="float:right"><img src="/images/video/page/close.png" /></a>
        </div>
        <div class="body">
            <p class="text"></p>
        </div>
    </div>
    <div class="conten-middle">
        <?= Lingua_View_Video::videoPlayerViewRender($this->VIDEO); ?>

        <div class="conten-middle-right-side">
            <div class="conten-middle-right-side-txt">
                <p><nobr>Слов:<span><?= $this->word_count; ?></span></nobr></p>
                <?php /* Стр. освоено:<span>0</span>из<span>1</span> */ ?>
            </div>

            <div class="conten-middle-right-side-test-btn">
                <a href="#" id="examine"><img src="/images/video/page/video-page-test-yourself-btn.png" alt="учись со звездами"/></a>
            </div>

            <div class="conten-middle-right-side-label">
                <img src="/images/video/page/flag.png" alt="учись английский со звездами" />
                <p class="words_translation" style="cursor: pointer;">Новые слова</p>

                <img src="/images/video/page/comments_icon.png" alt="учись английский со звездами" style="margin-left: 30px;" />
                <p class="discuss" style="cursor: pointer;">Обсуждения</p>
            </div>

            <div style="clear: both"></div>

            <div class="conten-middle-right-side-google-block">
                <div id="scroll-goog">
                    <div id="scrollcontent-goog">                     		
                        <span style='width: 100%; display: block; color: #7f7f7f; text-align: center'>загрузка...</span>
                    </div>
                </div>                                   
            </div>
        </div><!-- #content-middle-right- block-slovar-->

        <div class="conten-middle-right-side-transl">
            <a href="#" class="hide" onclick="return false;">скрыть перевод</a>
            <div id="scroll1">
                <div id="scrollcontent">                        
                    <div class="conten-middle-right-side-transl-block1">
                        <div class="conten-middle-right-side-transl-block1-txt">
                            <?php foreach ($data_src as $row => $row_value) : ?>
                                <span row='<?= $row ?>' class='row' style="padding: 1px; width: 100%; display: block;">
                                    <?php foreach ($row_value as $d) : ?>
                                        <?= isset($d['fchar']) ? $d['fchar'] : ""; ?><a href="#" class="<?= $d['class']; ?>"><?= ($d['word']); ?></a><?= isset($d['lchar']) ? $d['lchar'] : ""; ?>
                                    <?php endforeach; ?>
                                </span>
                            <?php endforeach; ?>
                        </div>
                    </div>

                    <div class="conten-middle-right-side-transl-block2">
                        <div class="conten-middle-right-side-transl-block2-txt">
                            <p>
                                <?php $index = 0; ?>
                                <?php foreach ($data_trg as $row => $row_value) : ?>
                                    <?php if ($index == 5 && !$this->paid_status) break; ?>
                                    <span row='<?= $row ?>' class='row' style="padding: 1px; width: 100%; display: block;">
                                        <?php foreach ($row_value as $d) : ?>
                                            <?= isset($d['fchar']) ? $d['fchar'] : ""; ?><?= ($d['word']); ?><?= isset($d['lchar']) ? $d['lchar'] : ""; ?>
                                        <?php endforeach; ?>
                                    </span>
                                    <?php
                                    $index++;
                                endforeach;
                                ?>

                                <?php if (!$this->paid_status): ?>
                                    <a href="#" class="showAll" onclick="return false;" style="color: #15669A">Показать полный текст</a>
                                <?php endif; ?>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- #content-middle-->

    <div id="jpId" style="position: absolute; z-index: 10000000000000;"></div>
</div><!-- #content-->
