﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><?= $this->title; ?></title>
        <style type="text/css">
            body {
                margin: 0;
                padding: 0;
                background-color: #e0e0e0;
            }

            #login_form {
                position: absolute;
                top:50%;
                left: 50%;
                width: 470px;
                height: 262px;
                display: block;
                border-radius: 10px;
                background: url('/images/admin/login_bg.png') 0 0 no-repeat;
                border: 2px solid #e0e0e0;
                margin-top: -131px;
                margin-left: -235px;
            }

            #icon {
                margin: 50px 15px 0 20px;
                float: left;
            }

            #form {
                margin-left: 10px;
            }

            #form h2 {
                width: 100%;
                color: #241b42;
                margin:10px 0 0 0;
                padding:0;
            }

            #form h4 {
                width: 100%;
                color: #afaeb4;
                margin:0;
                padding:0;
            }

            #form input.off{
                margin: 15px 0 0 2px;
                padding: 2px 2px;
                width: 200px;
                height: 25px;
                background-color: #e1e2e3;
                border-radius: 5px;
                border: 1px solid #747474;
                font-style: italic;
                color: #000;
            }

            #form input.on{
                margin: 15px 0 0 2px;
                padding: 2px 2px;
                width: 200px;
                height: 25px;
                background-color: #e1e2e3;
                border-radius: 5px;
                border: 1px solid #747474;
                font-style: normal;
                color: #000;
            }

            #form input[type="submit"] {
                width: 97px;
                height: 33px;
                border: 0;
                background-image: url("/images/admin/login_btn.png");
                margin-right: 108px;
                color: #fff;
                cursor: pointer;
                margin-top: 10px;
            }
        </style>
    </head>

    <body>
        <form action="/admin/index/login" method="post">
            <div id="login_form">
                <div id="icon"><img src="/images/admin/keyicon.png" width="119" height="124" border="0" /></div>
                <div id="form">
                    <h2 align="left">
                        Панель Администратора
                    </h2>
                    <h4 align="left">
                        Вход в учетный запись
                    </h4>

                    <input type="text" name="login" id="login" value="Логин" class="off" />
                    <input type="password" name="password" id="password" value="Пароль" class="off" />

                    <div align="right">
                        <input type="submit" name="login_btn" value="Войти!" />
                    </div>
                </div>
            </div>
        </form>

        <script src="/js/jquery-1.1.7.js"></script>
        <script>
            $(document).ready(start);
            
            function start() {
                $('#login').bind('click', input_click);	
                $('#login').bind('blur', input_blur);	
                $('#login').bind('focus', input_click);	
                
                $('#password').bind('click', input_click);	
                $('#password').bind('blur', input_blur);
                $('#password').bind('focus', input_blur);
            }

            function input_click() {
                $(this).removeClass("off");	
                $(this).addClass("on");
                
                if($(this).val() == 'Логин')
                    $(this).val('');
            }

            function input_blur() {
                var element = $(this);
                var value = element.val();
                
                if(value == "") {
                    if(this.id == "login") element.val('Логин');
                    
                    $(this).removeClass("on");	
                    $(this).addClass("off");
                }
            }
        </script>
    </body>
</html>