@import "http://fonts.googleapis.com/css?family=Kreon";
body {
    font-family: Arial,"Lucida Grande",sans-serif;
    font-size: 14px;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, br, fieldset, textarea {
    border: 0 none;
    letter-spacing: 0;
    list-style-position: inside;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    word-spacing: 1px;
}
strong, b {
    font-weight: bold;
}
em, dfn, i {
    font-style: italic;
}
a, img {
    border: 0 none;
    outline: medium none;
}
a {
    text-decoration: none;
}
.pp_pic_holder {
    display: none;
}
body {
    color: #333333;
    line-height: 20px;
    margin: 0;
    padding: 0;
    position: relative;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 100%;
}
.the_title {
    display: inline-block;
    font-size: 40px;
    margin: 0 40px 0 0;
    padding: 5px 0;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
h1 strong {
    font-size: 40px;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6, hr, p, ul, ol, dl, pre, address, table, form {
    margin: 10px 0;
}
ol, ol li {
    list-style: decimal outside none;
}
ol, dd {
    margin-left: 24px;
}
ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0;
    margin-top: 0;
}
a {
    color: #0066CC;
}
a:hover {
    color: #999999;
}
blockquote {
    background: url("../img/quote.png") no-repeat scroll 0 0 transparent;
    font-family: Georgia,serif;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 23px;
    margin: 10px 20px 20px;
    min-height: 40px;
    padding: 5px 0 0 70px;
}
blockquote p {
    padding: 0;
}
pre, code {
    font-family: mono-space,monospace;
    font-weight: 400;
    line-height: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    white-space: pre;
}
pre {
    background-image: url("../img/pre.gif");
    background-position: 0 1px;
    background-repeat: repeat;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    padding: 0 5px;
}
pre code {
    margin: 0;
    padding: 0;
}
.wrap {
    margin: 0 auto;
    padding: 0;
    width: 960px;
}
.clear, .cleared {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    width: 100%;
}
.alignright, img.alignright, a img.alignright {
    float: right;
    margin: 10px 0 10px 16px;
}
.alignleft, img.alignleft, a img.alignleft {
    float: left;
    margin: 10px 16px 10px 0;
}
.aligncenter, img.aligncenter, a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption {
    -moz-border-radius: 3px 3px 3px 3px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    margin-bottom: 18px;
    padding: 4px;
    text-align: center;
}
.wp-caption img {
    border: medium none;
    margin: 0;
    padding: 0;
}
.wp-caption p.wp-caption-text {
    color: #111111;
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.tleft {
    float: left;
    margin: 0 10px 0 0;
}
table {
    border-bottom: 1px solid #FAFAFA;
    border-collapse: separate;
    border-spacing: 0;
    border-top: 1px solid #FAFAFA;
    font-size: 11px;
    margin-bottom: 18px;
    width: 100%;
}
table, td, th {
    vertical-align: middle;
}
th {
    border-top: 1px solid #FFFFFF;
    color: #666666;
    padding: 10px;
    text-transform: uppercase;
}
td {
    color: #888888;
    padding: 10px;
}
tr {
    font-size: 11px;
}
tfoot td {
    border: 0 none;
}
th {
    background-color: #FBFBFB;
    border-bottom: 1px solid #EAEAEA;
}
tr:hover {
    background-color: #FEFEFE;
}
html {
    background-color: transparent;
    background-image: url("../img/bg-xy.jpg");
    background-position: left top;
    background-repeat: repeat;
}
body {
    background-color: transparent;
    background-image: url("../img/bg-x.jpg");
    background-position: left top;
    background-repeat: repeat-x;
    margin: 0;
}
#PageWrap {
    background-color: transparent;
    background-image: url("../img/bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0;
}
#Page {
    height: auto;
    margin: 0 auto;
    min-height: 300px;
    padding: 0 20px;
    position: relative;
    width: 887px;
    z-index: 0;
}
#Page-In {
    min-height: 700px;
    padding: 120px 0 0;
    width: 887px;
}
h1 {
    background-color: rgba(253, 252, 183, 0.7);
    color: #ED0000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 42px;
    line-height: 55px;
    margin: 10px auto;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
}
#OptinWrap {
    background-color: transparent;
    background-image: url("../img/page-top-optin.png");
    background-position: center top;
    background-repeat: no-repeat;
    height: 365px;
    margin-bottom: 5px;
    padding-top: 15px;
    position: relative;
}
#videoplayer {
    height: 308px;
    left: 0;
    margin: 30px 0 0 5px;
    padding: 1px 10px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 544px;
}
#optinform {
    margin-top: 28px;
    min-height: 288px;
    padding: 10px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 303px;
}
#optinform p {
    color: rgba(255, 226, 101, 0.9);
    font-family: "Myriad Pro",Arial,Helvetica,Tahoma,sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(8, 31, 62, 0.55);
}
#optinform p.white {
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(8, 31, 62, 0.55);
}
input[type="text"], textarea {
    -moz-border-radius: 25px 25px 25px 25px;
    -moz-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.75) inset;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.3);
    clear: right;
    color: #444444;
    float: none;
    font-size: 14px;
    margin: 0 0 5px;
    padding: 6px;
    text-shadow: 0 -1px 0 #F7F7F7;
    width: 90%;
}
input[type="text"]:hover {
}
input[type="text"]:focus {
    background-color: #C4E8F4;
}
input[type="submit"] {
    background-color: transparent;
    background-image: url("../img/button-optin.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    border: medium none;
    cursor: default;
    display: block;
    font-size: 0;
    height: 96px;
    margin: 0 auto;
    width: 303px;
}
input[type="submit"]:hover {
    background-image: url("../img/button-optin-hover.png");
    color: #004749;
}
#Azthetik-Logo-Wrap {
    bottom: 0;
    display: block;
    height: 53px;
    opacity: 0.8;
    position: absolute;
    right: 0;
    width: 147px;
}
.azlogo {
    background: url("../img/azlogo_hover.png") no-repeat scroll 0 0 transparent;
    clear: right;
    display: block;
    float: left;
    height: 53px;
    opacity: 0.4;
    position: relative;
    width: 147px;
}
.azlogo:hover {
    opacity: 1;
}
summary {
    font-family: 'Kreon',serif;
    font-size: 16px;
}
#footer {
    background-color: #F2F2F2;
    background-image: url("../img/footer_bg-x.jpg");
    background-position: left top;
    background-repeat: repeat-x;
    height: auto;
    margin: 0 auto;
    min-height: 300px;
    padding-top: 80px;
    position: relative;
    text-align: center;
}
#footer #content {
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    width: 650px;
}
#footer #copyright {
    background-color: transparent;
    background-image: url("../img/footlogo.png");
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 12px;
    margin: 0 auto;
    padding: 7px 0 0 46px;
    text-align: left;
}
#footer #content #copyright a, #footer #content #copyright p {
    color: rgba(0, 0, 0, 0.85);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.9);
}
.justified {
    text-align: justify;
}
