<html xmlns="www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link type="text/css" href="/css/admin/layout.css" rel="stylesheet" />

        <title><?= isset($this->title) ? $this->title : 'Untitled'; ?></title>
    </head>

    <body>
        <div style="color:red; border: 1px solid red; width: 500px; margin: 0 auto" align="center">
            <h1> Действие блакировано </h1>

            <h2><?= $this->message; ?></h2>

            <?php //if('development' == $this->env): ?>
            <h3>Информация: </h3>
            <p>
                <b>Вы не имеете достаточно прав для выполнение этого действия</b> <?= $this->sess->right; ?>
            </p>

        </div>
    </body>
</html>