<?php 
    $error_email_value = '';
    $error_pass_value = '';
    $class = 'bg';
    
    if(isset($this->errors['email'])) 
    {
        $class="field_error";
        $error_email_value = isset($this->errors['email'][0]) ? $this->errors['email'][0] : '';
    }
    
    if(isset($this->errors['password'])) 
    {
        $error_pass_value = isset($this->errors['password'][0]) ? $this->errors['password'][0] : '';
    }
?>


<form name="form1" method="post" action="/">    
    <input type="text" name="email" size="25" value="введите e-mail" id="email" class="<?= $class ?>" />
     <b><?= $error_email_value ?></b>   
     <span id="reg_pass_container">
        <input type="text" name="pass" size="25" value="придумайте пароль" class='<?= $class ?>' id="pass" />
        <b><?= $error_pass_value ?></b>
    </span>   
    <input  type="submit" name="register" value="" size="100" style="cursor:pointer;display: block; " id="reg" />
</form>

<?php //$this->register->clearErrors(); ?>