<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0028)http://videosalesletters.ru/ -->
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Как начать говорить на Английском всего за Месяц</title>
<link href="/images/default/files/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/images/default/files/cufon-yui.js"></script>
<style type="text/css">cufon{text-indent:0!important;}@media screen,projection{cufon{display:inline!important;display:inline-block!important;position:relative!important;vertical-align:middle!important;font-size:1px!important;line-height:1px!important;}cufon cufontext{display:-moz-inline-box!important;display:inline-block!important;width:0!important;height:0!important;overflow:hidden!important;text-indent:-10000in!important;}cufon canvas{position:relative!important;}}@media print{cufon{padding:0!important;}cufon canvas{display:none!important;}}</style>
<script type="text/javascript" src="/images/default/files/League_Gothic_400.font.js"></script>
<script type="text/javascript">
Cufon.replace('.last_name, .title_pre_reg');
Cufon.replace('.course_title', {
	color: '-linear-gradient(#ffffff, #f2f2f2, #e4e4e4)',
});
</script>

<!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter14186416 = new Ya.Metrika({id:14186416, enableAll: true, webvisor:true});
                    } catch(e) {}
                });

                var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/14186416" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
<script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/document_iterator.js"></script><script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/find_proxy.js"></script><script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/get_html_text.js"></script><script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/global_constants.js"></script><script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/name_injection_builder.js"></script><script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/number_injection_builder.js"></script><script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/string_finder.js"></script><script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/change_sink.js"></script><meta name="document_iterator.js"><meta name="find_proxy.js"><meta name="get_html_text.js"><meta name="global_constants.js"><meta name="name_injection_builder.js"><meta name="number_injection_builder.js"><meta name="string_finder.js"><meta name="change_sink.js"><script type="text/javascript" src="chrome-extension://nhgcieglcpdegkhamigiokdphfhhnlhh/js/injected.js" charset="utf-8"></script></head>

<body>
    
<div class="container">
<div class="header">
		<p class="last_name">Как начать говорить на Английском всего за Месяц
                    </p>
	</div><!--/header-->
	
	
	<div class="bg_player">
		<div class="b_player">
			


	<!-- START OF THE PLAYER EMBEDDING TO COPY-PASTE -->
<script type="text/javascript" src="/images/default/files/jw-player/jwplayer.js"></script>

<div id="mediaplayer_wrapper" style="position: relative; width: 728px; height: 540px; "><object type="application/x-shockwave-flash" data="http://videosalesletters.ru/jw/player.swf" width="100%" height="100%" bgcolor="#000000" id="mediaplayer" name="mediaplayer" tabindex="0"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="seamlesstabbing" value="true"><param name="wmode" value="opaque"><param name="flashvars" value="netstreambasepath=http%3A%2F%2Fvideosalesletters.ru%2F&amp;id=mediaplayer&amp;autostart=true&amp;file=http%3A%2F%2Fsimple-azamat.s3.amazonaws.com%2Fvsl2.mov&amp;image=jw%2Fslide.jpg&amp;controlbar.position=none"></object></div>

<script type="text/javascript">
  jwplayer('mediaplayer').setup({
    'flashplayer': '/images/default/files/jw-player/player.swf',
	'autostart': 'true',
	'controlbar.position': 'none',
    'id': 'playerID',
    'width': '728',
    'height': '540',
    'file': '/images/default/files/langwee.mov',
    'image': '/images/default/files/slide.jpg'
	
  });
</script>
	<!-- END OF THE PLAYER EMBEDDING -->


		</div>
	</div><!--/bg_player-->
	
	
<!-- SmartResponder.ru subscribe form code (begin) --><script language="javascript" type="text/javascript">
function SR_IsListSelected(el)
{
  for (var i = 0; i < el.length; i ++)
    if (el[i].selected ||
      el[i].checked)
      return i;
  return -1;
}
function SR_trim(f)
{
  return f.toString().replace(/^[ ]+/, '').replace(/[ ]+$/, '');
}
function SR_submit(f)
{
  f["field_email"].value = SR_trim(f["field_email"].value);
  f["field_name_first"].value = SR_trim(f["field_name_first"].value);
  if ((SR_focus = f["field_email"]) && f["field_email"].value.replace(/^[ ]+/, '').replace(/[ ]+$/, '').length < 1 || (SR_focus = f["field_name_first"]) && f["field_name_first"].value.replace(/^[ ]+/, '').replace(/[ ]+$/, '').length < 1) { alert("Необходимо заполнить оба поля!"); SR_focus.focus(); return false; }
  if (!f["field_email"].value.match(/^[\+A-Za-z0-9][\+A-Za-z0-9\._-]*[\+A-Za-z0-9_]*@([A-Za-z0-9]+([A-Za-z0-9-]*[A-Za-z0-9]+)*\.)+[A-Za-z]+$/)) { alert("E-mail адрес введен некорректно!"); f["field_email"].focus(); return false; } 
return true;
}
</script>	
	<div class="b_pre_reg">
		<!-- SmartResponder.ru subscribe form code (begin) --><script language="javascript" type="text/javascript">
function SR_IsListSelected(el)
{
  for (var i = 0; i < el.length; i ++)
    if (el[i].selected ||
      el[i].checked)
      return i;
  return -1;
}
function SR_trim(F)
{
  return f.toString().replace(/^[ ]+/, '').replace(/[ ]+$/, '');
}
function SR_submit(F)
{
  f["field_email"].value = SR_trim(f["field_email"].value);
  f["field_name_first"].value = SR_trim(f["field_name_first"].value);
  if ((SR_focus = f["field_email"]) && f["field_email"].value.replace(/^[ ]+/, '').replace(/[ ]+$/, '').length < 1 || (SR_focus = f["field_name_first"]) && f["field_name_first"].value.replace(/^[ ]+/, '').replace(/[ ]+$/, '').length < 1) { alert("Укажите значения всех обязательных для заполнения полей (помечены звездочкой)"); SR_focus.focus(); return false; }
  if (!f["field_email"].value.match(/^[\+A-Za-z0-9][\+A-Za-z0-9\._-]*[\+A-Za-z0-9_]*@([A-Za-z0-9]+([A-Za-z0-9-]*[A-Za-z0-9]+)*\.)+[A-Za-z]+$/)) { alert("Некорректный синтаксис email-адреса!"); f["field_email"].focus(); return false; } 
return true;
}
</script> 

<h4 class="title_pre_reg">Укажите, куда выслать информацию</h4>
<form style="margin: 0; padding: 0;" name="SR_form" target="_blank" action="http://smartresponder.ru/subscribe.html" method="post" onsubmit="return SR_submit(this)"><input type=hidden name=version value="1"><input type=hidden name=tid value="0"><input type=hidden name=uid value="48258"><input type=hidden name=lang value="ru">
<table  width="240">
<tr><td><table cellspacing=1 cellpadding=2 align=left>
<tr><td><input type=hidden name="did[]" value="49347"></td></tr>
<tr><td style="font-family: Arial,Helvetica,sans-serif;; font-size: 15px; color: #717171; font-weight: normal;" align="left">Ваш e-mail:&nbsp;<font color="#ff0000"><b>*</b></font></td></tr>
<tr><td align="left">
        <div class="e_mail_out"><input type=text size="20" name="field_email" value="" id="e_mail" /></div></td></tr>
<tr><td style="font-family: Arial,Helvetica,sans-serif;; font-size: 15px; color: #717171; font-weight: normal;" align="left">Ваше имя:&nbsp;<font color="#ff0000"><b>*</b></font></td></tr>

<tr><td align="left">
        <div class="first_name_out"><input name="field_name_first" value="" id="first_name" /></div></td></tr>
<tr><td align="left">
        <input class="sbm" onclick="yaCounter14186416.reachGoal('forma'); return true;" name="SR_submitButton" type=submit style="border: 0; width: 363px; height:62px ;background-image: url(/images/default/files/video.jpg)" value="" />
    </td></tr>
</table></td></tr></table></form><!-- SmartResponder.ru subscribe form code (end) -->
	</div><!--/b_pre_reg-->
	
</div><!--/container-->


</body></html>