<?php
$abar = new Lingua_View_ActionBar();

if(Lingua_Auth::hasPermission('video.category.add')) $abar->add('category-add', 'Новая категория', null, true);
if(Lingua_Auth::hasPermission('video.category.add')) $abar->add('category-edit', 'Редактировать категорию', null, false);
if(Lingua_Auth::hasPermission('video.category.delete')) $abar->add('category-delete', 'Удалить категорию', null, false);
echo $abar->render("Действия");
?>

<?php $this->placeholder('mycss')->captureStart(); ?>
<style>
    .line {
        width: 700px;
        height: 25px;
        display: block;
        border: 2px solid #CCCCCC;
        background-color: #F8F8F8;
        padding: 5px 5px 5px 5px;
        margin: 5px auto;
    }

    #form {
        display: none;
    }

    #form p{
        margin: 0 10px 0 0;
        padding: 0;
    }

    .edit {
        float: right; 
        margin: 0; 
        padding: 5px 0 0 0; 
        display: block;
    }

    .delete {
        float: right; 
        margin: 0; 
        padding: 5px 0 0 0; 
        display: block;
    }
</style>
<?php $this->placeholder('mycss')->captureEnd(); ?>
<span id="form"></span>
<div id="result"></div>

<hr style="border: 1px dashed #000; margin: 10px 0;" />

<?php foreach ($this->lists as $list): ?>
    <div class="line">
        <p style="float: left; margin: 0; padding: 5px 0 0 0;">Название - <strong><?= $list['category_name']; ?></strong> ( ранк: <?= $list['category_rank']; ?>)</p>
        
        <a class="delete" id="delete_<?= $list['audio_category_id']; ?>" href="javascript: void(0)"><img src="/images/admin/delete.png" width="16" height="16" /></a>
        <a class="edit" id="edit_<?= $list['audio_category_id']; ?>" href="javascript: void(0)"><img src="/images/admin/edit.png" width="16" height="16" /></a>
        
    </div>
<?php endforeach; ?>

<?php $this->placeholder('myscript')->captureStart(); ?>
<script>
    $(document).bind('ready', ready);

    function ready() {
        $("#category-add").bind('click', category_add_from);
    }
    
    function category_add_from() {
        $("#form").html('');
        $.post('/admin/categories/audio-category-add-form', function(data) {
            $("#form").html(data);
            $("#form").slideDown('slow', function(){});
        });
    }
    
    $('a.edit').each(function(index, element) {
        $(element).click(function() {
            var data = this.id.split('_');
            var id = data[1];
            
            $.post('/admin/categories/audio-category-add-form', {cat_id: id} , function(data) {
                $("#form").html(data);
                $("#form").slideDown('slow', function(){});
            });
        });
    });
    
    $('a.delete').each(function(index, element) {
        $(element).click(function() {
            
            if(!confirm("Вы уверены что хотите удалить категорию?")) {
                return false;
            }
            
            var data = this.id.split('_');
            var id = data[1];
            
            $.post('/admin/categories/audio-delete', {cat_id: id} , function(data) {
                $("#result").html(data);
                $("#result").slideDown('slow', function(){});
            });
        });
    });
</script>
<?php $this->placeholder('myscript')->captureEnd(); ?>