<?php $obj = new Lingua_Object($this->category); ?>

<fieldset class="filter" style="height: 30px;">
    <form method="post" action="/admin/categories/audio">
        <table>
            <tr>
                <td>
                    Название категории <input type="input" name="category_name" value="<?= $obj->category_name ?>" style="margin-left: 5px;" />
                </td>
                <td>
                    Ранк категории <input type="input" name="category_rank" value="<?= ($obj->category_rank) ? $obj->category_rank : ($this->lastest_rank + 1); ?>" style="margin-left: 5px;" size="4" />
                </td>
                <td>
                    <input type="submit" name="add_category" value="Сохранить" />
                    <input type="hidden" name="category_id" value="<?= $obj->audio_category_id ?>" />
                </td>
            </tr>
        </table>
    </form>
</fieldset>