* {
    margin: 0;
    padding: 0;
}
body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    width: 100%;   
    background-color:#ffc412;
   	
}
a {
    color: blue;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 18px
}
img {
    border: none;
}
input {
    vertical-align: middle;
}
.header {
	 background:url(/images/video/page/examin-bg.png) no-repeat ;
	 width:1200px;
	 height:134px;
}
.content{	
	width:1200px;
	height:440px;
}
.content-1{	
	margin:20px auto auto 20px;
	float:left;
	width:340px;
	height:370px;
	background-color:#ffefe0;
    border:1px solid #e7dbcd;
	overflow:auto;
}
.content-1 h6{	
	margin-top:15px;
	color:#725432;
    font-size:13px;
    font-weight:100;    
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.content-2{	
	margin:20px auto auto 20px;
	padding-top:20px;
	float:left;
	width:340px;
	height:350px;
	background-color:#ffefe0;
    border:1px solid #e7dbcd;	
}
.content-2 textarea{		
	width:338px;	
	height:100%;
	background-color:#ffefe0;
    border:1px solid #e7dbcd;
	color:#725432;
    font-size:13px;
    font-weight:100;    
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.content-3{	
	margin:20px auto auto 20px;	
	float:left;
	width:340px;
	height:370px;
	background-color:#ffefe0;
    border:1px solid #e7dbcd;
	overflow:auto;
}
.content-3 h6{	
	margin-top:15px;
	color:#725432;
    font-size:13px;
    font-weight:100;    
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.content-buttons{
	margin:20px auto auto 20px;
	float:left;
	width:70px;
}
.content input{	
	height:25px;
    border:1px solid #c9c8c3;
    border-radius:2px;	
    -moz-border-radius:3px;
    -khtml-border-radius:4px;
	color:#696867;
    font-size:14px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.content h1{
	margin-top:20px;
	color:#725432;
    font-size:22px;
    font-weight:100;    
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.content h2{	
	color:#15669a;
    font-size:18px;
    font-weight:100;    
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}