#content  h4{
    margin-top:30px;
    color:#644f3b;
    font-size:15px;
    font-weight:400;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

/*-----------------------------------------------------------------------------*/
#content .conten-middle-center-tren1-tblock{
    margin:25px auto auto 130px;
    background:url(/images/training/all/word-translate-bg.png) no-repeat;
    width:710px;
    height:430px;
}
#content .conten-middle-center-tren1-tblock-cont{
    float:left;
    margin:60px auto auto 70px;	
    width:570px;
    height:230px;
}
/* trening block answer word block 
-----------------------------------------------------------------------------*/
#content .conten-middle-center-tren1-tblock-cont-answer-wd{
    float:left;
    width:570px;
    height:50px;
}
#content .conten-middle-center-tren1-tblock-cont-answer-wd ul{
    height: 50px;
    list-style-type: none;
    margin: 0 auto;
    width: 350px;
}
#content .conten-middle-center-tren1-tblock-cont-answer-wd ul li{
    margin-right:3px;
    display:block;	
    float:left;
    background:url(/images/training/all/t2-answ-word-bg.png) no-repeat;
    width:43px;
    height:43px;
    cursor:pointer;
}
#content .conten-middle-center-tren1-tblock-cont-answer-wd ul li p{
    margin-top:10px;
    color:#b31726;
    font-size:20px;
    font-weight:400;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;

}
/* trening block question word block 
-----------------------------------------------------------------------------*/
#content .conten-middle-center-tren1-tblock-cont-question-wd{
    margin-top:20px;
    float:left;
    width:570px;
    height:50px;
}
#content .conten-middle-center-tren1-tblock-cont-question-wd ul{
    height: 50px;
    list-style-type: none;
    margin: 0 auto;
    width: 350px;
}
#content .conten-middle-center-tren1-tblock-cont-question-wd ul li{
    margin-right:3px;
    display:block;	
    float:left;
    background:url(/images/training/all/t2-question-word-bg.png) no-repeat;
    width:43px;
    height:43px;
    cursor:pointer;
}
#content .conten-middle-center-tren1-tblock-cont-question-wd ul li p{
    margin-top:10px;
    color:#fff;
    font-size:20px;
    font-weight:400;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;

}
#content .conten-middle-center-tren1-tblock-cont-quest{
    background:url(/images/training/all/t2-question-bg.png) no-repeat;
    width:253px;
    height:45px;
    float:left;
    margin:25px auto auto 155px;
    text-align:center;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* IE 5-7 */
    filter: alpha(opacity=50);

    /* Netscape */
    -moz-opacity: 0.5;

    /* Safari 1.x */
    -khtml-opacity: 0.5;

    /* Good browsers */
    opacity: 0.5;
    position: relative;
}
#content .conten-middle-center-tren1-tblock-cont-quest p{
    width:245px;
    overflow:hidden;
    margin-top:16px;
    color:#704618;
    font-size:14px;
    font-weight:400;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* trenings button, bottom side 
-----------------------------------------------------------------------------*/
#content .conten-middle-center-tren1-tblock-bottom{
    margin:15px auto auto 220px;	
    float:left;
    width:270px;
    height:80px;	
}
#content .conten-middle-center-tren1-tblock-bottom img{	
    margin-left:5px;
}
#content .conten-middle-center-tren1-tblock-bottom p{	
    margin-top:5px;
    color:#704618;
    font-size:15px;
    font-weight:400;	
    text-decoration:none;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-tren1-bottom{
    margin-top:102px;
    background:url(/images/training/all/back-all-trenings.png) no-repeat;
    width:158px;
    height:36px;


}
#content .conten-middle-center-tren1-bottom a{
    float:left;
    margin:7px auto auto 15px;
    color:#fff;
    font-size:14px;
    font-weight:400;
    font-style:italic;	
    text-decoration:none;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;

}
/* Footer
-----------------------------------------------------------------------------*/