#content h4{
    margin-top:30px;
    color:#644f3b;
    font-size:15px;
    font-weight:400;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* trening beginn block
-----------------------------------------------------------------------------*/
#content .conten-middle-center-tren1-tblock{
    margin:25px auto auto 130px;
    background:url(/images/training/all/word-translate-bg.png) no-repeat;
    width:710px;
    height:430px;
}
#content .conten-middle-center-tren1-tblock-cont{
    float:left;
    margin:15px auto auto 70px;	
    width:570px;
    height:275px;
}
#content .conten-middle-center-tren1-tblock-cont p{
    margin-top:20px;
    color:#060;
    font-size:18px;
    font-weight:400;  
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-tren1-tblock-cont b{
    margin-top:20px;
    color:red;
    text-decoration:line-through;
    font-size:18px;
    font-weight:400;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#content .conten-middle-center-tren1-tblock-cont-quest{
    text-align:center;
    margin-top:60px;
    width:260px;
    height:38px;
    background:url(/images/training/all/trans-variant-bg.png) no-repeat;
}

#content .conten-middle-center-tren1-tblock-cont-quest p{
    padding-top:8px;	
    color:#704618;
    font-size:15px;
    font-weight:400;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#true{
    display:block;	
    width:260px;
    height:38px;
    background:url(/images/training/all/trans-variant-true.png) no-repeat;
}

#false{
    display:block;
    width:260px;
    height:38px;
    background:url(/images/training/all/trans-variant-hover-and-false.bg.png) no-repeat;
}
/* trening block answer word block 
-----------------------------------------------------------------------------*/
#content .conten-middle-center-tren1-tblock-cont-text{	
    margin-top:40px;
    width:315px;
    height:30px;
}

#content .conten-middle-center-tren1-tblock-cont-text input[type="text"]{	
   background: url("/images/training/all/listening-text-write-bg.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #898989;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: 100;
    height: 29px;
    margin: -10px auto auto 0;
    text-align: center;
}

#content .conten-middle-center-tren1-tblock-cont-title{	
    margin-top:10px;
    width:315px;
    height:30px;
}

#content .conten-middle-center-tren1-tblock-cont-title p{	
    color:#704618;	
    background-color:transparent;
    font-size:16px;
    font-weight:100;
    font-style:italic;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* trenings button, bottom side 
-----------------------------------------------------------------------------*/
#content .conten-middle-center-tren1-tblock-bottom{
    margin:15px auto auto 220px;	
    float:left;
    width:270px;
    height:80px;	
}

#content .conten-middle-center-tren1-tblock-bottom img{	
    margin-left:5px;
}

#content .conten-middle-center-tren1-tblock-bottom p{	
    margin-top:5px;
    color:#704618;
    font-size:15px;
    font-weight:400;	
    text-decoration:none;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#content .conten-middle-center-tren1-bottom{
    margin-top:102px;
    background:url(/images/training/all/back-all-trenings.png) no-repeat;
    width:158px;
    height:36px;
}

#content .conten-middle-center-tren1-bottom a{
    float:left;
    margin:7px auto auto 15px;
    color:#fff;
    font-size:14px;
    font-weight:400;
    font-style:italic;	
    text-decoration:none;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}