* {
    margin: 0;
    padding: 0;
}
body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    width: 100%;
    background:url(/images/training/all/profile-page-bg.jpg) repeat-x center ;
    background-color:#ffc412;
    min-height:1100px;
    max-height:100%;	
}
a {
    color: blue;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 18px
}
img {
    border: none;
}
input {
    vertical-align: middle;
}
#wrapper {	
    width: 1000px;
    margin: 0 auto;
    height:100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
    margin-top:4px;
    height: 40px;
}
/* Header top menu1
-----------------------------------------------------------------------------*/
.header_menu1{
    margin:-3px auto auto 14px;
    float:left;
    background:url(/images/training/all/header-menu1-not-line.png) no-repeat;
    width:330px;
    height:36px;
}
.header_menu1 ul{
    list-style-type:none;
}
.header_menu1 ul li {
    float:left;
    margin:9px 5px auto 10px;
}
.header_menu1 ul li img{
    position:absolute;
    margin-left:5px;
}
.header_menu1 ul li a{
    color:#fff;
    font-size:13px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style:italic;
    text-decoration:none;
}

/* Header top right menu2
-----------------------------------------------------------------------------*/
.header_menu2{
    margin-top:-3px;
    margin-right:7px;
    float:right;
    background:url(/images/community/header-menu2-community.png) no-repeat;
    width:299px;
    height:37px;
}
/* Header top right menu2 button
-------------------------------*/
.header_menu2_button{
    float:left;
    width:80px;
    margin:5px  auto auto 20px;
}
.header_menu2_button img{
    position:relative;
    z-index:1;
}
.header_menu2_button a{
    position:relative;
    z-index:100;
    margin:-30px auto auto 17px;
    float:left;
    color:#ffff6a;
    font-size:12px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style:italic;
    text-decoration:none;
}
.header_menu2_credit{	
    width:75px;
    overflow:hidden;
    float:left;
    margin:10px auto auto 10px;
}
.header_menu2_credit h1.normal {
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 25px;
    position: relative;
    top: 0;
}

.header_menu2_credit h1.standart {
    color: #FFFFFF;
    font-size: 15px;
    position: relative;
    top: 0;
}
.header_menu2_credit img{
    float: left;
}
/* Header top right menu2 status
-------------------------------*/
.header_menu2_status{
    float:left;
    margin:12px  auto auto 18px;
}
.header_menu2_icon{
    float:left;
    margin:-1px  auto auto 6px;
}
.header_menu2_fr_count{	
    width:45px;
    overflow:hidden;
    float:left;
    margin:10px  auto auto 2px;
}
.header_menu2_fr_count h4{
    color:#fff;
    font-size:18px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.header_menu2 ul{
    list-style-type:none;
}

.header_menu2 ul li {
    float:left;
    margin:10px 0px auto 12px;
}  
.header_menu2 ul li a.notifications{
    color:#fff;
    text-decoration:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50); /* IE 5-7 */
    -moz-opacity: 0.5;  /* Netscape */
    -khtml-opacity: 0.5;  /* Safari 1.x */
    opacity: 0.5;  /* Good browsers */
    padding: 10px 0 2px;
}

.header_menu2 ul li a.shown{
    color:#fff;
    text-decoration:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100); /* IE 5-7 */
    -moz-opacity: 1;  /* Netscape */
    -khtml-opacity: 1;  /* Safari 1.x */
    opacity: 1;  /* Good browsers */
    background-color: #FFF6E0; 
    padding: 10px 0 2px;
    border: 1px solid #A2917A; 
    border-raduis: 5px; 
    border-bottom: none;   
    position: relative;
    z-index: 5001
}


.header_menu2_popup {
    margin-top:-3px;
    width:350px;
    height:110px;
    float:left;
    position: relative; 
    display:none;	
    z-index: 5000;
    background-color:#fff6e0; 
    border:1px solid #a2917a; 
}
/* Middle
-----------------------------------------------------------------------------*/
#content {
    margin-left:10px;
    height:954px;
    width:1000px;	
}
/* content -top -user menu
-----------------------------------------------------------------------------*/
#content .conten-top-menu{
    margin-left:445px;
    height:50px;
    width:100px;
    position:absolute;
    top:20px;
    text-align:center;
}
#content .conten-top-menu p{
    color:#5d3c1b;
    font-size:11px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-top-menu ul{
    margin:-22px auto auto -5px;
    list-style-position:inside;
}
#content .conten-top-menu ul li{
    color:#fffffe;
    margin-bottom:10px;
}
#content .conten-top-menu ul li a{
    color:#fffffe;
    font-size:13px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* content middle
-----------------------------------------------------------------------------*/
#content .conten-middle{
    margin-top:165px;
    float:left;	
    height:770px;
    width:1000px;	
}
#content .conten-middle-presentn-txt{
    width:320px;
    overflow:hidden;
    height:20px;
    margin:-5px auto auto 17px;
}
#content .conten-middle-presentn-txt a{
    margin-right:8px;
    color:#2e759e;
    font-size:11px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-lang{
    width:300px;
    height:35px; 
    float:right;
    margin:-15px 15px auto auto;	
}
#content .conten-middle-lang h5{
    height:auto;	
    color:#2e759e; 
    font-size:11px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-lang a{
    float:left;
    margin:0px 8px auto auto;

}
#content .conten-middle-lang .select{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40); /* IE 5.5+*/
    -moz-opacity: 0.4; /* Mozilla 1.6 и ниже */
    -khtml-opacity: 0.4; /* Konqueror 3.1, Safari 1.1 */
    opacity: 0.4; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
}
/* content middle- top-title and search block
-----------------------------------------------------------------------------*/
#content .conten-middle-top-blok{
    float:left;
    width:970px;
    height:50px;
    margin-left:17px;
}
#content .conten-middle-top-blok h2{
    margin:15px auto auto 5px;
    float:left;
    color:#970100;
    font-size:20px;
    font-style:italic;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* content middle-  search block
-----------------------------------*/
#content .conten-middle-top-blok-search{
    margin:5px 5px auto auto;
    float:right;
    width:340px;
    height:40px;	
}
#content .conten-middle-top-blok-search img{

}
#content .conten-middle-top-blok-search input{
    margin:-71px auto auto 8px;
    width:235px;
    color:#484848;
    border:none;
    background-color:transparent;
    font-size:14px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* content middle-center-trening
-----------------------------------------------------------------------------*/
#content .conten-middle-center{
    height: 590px;
    margin: 0 auto auto 17px;
    width: 949px;
}
#content .conten-middle-center-cont{
    border:1px solid #e8d2bb;
    margin:10px auto auto 0px;
    background-color:#fff4e0;
    width:965px;
    height:655px;
    float:left;
    overflow:hidden;
}
#content .conten-middle-center-cont ul{
    margin:30px auto auto 10px;
    list-style-type:none;
    width:920px;
    height:620px;	
}

#content .conten-middle-center-report-back-bottom {
    background:url(/images/training/all/trenings/back-all-trenings.png) no-repeat;
    width:158px;
    height:36px;
    margin: 30px auto;
    display: block;
    text-align: center;
}

#content .conten-middle-center-back-bottom {
    background:url(/images/training/all/trenings/back-all-trenings.png) no-repeat;
    width:158px;
    height:36px;
    margin: 0 auto;
    display: block;
    text-align: center;
} 

#content .conten-middle-center-back-bottom a{ 
    color:#fff; 
    font-size:14px;  
    font-weight:400;
    font-style:italic;
    text-decoration:none; 
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
    line-height:30px; 
}
#content .conten-middle-center-cont ul li{
    display:inline;
    float:left;	
}
#content .conten-middle-center-cont ul li div{	
    width:305px;
    height:230px;
    text-align:center;
    margin-bottom: 40px;
}
#content .conten-middle-center-cont ul li div a{	
    color:#970100;
    font-size:20px;
    font-style:italic;
    font-weight:100;
    text-decoration:none; 
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
} 
#content .conten-middle-center-cont ul li div img.bg:hover{	
    color:#970100;
    font-size:20px;
    font-style:italic; 
    font-weight:100;
    text-decoration:none; 
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    box-shadow: 0 0 20px #888888;
    padding-top: 10px;
}

#content .conten-middle-center-cont ul li div img{
    margin:5px auto auto auto; 
    width:242px;
    height:205px;
    padding-top: 10px;
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {	
    clear:both;
    height: 100px;

}
#footer .footer-center{	
    margin:0 auto;
    width:600px;
    height:100px;			
}
#footer .footer-center-copy{	
    float:left;
    margin:15px auto auto 25px;	
}
#footer .footer-center-copy p{
    margin-bottom:-5px;	
    color:#5d3c1b;
    font-size:11px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
#footer .footer-center-soc-iconki{	
    float:left;
    width:150px;	
    margin:15px auto auto 95px;		
}
#footer .footer-center-menu{
    margin:24px auto auto 10px;
    float:left;	
    background:url(/images/training/all/footer-menu-bg.png) no-repeat;
    width:580px;
    height:41px;	
}
#footer .footer-center-menu ul{	
    list-style-type:none;
}
#footer .footer-center-menu ul li{	
    float:left;
    margin:8px 10px auto 12px;
}
#footer .footer-center-menu ul li a{	
    color:#fff;
    font-size:13px;
    font-weight:100;
    text-decoration:none;
    font-style:italic;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#footer ul li img{ 
    position:absolute;
    margin-left:13px;
} 

#content .conten-middle-center-tren1{
    background-color: #FFFFFE;
    border: 1px solid #D2D0CD;
    float: left;
    height: 520px;
    margin-top: 20px;
    width: 930px;
}

#content h4 {
    color: #644F3B;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-top: 30px;
}

#content .conten-middle-center-tren1-tblock{
    margin:25px auto auto 130px;
    background:url(/images/training/all/trenings/word-translate-bg.png) no-repeat;
    width:710px;
    height:430px;

    box-shadow: 0 0 20px #888888;
} 

#content .conten-middle-center-tren-report{
    float:left;
    margin:15px auto auto 70px;	
    width:570px;
    height:290px;
}

#content .conten-middle-center-tren-report table{
    width:500px;	
    background-color:#eaeaea;
    border:1px solid #e77d26;
    border-radius:3px;	
    -moz-border-radius:3px;
    -khtml-border-radius:6px;
}
#content .conten-middle-center-tren-report table tr{
    height:28px;
    overflow:hidden;	
}
#content .conten-middle-center-tren-report table tr td{	
    border-bottom:1px dotted #e6a64b;
    padding-left:10px;
    padding-top:3px;	
    overflow:hidden;
}
#content .conten-middle-center-tren-report table tr td a{
    float:left;
    margin-top:-6px;	
    color:#15669a;
    text-transform:lowercase;
    font-size:14px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-tren-report table tr td span{	
    margin:-5px auto auto 10px;
    float:left;
    color:#77634d;
    font-size:13px;
    text-transform:lowercase;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-tren-report table tr td img{	
    cursor:pointer;
}
#content .conten-middle-center-tren-report p{
    margin-top:20px;
    color:#060;
    font-size:18px;
    font-weight:400;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#content .conten-middle-center-tren-report .conten-middle-center-tren1-tblock-bottom{
    margin:12px auto auto 220px;	
    float:left;
    width:270px;
    height:80px;	
}

#content .conten-middle-center-tren1-tblock-bottom-continue{	
    background:url(/images/training/report/result-tren-continue-btn.png) no-repeat;
    width:180px;
    height:38px;
    margin-top:-15px;
    text-align:center;
    margin-top: -12px;
}

#content .conten-middle-center-tren-report .conten-middle-center-tren1-bottom {
    background: url("/images/training/all/trenings/back-all-trenings.png") no-repeat scroll 0 0 transparent;
    height: 36px;
    margin-top: 95px;
    width: 158px;
}

#content .conten-middle-center-tren1-tblock-bottom-continue a{
    padding-top:9px;
    text-decoration:none;
    display:block;
    color:#fff0c5;
    font-size:13px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#popup {
    display: none;
    width: 159px;
    height: 31px;
    position: relative;
    left: -10000px;
    z-index: 10000000;
    background: url(/images/training/report/popup.png) no-repeat;
    text-align: center;
    color: #15669A;
    font-size: 11px;
    font-weight: bold;
    text-align : center;
    padding: 7px 0 0 7px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#error {
    width: 245px; 
    height: 60px; 
    position: absolute; 
    left: -10000px;
    -moz-opacity: 0; /* Mozilla 1.6 и ниже */
    -khtml-opacity: 0; /* Konqueror 3.1, Safari 1.1 */
    opacity: 0; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
    box-shadow: 0 0 20px #888888;
    border-radius: 5px;
    background-color: #FFF3D0;
    padding: 20px;
    font-size: 12px;
}

#error p {
    width: 250px; 
    margin:0;
    padding:0;  
}
#scroll1 {position:relative; width:965px; height:620px; overflow:auto}
#scrollcontent {width:965px; z-index:200; }

.disabled {
    opacity: 0.5;
    -moz-opacity: 50; /* Mozilla 1.6 и ниже */
    -khtml-opacity: 50; /* Konqueror 3.1, Safari 1.1 */
}