
/* content middle
-----------------------------------------------------------------------------*/
#content .conten-middle{
    margin-top:165px;
    float:left;	
    height:770px;
    width:1000px;	
}
#content .conten-middle h2{
    margin:10px auto auto 10px;
    color:#990000;
    font-size:20px;
    font-style:italic;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle h3{
    float:left;
    margin:10px auto auto 20px;
    color:#5f3e1d;
    font-size:16px;
    font-style:italic;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-presentn-txt{
    width:320px;
    overflow:hidden;
    height:20px;
    margin:-5px auto auto 17px;
}

#content .conten-middle-presentn-txt a{
    margin-right:8px;
    color:#2e759e;
    font-size:11px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* content middle- top-title and search block
-----------------------------------------------------------------------------*/

/* content middle-center-

#content  h4{
    margin-top:30px;
    color:#644f3b;
    font-size:15px;
    font-weight:400;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* trening beginn block
-----------------------------------------------------------------------------*/
#content .conten-middle-center-tren1-tblock{
    margin:25px auto auto 130px;
    background:url(/images/training/all/trenings/word-translate-bg.png) no-repeat;
    width:710px;
    height:430px;
    
    box-shadow: 0 0 20px #888888;
}
#content .conten-middle-center-tren1-tblock-cont{
    float:left;
    margin:30px auto auto 70px;	
    width:570px;
    height:260px;	
}
/* trening beginn block content left side
-----------------------------------------------------------------------------*/
#content .conten-middle-center-tren1-tblock-cont-lf{
    float:left;		
    width:295px;
    height:260px;	
}
#content .conten-middle-center-tren1-tblock-cont-lf h1{
    margin-top:10px;
    width:280px;
    height:20px;
    overflow:hidden;
    color:#fff;
    font-size:30px;
    line-height: 20px;
    font-weight:400;
    font-style:italic;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
#content .conten-middle-center-tren1-tblock-cont-lf p{
    width:280px;
    overflow:hidden;
    margin-top:8px;
    color:#704618;
    font-size:15px;
    font-weight:400;
    font-style:italic;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
#content .conten-middle-center-tren1-tblock-cont-lf-proizn{
    margin-top:-5px;
    border-top:1px dashed #fff;
    width:130px;
    height:40px;	
}
#content .conten-middle-center-tren1-tblock-cont-lf-proizn img{
    margin-top:10px;
    float:left;		
}
#content .conten-middle-center-tren1-tblock-cont-lf-proizn a{
    margin:10px auto auto 5px;
    position:absolute;
    width:90px;	
    color:#704618;
    font-size:15px;
    font-weight:400;
    font-style:italic;
    text-decoration:none;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* trening beginn block content right side
-----------------------------------------------------------------------------*/
#content .conten-middle-center-tren1-tblock-cont-rt{
    float:left;		
    width:270px;
    height:260px;		
}
#content .conten-middle-center-tren1-tblock-cont-rt ul{
    margin:10px auto auto 10px;
    list-style-type:none;		
    width:260px;
    height:250px;		
}
#content .conten-middle-center-tren1-tblock-cont-rt ul li{
    margin-bottom:3px;
    display:block;	
    width:260px;
    height:38px;
    background:url(/images/training/all/trenings/trans-variant-bg.png) no-repeat;
}
#content .conten-middle-center-tren1-tblock-cont-rt ul li:hover{	
    display:block;	
    width:260px;
    height:38px;
    background:url(/images/training/all/trenings/trans-variant-hover-and-false.bg.png) no-repeat;
}
#content .conten-middle-center-tren1-tblock-cont-rt ul li:hover a{
    color:#fff;	
}
#content .conten-middle-center-tren1-tblock-cont-rt ul li a{
    width:230px;
    overflow:hidden;
    float:left;
    margin:8px auto auto 20px;
    color:#704618;
    font-size:15px;
    font-weight:400;	
    text-decoration:none;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* when select true variant translate
-----------------------------------------------------------------------------*/
#content .conten-middle-center-tren1-tblock-cont-rt ul li.true{	
    display:block;	
    width:260px;
    height:38px;
    background:url(/images/training/all/trenings/trans-variant-true.png) no-repeat;
}
#content .conten-middle-center-tren1-tblock-cont-rt ul li.true a{
    color:#fff;	
}
/* when select false variant translate
-----------------------------------------------------------------------------*/
#content .conten-middle-center-tren1-tblock-cont-rt ul li.false{	
    display:block;	
    width:260px;
    height:38px;
    background:url(/images/training/all/trenings/trans-variant-hover-and-false.bg.png) no-repeat;
}
#content .conten-middle-center-tren1-tblock-cont-rt ul li.false a{
    color:#fff;	
}
/* trenings button, bottom side 
-----------------------------------------------------------------------------*/
#content .conten-middle-center-tren1-tblock-bottom{
    margin:15px auto auto 220px;	
    float:left;
    width:270px;
    height:80px;	
}
#content .conten-middle-center-tren1-tblock-bottom img{	
    margin-left:5px;
}
#content .conten-middle-center-tren1-tblock-bottom p{	
    margin-top:5px;
    color:#704618;
    font-size:15px;
    font-weight:400;	
    text-decoration:none;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
