* {
    margin: 0;
    padding: 0;
}
*:focus  
{  
    outline: none;  
}  	
body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    width: 100%;
    background:url(/images/community/profile-page-bg.jpg) repeat-x center ;
    background-color:#ffc412;
    min-height:1100px;
    max-height:100%;	
}
a {
    color: blue;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 18px
}
img {
    border: none;
}
input {
    vertical-align: middle;
}
#wrapper {	
    width: 1000px;
    margin: 0 auto;
    height:100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
    margin-top:4px;
    height: 40px;
}
/* Header top menu1
-----------------------------------------------------------------------------*/
.header_menu1{
    margin:-3px auto auto 14px;
    float:left;
    background:url(/images/community/header-menu1-not-line.png) no-repeat;
    width:330px;
    height:36px;
}
.header_menu1 ul{
    list-style-type:none;
}
.header_menu1 ul li {
    float:left;
    margin:9px 5px auto 10px;
}
.header_menu1 ul li img{
    position:absolute;
    margin-left:5px;
}
.header_menu1 ul li a{
    color:#fff;
    font-size:13px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style:italic;
    text-decoration:none;
}
/* Header top right menu2
-----------------------------------------------------------------------------*/
.header_menu2{
    margin-top:-3px;
    margin-right:7px;
    float:right;
    background:url(/images/community/header-menu2-community.png) no-repeat;
    width:299px;
    height:37px;
}
/* Header top right menu2 button
-------------------------------*/
.header_menu2_button{
    float:left;
    width:80px;
    margin:5px  auto auto 8px;
}
.header_menu2_button img{
    position:relative;
    z-index:1;
}
.header_menu2_button a{
    position:relative;
    z-index:100;
    margin:-30px auto auto 17px;
    float:left;
    color:#ffff6a;
    font-size:12px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style:italic;
    text-decoration:none;
}
.header_menu2_credit{	
    width:75px;
    overflow:hidden;
    float:left;
    margin:10px auto auto 10px;
}
.header_menu2_credit h1.normal {
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 25px;
    position: relative;
    top: 0;
}

.header_menu2_credit h1.standart {
    color: #FFFFFF;
    font-size: 15px;
    position: relative;
    top: 0;
}
.header_menu2_credit img{
    float: left;
}
/* Header top right menu2 status
-------------------------------*/
.header_menu2_status{
    float:left;
    margin:12px  auto auto 18px;
}
.header_menu2_icon{
    float:left;
    margin:-1px  auto auto 6px;
}
.header_menu2_fr_count{	
    width:45px;
    overflow:hidden;
    float:left;
    margin:10px  auto auto 2px; 
}
.header_menu2_fr_count h4{
    color:#fff;
    font-size:18px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* Header top right menu2 menu
-------------------------------*/
.header_menu2 ul{
    list-style-type:none;
}
.header_menu2 ul li {
    float:left;
    margin:10px 0px auto 12px;
}  
.header_menu2 ul li a.notifications{
    color:#fff;
    text-decoration:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50); /* IE 5-7 */
    -moz-opacity: 0.5;  /* Netscape */
    -khtml-opacity: 0.5;  /* Safari 1.x */
    opacity: 0.5;  /* Good browsers */
    padding: 10px 0 2px;
}

.header_menu2 ul li a.shown{
    color:#fff;
    text-decoration:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100); /* IE 5-7 */
    -moz-opacity: 1;  /* Netscape */
    -khtml-opacity: 1;  /* Safari 1.x */
    opacity: 1;  /* Good browsers */
    background-color: #FFF6E0; 
    padding: 10px 0 2px;
    border: 1px solid #A2917A; 
    border-raduis: 5px; 
    border-bottom: none;   
    position: relative;
    z-index: 5001
}

/* Middle
-----------------------------------------------------------------------------*/
#content {
    margin-left:10px;
    height:954px;
    width:1000px;	
}
/* content -top -user menu
-----------------------------------------------------------------------------*/
#content .conten-top-menu{
    margin-left:445px;
    height:50px;
    width:100px;
    position:absolute;
    top:20px;
    text-align:center;
}
#content .conten-top-menu p{
    color:#5d3c1b;
    font-size:11px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-top-menu ul{
    margin:-22px auto auto -5px;
    list-style-position:inside;
}
#content .conten-top-menu ul li{
    color:#fffffe;
    margin-bottom:10px;
}
#content .conten-top-menu ul li a{
    color:#fffffe;
    font-size:13px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* content middle
-----------------------------------------------------------------------------*/
#content .conten-middle{
    margin-top:165px;
    float:left;	
    height:770px;
    width:1000px;	
}
#content .conten-middle h2{
    margin:10px auto auto 20px;
    color:#990000;
    font-size:22px;
    font-style:italic;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-presentn-txt{
    width:320px;
    overflow:hidden;
    height:20px;
    margin:-5px auto auto 17px;
}

#content .conten-middle-presentn-txt a{
    margin-right:8px;
    color:#2e759e;
    font-size:11px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* content middle- top-title and search block
-----------------------------------------------------------------------------*/
#content .conten-middle-top-blok{
    float:right;
    margin:-20px 10px 10px auto;	
    width:370px;
    height:35px;	
}
/* content middle-center-
-----------------------------------------------------------------------------*/
#content .conten-middle-center{
    border-top:1px dashed #e6a94e;	
    margin:0px auto auto 17px;
    width:970px;
    height:680px;
    float:left;	
}
#content .conten-middle-center-chat{
    border:1px solid #d2d0cd;
    background-color:#fffffe;
    margin-top:15px;
    width:970px;
    height:650px;
    float:left;	
}
/* content middle-center-left
----------------------------------------------*/
#content .conten-middle-center-chat-left{
    margin-top:-6px;
    border-right:1px dashed #e6a94e;	
    width:765px;
    height:620px;
    float:left;	
}
#content .conten-middle-center-chat-left-1block{
    margin-left:5px;	
    width:760px;
    height:120px;
    float:left;	
}
#content .conten-middle-center-chat-left-1block-name{
    margin:10px auto 20px 5px;
    background:url(/images/community/chatting-user-name-bg.png) no-repeat;
    width:146px;
    height:35px;
    text-align:center;
    overflow:hidden;	
}
#content .conten-middle-center-chat-left-1block-name p{
    margin-top:8px;	
    color:#fff0c5;
    font-size:12px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-chat-left-1block span{
    width:400px;
    margin:5px auto auto 10px;	
    color:#7b7b7b;
    font-size:12px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
    clear:both;
}
#content .conten-middle-center-chat-left-1block-rgt-foto{	
    width:135px;
    height:110px;
    float:right;
    margin:5px;	
}
#content .conten-middle-center-chat-left-1block-rgt-foto span{
    position:absolute;
    width: 95px;
}
#content .conten-middle-center-chat-left-1block-rgt-foto span img{
    margin:-35px 0px auto -7px;
    float:left;
    border:1px solid #a2917a;
}

#content .conten-middle-center-chat-left-1block-rgt-foto-av{
    background:url(/images/community/chatting-user-status.png) no-repeat;
    width:31px;
    height:31px;
}
#content .conten-middle-center-chat-left-1block-rgt-foto-av p{
    display:block;
    padding-top:6px;
    color:#fcf165;
    font-size:14px;
    line-height:1em;
    font-weight:500;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* content middle-center-left -msg-zone
----------------------------------------------*/
#content .conten-middle-center-chat-left-msg-zone{
    border-top:1px dashed #e6a94e;
    border-bottom:1px dashed #e6a94e;
    width:765px;
    height:300px;
    float:left;		
}
#content .conten-middle-center-chat-left-msg-zone-txt{
    padding-top:5px;
    margin:15px auto 15px 10px;			
    width:730px;
    height:270px;
    float:left;	
    overflow:auto;
    overflow-x: hidden;	
}
#content .conten-middle-center-chat-left-msg-zone-txt img{	
    height:25px;
    width:25px;
    position:relative;
    margin-bottom:-8px;
}
#content .conten-middle-center-chat-left-msg-zone-txt p{        	
    color:#7b7b7b;
    font-size:12px;
    font-weight:500;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#content .conten-middle-center-chat-left-msg-zone-txt a{	
    color:#2e759e;
    font-size:12px;
    line-height:0.5em;
    font-weight:500;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* content middle-center-left -msg-write panel
----------------------------------------------*/
#content .conten-middle-center-chat-left-msg-wrt-panel{	
    border-bottom:1px dashed #e6a94e;
    width:765px;
    height:80px;
    float:left;	margin-bottom:10px;
}
/* content middle-center-left -msg-input txt
----------------------------------------------*/
#content .conten-middle-center-chat-left-msg-wrt-panel-txtinp{		
    width:765px;
    height:40px;
    float:left;
}
#content .conten-middle-center-chat-left-msg-wrt-panel-txtinp img{		
    margin:5px;
}

#content .conten-middle-center-chat-left-msg-wrt-panel-txtinp input {
    background-color: transparent;
    background-image: url("/images/community/chatting-write-msg-bg.png");
    border: medium none;
    color: #7B7B7B;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 500;
    height: 30px;
    margin: 5px auto auto 5px;
    padding: 0 10px;
    position: relative;
    width: 730px;
    z-index: 10000;
}
/* content middle-center-left -msg-instrumneti
----------------------------------------------*/
#content .conten-middle-center-chat-left-msg-wrt-panel-instrum{	
    margin:0 5px;	
    width:750px;
    height:38px;
    float:left;	
}
#content .conten-middle-center-chat-left-msg-wrt-panel-instrum img{	
    cursor:pointer;
}
#ITA{	
    background:url(/images/community/chatting-txt-sound-onn-but-icon.png) no-repeat;
    margin:-25px auto auto auto;
    width:26px;
    height:26px;
    border-width: 0;	
    border-collapse: collapse;
    cursor:pointer;
}
#content .conten-middle-center-chat-left-msg-wrt-panel-instrum-right{
    margin-top:5px;			
    width:145px;
    height:35px;
    float:right;
}
#content .conten-middle-center-chat-left-msg-wrt-panel-instrum-right img{	
    float:left;
}
#content .conten-middle-center-chat-left-msg-wrt-panel-instrum-right input[type="button"]{
    margin:-5px auto auto 10px;
    background: url(/images/community/chatting-send-msg-but.png) no-repeat;
    width:59px;
    height:31px;
    border:0;
    cursor:pointer;
}
/* content middle-center-left block 3 svoi imya
----------------------------------------------*/
#content .conten-middle-center-chat-left-3block-name{
    margin:20px auto 20px 10px;
    background:url(/images/community/chatting-user-name-bg.png) no-repeat;
    width:146px;
    height:35px;
    text-align:center;
    overflow:hidden;	
}
#content .conten-middle-center-chat-left-3block-name p{
    margin-top:8px;	
    color:#fff0c5;
    font-size:12px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* content middle-center-right
----------------------------------------------*/
#content .conten-middle-center-chat-right{
    margin-top:-6px;	
    width:200px;
    height:620px;
    float:left;
}
#content .conten-middle-center-chat-right h2.header{
    margin-top: 5px;
    margin-bottom: -10px;
    margin-left: 6px;
    width: 196px;
    height: 30px;
    display: block;
    color: #fff;
    font-size:14px;
    font-weight:500;
    background-image: url(/images/community/header-194.png);
    font-style:normal;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    line-height: 30px;
    text-align: center;
}

#content .conten-middle-center-chat-right img.header {
    margin-top: 5px;
    margin-bottom: -20px;
    margin-left: 6px;
    width: 196px;
}

#content .conten-middle-center-chat-right-googblok{
    margin:10px auto auto 5px;
    width:195px;
    height:150px;
    border: 1px solid #fff;
    background-color:#FFE7BE;
    padding-top: 5px;
    position: relative;
}

#content .conten-middle-center-chat-right-googblok input[type=text] {
    font-size: 13px;
    margin-left: 15px;
    width: 165px;
}

#content .conten-middle-center-chat-right-googblok textarea {
    font-size: 11px;
    margin-left: 2px;
    width: 189px;
    border-radius: 5px;
    border: 1px solid #97b5c6;
    resize: none; 
}

#content .conten-middle-center-chat-right-googblok input[type=button] {
    font-size: 13px;
    margin-left: 15px;
    width: 105px;
    height: 18px;
    border: 0;
    background-color: #E78E35;
    margin-left: 45px;
    border-radius: 5px;
}

#content .conten-middle-center-chat-right-googblok span {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

#content .conten-middle-center-chat-right-googblok .lang{
    font-size: 11px;
    color: #2E759E; 
}
/* content middle-center-right scenari razgov block
----------------------------------------------*/
#content .conten-middle-center-chat-right-scenar{
    margin:5px auto auto 5px;
    width:195px;
    height:415px;
    float:left;
    background-color:#ffe7be;
    border-radius:2px;	
    -moz-border-radius:3px;
    -khtml-border-radius:5px;
    overflow:hidden;
}
#content .conten-middle-center-chat-right-scenar h4{
    float:left;
    margin:10px;
    color:#b31726;
    font-size:13px;
    font-weight:700;
    font-style:normal;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-chat-right-scenar-block-dd{
    float:left;
    margin-left:5px;	
    width:180px;
    height:370px;
    display:none;
}
div.selector, 
div.selector span{
    background-image:url(/images/community/chatting-scenar-select0bg.png);
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    margin-bottom:5px;
}
#content .conten-middle-center-chat-right-scenar-block-dd-txt{
    float:left;
    margin-left:5px;	
    width:180px;
    height:auto;	
}
#content .conten-middle-center-chat-right-scenar-block-dd-txt p{
    height:1px;
    color:#80807f;
    font-size:12px;
    font-weight:700;
    font-style:normal;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-chat-right-scenar-block-dd-txt span{
    margin-left:5px;
    color:#2e759e;
    font-size:12px;
    font-weight:700;
    font-style:normal;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {	
    clear:both;
    height: 100px;

}
#footer .footer-center{	
    margin:0 auto;
    width:600px;
    height:100px;			
}
#footer .footer-center-copy{	
    float:left;
    margin:15px auto auto 25px;	
}
#footer .footer-center-copy p{
    margin-bottom:-5px;	
    color:#5d3c1b;
    font-size:11px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
#footer .footer-center-soc-iconki{	
    float:left;
    width:150px;	
    margin:15px auto auto 95px;		
}
#footer .footer-center-menu{
    margin:24px auto auto 10px;
    float:left;	
    background:url(/images/community/footer-menu-bg.png) no-repeat;
    width:580px;
    height:41px;	
}
#footer .footer-center-menu ul{	
    list-style-type:none;
}
#footer .footer-center-menu ul li{	
    float:left;
    margin:8px 10px auto 12px;
}
#footer .footer-center-menu ul li a{	
    color:#fff;
    font-size:13px;
    font-weight:100;
    text-decoration:none;
    font-style:italic;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#footer ul li img{
    position:absolute;
    margin-left:13px;
}
/*-------------------------------------------------------------------------------------- */
/* Select */

div.selector {  
    height: 30px;
    width: 183px;
    font-size: 12px;
    position: relative;  
    overflow: hidden;
    color:#80807f;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:700; 
}

div.selector span {
    background-position: left 0px;
    height: 30px;
    padding: 5px 25px 0px 5px;
    cursor: pointer;
}
div.selector select {
    /* change these to adjust positioning of select element */
    top: 0px;
    left: 0px;
    width: 183px;
    color:#80807f;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: solid 1px #fff;
}
div.selector span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

div.selector select {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity:0);
    height: 25px;
    border: none;
    background: none;
}
/*--------------------------------T drob down menu font-style----------------------------------------------------*/
.conten-middle-center-chat-left-fstyle-dd{
    float:left;
    position:relative;
    margin:-8px auto auto auto;
    background:url(/images/community/font-style-T-ddown.png) no-repeat;
    width:130px;
    height:129px;
    display:none;
}
.conten-middle-center-chat-left-fstyle-dd ul{
    list-style-type:none;	
    float:left;
    margin:8px auto auto 0px;
}
.conten-middle-center-chat-left-fstyle-dd ul li{
    margin-top:0px;
    padding-left:10px;
    padding-bottom:4px;
    padding-top:4px;
    border-bottom:1px dashed #e1a24f;
    width:120px;
    height:20px;
}
.conten-middle-center-chat-left-fstyle-dd ul li a{
    color:#e1a24f;
    font-size:13px;
    font-weight:200;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
    text-decoration:none
}
/*--------------------------------Smilik drop down menu----------------------------------------------------*/

.conten-middle-center-chat-left-smilik-dd{
    float:left;
    position:relative;
    margin:-8px auto auto -25px;
    background:url(/images/community/smilik-ddown-menu.png) no-repeat;
    width:265px;
    height:170px;
    display:none;
}
.conten-middle-center-chat-left-smilik-dd img{
    float:left;
    width:31px;
    height:31px;
    margin:15px auto -10px 10px;
    display:block;
}

#scroll1 {width:730px; height:240px; overflow:auto;}
#languages {
    display: none; 
    position: absolute;
    width: 90px;
    border: 1px solid #D2D0CD;
    background-color: #EF8B26;
    padding-top: 5px;
    border-top: none;
}
#trg_text {
    margin-top: 15px; 
    font-size: 12px; 
    color: #B31726; 
    background-color: #fff; 
    width: 98%; 
    min-height: 35px;
    display: none;
    border: 1px dashed #D2D0CD;
}