* {
    margin: 0;
    padding: 0;
}
*:focus  
{  
    outline: none;  
}  	
body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    width: 100%;
    background:url(/images/community/profile-page-bg.jpg) repeat-x center ;
    background-color:#ffc412;
    min-height:1100px;
    max-height:100%;	
}
a {
    color: blue;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 18px
}
img {
    border: none;
}
input {
    vertical-align: middle;
}
#wrapper {	
    width: 1000px;
    margin: 0 auto;
    height:100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
    margin-top:4px;
    height: 40px;
}
/* Header top menu1
-----------------------------------------------------------------------------*/
.header_menu1{
    margin:-3px auto auto 14px;
    float:left;
    background:url(/images/community/header-menu1-not-line.png) no-repeat;
    width:330px;
    height:36px;
}
.header_menu1 ul{
    list-style-type:none;
}
.header_menu1 ul li {
    float:left;
    margin:9px 5px auto 10px;
}
.header_menu1 ul li img{
    position:absolute;
    margin-left:5px;
}
.header_menu1 ul li a{
    color:#fff;
    font-size:13px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style:italic;
    text-decoration:none;
}
/* Header top right menu2
-----------------------------------------------------------------------------*/
.header_menu2{
    margin-top:-3px;
    margin-right:7px;
    float:right;
    background:url(/images/community/header-menu2-community.png) no-repeat;
    width:299px;
    height:37px;
}
/* Header top right menu2 button
-------------------------------*/
.header_menu2_button{
    float:left;
    width:80px;
    margin:5px  auto auto 8px;
}
.header_menu2_button img{
    position:relative;
    z-index:1;
}
.header_menu2_button a{
    position:relative;
    z-index:100;
    margin:-30px auto auto 17px;
    float:left;
    color:#ffff6a;
    font-size:12px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style:italic;
    text-decoration:none;
}
.header_menu2_credit{	
    width:75px;
    overflow:hidden;
    float:left;
    margin:10px auto auto 10px;
    height: 25px;
}
.header_menu2_credit h1.normal {
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 25px;
    position: relative;
    top: 0;
}

.header_menu2_credit h1.standart {
    color: #FFFFFF;
    font-size: 15px;
    position: relative;
    top: 0;
}
.header_menu2_credit img{
    float: left;
}
/* Header top right menu2 status
-------------------------------*/
.header_menu2_status{
    float:left;
    margin:12px  auto auto 18px;
    cursor: pointer;
}
.header_menu2_icon{
    float:left;
    margin:-1px  auto auto 6px;
}
.header_menu2_fr_count{	
    width:45px;
    overflow:hidden;
    float:left;
    margin:10px  auto auto 2px;
}
.header_menu2_fr_count h4{
    color:#fff;
    font-size:18px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* Header top right menu2 menu
-------------------------------*/
.header_menu2 ul{
    list-style-type:none;
}
.header_menu2 ul li {
    float:left;
    margin:10px 0px auto 12px;
} 
.header_menu2 ul li a.notifications{
    color:#fff;
    text-decoration:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50); /* IE 5-7 */
    -moz-opacity: 0.5;  /* Netscape */
    -khtml-opacity: 0.5;  /* Safari 1.x */
    opacity: 0.5;  /* Good browsers */
    padding: 10px 0 2px;
}

.header_menu2 ul li a.shown{
    color:#fff;
    text-decoration:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100); /* IE 5-7 */
    -moz-opacity: 1;  /* Netscape */
    -khtml-opacity: 1;  /* Safari 1.x */
    opacity: 1;  /* Good browsers */
    background-color: #FFF6E0; 
    padding: 10px 0 2px;
    border: 1px solid #A2917A; 
    border-raduis: 5px; 
    border-bottom: none;   
    position: relative;
    z-index: 5001
}

.header_menu2_popup {
    margin-top:-3px;
    width:350px;
    height:110px;
    float:left;
    position: relative; 
    display:none;	
    z-index: 5000;
    background-color:#fff6e0;
    border:1px solid #a2917a;
}
/* Middle
-----------------------------------------------------------------------------*/
#content {
    margin-left:10px;
    height:954px;
    width:1000px;	
}
/* content -top -user menu
-----------------------------------------------------------------------------*/
#content .conten-top-menu{
    margin-left:445px;
    height:50px;
    width:100px;
    position:absolute;
    top:20px;
    text-align:center;
}
#content .conten-top-menu p{
    color:#5d3c1b;
    font-size:11px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-top-menu ul{
    margin:-22px auto auto -5px;
    list-style-position:inside;
}
#content .conten-top-menu ul li{
    color:#fffffe;
    margin-bottom:10px;
}
#content .conten-top-menu ul li a{
    color:#fffffe;
    font-size:13px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* content middle
-----------------------------------------------------------------------------*/
#content .conten-middle{
    margin-top:165px;
    float:left;	
    height:770px;
    width:1000px;	
}
#content .conten-middle h2{
    margin:10px auto auto 20px;
    color:#990000;
    font-size:22px;
    font-style:italic;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-presentn-txt{
    width:320px;
    overflow:hidden;
    height:20px;
    margin:-5px auto auto 17px;
}

#content .conten-middle-presentn-txt a{
    margin-right:8px;
    color:#2e759e;
    font-size:11px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* content middle- top-title and search block
-----------------------------------------------------------------------------*/
#content .conten-middle-top-blok{
    float:right;
    margin:-20px 10px 10px auto;	
    width:370px;
    height:35px;	
}

/* content middle-  search block
-----------------------------------*/
#content .conten-middle-top-blok-search{
    margin:5px 5px auto auto;
    float:right;
    width:340px;
    height:40px;	
}
#content .conten-middle-top-blok-search img{

}
#content .conten-middle-top-blok-search input{
    margin:-69px auto auto 8px;
    width:235px;
    color:#898989;
    border:none;
    background-color:transparent;
    font-size:12px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* content middle-center-trening
-----------------------------------------------------------------------------*/
#content .conten-middle-center{
    border-top:1px dashed #e6a94e;
    margin:0px auto auto 17px;
    width:970px;
    height:700px;
    float:left;	
}
/* conten-middle-center-left
-----------------------------------------------------------------------------*/
#content .conten-middle-center-left{	
    width:475px;
    height:660px;
    float:left;	
}
#content .conten-middle-center-left-title{	
    width:475px;
    height:55px;
    float:left;
}
#content .conten-middle-center-left-title h2{
    float:left;
    margin:20px auto auto 5px;	
    color:#b31726;
    font-size:17px;
    font-weight:200;
    font-style:italic;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-left-title-selector{
    margin:15px auto auto 10px;
    float:left;
    position:relative;
    background:url(/images/community/community-select-lang.png) no-repeat;
    width:150px;
    height:29px;
}
#content .conten-middle-center-left-title-selector select{
    border:none;
    margin:5px auto auto 10px;
    background-color:#f9ebd9;
    color:#644f3b;
}
/* conten-middle-center-right-content audio
-----------------------------------------*/
#content .conten-middle-center-left-cont{
    position:relative;	
    width:475px;
    height:605px;
    float:left;
    background-color:#fff2e1;
    border:1px solid #e9e2cf;
}
#content .conten-middle-center-left-cont ul{
    margin-top:15px;
    margin-left:2px;
    width:475px;	
    float:left;
    list-style-type:none;
}
#content .conten-middle-center-left-cont ul li{	
    margin:auto auto 10px 10px;
    background:url(/images/community/user-found-block.png) no-repeat;
    float:left;
    width:220px;
    height:80px;
}
#content .conten-middle-center-left-cont ul li span{	
    width:62px;
    height:62px;
    float:left;
    margin:8px;	
}
#content .conten-middle-center-left-cont ul li span a{

}
#content .conten-middle-center-left-cont ul li span img{	
    width:60px;
    height:60px;
    border:1px solid #fff;
    overflow:hidden;
    position:relative;
    z-index:1000;
}
#content .conten-middle-center-left-cont ul li h2 a{
    margin:-4px auto auto -3px;
    position:relative;
    z-index:1000;
    float:left;
    color:#fff0e0;
    width:140px;
    height: 20px;
    text-decoration:none;
    overflow:hidden;
    font-size:14px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-left-cont ul li p{
    position:relative;
    z-index:1000;
    margin:13px auto auto -3px;
    float:left;
    color:#fff0e0;
    width:140px;
    overflow:hidden;
    font-size:14px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-left-cont ul li a{
    position:relative;
    z-index:1000;
    margin:0px auto auto -3px;
    float:left;
    color:#ffdd78;
    width:140px;
    overflow:hidden;
    font-size:14px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#content .conten-middle-center-left-cont p{	
    margin:10px auto auto 15px;
    float:left;
    color:#644f3b;
    font-size:14px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-left-cont a{	
    color:#2e759e;
    font-size:14px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* conten-middle-center-right
-----------------------------------------------------------------------------*/
#content .conten-middle-center-right{
    margin-left:20px;		
    width:475px;
    height:660px;
    float:left;	
}
#content .conten-middle-center-right-title{	
    width:475px;
    height:55px;
    float:left;
}
#content .conten-middle-center-right-title h2{
    float:left;
    margin:20px auto auto 5px;	
    color:#b31726;
    font-size:17px;
    font-weight:200;
    font-style:italic;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-right-title-selector{
    margin:15px auto auto 10px;
    float:left;
    position:relative;
    background:url(/images/community/community-select-lang.png) no-repeat;
    width:150px;
    height:29px;
}
#content .conten-middle-center-right-title-selector select{
    border:none;
    margin:5px auto auto 10px;
    background-color:#f9ebd9;
    color:#644f3b;
}
/* conten-middle-center-right-content video
-----------------------------------------*/
#content .conten-middle-center-right-cont{
    width:475px;
    height:605px;
    float:left;
    position:relative;
    background-color:#fff2e1;
    border:1px solid #e9e2cf;
}
#content .conten-middle-center-right-cont ul{
    margin-top:15px;
    margin-left:2px;
    width:475px;	
    float:left;
    list-style-type:none;
}
#content .conten-middle-center-right-cont ul li{	
    margin:auto auto 10px 10px;
    background:url(/images/community/user-found-block.png) no-repeat;
    float:left;
    width:220px;
    height:80px;
}
#content .conten-middle-center-right-cont ul li span{	
    width:62px;
    height:62px;
    float:left;
    margin:8px;	
}
#content .conten-middle-center-right-cont ul li span a{

}
#content .conten-middle-center-right-cont ul li span img{	
    width:60px;
    height:60px;
    border:1px solid #fff;
    overflow:hidden;
    position:relative;
    z-index:1000;
}
#content .conten-middle-center-right-cont ul li h2 a{
    margin:-4px auto auto -3px;
    float:left;
    color:#fff0e0;
    width:140px;
    height: 20px;
    overflow:hidden;
    text-decoration:none;
    font-size:14px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-right-cont ul li p{
    margin:13px auto auto -3px;
    float:left;
    color:#fff0e0;
    width:140px;
    overflow:hidden;
    font-size:14px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-right-cont ul li a{
    margin:0px auto auto -3px;
    float:left;
    color:#ffdd78;
    width:140px;
    overflow:hidden;
    font-size:14px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {	
    clear:both;
    height: 100px;

}
#footer .footer-center{	
    margin:0 auto;
    width:600px;
    height:100px;			
}
#footer .footer-center-copy{	
    float:left;
    margin:15px auto auto 25px;	
}
#footer .footer-center-copy p{
    margin-bottom:-5px;	
    color:#5d3c1b;
    font-size:11px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
#footer .footer-center-soc-iconki{	
    float:left;
    width:150px;	
    margin:15px auto auto 95px;		
}
#footer .footer-center-menu{
    margin:24px auto auto 10px;
    float:left;	
    background:url(/images/community/footer-menu-bg.png) no-repeat;
    width:580px;
    height:41px;	
}
#footer .footer-center-menu ul{	
    list-style-type:none;
}
#footer .footer-center-menu ul li{	
    float:left;
    margin:8px 10px auto 12px;
}
#footer .footer-center-menu ul li a{	
    color:#fff;
    font-size:13px;
    font-weight:100;
    text-decoration:none;
    font-style:italic;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#footer ul li img{
    position:absolute;
    margin-left:13px;
}
#buble{
    position:relative;	
}
.trigger {
    position: absolute;
}

/* Bubble pop-up */

.popup {
    width:360px;
    height:220px;
    position: absolute; 
    display:none;	
    z-index: 5000;
    background-color:#fff6e0;
    border:1px solid #a2917a;
}

.popup_left{
    width:105px;
    height:220px;
    float:left;
}
.popup_left_foto{

}
.popup_left_foto img{
    margin:7px;
    width:93px;
    height:93px;
    border:1px solid #a2917a;
    overflow:hidden;
}
.popup_left_under_foto{
    margin:-2px 7px 7px 7px;
    width:95px;
    height:96px;
    background:url(/images/community/popup-us-bg.png) no-repeat;
    text-align:center;
}
.popup_left_under_foto img{
    margin:5px auto 2px 4px;
    float:left;
    width:27px;
    height:25px;
}
.popup_left_under_foto b{
    width:90px;
    color:#644f3b;
    font-size:12px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.popup_left_under_foto span{
    width:90px;
    color:#2e759e;
    font-size:20px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;

}

.popup_right{
    margin-left:5px;
    width:240px;
    height:220px;
    float:left;

}
.popup_right b{
    float:left;		
    color:#b31726;
    font-size:11px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
.popup_right a{
    color:#b31726; position:relative;
    font-size:10px;
    line-height:1em;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
.popup_right_name{
    width:240px;
    height:25px;
    overflow:hidden;
    padding-top:8px;
    border-bottom:1px dashed #e6ac5a;	
}
.popup_right_name h3{	
    color:#2e759e;
    font-size:16px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.popup_right_points{
    width:240px;
    height:25px;
    overflow:hidden;
    padding-top:8px;
    border-bottom:1px dashed #e6ac5a;	
}
.popup_right_points h3{	
    margin:auto 5px auto 20px;
    color:#b31726;
    float:left;
    font-size:23px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.popup_right_points h4{	
    color:#644f3b;
    font-size:14px;
    font-weight:400;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.popup_right_speak{
    width:240px;
    height:70px;
    overflow:hidden;
    padding-top:3px;
    border-bottom:1px dashed #e6ac5a;	
}
.popup_right_speak span{
    clear:both;	
    color:#644f3b;
    float:left;
    font-size:11px;
    line-height:1.2em;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.popup_right_study{
    width:240px;
    height:70px;
    overflow:hidden;
    padding-top:3px;

}
.popup_right_study span{
    clear:both;	
    color:#644f3b;
    float:left;
    font-size:11px;
    line-height:1.2em;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.popup {
    width:360px;
    height:220px;
    position: absolute; 
    display:none;	
    z-index: 5000;
    background-color:#fff6e0;
    border:1px solid #a2917a;
}

#popup .popup_left{
    width: 105px;
    height: 110px;
    float: left;
}
#popup .popup_left_foto{

}
#popup .popup_left_foto img{
    margin:7px;
    width:93px;
    border:1px solid #a2917a;
    overflow:hidden;
}
#popup .popup_left_under_foto{
    margin:-2px 7px 7px 7px;
    width:95px;
    height:96px;
    background:url(/images/community/popup-us-bg.png) no-repeat;
    text-align:center;
}
#popup .popup_left_under_foto img{
    margin:5px auto 2px 4px;
    float:left;
    width:27px;
    height:25px;
}
#popup .popup_left_under_foto b{
    width:90px;
    color:#644f3b;
    font-size:12px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#popup .popup_left_under_foto span{
    width:90px;
    color:#2e759e;
    font-size:20px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;

}
/* popup_right
-----------------------------------------------*/
#popup .popup_right{
    margin-left: 5px;
    width: 238px;
    height: 110px;
    float: left;
    border-left: 1px solid #e6ac5a;
}

#popup .popup_right h3{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: #15669A;
}

#popup .popup_right a.approve {
    background: url(/images/community/approve-btn.png);
    width: 65px;
    height: 29px;
    color:#fff; 
    line-height:29px;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 100;
    text-decoration: none;
    display: inline-block;
}

#popup .popup_right a.reject {
    background: url(/images/community/approve-btn.png);
    width: 65px;
    height: 29px;
    color:#fff; 
    line-height:29px;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 100;
    text-decoration: none;
    display: inline-block;
}

#popup .popup_right b{
    float:left;		
    color:#b31726;
    font-size:11px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}

#popup .popup_right_name{
    width:240px;
    height:16px;
    overflow:hidden;
    border-bottom:1px solid #e6ac5a;	
    background: url(/images/community/not-header.png) no-repeat;
    margin-bottom: 5px;
}

#popup .popup_right_name h3{	
    color:#fff;
    font-size:14px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%; 
    line-height: 10px;
    text-align: center;
}
/*----------------------------------------*/
#popup .popup_right_points{
    width:240px;
    height:25px;
    overflow:hidden;
    padding-top:8px;
    border-bottom:1px dashed #e6ac5a;	
}
#popup .popup_right_points h3{	
    margin:auto 5px auto 20px;
    color:#b31726;
    float:left;
    font-size:23px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#popup .popup_right_points h4{	
    color:#644f3b;
    font-size:14px;
    font-weight:400;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/*----------------------------------------*/
#popup .popup_right_speak{
    width:240px;
    height:70px;
    overflow:hidden;
    padding-top:3px;
    border-bottom:1px dashed #e6ac5a;	
}
#popup .popup_right_speak span{
    clear:both;	
    color:#644f3b;
    float:left;
    font-size:11px;
    line-height:1.2em;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/*----------------------------------------*/
#popup .popup_right_study{
    width:240px;
    height:70px;
    overflow:hidden;
    padding-top:3px;

}
#popup .popup_right_study span{
    clear:both;	
    color:#644f3b;
    float:left;
    font-size:11px;
    line-height:1.2em;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}