* {
    margin: 0;
    padding: 0;
}
*:focus  
{  
    outline: none;  
}  	
body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    width: 100%;
    background:url(/images/community/profile-page-bg.jpg) repeat-x center ;
    background-color:#ffc412;
    min-height:1100px;
    max-height:100%;	
}
a {
    color: blue;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 18px
}
img {
    border: none;
}
input {
    vertical-align: middle;
}
#wrapper {	
    width: 1000px;
    margin: 0 auto;
    height:100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
    margin-top:4px;
    height: 40px;
}
/* Header top right menu2
-----------------------------------------------------------------------------*/
.header_menu2{
    margin-top:-3px;
    margin-right:7px;
    float:right;
    background:url(/images/community/header-menu2-community.png) no-repeat;
    width:299px;
    height:37px;
}
/* Header top right menu2 button
-------------------------------*/
.header_menu2_button{
    float:left;
    width:80px;
    margin:5px  auto auto 8px;
}
.header_menu2_button img{
    position:relative;
    z-index:1;
}
.header_menu2_button a{
    position:relative;
    z-index:100;
    margin:-30px auto auto 17px;
    float:left;
    color:#ffff6a;
    font-size:12px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style:italic;
    text-decoration:none;
}
.header_menu2_credit{	
    width:75px;
    overflow:hidden;
    float:left;
    margin:10px auto auto 10px;
}
.header_menu2_credit h1.normal {
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 25px;
    position: relative;
    top: 0;
}

.header_menu2_credit h1.standart {
    color: #FFFFFF;
    font-size: 15px;
    position: relative;
    top: 0;
}
.header_menu2_credit img{
    float: left;
}
/* Header top right menu2 status
-------------------------------*/
.header_menu2_status{
    float:left;
    margin:12px  auto auto 18px;
}
.header_menu2_icon{
    float:left;
    margin:-1px  auto auto 6px;
}
.header_menu2_fr_count{	
    width:45px;
    overflow:hidden;
    float:left;
    margin:10px  auto auto 2px;
}
.header_menu2_fr_count h4{
    color:#fff;
    font-size:18px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* Header top right menu2 menu
-------------------------------*/
.header_menu2 ul{
    list-style-type:none;
}
.header_menu2 ul li {
    float:left;
    margin:10px 0px auto 12px;
}  
.header_menu2 ul li a.notifications{
    color:#fff;
    text-decoration:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50); /* IE 5-7 */
    -moz-opacity: 0.5;  /* Netscape */
    -khtml-opacity: 0.5;  /* Safari 1.x */
    opacity: 0.5;  /* Good browsers */
    padding: 10px 0 2px;
}

.header_menu2 ul li a.shown{
    color:#fff;
    text-decoration:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100); /* IE 5-7 */
    -moz-opacity: 1;  /* Netscape */
    -khtml-opacity: 1;  /* Safari 1.x */
    opacity: 1;  /* Good browsers */
    background-color: #FFF6E0; 
    padding: 10px 0 2px;
    border: 1px solid #A2917A; 
    border-raduis: 5px; 
    border-bottom: none;   
    position: relative;
    z-index: 5001
}
/* Middle
-----------------------------------------------------------------------------*/
#content {
    margin-left:10px;
    height:954px;
    width:1000px;	
}
/* content -top -user menu
-----------------------------------------------------------------------------*/
#content .conten-top-menu{
    margin-left:445px;
    height:50px;
    width:100px;
    position:absolute;
    top:20px;
    text-align:center;
}
#content .conten-top-menu p{
    color:#5d3c1b;
    font-size:11px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-top-menu ul{
    margin:-22px auto auto -5px;
    list-style-position:inside;
}
#content .conten-top-menu ul li{
    color:#fffffe;
    margin-bottom:10px;
}
#content .conten-top-menu ul li a{
    color:#fffffe;
    font-size:13px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* content middle
-----------------------------------------------------------------------------*/
#content .conten-middle{
    margin-top:165px;
    float:left;	
    height:770px;
    width:1000px;	
}
#content .conten-middle h2{
    margin:10px auto auto 20px;
    color:#990000;
    font-size:22px;
    font-style:italic;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-presentn-txt{
    width:320px;
    overflow:hidden;
    height:20px;
    margin:-5px auto auto 17px;
}

#content .conten-middle-presentn-txt a{
    margin-right:8px;
    color:#2e759e;
    font-size:11px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* content middle- top-title and search block
-----------------------------------------------------------------------------*/
#content .conten-middle-top-blok{
    float:right;
    margin:-20px 10px 10px auto;	
    width:370px;
    height:35px;	
}

/* content middle-  search block
-----------------------------------*/
#content .conten-middle-top-blok-search{
    margin:5px 5px auto auto;
    float:right;
    width:340px;
    height:40px;	
}
#content .conten-middle-top-blok-search img{

}

/* content middle-center-trening
-----------------------------------------------------------------------------*/
#content .conten-middle-center{
    border-top:1px dashed #e6a94e;
    margin:0px auto auto 17px;
    width:970px;
    height:700px;
    float:left;
}
/* conten-middle-center-left
-----------------------------------------------------------------------------*/
#content .conten-middle-center-left{	
    width:230px;
    height:680px;
    float:left;
    margin-top:10px	
}
/* conten-middle-center-left-content
-----------------------------------------*/
#content .conten-middle-center-left-cont{
    position:relative;	
    width:230px;
    height:670px;
    float:left;
    background-color:#fff2e1;
    border:1px solid #e9e2cf;
}
#content .conten-middle-center-left-cont-form-filter{
    margin:10px  auto auto 10px;	
    width:210px;
    height:620px;
    float:left;	
    color:#898989;
}
#content .conten-middle-center-left-cont-form-filter b{
    color:#2e759e;		
    font-size:12px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#content .conten-middle-center-left-cont-form-filter input[type="text"].username{	
    background-color: transparent;
    background-image: url("/images/community/search-friends.png");
    border: medium none;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 100;
    height: 30px;
    margin: 5px 0 0;
    text-align: center;
    width: 210px;
}

#content .conten-middle-center-left-cont-form-filter input[type="text"].agefrom{	
    background-color: transparent;
    background-image: url("/images/community/searc-age-friends.png");
    border: medium none;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 100;
    height: 30px;
    margin: 5px 0 0;
    text-align: center;
    width: 100px;
}

#content .conten-middle-center-left-cont-form-filter input[type="text"].ageto{	
    background-color: transparent;
    background-image: url("/images/community/searc-age-friends.png");
    border: medium none;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 100;
    height: 30px;
    margin: 5px 0 0;
    text-align: center;
    width: 100px;
}

#content .conten-middle-center-left-cont-form-filter input[type="text"].on {
    color: #000000;
}

#content .conten-middle-center-left-cont-form-filter input[type="text"].off {
    color: #898989;
}

#content .conten-middle-center-left-cont-form-filter input[type="radio"]{	
    margin:0 5px;	
    color:#898989;	
    background-color:transparent;
    font-size:12px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
div.selector, 
div.selector span{
    background-image:url(/images/community/select-friends-search.png);
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    margin-bottom:5px;
}
#content .conten-middle-center-left-cont-form-filter input[type="submit"]{
    margin:20px 10px auto 0px;
    background:url(/images/community/search-btn.png) no-repeat;
    width:85px;
    height:33px;
    border:0;
    cursor:pointer;
    float:right;
}
/* conten-middle-center-right
-----------------------------------------------------------------------------*/
#content .conten-middle-center-right{
    margin-left:5px;		
    width:730px;
    height:680px;
    float:left;	
    margin-top:10px	
}
/* conten-middle-center-right-content
-----------------------------------------*/
#content .conten-middle-center-right-cont{
    width:730px;
    height:670px;
    float:left;
    position:relative;
    background-color:#fff2e1;
    border:1px solid #e9e2cf;
}
#content .conten-middle-center-right-search-res{
    margin:10px auto auto 20px;		
    width:700px;
    height:630px;
    float:left;overflow:hidden;
}
#content .conten-middle-center-right-search-res h3{
    color:#2e759e;		
    font-size:13px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
#content .conten-middle-center-right-search-res ul{
    margin-top:10px;	
    width:700px;	
    float:left;
    list-style-type:none;
}
#content .conten-middle-center-right-search-res ul li{	
    margin:auto 10px 6px 0px;
    background:url(/images/community/user-found-block.png) no-repeat;
    float:left;
    width:220px;
    height:80px;
}
#content .conten-middle-center-right-search-res ul li span{	
    width:62px;
    height:62px;
    float:left;
    margin:8px;	
}
#content .conten-middle-center-right-search-res ul li span a{

}
#content .conten-middle-center-right-search-res ul li span img{	
    width:60px;
    height:60px;
    border:1px solid #fff;
    overflow:hidden;
    position:relative;
    z-index:1000;
}
#content .conten-middle-center-right-search-res ul li  h2 a{
    margin:-4px auto auto -3px;
    position:relative;
    z-index:1000;
    float:left;
    color:#fff0e0;
    width:140px;
    text-decoration:none;
    overflow:hidden;
    font-size:14px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-right-search-res ul li p{
    position:relative;
    z-index:1000;
    margin:13px auto auto -3px;
    float:left;
    color:#fff0e0;
    width:140px;
    overflow:hidden;
    font-size:14px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-right-search-res ul li a{
    position:relative;
    z-index:1000;
    margin:0px auto auto -3px;
    float:left;
    color:#ffdd78;
    width:140px;
    overflow:hidden;
    font-size:14px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-right-search-res-pager{       
    width:680px;
    height:25px;
    float:left;
    margin:5px auto auto 20px;
}
#content .conten-middle-center-right-search-res-pager a.off{
    padding:1px 3px;
    color:#15669a;
    font-size:13px;	
    text-decoration:none;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-right-search-res-pager a.off:hover{
    padding:1px 3px;
    color:#fff;	
    text-decoration:none;
    background-color:#C80220;
    border-radius:2px;	
    -moz-border-radius:3px;
    -khtml-border-radius:5px;
    cursor:pointer;
}
#content .conten-middle-center-right-search-res-pager a.on{
    padding:1px 3px;
    color:#fff;	
    text-decoration:none;
    background-color:#C80220;
    border-radius:2px;	
    -moz-border-radius:3px;
    -khtml-border-radius:5px;
    cursor:pointer;
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {	
    clear:both;
    height: 100px;

}
#footer .footer-center{	
    margin:0 auto;
    width:600px;
    height:100px;			
}
#footer .footer-center-copy{	
    float:left;
    margin:15px auto auto 25px;	
}
#footer .footer-center-copy p{
    margin-bottom:-5px;	
    color:#5d3c1b;
    font-size:11px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
#footer .footer-center-soc-iconki{	
    float:left;
    width:150px;	
    margin:15px auto auto 95px;		
}
#footer .footer-center-menu{
    margin:24px auto auto 10px;
    float:left;	
    background:url(/images/community//footer-menu-bg.png) no-repeat;
    width:580px;
    height:41px;	
}
#footer .footer-center-menu ul{	
    list-style-type:none;
}
#footer .footer-center-menu ul li{	
    float:left;
    margin:8px 10px auto 12px;
}
#footer .footer-center-menu ul li a{	
    color:#fff;
    font-size:13px;
    font-weight:100;
    text-decoration:none;
    font-style:italic;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#footer ul li img{
    position:absolute;
    margin-left:13px;
}

/* Select----------------- */

div.selector {  
    height: 30px;
    width: 200px;
    font-size: 12px;
    position: relative;  
    overflow: hidden;
    color:#898989;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:500;
    margin:5px 0px 10px 0px;
}

div.selector span {
    background-position: left 0px;
    height: 30px;
    padding: 5px 25px 0px 5px;
    cursor: pointer;
}
div.selector select {
    /* change these to adjust positioning of select element */
    top: 0px;
    left: 0px;
    width: 197px;
    color:#898989;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: solid 1px #fff;
}
div.selector span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.selector select {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity: 0);
    height: 25px;
    border: none;
    background: none;
}