
.header_menu2_popup {
    background-color: #FFF6E0;
    border: 1px solid #A2917A;
    display: none;
    float: left;
    height: 110px;
    margin-top: -3px;
    position: relative;
    width: 350px;
    z-index: 5000;
}

/* popup_left
-----------------------------------------------*/
#popup .popup_left{
    width: 105px;
    height: 110px;
    float: left;
}
#popup .popup_left_foto{

}
#popup .popup_left_foto img{
    margin:7px;
    width:93px;
    border:1px solid #a2917a;
    overflow:hidden;
}
#popup .popup_left_under_foto{
    margin:-2px 7px 7px 7px;
    width:95px;
    height:96px;
    background:url(/images/community/popup-us-bg.png) no-repeat;
    text-align:center;
}
#popup .popup_left_under_foto img{
    margin:5px auto 2px 4px;
    float:left;
    width:27px;
    height:25px;
}
#popup .popup_left_under_foto b{
    width:90px;
    color:#644f3b;
    font-size:12px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#popup .popup_left_under_foto span{
    width:90px;
    color:#2e759e;
    font-size:20px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;

}
/* popup_right
-----------------------------------------------*/
#popup .popup_right{
    margin-left: 5px;
    width: 238px;
    height: 110px;
    float: left;
    border-left: 1px solid #e6ac5a;
}

#popup .popup_right h3{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: #15669A;
}

#popup .popup_right a.approve {
    background: url(/images/community/approve-btn.png);
    width: 65px;
    height: 29px;
    color:#fff; 
    line-height:29px;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 100;
    text-decoration: none;
    display: inline-block;
}

#popup .popup_right a.reject {
    background: url(/images/community/approve-btn.png);
    width: 65px;
    height: 29px;
    color:#fff; 
    line-height:29px;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 100;
    text-decoration: none;
    display: inline-block;
}

#popup .popup_right b{
    float:left;		
    color:#b31726;
    font-size:11px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}

#popup .popup_right_name{
    width:240px;
    height:16px;
    overflow:hidden;
    border-bottom:1px solid #e6ac5a;	
    background: url(/images/community/not-header.png) no-repeat;
    margin-bottom: 5px;
}

#popup .popup_right_name h3{	
    color:#fff;
    font-size:14px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%; 
    line-height: 10px;
    text-align: center;
}
/*----------------------------------------*/
#popup .popup_right_points{
    width:240px;
    height:25px;
    overflow:hidden;
    padding-top:8px;
    border-bottom:1px dashed #e6ac5a;	
}
#popup .popup_right_points h3{	
    margin:auto 5px auto 20px;
    color:#b31726;
    float:left;
    font-size:23px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#popup .popup_right_points h4{	
    color:#644f3b;
    font-size:14px;
    font-weight:400;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/*----------------------------------------*/
#popup .popup_right_speak{
    width:240px;
    height:70px;
    overflow:hidden;
    padding-top:3px;
    border-bottom:1px dashed #e6ac5a;	
}
#popup .popup_right_speak span{
    clear:both;	
    color:#644f3b;
    float:left;
    font-size:11px;
    line-height:1.2em;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/*----------------------------------------*/
#popup .popup_right_study{
    width:240px;
    height:70px;
    overflow:hidden;
    padding-top:3px;

}
#popup .popup_right_study span{
    clear:both;	
    color:#644f3b;
    float:left;
    font-size:11px;
    line-height:1.2em;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* popup_left
-----------------------------------------------*/
.popup_left{
    width:105px;
    height:220px;
    float:left;
}
.popup_left_foto{

}
.popup_left_foto img{
    margin:7px;
    width:93px;
    height:93px;
    border:1px solid #a2917a;
    overflow:hidden;
}
.popup_left_under_foto{
    margin:-2px 7px 7px 7px;
    width:95px;
    height:96px;
    background:url(/images/community/popup-us-bg.png) no-repeat;
    text-align:center;
}
.popup_left_under_foto img{
    margin:5px auto 2px 4px;
    float:left;
    width:27px;
    height:25px;
}
.popup_left_under_foto b{
    width:90px;
    color:#644f3b;
    font-size:12px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.popup_left_under_foto span{
    width:90px;
    color:#2e759e;
    font-size:20px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;

}
/* popup_right
-----------------------------------------------*/
.popup_right{
    margin-left:5px;
    width:240px;
    height:220px;
    float:left;

}
.popup_right b{
    float:left;		
    color:#b31726;
    font-size:11px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
.popup_right a{
    color:#b31726; position:relative;
    font-size:10px;
    line-height:1em;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
.popup_right_name{
    width:240px;
    height:25px;
    overflow:hidden;
    padding-top:8px;
    border-bottom:1px dashed #e6ac5a;	
}
.popup_right_name h3{	
    color:#2e759e;
    font-size:16px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/*----------------------------------------*/
.popup_right_points{
    width:240px;
    height:25px;
    overflow:hidden;
    padding-top:8px;
    border-bottom:1px dashed #e6ac5a;	
}
.popup_right_points h3{	
    margin:auto 5px auto 20px;
    color:#b31726;
    float:left;
    font-size:23px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.popup_right_points h4{	
    color:#644f3b;
    font-size:14px;
    font-weight:400;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/*----------------------------------------*/
.popup_right_speak{
    width:240px;
    height:70px;
    overflow:hidden;
    padding-top:3px;
    border-bottom:1px dashed #e6ac5a;	
}
.popup_right_speak span{
    clear:both;	
    color:#644f3b;
    float:left;
    font-size:11px;
    line-height:1.2em;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/*----------------------------------------*/
.popup_right_study{
    width:240px;
    height:70px;
    overflow:hidden;
    padding-top:3px;

}
.popup_right_study span{
    clear:both;	
    color:#644f3b;
    float:left;
    font-size:11px;
    line-height:1.2em;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}