<div class="conten-middle-top-blok">                    
    <div class="conten-middle-top-blok-search">
    </div>
</div><!-- #conten-middle-top-blok--> 

<div class="conten-middle-center"> 
    <div class="conten-middle-center-left">
        <div class="conten-middle-center-left-title">                    	
            <h2>Показать участников, говорящих на </h2>
            <div class="conten-middle-center-left-title-selector">
                <select name="user_know">
                    <option value="">Выберите язык...</option>
                    <?php foreach ($this->languages as $language) : ?>
                        <option value="<?= $language['system_languages_id'] ?>"><?= $language['name']; ?></option>
                    <?php endforeach; ?>                
                </select>
            </div>
        </div>                    
        <div class="conten-middle-center-left-cont" id="buble_left" > 
            <?= Lingua_View_Chat::chatRandomListRender($this->USERS->getUsers(0)); ?>

            <div class="popup" ><!-- popup-->
                <? //here is come popup ?>
            </div> <!-- popup end-->
        </div>                                     
    </div><!-- #conten-middle-center-left-->

    <div class="conten-middle-center-right">
        <div class="conten-middle-center-right-title">                    	
            <h2>Показать участников изучающих</h2>
            <div class="conten-middle-center-right-title-selector">
                <select name="user_learning">
                    <option value="">Выберите язык...</option>
                    <?php foreach ($this->languages as $language) : ?>
                        <option value="<?= $language['system_languages_id'] ?>"><?= $language['name']; ?></option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>                    
        <div class="conten-middle-center-right-cont" id="buble_right">   
            <?= Lingua_View_Chat::chatRandomListRender($this->USERS->getUsers(1)); ?>

            <div class="popup" ><!-- popup-->
                <? //here is come popup ?>
            </div> <!-- popup end-->
        </div>
    </div><!-- #conten-middle-center-right-->
</div> <!-- #conten-middle-center--> 
<?php $this->headScript()->prependFile('/js/lingua/chat.js'); ?>