<link rel="stylesheet" href="/js/jScroll/jScroll.css" type="text/css" media="screen, projection" />

<div class="conten-middle-top-blok">                    
    <div class="conten-middle-top-blok-search">                 	
    </div>
</div><!-- #conten-middle-top-blok--> 
<div class="conten-middle-center">          
    <div class="conten-middle-center-chat">
        <img src="/images/community/chatting-title-pic.png" alt="английский язык онлайн"/>
        <div class="conten-middle-center-chat-left"><!-- #conten-middle-center-left--> 
            <!----------------------------------------------------------------------------------------------------------->
            <div class="conten-middle-center-chat-left-1block">
                <div class="conten-middle-center-chat-left-1block-rgt-foto"><!-- #blok sobesednika-->
                    <div class="conten-middle-center-chat-left-1block-rgt-foto-av">
                        <center>
                            <p class="online_state">
                                <?= $this->interlocutor->status == "NOTAVALIABLE" ? 'n/a' : 'a/v' ?>
                            </p>
                        </center>
                    </div>                   
                    <a href="#"><img src="/images/community/chat-block-friend-icon.png" title="Блокировать пользователя" alt="английский язык онлайн"/></a>
                    <span><img src="<?= Lingua_Storage_User::getUrl(Lingua_Auth::getLinguaId(), 95, 95) ?>" alt="английский язык онлайн"/></span>
                </div>
                <div class="conten-middle-center-chat-left-1block-name"><p><?= $this->interlocutor->person ?></p></div>
                <?php
                $array = array();
                foreach ($this->know as $know) {
                    $array[] = $know['language_name'];
                }
                ?>
                <span><nobr>Владеет: <?= join(',', $array); ?></nobr></span><br/>
                <?php
                $array = array();
                foreach ($this->learning as $learning) {
                    $array[] = $learning['language_name'];
                }
                ?>
                <span><nobr>Изучается: <?= join(',', $array); ?></nobr></span>                                                           
            </div> <!-- #blok sobesednika end-->
            <!----------------------------------------------------------------------------------------------------------->
            <div class="conten-middle-center-chat-left-msg-zone"><!-- #blok chata gde idet perepiska-->
                <div class="conten-middle-center-chat-left-msg-zone-txt">
                    <div id="scroll1">
                        <div id="scrollcontent">  

                        </div>
                    </div>  <!-- #blok chata gde idet perepiska end-->
                </div>
            </div>
            <!----------------------------------------------------------------------------------------------------------->                     		
            <div class="conten-middle-center-chat-left-msg-wrt-panel"><!-- #blok panel chata instrumneti  -->
                <div class="conten-middle-center-chat-left-msg-wrt-panel-txtinp">
                    <input type="text" size="135" id="msg" name="msg" />
                </div>
                <div class="conten-middle-center-chat-left-msg-wrt-panel-instrum">
                    <img src="/images/community/chatting-txt-style-but-icon.png" id="Т_img" alt="английский язык онлайн"/>
                    <img src="/images/community/chatting-txt-smile-but-icon.png" id="smilik_img" alt="английский язык онлайн"/>                                    
                    <input type="button" onClick="CHAT_ROOM.switchSound()" id="ITA" value="" />        
                    <div class="conten-middle-center-chat-left-msg-wrt-panel-instrum-right">
                        <img class="offline-state" src="/images/community/chat-set-status-offline-icon.png" alt="английский язык онлайн"/>
                        <img class="line" src="/images/community/chat-set-status-line-icon.png" style="margin:7px auto auto 3px;" alt="английский язык онлайн"/>
                        <img class="trackbar" src="/images/community/chat-set-status-line-trackbar-icon.png" style="margin:5px 5px auto -5px; left: -10000px; position: absolute" alt="английский язык онлайн"/>
                        <img class="online-state" src="/images/community/chat-set-status-online-icon.png" style="margin-left: 4px" alt="английский язык онлайн"/>  
                        <input type="button" value="" name="send" />                             
                    </div>
                </div>
                <div class="conten-middle-center-chat-left-fstyle-dd" id="div_drobТ">
                    <ul>
                        <li style="font-weight:700;"><a href="#" class="link_bold">Bold</a></li>
                        <li style="font-style:italic;"><a href="#" class="link_italic">Italic</a></li>
                        <li style="text-decoration:underline;"><a href="#" class="link_underline">Underline</a></li>
                    </ul>
                </div>
                <div class="conten-middle-center-chat-left-smilik-dd" id="div_drob-smil">
                    <?php foreach ($this->smiles as $name => $smile) : ?>
                        <a href="#"><img src="/images/community/smiles/<?= $smile ?>" title="<?= $name ?>" class="smile" alt="английский язык онлайн"/></a>
                    <?php endforeach; ?>
                </div>
            </div><!-- #blok panel chata instrumneti end -->
            <!------------------------------------------------------------------------------------------------------------------->
            <div class="conten-middle-center-chat-left-3block-name">
                <p><?= $this->me->person ?></p>
            </div>
        </div><!-- #conten-middle-center-left end-->

        <div class="conten-middle-center-chat-right"><!-- #conten-middle-center-right--> 
            <h2 class="header">Быстрый перевод</h2>
            <div class="conten-middle-center-chat-right-googblok">
                <div style="margin:0 ; padding: 0 5px 0 0;" align="right">
                    <span>Кол.-во доступных символов</span> <span id="charLeft">70</span>
                </div>
                <textarea name="src_word" class="src_word" rows="2" cols="21"></textarea>
                <div style="margin:0; padding: 0;" align="center">
                    <span>с </span><a href="#" id="src" class="lang">выберите язык</a> - <span>на </span><a href="#" id="trg" class="lang">выберите язык</a>
                </div>

                <div id="languages" align="center">
                    <?php foreach ($this->flags as $name => $flag): ?>
                        <img src="/images/resources/<?= $flag ?>" title="<?= $name ?>" short="<?= $this->short[$name] ?>" alt="английский язык онлайн"/>
                    <?php endforeach ?>
                </div>
                <input type="button" value="перевести" id="translate" style="display: none;" />

                <div id="trg_text" align="center">

                </div>
            </div>
            <div class="conten-middle-center-chat-right-scenar">
                <h4>Сценарии разговоров</h4>
                <img src="/images/community/open-scenari-icon.png" style="margin:16px auto auto 10px;cursor:pointer;" id="scen_img" alt="английский язык онлайн"/>
                <div class="conten-middle-center-chat-right-scenar-block-dd" id="div_drob">
                    <select name="scena_lang">
                        <?php foreach ($this->languages as $languages) : ?>
                            <option value="<?= $languages['system_languages_id']; ?>"><?= $languages['name']; ?></option>
                        <?php endforeach; ?>
                    </select>

                    <select name="scena_fraza">
                        <?php foreach ($this->phrases as $phrase) : ?>
                            <option value="2"><?= $phrase['phrase']; ?></option>
                        <?php endforeach; ?>
                    </select>
                    <div class="conten-middle-center-chat-right-scenar-block-dd-txt">
                        <p>Имя:<span>Фраза</span></p>
                        <p>Имя2:<span>Фраза 2</span></p>
                        <p>Имя:<span>Фраза</span></p>
                        <p>Имя2:<span>Фраза2</span></p>
                        <p>Имя:<span>Фраза</span></p>                                  
                    </div>
                </div>
            </div>
        </div><!-- #conten-middle-center-right end-->
    </div>
</div> <!-- #conten-middle-center--> 
<div id="sound" style="position: absolute; left: -1000000px;"></div>

<div id="jpId" style="display: none; left: -10000; position: absolute; z-index: none;"></div>

<?php $this->headScript('myscript')->prependFile('/js/jquery.uniform.js'); ?>
<?php $this->headScript()->prependFile('/js/lingua/chat-room.js'); ?>
<?php $this->headScript()->prependFile('/js/jScroll/jScroll.js'); ?>
<?php $this->headScript()->prependFile('/js/jScroll/mousewheel.js'); ?>
<?php $this->headScript()->prependFile('/js/mp3player/swfobject/swfobject.js'); ?>

<?php $this->placeholder('myscript')->captureStart(); ?>
<script type="text/javascript"> 
    $(document).ready(function(){
        CHAT_ROOM.run(<?= $this->chat ?>, '<?= $this->key ?>', <?= Lingua_Auth::getLinguaId() ?>);
        NOTIFICATION.stop(); 
    });
</script> 
<?php $this->placeholder('myscript')->captureEnd(); ?>