<?php 
    $udata = $this->USERS->getUsers(1);
    Daz_Debug::dump($this->USERS);
?>
<ul>
    <?php foreach($udata as $u): 
      $obj = new Lingua_Object($u);
        ?>
    <li>
        <span>
            <a href="#">
                <img src="/images/community/user-found-photo.png" alt="английский язык онлайн" class="trigger" />
            </a>
        </span>
        <h2>
            <a href="/user/<?= $obj->lingua_id ?>"><?= $obj->person ?></a>
        </h2>
        <p>
            <?= $obj->country ?>
        </p>
        <a href="#">
            Общайтесь сейчас »
        </a>
    </li>
    
    <?php endforeach; ?>
</ul>