<?php $records = $this->SEARCH_FROM->getRecords(); ?>

<div class="conten-middle-center-right">                	              
    <div class="conten-middle-center-right-cont">                  
        <div class="conten-middle-center-right-search-res">
            <h3>Найдено: <?= $this->SEARCH_FROM->getRecordsCount() ?></h3>
            <?= Lingua_View_Chat::chatFoundListRender($records) ?>
        </div>
        <div class="conten-middle-center-right-search-res-pager" align="center">
            <a href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">></a>
        </div>                                   
    </div>
</div><!-- #conten-middle-center-right-->