<div class="conten-middle-top-blok">                    
    <div class="conten-middle-top-blok-search">                 	
    </div>
</div><!-- #conten-middle-top-blok--> 
<div class="conten-middle-center"> 
    <div class="conten-middle-center-left">
        <div class="conten-middle-center-left-title">                    	
            <h2>Показать участников, говорящих на </h2>
            <div class="conten-middle-center-left-title-selector">
                <select>
                    <option value="">Выберите язык...</option>
                    <option value="1">Английский</option>
                    <option value="2">Испанский</option>
                    <option value="3">Немецкий</option>
                    <option value="4">Французский</option>
                    <option value="5">Итальяснкий</option>                        
                </select>
            </div>
        </div>                    
        <div class="conten-middle-center-left-cont"  id="buble_right" style="width: 950px;"> 
            <?= Lingua_View_Chat::chatFriendsListRender($this->friends_list); ?>

            <div class="popup" ><!-- popup-->
                <? //here is come popup ?>
            </div> <!-- popup end-->
        </div>                                     
    </div><!-- #conten-middle-center-left-->
</div> <!-- #conten-middle-center--> 
<?php $this->headScript()->prependFile('/js/lingua/chat.js'); ?>