<?php foreach ($this->messages as $message): ?>
<p><a href="/user/<?= $message['lingua_id'] ?>" target="_blank">
    <?= $message['nickname'] ?></a>:&nbsp;
        <?php
            $msg = $message['message'];            
            echo $msg;
        ?>
    </p><i style="font-size: 10px; float: right"><?= $message['create_ts']; ?></i>
<?php endforeach; ?>