<?php

//invate to chat
if ($this->notification->notification_type_id == 1)
    echo Lingua_View_Chat::chatGetInviteView($this->sender_lingua_id, $this->chat_id, $this->notification->user_notofication);
if ($this->notification->notification_type_id == 2)
    echo Lingua_View_Chat::fiendRequestGetInviteView($this->sender_lingua_id, $this->notification->user_notofication);
/*if ($this->notification->notification_type_id == 3) {
    echo Lingua_View_Chat::fiendRequestAcceptedGetView($this->sender_lingua_id, $this->notification->user_notofication);
    ?>
    <script>
        $('a.close_notification').click(function(e){
            e.preventDefault();        
            $.post('/community/community/notification-close/notification/' + this.id, function(data) {
                getNitification();
            });
        });
    </script>
<?php
}

if ($this->notification->notification_type_id == 4){
    echo Lingua_View_Chat::friendRemoveGetView($this->sender_lingua_id, $this->notification->user_notofication);
?>
    <script>
        $('a.close_notification').click(function(e){
            e.preventDefault();        
            $.post('/community/community/notification-close/notification/' + this.id, function(data) {
                getNitification();
            });
        });
    </script>
<? */ ?>