<link rel="stylesheet" href="/css/community/friends-search.css" type="text/css" media="screen, projection"/>
<div class="conten-middle-top-blok">
    <div class="conten-middle-top-blok-search">
    </div>
</div><!-- #conten-middle-top-blok-->

<div class="conten-middle-center">
    <div class="conten-middle-center-left">
        <div class="conten-middle-center-left-cont">
            <div class="conten-middle-center-left-cont-form-filter" style="display: none;">
                <form method="post" id="user_search" name="user_search" action="/search">

                    <?= $this->formText("name", empty($this->name) ? "имя, фамилия или никнейм" : $this->name, array('size' => 35, 'class' => 'username off')); ?>

                    <b style="margin-top:10px;">Возраст</b><br/>

                    <?= $this->formText("age_from", empty($this->age_from) ? "от" : $this->age_from, array('size' => 12, 'class' => 'agefrom off')); ?>
                    <?= $this->formText("age_to", empty($this->age_to) ? "до" : $this->age_to, array('size' => 12, 'class' => 'ageto off')); ?>

                    <?php //text boxes for learning and speaking languages ?>
                    <?= $this->formSelect("learning_lang", $this->learning_lang, null, $this->languages_learning); ?>
                    <?= $this->formSelect("know_lang", $this->know_lang, null, $this->languages_know); ?>

                    <?php /* $this->formSelect("lvl", "lvl", null, $this->lvls); */ ?>
                    <b>Выберите пол</b><br/>
                    <?= $this->formRadio('gender', $this->gender, array('class' => 'gender'), array('all' => 'Любой', 'man' => 'М.', 'woman' => 'Ж.'), ''); ?>
                    <?= $this->formSubmit('find', ''); ?>
                </form>
            </div>
        </div>
    </div>
    <!-- #conten-middle-center-left-->

    <?php $records = $this->SEARCH_FROM->getRecords(); ?>

    <div class="conten-middle-center-right">
        <div class="conten-middle-center-right-cont">
            <div class="conten-middle-center-right-search-res">
                <h3>Найдено: <?= $count = $this->SEARCH_FROM->getRecordsCount() ?></h3>
                <?= Lingua_View_Chat::chatFoundListRender($records) ?>
            </div>
            <div class="conten-middle-center-right-search-res-pager" align="center">
                <?php if ($count > 5) $ncount = 5; ?>

                <?php if ($this->page >= 3) : ?>
                <a class="off" onclick="return false;" href="/search?pnum=<?= ($this->page); ?>"
                   alt="<?= ($this->page - 1); ?>"><</a>
                <?php endif; ?>

                <?php
                $start = $this->page > 0 ? $this->page : 0;
                $end = $start;

                if ($start >= 3) {
                    $start = $this->page - 2;
                    $end = $this->page + 3;
                } else {
                    $start = 0;
                    $end = 5;
                }

                if ($end >= (int)($count / 21)) {
                    $end = (int)($count / 21);
                    $start = $end - 5;
                }

                if ((int)($count / 21) == 0) {
                    $start = 0;
                    $end = 0;
                }

                if ((int)($count / 21) <= 5) {
                    $start = 0;
                    $end = (int)($count / 21) + 1;
                }

                ?>
                <?php for ($i = $start; $i < $end; $i++) : ?>
                <?php if ($i == $this->page) $class = 'on'; else $class = 'off'; ?>
                <a class="<?= $class ?>" onclick="return false;" href="/search?pnum=<?= ($i + 1); ?>"
                   alt="<?= ($i + 1) ?>"><?= ($i + 1) ?></a>
                <?php endfor; ?>
                <?php if ((int)($count / 21) > $this->page + 2) : ?>
                <a class="off" onclick="return false;" href="/search?pnum=<?= ($this->page + 2); ?>"
                   alt="<?= ($this->page + 2) ?>">></a>
                <?php endif; ?>

            </div>
        </div>
    </div>
    <!-- #conten-middle-center-right-->
</div> <!-- #conten-middle-center-->

<?php $this->headScript('myscript')->prependFile('/js/jquery.uniform.js'); ?>
<?php $this->placeholder('myscript')->captureStart(); ?>
<script>
    $(document).ready(function () {
        $("select").uniform();
        $('div.conten-middle-center-left-cont-form-filter').fadeIn('slow');

        $('input[type="text"]').each(function (i, e) {
            $(e).focus(function () {
                $(this).removeClass('off');
                $(this).addClass('on');
            }).blur(function () {
                    $(this).removeClass('on');
                    $(this).addClass('off');
                });
        });

        $('.username').focus(function () {
            if ($(this).val() == 'имя, фамилия или никнейм') {
                $(this).val('');
            }
        }).blur(function () {
                if ($(this).val() == '') {
                    $(this).val('имя, фамилия или никнейм');
                }
            });

        $('.ageto').focus(function () {
            if ($(this).val() == 'до') {
                $(this).val('');
            }
        }).blur(function () {
                if ($(this).val() == '') {
                    $(this).val('до');
                }
            });

        $('.agefrom').focus(function () {
            if ($(this).val() == 'от') {
                $(this).val('');
            }
        }).blur(function () {
                if ($(this).val() == '') {
                    $(this).val('от');
                }
            });

        $('div.conten-middle-center-right-search-res-pager a').each(function (i, e) {
            $(e).click(function (event) {
                event.preventDefault();
                $.post('/search-page', {
                    page:$(this).attr('alt')
                }, function () {
                    window.location.href = '/search';
                });
            });
        });
    });
</script>
<?php
$this->placeholder('myscript')->captureEnd();
;
?>