* {
	margin: 0px;
	padding: 0px;
}
html { height:100%; }
body {
	margin: 0px;
	padding: 49px 0px 0px;
	background: #fff url(/images/default/files/bg_body.gif) repeat-x top;
	font-family: Arial, Helvetica, sans-serif;
}
.container {
	width: 758px;
	margin: auto;
	overflow: hidden;
}
.header { }
.last_name {
	font-size: 40px;
	color: #000;
	background: #eee;
	margin: auto auto 31px;
	width: 600px;
	text-align: center;
	padding: 15px;
	border-radius: 2px;
	-moz-border-radius:  2px;
	-webkit-border-radius:  2px;
}
.confirmation {
	font-size: 17px;
	color: #000;
	background: #fff;
	width: 940px;
	text-align: left;
	padding: 15px;
	border-radius: 2px;
	-moz-border-radius:  2px;
	-webkit-border-radius:  2px;
}
.course_title {
	background: #000;
	margin: auto;
	width: 602px;
	font-size: 45px;
	color: #fff;
	padding: 13px 0px 2px 19px;
	text-transform: uppercase;
	line-height: 45px;
	position: relative;
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	letter-spacing: 1px;
}
.course_title2 {
	background: #fff;
	margin: 0px 0px 20px 00px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: bold;
	color: #d80e0b;
	padding: 15px 12px 15px 12px;
	line-height: 25px;
	letter-spacing: 0px;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
}
.course_title_up {
	background: #fff;
	margin: 0px 0px 20px 00px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 27px;
	font-weight: bold;
	color: #d80e0b;
	padding: 22px 12px 15px 12px;
	line-height: 31px;
	letter-spacing: 0px;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
}
.course_title3 {
	background: #F8F8F8;
	margin: 0px 0px 10px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: bold;
	color: #d80e0b;
	padding: 10px 12px 12px 12px;
	line-height: 25px;
	letter-spacing: 0px;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
}
.course_title4 {
	background: #fff;
	margin: 0px 0px 15px 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 27px;
	font-weight: bold;
	width: 682px;
	color: #d80e0b;
	padding: 10px 12px 12px 12px;
	line-height: 35px;
	letter-spacing: -1px;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
}
.course_title5 {
	background: #fff;
	margin: 0px 0px 10px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: bold;
	color: #000;
	padding: 5px 5px 5px 5px;
	line-height: 33px;
	letter-spacing: 0px;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
}
.course_title6 {
	margin: 100px 0px 10px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 33px;
	font-weight: bold;
	color: #000;
	padding: 5px 5px 5px 5px;
	line-height: 33px;
	letter-spacing: 0px;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
}

.button_pay {
	margin: 10px 0px 30px 0px;
}
.button_pay_2 {
	margin: 10px 0px 60px 0px;
}
.prices_new {
	margin: 20px 0px 10px 0px;
}
.price_2 {
	margin: 0px 0px 22px 0px;
	font-size: 37px;
	font-weight: bold;
	color: #4e7a2e;
}
.button_platinum {
	margin: 10px 0px 10px 0px;
}
.button_gold {
	margin: 0px 0px 60px 0px;
}
.bonus_discs {
	margin: 30px 0px 10px 0px;
}
.bonus_list {
	margin: 25px 0px 10px 220px;
	list-style-type: none;
	font-size: 17px;
	line-height: 1.5em;
}
.desc {
	    margin: 7px 3px;

}
.desc div {
        float: left;
        font-family: Arial;
        width: 70px;
        margin-right: 65px;
		margin-bottom: 30px;
        font-size: 13px;
        font-weight: bold;
        color: #000;
}
.cntSeparator {
        font-size: 54px;
        margin: 0px 7px;
        color: #000;
}
.num {
	background: url(/images/default/files/num.jpg) no-repeat;
	height: 101px;
	width: 109px;
	position: absolute;
	top: -23px;
	right: 0px;
}
.course_desc {
	background: url(/images/default/files/convers.gif) no-repeat left top;
	height: 24px;
	width: 233px;
	margin: 25px 0px -19px 54px;
	position: relative;
	z-index: 2;
}
.bg_player {
	background: url(/images/default/files/bg_player.gif) no-repeat center top;
	padding: 10px 0px 0px;
}
.b_player {
	border-top: 6px solid #000;
	border-right: 15px solid #000;
	border-bottom: 16px solid #000;
	border-left: 15px solid #000;
	width: 728px;
	height: 540px;
	margin: 0px 0px 27px;
	border-radius: 0px 0px 4px 4px;
	-moz-border-radius:  0px 0px 4px 4px;
	-webkit-border-radius:  0px 0px 4px 4px;
}
.b_player img { margin: 157px 0px 0px 266px; }

.bg_player2 {
	padding: 10px 0px 0px;
}
.b_player2 {
	border-top: 10px solid #000;
	border-right: 10px solid #000;
	border-bottom: 10px solid #000;
	border-left: 10px solid #000;
	width: 682px;
	height: 510px;
	margin: 0px 0px 15px 28px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius:  5px 5px 5px 5px;
	-webkit-border-radius:  5px 5px 5px 5px;
}
.b_player2 img { margin: 157px 0px 0px 266px; }


.course_standart, .course_gold {
	height: 84px;
	width: 232px;
	background: url(/images/default/files/bg_course.gif) repeat-x left top;
	text-align: center;
	float: left;
	border: 1px solid #b7b7b7;
	padding: 12px 0px 0px;
	border-radius: 6px;
 -moz-border-radius 6px;
	-webkit-border-radius: 6px;
	box-shadow: 0px 0px 3px #b7b7b7;
	-moz-box-shadow: 0px 0px 3px #b7b7b7;
	-webkit-box-shadow: 0px 0px 3px #b7b7b7;
}
.course_standart { margin: 0px 32px 0px 128px; }
.course_gold { margin: 0px 0px 26px; }
.title_standart, .title_gold {
	margin-top: -3px;
	font-size: 29px;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	line-height: 45px;
	text-transform: uppercase;
}
.title_standart { color: #434343; }
.title_gold { color: #f2be09; }


.course_standart2 {
	height: 84px;
	width: 380px;
	text-align: center;
	float: left;
}

.course_gold2 {
	height: 84px;
	width: 220px;
	text-align: center;
	float: left;
}

.course_standart2 {
	margin: 0px 30px 0px 50px;
}

.course_gold2 {
	margin: 0px 0px 60px;
}





.price { font-size: 27px; }
.price_old { font-size: 21px; text-decoration: line-through; color: #565656; }
#btn_standart, #btn_gold {
	background: url(/images/default/files/pay.gif) no-repeat;
	height: 34px;
	width: 205px;
	margin: 5px 0px 0px;
	border-style: none;
	cursor: pointer;
	opacity:0.4;
filter:alpha(opacity=40);
}
.b_pre_reg {
	clear: both;
	margin: auto auto 60px;
	height: 260px;
	width: 390px;
	border: 1px solid #adadad;
	padding: 20px 0px 0px 22px;
	border-radius: 6px;
 -moz-border-radius 6px;
	-webkit-border-radius: 6px;
	box-shadow: 0px 0px 6px #adadad;
	-moz-box-shadow: 0px 0px 6px #adadad;
	-webkit-box-shadow: 0px 0px 6px #adadad;
}
.title_pre_reg {
	font-size: 31px;
	color: #e13324;
	margin: 0px 0px 18px 4px;
}
.b_pre_reg label {
	font-size: 15px;
	color: #717171;
	margin: 0px 0px 0px 4px;
}
.e_mail_out, .first_name_out {
	height: 38px;
	width: 360px;
	background: #ddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:  5px;
	margin: 1px 0px 5px 1px;
}
#e_mail, #first_name {
	background: #fff;
	border: 1px solid #a3a3a3;
	height: 30px;
	width: 346px;
	margin: 3px 0px 0px 3px;
	border-radius: 2px;
	-moz-border-radius:  2px;
	-webkit-border-radius:  2px;
	font-size: 16px;
	color: #717171;
	padding: 0px 3px;
}
#btn_write {
	background: url(/images/default/files/btn_write.gif) no-repeat;
	margin: 10px 0px 20px 0px;
	height: 62px;
	width: 363px;
	border-style: none;
	cursor: pointer;
}
.footer_out { background: #000; }
.footer_in {
	text-align: center;
	margin: auto;
	width: 758px;
	font-size: 11px;
	color: #fff;
	padding: 23px 0px 19px;
}
.footer_in a:link, .footer_in a:hover, .footer_in a:visited, .footer_in a:focus {
	font-size: 11px;
	line-height: 17px;
	font-weight: bold;
	color: #ee593e;
	text-decoration: underline;
}
a img { border: none; }

.sbm {
    cursor: pointer;
}