﻿<!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title><?= $this->title ?></title>
        <meta name="keywords" content="<?= $this->keyword ?>" />
        <meta name="description" content="<?= $this->desc ?>" />
        <meta name="robots" content="index, follow" />
        <?php $this->headLink()->appendStylesheet('/css/default/main/main.css'); ?>
        <?= $this->headLink(); ?>
        <link rel="stylesheet" href="/css/training/all/training.css" type="text/css" media="screen, projection" />
        
    <!--[if IE 6]><script type="text/javascript">location.replace("http://diy.by/ie6/ie6.php");</script><![endif]-->
        <!--[if IE 7]><script type="text/javascript">location.replace("http://diy.by/ie6/ie6.php");</script><![endif]-->
        <script type="text/javascript" src="/js/jquery-1.1.7.js"></script>

    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div class="header_menu1">
                    <ul>
                        <li>
                            <a href="#" onclick="return false;" id="login_link">Вход</a>
                            <img src="/images/default/main/menu-vert-line.png" alt="английский онлайн" />

                            <div id="content-login-popup">
                                <div class="wrapper" align="center">
                                    <span class="login_error">Вход в систему</span>
                                    <input class="bg" type="text" id="login_email" name="email" size="25" value="Email" />            
                                    <span class="login_pass_container">
                                        <input type="text" name="pass" size="25" value="Пароль" id="login_pass" />
                                    </span>  

                                    <div>
                                        <input type="submit" name="register" id="send_login" value="Войти" />
                                        <a href="/passwd-remember" onclick="return false;" class="passwd-remember">забыли пароль?</a> 
                                        <p class="login_loading"></p>
                                    </div>
                                </div>
                            </div>

                            <div id="content-remember-popup" align="center">
                                <div style="margin: 50px 0 0 10px;">
                                    <span class="login_error">Для напоминания пароля, введите E-mail, на который вы регистрировались</span>   
                                    <input class="bg" type="text" id="remember_email" name="" size="25" value="Email" />

                                    <input type="submit" name="register" id="send_remember_login" value="Напомнить" />
                                    <a href="#" class="login_again" click="return false;" name="login_again">Войти</a>

                                    <p class="login_loading"></p>
                                </div>
                            </div>
                        </li>
                        <li><a href="/#regform" >Регистрация</a>
                            <img src="/images/default/main/menu-vert-line.png" alt="английский онлайн" />
                        </li>
                        <li><a href="/about">О школе</a>
                            <img src="/images/default/main/menu-vert-line.png" alt="английский онлайн" />
                        </li>
                        <li><a href="/reviews">Отзывы</a>
                             <img src="/images/default/main/menu-vert-line.png" alt="английский онлайн" />
                        </li>
                        <li>
                            <a href="/teachers">Преподаватели</a>
                            <img src="/images/default/main/menu-vert-line.png" alt="английский онлайн" />
                        </li>
                        <li><a href="http://blog.langwee.com/?page_id=75">Статьи</a>
                           
                        </li>
                    </ul>
                </div><!-- #header-menu1-left-->
            </div><!-- #header-->
            <div id="content">    	
                <div class="conten-middle">          	
                    <div class="conten-middle-presentn-txt">
                        <a href="/resources">главная</a>
                    </div>
                    <div class="conten-middle-lang">               
                    </div>         
                    <?= $this->layout()->content; ?>     
                </div><!-- #conten-middle-->
            </div><!-- #content-->

            <?= Lingua_View_Misc::footerViewRender(); ?>  
        </div><!-- #wrapper -->
        
        <?php $this->headScript()->prependFile('/js/lingua/default.js'); ?>
        <?php $this->headScript()->prependFile('/js/jquery-1.1.7.js'); ?>


        <?= $this->headScript(); ?>
        
        <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?49"></script>
        <script type="text/javascript" src="//connect.facebook.net/en_US/all.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('div.conten-middle-center div.conten-middle-center-cont a').each(function(index, element){
                    $(element).click(function(e){
                        $.post('/' + $(this).attr('trg'), function(data) {
                            $("div.conten-middle-center-cont").html(data);
                        });
                    });
                });
                
                if(document.domain.search('linguastars.ru') != -1) {
                    //vk like!
                    VK.init({apiId: 2915035, onlyWidgets: true});
                    
                    //fb like!
                    (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                }
                else {
                    VK.init({apiId: 2915025, onlyWidgets: true});
                    
                    (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                }
                
                VK.Widgets.Like("vk_like", {type: "mini"});
            });
        </script>
        
        
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter14186416 = new Ya.Metrika({id:14186416, enableAll: true, webvisor:true});
                    } catch(e) {}
                });

                var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
            
            $('#login_link').click(function(e) {
            
                //login button positions
                if($login_win.height() == 0) {
                    $login_win.css({
                        height: 200, 
                        display: 'none'
                    }).slideToggle();
                }else {
                    $login_win.slideToggle('normal');
                }
            });
            
            //ajax call to log in
        $('#send_login').click(function(e) {
            var $login_error = $('.login_error');
            $.post('/login', 
            {
                login_email: $('#login_email').val(), 
                login_pass: $('#login_new_passwd_field').val()            
            } ,function(data) {
                if(data.result == 'fail') {
                    $login_error.animate({
                        opacity: 0
                    }, 'slow', function() {
                        $login_error.html(data.message);
                        $login_error.animate({
                            opacity: 100
                        }, 'slow');
                    });
                }
                else if(data.result == 'success') {
                    $login_error.animate({
                        opacity: 0
                    }, 'slow', function() {
                        $login_error.css({
                            color: 'green'
                        });
                        $login_error.html(data.message);
                        $login_error.animate({
                            opacity: 100
                        }, 'slow');
                    });
                    
                    window.location.href = data.redirect;
                }
            }, "json");
        });
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/14186416" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    </body>
</html>
