<?php Lingua_Auth::rejectUnlessAuth(); ?>
<?= $this->doctype(); ?>
<html xmlns="www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link type="text/css" href="/css/admin/layout.css" rel="stylesheet" />
        <?php echo $this->placeholder('mycss'); ?>
        <title><?= isset($this->title) ? $this->title : 'Untitled'; ?></title>
    </head>

    <body>
        <table cellpadding="0" cellspacing="0" style="width: 100%; padding: 0; margin: 0;" border="1">
            <tr>
                <td colspan="3">
                    <div id="x_head">
                        <?php $u = Lingua_Auth::getUser(); ?>
                        <div class="title"><?= isset($this->title) ? $this->title : 'Untitled'; ?></div>
                        <div class="info">
                            <ul>
                                <li><?= $u->role_name ?></li>
                                <li><span class="sep"></span></li>
                                <li><?= $u->firstname . ' ' . $u->surname; ?> "<?= $u->login ?>"</li>
                                <li><span class="sep"></span></li>
                                <li><a href="/admin/logout" class="logout">Logout</a></li>
                            </ul>               
                        </div>
                    </div>
                </td>
            </tr>
            <tr valign="top">
                <td style="width: 250px; background-color: #F8F8F8"> 
                    <div id="x_left">
                        <?= Lingua_View_Sidebar::render(); ?>
                    </div>
                </td>
                <td>
                    <div id="x_content">
                        <?= $this->layout()->content; ?>
                    </div>
                </td>
                <td id="filter">
                    <div id="x_right"><?= $this->placeholder('filter'); ?></div>
                </td>
            </tr>
        </table> 
        <?php $this->headScript()->prependFile('/js/tiny_mce/jquery.tinymce.js'); ?>
        <?php $this->headScript()->prependFile('/js/jquery-1.1.7.js'); ?>
        <?php echo $this->headScript(); ?>
        <?php echo $this->placeholder('myscript'); ?>
    </body>
</html>