<!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Langwee: Сообщество</title>
<meta name="keywords" content="английский язык онлайн, английский онлайн, английский, язык, уроки, изучение, обучение, курсы, английский бесплатно, уроки английского,произношение,тест,немецкий, испанский, французский, итальянский" />
<meta name="description" content="Langwee – изучай иностранные языки бесплатно онлайн!Доступны для одновременного изучения:английский язык онлайн,немецкий язык,французский,испанский,итальянский.Революционные методики обучения,увлекательные тренинги,курсы,дающие гарантированный результат." />
<meta name="robots" content="index, follow" />
<?php $this->headLink()->appendStylesheet('/css/community/chatting.css'); ?>
<?php $this->headLink()->appendStylesheet('/css/community/community.css'); ?>
<?php $this->headLink()->appendStylesheet('/css/global/global.css'); ?>
<?= $this->headLink(); ?>

<!--[if IE 6]><script type="text/javascript">location.replace("http://diy.by/ie6/ie6.php");</script><![endif]-->
<!--[if IE 7]><script type="text/javascript">location.replace("http://diy.by/ie6/ie6.php");</script><![endif]-->
<script type="text/javascript" src="/js/jquery-1.1.7.js"></script>
<script type="text/javascript" src="/js/lingua/langwee.js"></script>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div class="header_menu1">
      <?= Lingua_View_Misc::getLeftTopView(); ?>
    </div>
    <!-- #header-menu1-left-->
    <div class="header_menu2">
      <?= Lingua_View_Misc::getRightTopView(); ?>
      <?php include_once 'notification.phtml'; ?>
    </div>
    <!-- #header-menu2-right--> 
    
  </div>
  <!-- #header-->
  
  <div id="content">
    <?= Lingua_View_Misc::getNickNameView(); ?>
    <div class="conten-middle">
      <div class="conten-middle-presentn-txt"> <a href="#">Главная</a> </div>
      <h2>
        <?= $this->title ?>
      </h2>
      <?= $this->layout()->content; ?>
    </div>
    <!-- #conten-middle--> 
  </div>
  <!-- #content-->
  
  <?= Lingua_View_Misc::footerViewRender(); ?>
</div>
<!-- #wrapper -->

<?php $this->headScript()->prependFile('/js/jquery-1.1.7.js'); ?>
<?= $this->headScript(); ?>
<?= $this->placeholder('myscript'); ?>
<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?49"></script> 
<script type="text/javascript">
            $(document).ready(function(){
                if(document.domain.search('linguastars.ru') != -1) {
                    VK.init({apiId: 2915035, onlyWidgets: true});
                }
                else {
                    VK.init({apiId: 2915025, onlyWidgets: true});
                }
                
                VK.Widgets.Like("vk_like", {type: "mini"});
                LANGWEE.run();
            });
            
            function search_form() {
                document.search1.searching.value ="";
            }

            function search_unform() {	
                if(document.search1.searching.value =="") {
                    document.search1.searching.value ="поиск по сайту";
                }
            }
        </script> 
<script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter14186416 = new Ya.Metrika({id:14186416, enableAll: true, webvisor:true});
                    } catch(e) {}
                });

                var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
<noscript>
<div><img src="//mc.yandex.ru/watch/14186416" style="position:absolute; left:-9999px;" alt="английский онлайн" /></div>
</noscript>
</body>
</html>