﻿<!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Langwee: Главная</title>  
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />              
        <meta name="keywords" content="английский язык онлайн, английский онлайн, английский, язык, уроки, изучение, обучение, курсы, английский бесплатно, уроки английского,произношение,тест,немецкий, испанский, французский, итальянский" />
        <meta name="description" content="Langwee – изучай иностранные языки бесплатно онлайн!Доступны для одновременного изучения:английский язык онлайн,немецкий язык,французский,испанский,итальянский.Революционные методики обучения,увлекательные тренинги,курсы,дающие гарантированный результат." />
        <meta name="google-site-verification" content="EIY84GczlP-1Zr_WIr4u_CS73GDmSODJyfGZuwTXY2Q" />
        <meta name="author" content="Serj Pereverzev и Dima Borisov" />
        <meta name="robots" content="index, follow" />
        <link rel="shortcut icon" href="/images/community/icon.png" />

        <?php $this->headLink()->appendStylesheet('/css/default/main/main.css'); ?>
        <?= $this->headLink(); ?>
<!--[if IE 6]><script type="text/javascript">location.replace("http://diy.by/ie6/ie6.php");</script><![endif]-->
<!--[if IE 7]><script type="text/javascript">location.replace("http://diy.by/ie6/ie6.php");</script><![endif]-->

    </head>

    <body>
        <?php /* if ($this->registration_success): ?>
          <div class="content-mask"></div>
          <div class="content-registr_success-popup">
          <h3>Ваш аккаунт не активирован.</h3>
          <p>
          Для активации аккаунта нужно пройти по ссылке, которая была отправлена на Ваш адрес электронной почты. <br/>
          Если Вы не получали письма, Вы можете зарегистрироваться заново используя другой адрес электронной почты.
          </p>
          </div>
          <?php endif; */ ?>
        <div id="wrapper">

            <div id="header">
                <div class="header_menu1">
                    <ul>
                        <li>
                            <a href="#" onclick="return false;" id="login_link">Вход</a>
                            <img src="/images/default/main/menu-vert-line.png" alt="английский онлайн" />

                            <div id="content-login-popup">
                                <div class="wrapper" align="center">
                                    <span class="login_error">Вход в систему</span>
                                    <input class="bg" type="text" id="login_email" name="email" size="25" value="Email" />            
                                    <span class="login_pass_container">
                                        <input type="text" name="pass" size="25" value="Пароль" id="login_pass" />
                                    </span>  

                                    <div>
                                        <input type="submit" name="register" id="send_login" value="Войти" />
                                        <a href="/passwd-remember" onclick="return false;" class="passwd-remember">забыли пароль?</a> 
                                        <p class="login_loading"></p>
                                    </div>
                                </div>
                            </div>

                            <div id="content-remember-popup" align="center">
                                <div style="margin: 50px 0 0 10px;">
                                    <span class="login_error">Для напоминания пароля, введите E-mail, на который вы регистрировались</span>   
                                    <input class="bg" type="text" id="remember_email" name="" size="25" value="Email" />

                                    <input type="submit" name="register" id="send_remember_login" value="Напомнить" />
                                    <a href="#" class="login_again" click="return false;" name="login_again">Войти</a>

                                    <p class="login_loading"></p>
                                </div>
                            </div>
                        </li>
                        <li><a href="#" onclick="return false;" id="reg_button">Регистрация</a>
                            <img src="/images/default/main/menu-vert-line.png" alt="английский онлайн" />
                        </li>
                        <li><a href="/about">О школе</a>
                            <img src="/images/default/main/menu-vert-line.png" alt="английский онлайн" />
                        </li>
                        <li><a href="/reviews">Отзывы</a>
                             <img src="/images/default/main/menu-vert-line.png" alt="английский онлайн" />
                        </li>
                        <li>
                            <a href="/teachers">Преподаватели</a>
                            <img src="/images/default/main/menu-vert-line.png" alt="английский онлайн" />
                        </li>
                        <li><a href="http://blog.langwee.com/?page_id=75">Статьи</a>
                           
                        </li>
                    </ul>
                </div><!-- #header-menu1-left-->


                <!--<div><a href="/resources"></a></div> seo link in resources-->

                <div class="header_menu2">
                    <ul>
                        <li><a href="/"><img src="/images/default/main/header-menu2-icon1.png" alt="Английский онлайн" /></a></li>
                        <li><a href="/payment"><img src="/images/default/main/header-menu2-icon2.png" alt="Английский онлайн" /></a></li>
                        <li><a href="/feedback"><img src="/images/default/main/header-menu2-icon3.png" alt="Английский онлайн" /></a></li>
                    </ul>
                </div><!-- #header-menu2-right-->

            </div><!-- #header-->


            <div id="content">
                <div class="content-top"></div><!-- #content-top-->

                <div class="content-bottom-left">        	
                    <div class="content-bottom-left-block">
                        <p><strong>Langwee</strong> - международная online-школа по изучению иностранных языков: английский,немецкий,французский,испанский,<br/>итальянский и еще много других языков будут доступны вам для изучения.<br/>
                            Уже более 11000 учеников из разных стран достигают максимальных результатов в изучении иностранных языков,отмечая эффективность и простоту методики обучения, специально разработанной нашими специалистами.</p>
                        <div class="content-bottom-left-block-podskazka">
                            <p id="myText">
                                Очень увлекательный сервис. Результат есть тогда, когда учиться не скучно. В Langwee- это так)Да и нет ничего эффективней общения с носителями языка.
                            </p>
                        </div>

                        <div class="content-bottom-left-block-otziv"><ul>
                                <li><img src="/images/community/serj1.png" alt="английский онлайн" />
                                </li>
                                <li><img src="/images/community/aram.png" alt="английский онлайн" 
                                         onmouseover="document.getElementById('myText').firstChild.data = 'Для меня просмотр любимых видеоклипов вошел в привычку)Работая с текстом даже неделю,словарный запас существенно пополняется и ты чувствуешь, что уже можешь говорить';return true;" 
                                         onmouseout="document.getElementById('myText').firstChild.data = 'Очень увлекательный сервис. Результат есть тогда, когда учиться не скучно. В Langwee- это так)Да и нет ничего эффективней общения с носителями языка.';return true;" />                            
                                </li>
                                <li><img src="/images/community/marina.png" alt="английский онлайн" 
                                         onmouseover="document.getElementById('myText').firstChild.data = 'Изучаю английский и итальянский в Langwee, все очень нравится, спасибо за такой отличный сервис.';return true;" 
                                         onmouseout="document.getElementById('myText').firstChild.data = 'Очень увлекательный сервис. Результат есть тогда, когда учиться не скучно. В Langwee- это так)Да и нет ничего эффективней общения с носителями языка.';return true;" />
                                </li>
                                <li><img src="/images/community/hayko.png" alt="английский онлайн" 
                                         onmouseover="document.getElementById('myText').firstChild.data = 'Нравится модель обучения Langwee,не встречал еще ничего интересней.Тренинги и общение с иностранцами дают отличный результат, я сильно продвинулся в изучении испанского.Спасибо.';return true;" 
                                         onmouseout="document.getElementById('myText').firstChild.data = 'Очень увлекательный сервис. Результат есть тогда, когда учиться не скучно. В Langwee- это так)Да и нет ничего эффективней общения с носителями языка.';return true;" />
                                </li>
                            </ul></div>
                    </div>
                </div><!-- #content-bottom-left-->

                <div class="content-bottom-center">

                    <div class="content-bottom-center-reg-form" id="regform">
                        <img src="/images/default/main/free-register.png"  style="margin:-105px auto auto 7px;position:absolute;" alt="английский онлайн" />
                        <?= $this->layout()->content; ?>
                    </div>
                    <div class="content-bottom-center-text">
                        <p>Регистрируясь, вы принимаете <a href="#">условия использования</a></p>
                    </div>
                </div><!-- #content-bottom-center-->

                <div class="content-bottom-right">
                    <div class="content-bottom-right-block">
                        <div class="content-bottom-right-block-player">
                            <!--<img src="/images/default/main/content-right-blok-player.png" alt="видео">-->  
                            <iframe src="http://player.vimeo.com/video/40854858?title=0&amp;byline=0&amp;portrait=0" ></iframe><p><a href="http://vimeo.com/40854858">Langwee- Онлайн сервис по обучению Языкам</a> from <a href="http://vimeo.com/user11402295">Langwee</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
                        </div>
                        <p>
                            Посмотрите Видео, чтобы понимать, как работает Сервис. <br/>
                            <a href="/faq">Вопросы - ответы</a> о сервисе, чтобы понять, с чего начать работу.
                        </p>            
                    </div>
                    <div style="display:none"><!--LiveInternet counter--><script type="text/javascript"><!--
                        document.write("<a href='http://www.liveinternet.ru/click' "+
                            "target=_blank><img src='//counter.yadro.ru/hit?t14.6;r"+
                            escape(document.referrer)+((typeof(screen)=="undefined")?"":
                            ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                            screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                            ";"+Math.random()+
                            "' alt='' title='LiveInternet: показано число просмотров за 24"+
                            " часа, посетителей за 24 часа и за сегодня' "+
                            "border='0' width='88' height='31' ><\/a>")
                        //--></script>
                        <!--/LiveInternet--></div>
                </div><!-- #content-bottom-right-->

                <div class="content-bottom-trigger">
                    <ul>
                        <li>
                            <img src="/images/default/main/triger1.png" alt="английский онлайн" />
                            <p><b>Заплатив один раз</b>, вы получаете возможность изучать более 5 иностранных языков одновременно!</p>
                        </li>
                        <li>
                            <img src="/images/default/main/triger2.png" alt="английский онлайн" />
                            <p>Более <b>11000</b> учеников из разных стран. Международный формат обучения!</p>
                        </li>
                        <li>
                            <img src="/images/default/main/triger3.png" alt="английский онлайн" />
                            <p><b>Более 15</b> высокоэффективных тренингов, дающих гарантированный результат. Самые эффективные модели обучения!</p>
                        </li>
                        <li style="border:none">
                            <img src="/images/default/main/triger4.png" alt="английский онлайн" />
                            <p>Доступ к обучению <b>24 часа</b> в сутки. Возможность обучаться из любой точки мира!</p>
                        </li>
                        <li style="border:none">
                            <img src="/images/default/main/triger5.png" alt="английский онлайн" />
                            <p>Возможность практиковать полученные знания на практике, общаясь online с носителями языков <b>по всему миру!</b></p>
                        </li>
                        <li style="border:none">
                            <img src="/images/default/main/triger6.png" alt="английский онлайн" />
                            <p>Легкость и <b>простота обучения.</b> Гарантия качества и результата!</p>
                        </li>                   
                    </ul>                
                </div>
            </div><!-- #content-->
            <?= Lingua_View_Misc::footerViewRender(); ?>

        </div><!-- #wrapper -->
        
        
        <?php $this->headScript()->prependFile('/js/lingua/default.js'); ?>
        <?php $this->headScript()->prependFile('/js/jquery-1.1.7.js'); ?>


        <?php echo $this->headScript(); ?>
        
        <?= $this->placeholder('myscript'); ?>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            langwee.run();          
            
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter14186416 = new Ya.Metrika({id:14186416, enableAll: true, webvisor:true});
                    } catch(e) {}
                });

                var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/14186416" style="position:absolute; left:-9999px;" alt="английский онлайн" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    </body>
</html>