<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title><?= $this->VIDEO->title; ?></title>

        <meta name="keywords" content="английский язык онлайн, английский онлайн, английский, язык, уроки, изучение, обучение, курсы, английский бесплатно, уроки английского,произношение,тест,немецкий, испанский, французский, итальянский, <?= $this->VIDEO->title; ?>" />
        <meta name="description" content="Langwee – изучай иностранные языки бесплатно онлайн! <?= $this->VIDEO->title; ?>" />
        <meta name="robots" content="index, follow" />

        <meta property="vk:2915025" content="19308331" />

        <?php $this->headLink()->appendStylesheet('/css/video/page/video.css'); ?>
        <?php $this->headLink()->appendStylesheet('/css/community/notification.css'); ?>
        <?php $this->headLink()->appendStylesheet('/js/jScroll/jScroll.css'); ?>
        <?php $this->headLink()->appendStylesheet('/css/system/dialog/small.css'); ?>
        <?php $this->headLink()->appendStylesheet('/css/global/global.css'); ?>

        <?= $this->headLink() ?>

    <!--[if IE 6]><script type="text/javascript">location.replace("http://diy.by/ie6/ie6.php");</script><![endif]-->
    <!--[if IE 7]><script type="text/javascript">location.replace("http://diy.by/ie6/ie6.php");</script><![endif]-->

        <?php $this->headScript()->prependFile('/js/lingua/video.js'); ?>
        <?php $this->headScript()->prependFile('/js/lingua/langwee.js'); ?>
        <?php $this->headScript()->prependFile('/js/jScroll/jScroll.js'); ?>
        <?php $this->headScript()->prependFile('/js/jScroll/mousewheel.js'); ?>
        <?php $this->headScript()->prependFile('/js/mp3player/swfobject/swfobject.js'); ?>
        <?php $this->headScript()->prependFile('/js/jquery.easing.compatibility.js'); ?>
        <?php $this->headScript()->prependFile('/js/jquery-ui-min.js'); ?>
        <?php $this->headScript()->prependFile('http://userapi.com/js/api/openapi.js?49'); ?>
        <?php $this->headScript()->prependFile('/js/jquery-1.1.7.js'); ?>

        <style type="text/css">
            textarea {
                width: 400px;
                height: 40px;
            }

            div.discuss {
                display: block;
                height: 100%;
                background-color:#ffefe0;
                padding:3px 5px 0px 5px;
                margin-right: 2px;
                border-bottom: 1px solid #e6a94e;
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div class="header_menu1">
                    <?= Lingua_View_Misc::getLeftTopView(); ?>
                </div><!-- #header-menu1-left-->
                <div class="header_menu2">                	                  
                    <?= Lingua_View_Misc::getRightTopView(); ?>
                    <?php include_once 'notification.phtml'; ?>
                </div><!-- #header-menu2-right-->

            </div><!-- #header-->
            <?= $this->layout()->content; ?>
            <?= Lingua_View_Misc::footerViewRender(); ?>
        </div><!-- #wrapper -->
        <?= $this->headScript(); ?>
        <?= $this->placeholder('myscript'); ?>

        <script type="text/javascript">
            $(document).ready(function(){
                $('#li_m4').toggle(function(){
                    $('#div_drob_menu').slideDown();
                }, function(){
                    $('#div_drob_menu').slideUp();
                });
                
                VK.init({apiId: 2915025, onlyWidgets: true});
                VK.Widgets.Like("vk_like", 
                {
                    type: "button", 
                    pageTitle: "Международная школа иностранных языков Langwee",
                    pageImage: "http://langwee.com/images/default/main/screen.png",
                    pageDescription: "<?= $this->VIDEO->title ?>", 
                    pageUrl: "http://langwee.com/video/<?= $this->VIDEO->video_id ?>",
                    text: "Более 15 тренингов, практика и общение с носителями языка, 10 000 видео/аудио материалов"
                }, <?= $this->VIDEO->video_id ?>); 
                
                VIDEO.run('<?= $this->VIDEO->video_id ?>', '<?= $this->key ?>', '<?= Lingua_Auth::getLinguaId(); ?>', '<?= $this->VIDEO->video_lang ?>');
                
                $('.words_translation').click(function(e){
                    VIDEO.run('<?= $this->VIDEO->video_id ?>', '<?= $this->key ?>', '<?= Lingua_Auth::getLinguaId(); ?>', '<?= $this->VIDEO->video_lang ?>');
                });
               
                $('.discuss').click(function(e){
                    DISCUSS.run('<?= $this->VIDEO->video_id ?>');
                });
                
                LANGWEE.run();
            });
        </script>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter14186416 = new Ya.Metrika({id:14186416, enableAll: true, webvisor:true});
                    } catch(e) {}
                });

                var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/14186416" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    </body>
</html>