<!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title><?= $this->title ?></title>
        <meta name="keywords" content="<?= $this->keyword ?>" />
        <meta name="description" content="<?= $this->desc ?>" />
        <meta name="robots" content="index, follow" />
        <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/css/training/all/training.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/css/lessons/style.css" type="text/css" media="screen, projection" />
        
        <?php $this->headLink()->appendStylesheet('/js/jScroll/jScroll.css'); ?>
        <?php $this->headLink()->appendStylesheet('/css/system/dialog/small.css'); ?>
        <?php $this->headLink()->appendStylesheet('/css/global/global.css'); ?>
        <?php echo $this->headLink(); ?>
    <!--[if IE 6]><script type="text/javascript">location.replace("http://diy.by/ie6/ie6.php");</script><![endif]-->
        <!--[if IE 7]><script type="text/javascript">location.replace("http://diy.by/ie6/ie6.php");</script><![endif]-->
        <script type="text/javascript" src="/js/jquery-1.1.7.js"></script>
        
        <?php $this->headScript()->prependFile('/js/lingua/langwee.js'); ?>
        <?php $this->headScript()->prependFile('/js/jScroll/jScroll.js'); ?>
        <?php $this->headScript()->prependFile('/js/jScroll/mousewheel.js'); ?>
        <?php $this->headScript()->prependFile('/js/mp3player/swfobject/swfobject.js'); ?>
        <?php $this->headScript()->prependFile('/js/jquery.easing.compatibility.js'); ?>
        <?php $this->headScript()->prependFile('/js/jquery-ui-min.js'); ?>

    </head>
    <body class="lessons-layout">
        <div id="wrapper">
            <div id="header">
            </div><!-- #header-->
            <div id="content">    	
                <div class="conten-middle">          	
                    <div class="conten-middle-presentn-txt">
                        <a href="/resources">главная</a>
                    </div>
                    <div class="conten-middle-lang">               
                    </div>         
                    <?= $this->layout()->content; ?>     
                </div><!-- #conten-middle-->
            </div><!-- #content-->

            <?= Lingua_View_Misc::footerViewRender(); ?>  
        </div><!-- #wrapper -->
        
        <?= $this->headScript(); ?>
        <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?49"></script>
        <script type="text/javascript" src="//connect.facebook.net/en_US/all.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('div.conten-middle-center div.conten-middle-center-cont a').each(function(index, element){
                    $(element).click(function(e){
                        $.post('/' + $(this).attr('trg'), function(data) {
                            $("div.conten-middle-center-cont").html(data);
                        });
                    });
                });
                
                if(document.domain.search('linguastars.ru') != -1) {
                    //vk like!
                    VK.init({apiId: 2915035, onlyWidgets: true});
                    
                    //fb like!
                    (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                }
                else {
                    VK.init({apiId: 2915025, onlyWidgets: true});
                    
                    (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                }
                
                VK.Widgets.Like("vk_like", {type: "mini"});
            });
        </script>
        
        
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter14186416 = new Ya.Metrika({id:14186416, enableAll: true, webvisor:true});
                    } catch(e) {}
                });

                var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/14186416" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    </body>
</html>
