<?php $this->placeholder('myscript')->captureStart(); ?>
<script type="text/javascript" src="/js/lingua/notification.js"></script>
<script type="text/javascript">
    NOTIFICATION.run(<?= Lingua_Auth::getLinguaId(); ?>);
</script>
<?php $this->placeholder('myscript')->captureEnd(); ?>
<div id="popup" class="header_menu2_popup"></div>