<!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title><?= $this->title ?></title>
        <meta name="keywords" content="английский язык онлайн, английский онлайн, английский, язык, уроки, изучение, обучение, курсы, английский бесплатно, уроки английского,произношение,тест,немецкий, испанский, французский, итальянский" />
        <meta name="description" content="Langwee – изучай иностранные языки бесплатно онлайн!Доступны для одновременного изучения:английский язык онлайн,немецкий язык,французский,испанский,итальянский.Революционные методики обучения,увлекательные тренинги,курсы,дающие гарантированный результат." />        
        <meta name="robots" content="index, follow" />

        <?php $this->headLink()->appendStylesheet('/css/user/profile/profile.css'); ?>
        <?php $this->headLink()->appendStylesheet('/css/community/notification.css'); ?>
        <?php $this->headLink()->appendStylesheet('/css/system/dialog/medium.css'); ?>
       
        
        <?= $this->headLink() ?>


    <!--[if IE 6]><script type="text/javascript">location.replace("http://diy.by/ie6/ie6.php");</script><![endif]-->
    <!--[if IE 7]><script type="text/javascript">location.replace("http://diy.by/ie6/ie6.php");</script><![endif]-->
        <script type="text/javascript" src="/js/jquery-1.1.7.js"></script>
    </head> 

    <body>

        <div id="wrapper">

            <div id="header">
                <div class="header_menu1">
                    <?= Lingua_View_Misc::getLeftTopView(); ?>
                </div><!-- #header-menu1-left-->
                <div class="header_menu2">
                    <?= Lingua_View_Misc::getRightTopView(); ?>
                    <?php include_once 'notification.phtml'; ?>
                </div><!-- #header-menu2-right-->

            </div><!-- #header-->
            <?php
            if (!$this->status && $this->show) {
                echo htmlspecialchars_decode(Lingua_View_System_Hint_Dialog::render($this->message, $this->message_title));
                $this->placeholder('myscript')->captureStart();
                ?>
                <script type="text/javascript">
                    d.show(250);
                </script>
                <?php
                $this->placeholder('myscript')->captureEnd();
            }
            ?>
            <div id="content">    	
                <?= Lingua_View_Misc::getNickNameView(); ?>

                <div class="conten-middle">
                    <?= $this->layout()->content; ?>

                </div><!-- #conten-middle-->
            </div><!-- #content-->

            <?= Lingua_View_Misc::footerViewRender(); ?>
        </div><!-- #wrapper -->

        <?php $this->headScript()->prependFile('/js/jquery-1.1.7.js'); ?>
        <?php $this->headScript()->prependFile('/js/lingua/date.js'); ?>
        <?php $this->headScript()->prependFile('/js/lingua/langwee.js'); ?>
        <?php $this->headScript()->prependFile('/js/lingua/system/dialog/dialog.js'); ?>
        <?= $this->headScript(); ?>

        <?= $this->placeholder('myscript'); ?>
        <script type="text/javascript">
            LANGWEE.run();
            var selected_day = <?= isset($this->date[2]) ? $this->date[2] : 0 ?>;
            var $nick = $("input[name=nick]");
            var $firstname = $("input[name=firstname]");
            var $surname = $("input[name=surname]");
            var $phone = $('input[name=phone]');
            var $cnumber = $('input[name=coupon_number]');
            var $cpin = $('input[name=coupon_pin]');
            var $alfaevent = $('input[name=alfaevent]');
            $(document).ready(function(){
<?php if (!$this->disableForm): ?>
            $("div.conten-middle-profile-data-redakt-form").slideDown(800);
<?php endif; ?>
                
        $("#edit_profile").click(function(){
            $("div.conten-middle-profile-data-redakt-form").slideToggle();
        });
                
        $("select[name=day]").change(function() {selected_day = $(this).val(); });
        $("select[name=year]").change(function() { 
            $("select[name=day]").html("");
            appendDays($("select[name=month]").val());
        });
                
                
        $("select[name=month]").change(function() {
            $("select[name=day]").html("");
            appendDays($(this).val() - 1);
        });
                
        appendDays(0);
                
        for(var month = 0 ; month < months.length ; month++) {
            if(month == <?= intval($this->date[1] - 1) ?>)
            $("select[name=month]").append("<option value='" + (month + 1) + "' selected>" + months[month] + "</option>");
            else $("select[name=month]").append("<option value='" + (month + 1) + "'>" + months[month] + "</option>");
        }
                
        for(var year = years.length - 1 ; year >= 0 ; year--) {
            if(years[year] == <?= intval($this->date[0]) ?>)
            $("select[name=year]").append("<option value='" + years[year] + "' selected>" + years[year] + "</option>");
            else 
                $("select[name=year]").append("<option value='" + years[year] + "'>" + years[year] + "</option>");
        }
                
        $("input[name=save]").click(function(){
            if($nick.val() == "Никнейм") $nick.val('');
            if($firstname.val() == "Имя") $firstname.val('');
            if($surname.val() == "Фамилия") $surname.val('');
            if($phone.val() == "Номер телефона") $phone.val('');
            if($cnumber.val() == "Номер купона") $cnumber.val('');
            if($cpin.val() == "Пин код")  $cpin.val('');
                    
        });
                
        $nick.click(function(){
            if($nick.val() == "Никнейм") $nick.val('');
        }).focus(function() {
            if($nick.val() == "Никнейм") $nick.val('');
        }).blur(function() {
            if($nick.val() == "") $nick.val("Никнейм");
        });
                
        $firstname.click(function(){
            if($firstname.val() == "Имя") $firstname.val('');
        }).focus(function() {
            if($firstname.val() == "Имя") $firstname.val('');
        }).blur(function() {
            if($firstname.val() == "") $firstname.val("Имя");
        });
                
        $surname.click(function(){
            if($surname.val() == "Фамилия") $surname.val('');
        }).focus(function() {
            if($surname.val() == "Фамилия") $surname.val('');
        }).blur(function() {
            if($surname.val() == "") $surname.val("Фамилия");
        });
               
        $phone.click(function(){
            if($phone.val() == "Номер телефона") $phone.val('');
        }).focus(function() {
            if($phone.val() == "Номер телефона") $phone.val('');
        }).blur(function() {
            if($phone.val() == "") $phone.val("Номер телефона");
        });
                
        $cnumber.click(function(){
            if($cnumber.val() == "Номер купона") $cnumber.val('');
        }).focus(function() {
            if($cnumber.val() == "Номер купона") $cnumber.val('');
        }).blur(function() {
            if($cnumber.val() == "") $cnumber.val("Номер купона");
        });
                
        $cpin.click(function(){
            if($cpin.val() == "Пин код") $cpin.val('');
        }).focus(function() {
            if($cpin.val() == "Пин код") $cpin.val('');
        }).blur(function() {
            if($cpin.val() == "") $cpin.val("Пин код");
        });
                
        $alfaevent.click(function(){
            if($alfaevent.val() == "Адрес") $alfaevent.val('');
        }).focus(function() {
            if($alfaevent.val() == "Адрес") $alfaevent.val('');
        }).blur(function() {
            if($alfaevent.val() == "") $alfaevent.val("Адрес");
        });
    });
            
    function appendDays(month) {
                
        if(month == 1 && $("select[name=year]").val()%4 == 0) {
            days[month] = 29;
        }
        for(var day = 1 ; day <= days[month] ; day++) {
            $("select[name=day]").append("<option value='" + day + "'>" + day + "</option>");
        }
                
        $("select[name=day]").val(selected_day);
    }
            
            
        </script>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter14186416 = new Ya.Metrika({id:14186416, enableAll: true, webvisor:true});
                    } catch(e) {}
                });

                var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/14186416" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    </body>
</html>