<!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Langwee: Аудио/Видео</title>
        <meta name="keywords" content="английский язык онлайн, английский онлайн, английский, язык, уроки, изучение, обучение, курсы, английский бесплатно, уроки английского,произношение,тест,немецкий, испанский, французский, итальянский" />
        <meta name="description" content="Langwee – изучай иностранные языки бесплатно онлайн!Доступны для одновременного изучения:английский язык онлайн,немецкий язык,французский,испанский,итальянский.Революционные методики обучения,увлекательные тренинги,курсы,дающие гарантированный результат." />		
        <meta name="robots" content="index, follow" />

        <?php $this->headLink()->appendStylesheet('/css/resources/resources.css'); ?>
        <?php $this->headLink()->appendStylesheet('/css/community/notification.css'); ?>
        <?php $this->headLink()->appendStylesheet('/css/system/dialog/medium.css'); ?>
        <?php $this->headLink()->appendStylesheet('/css/jquery-ui-1.8.21/jquery-ui-1.8.21.custom.css'); ?>
        <?php $this->headLink()->appendStylesheet('/css/global/global.css'); ?>

        <?= $this->headLink() ?>
<!--[if IE 6]><script type="text/javascript">location.replace("http://diy.by/ie6/ie6.php");</script><![endif]-->
<!--[if IE 7]><script type="text/javascript">location.replace("http://diy.by/ie6/ie6.php");</script><![endif]-->
        <script type="text/javascript" src="/js/jquery-1.1.7.js"></script> 
    </head>
    <body>
        <div id="wrapper">

            <div id="header">
                <div class="header_menu1">
                    <?= Lingua_View_Misc::getLeftTopView(); ?>
                </div><!-- #header-menu1-left-->
                <div class="header_menu2">
                    <?= Lingua_View_Misc::getRightTopView(); ?>
                    <?php //include_once 'notification.phtml'; ?>
                </div><!-- #header-menu2-right-->

            </div><!-- #header-->

            <?php
            if ($this->show_message) {
                echo htmlspecialchars_decode(Lingua_View_System_Hint_Dialog::render($this->message, $this->title));
                $this->placeholder('myscript')->captureStart();
                ?>
                <script type="text/javascript">
                    d.show(250);
                </script>
                <?php
                $this->placeholder('myscript')->captureEnd();
            }
            ?>
            <div id="content">    	
                <?= Lingua_View_Misc::getNickNameView(); ?>

                <div class="conten-middle">          	
                    <div class="conten-middle-presentn-txt">
                        <a href="#" click="return false;">топ 10 роликов и аудиозаписей</a>                    
                    </div>
                    <div class="conten-middle-lang">
                        <h5>Выберите язык обучения</h5>

                        <?php foreach ($this->languages as $short_name => $language) : ?>
                            <?php if ($language['sys_use'] == 'YES') : ?>
                                <a href="#" click="return false" id="<?= $short_name ?>" <?php if ($this->lang != $short_name) echo 'class="select"' ?> >
                                    <img src="/images/resources/<?= $language['icon'] ?>" alt="английский онлайн" title="<?= $language['name'] ?>" />
                                </a>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </div>

                    <div class="conten-middle-top-blok">
                        <div class="conten-middle-top-blok-menu">
                            <ul>
                                <li id="li_1"><a href="#" onclick="return false;">АУДИОЗАПИСИ</a>
                                    <img src="/images/resources/resources-menu-dot.png" alt="английский онлайн" /></li>
                                <li id="li_2"><a href="#" onclick="return false;">ВИДЕОКЛИПЫ</a>
                                    <img src="/images/resources/resources-menu-dot.png" alt="английский онлайн" /></li>
                                <li id="li_3"><a href="#" onclick="return false;">КАТЕГОРИИ</a></li>
                            </ul>
                        </div>

                        <div class="conten-middle-top-blok-search">                            
                            <input type="text" name="searching" size="30" value="Поиск: введите название" class="off" />                            
                            <input type="button" name="find" value=""  />
                        </div>
                    </div><!-- #conten-middle-top-blok--> 

                    <div class="conten-middle-center">      
                                   
                        <div class="conten-middle-center-all">
                            <?= $this->layout()->content; ?>
                        </div>
                    </div> <!-- #conten-middle-center-->                
                </div><!-- #conten-middle-->
            </div><!-- #content-->

            <?= Lingua_View_Misc::footerViewRender(); ?>

        </div><!-- #wrapper -->


        <?php $this->headScript()->prependFile('/js/lingua/resources.js'); ?>
        <?php $this->headScript()->prependFile('/js/lingua/langwee.js'); ?>
        <?php $this->headScript()->prependFile('/js/lingua/notification.js'); ?>
        <?php $this->headScript()->prependFile('/js/lingua/system/dialog/dialog.js'); ?>
        <?php $this->headScript()->prependFile('/js/jquery-ui-1.8.21/jquery-ui-1.8.21.custom.min.js'); ?>

        <?= $this->headScript(); ?>
        <?= $this->placeholder('myscript'); ?>

        <script type="text/javascript">
            $(document).ready(function(){
                r.run();
                LANGWEE.run();
            });
        </script>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter14186416 = new Ya.Metrika({id:14186416, enableAll: true, webvisor:true});
                    } catch(e) {}
                });

                var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/14186416" style="position:absolute; left:-9999px;" alt="английский онлайн" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    </body>
</html>
