<!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Langwee: Тренинги</title>
        <meta name="keywords" content="английский язык онлайн, английский онлайн, английский, язык, уроки, изучение, обучение, курсы, английский бесплатно, уроки английского,произношение,тест,немецкий, испанский, французский, итальянский" />
        <meta name="description" content="Langwee – изучай иностранные языки бесплатно онлайн!Доступны для одновременного изучения:английский язык онлайн,немецкий язык,французский,испанский,итальянский.Революционные методики обучения,увлекательные тренинги,курсы,дающие гарантированный результат." />
        <meta name="robots" content="index, follow" />

        
        <?php $this->headLink()->appendStylesheet('/css/training/all/training.css'); ?>
        <?php $this->headLink()->appendStylesheet('/js/jScroll/jScroll.css'); ?>
        <?php $this->headLink()->appendStylesheet('/css/community/notification.css'); ?>
        <?php $this->headLink()->appendStylesheet('/css/system/dialog/small.css'); ?>
        <?php $this->headLink()->appendStylesheet('/js/fancybox/jquery.fancybox.css?v=2.0.6'); ?>
        <?php $this->headLink()->appendStylesheet('/js/fancybox/helpers/jquery.fancybox-buttons.css'); ?>
        <?php $this->headLink()->appendStylesheet('/css/global/global.css'); ?>

        <?= $this->placeholder('mycss'); ?>
        <?= $this->headLink() ?>

        <script type="text/javascript" src="/js/mp3player/swfobject/swfobject.js"></script>
        <script type="text/javascript" src="/js/lingua/notification.js"></script>
        <!--[if IE 6]><script type="text/javascript">location.replace("http://diy.by/ie6/ie6.php");</script><![endif]-->
        <!--[if IE 7]><script type="text/javascript">location.replace("http://diy.by/ie6/ie6.php");</script><![endif]-->

    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                <div class="header_menu1">
                    <?= Lingua_View_Misc::getLeftTopView(); ?>
                </div><!-- #header-menu1-left-->
                <div class="header_menu2">
                    <?= Lingua_View_Misc::getRightTopView(); ?>
                </div><!-- #header-menu2-right-->

            </div><!-- #header-->

            <div id="content">
                <div id="mask"></div>
                <div id="message">
                    <div class="header" align="center">
                        <p class="title">Внимание!</p>
                        <a href="#" class="close" style="float:right"><img src="/images/video/page/close.png" alt="английский онлайн"/></a>
                    </div>
                    <div class="body">
                        <p class="text"></p>
                    </div>
                </div>

                <?= Lingua_View_Misc::getNickNameView(); ?>

                <div class="conten-middle">          	
                    <div class="conten-middle-presentn-txt">
                        <a href="/resources">главная</a>
                        <!-- <a href="#">проверь себя</a> -->
                    </div>
                    <?php if ($this->disabled_langbar) : ?>
                        <div class="conten-middle-lang">
                            <h5>Выберите язык обучения</h5>
                            <a href="#" id="en"><img src="/images/resources/england.png" alt="английский онлайн" title="Английский" /></a>
                            <a href="#" id="fr" class="select"><img src="/images/resources/france.png" alt="английский онлайн" title="Французский"/></a>
                            <a href="#" id="de" class="select"><img src="/images/resources/germany.png" alt="английский онлайн" title="Немецкий" /></a>
                            <a href="#" id="it" class="select"><img src="/images/resources/italy.png" alt="английский онлайн" title="Итальянский"/></a>
                            <a href="#" id="es" class="select"><img src="/images/resources/spain.png" alt="английский онлайн" title="Испанский"/></a>               
                        </div>    
                    <?php endif; ?>
                    <?= $this->layout()->content; ?>      

                    <div id="jpId" style="display: none; width:0; height: 0; position: absolute; z-index: none;"></div>
                </div><!-- #conten-middle-->
            </div><!-- #content-->
            <?= Lingua_View_Misc::footerViewRender(); ?>

        </div><!-- #wrapper -->

        <?php $this->headScript()->prependFile('/js/jquery.easing.compatibility.js'); ?>
        <?php $this->headScript()->prependFile('/js/jquery-ui-min.js'); ?>
        <?php $this->headScript()->prependFile('/js/lingua/langwee.js'); ?>
        <?php $this->headScript()->prependFile('/js/lingua/trainigs.js'); ?>
        <?php $this->headScript()->prependFile('/js/jScroll/jScroll.js'); ?>
        <?php $this->headScript()->prependFile('/js/jScroll/mousewheel.js'); ?>
        <?php $this->headScript()->prependFile('/js/lingua/system/dialog/dialog.js'); ?>
        <?php $this->headScript()->prependFile('/js/jquery-1.1.7.js'); ?>

        <?= $this->headScript(); ?>
        <?= $this->placeholder('myscript'); ?>

        <script type="text/javascript">
            $(document).ready(function(){ 
                TRAININGS.run(<?= Lingua_Auth::getLinguaId(); ?>, 'en', '<?= $this->key ?>');    
                NOTIFICATION.run(<?= Lingua_Auth::getLinguaId(); ?>);
                LANGWEE.run();
            });
            
            var flashvars = {};
            var params = {
                bgcolor: '#4EB1D9',
                scale: 'noScale',
                allowFullScreen: 'false',
                allowScriptAccess: 'always',
                allowNetworking: 'true',
                salign: 'lt'
            };
            var attributes = {id : "myFlash"};    
            swfobject.embedSWF("/js/mp3player/script.swf", "jpId", "0", "0", "9.0.0", false, flashvars, params, attributes);
        </script>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter14186416 = new Ya.Metrika({id:14186416, enableAll: true, webvisor:true});
                    } catch(e) {}
                });

                var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/14186416" style="position:absolute; left:-9999px;" alt="английский онлайн" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    </body>
</html>