* {
    margin: 0;
    padding: 0;
}
*:focus  
{  
    outline: none;  
}  
body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    width: 100%;
    background:url(/images/resources/profile-page-bg.jpg) repeat-x center ;
    background-color:#ffc412;
    min-height:1100px;
    max-height:100%;	
}
a {
    color: blue;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 18px
}
img {
    border: none;
}
input {
    vertical-align: middle;
}
#wrapper {	
    width: 1000px;
    margin: 0 auto;
    height:100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
    margin-top:4px;
    height: 40px;
}
/* Header top menu1
-----------------------------------------------------------------------------*/
.header_menu1{
    margin:-3px auto auto 14px;
    float:left;
    background:url(/images/resources/header-menu1-not-line.png) no-repeat;
    width:330px;
    height:36px;
}
.header_menu1 ul{
    list-style-type:none;
}
.header_menu1 ul li {
    float:left;
    margin:9px 5px auto 10px;
}
.header_menu1 ul li img{
    position:absolute;
    margin-left:5px;
}
.header_menu1 ul li a{
    color:#fff;
    font-size:13px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style:italic;
    text-decoration:none;
}
/* Header top right menu2 
-----------------------------------------------------------------------------*/
.header_menu2{
    margin-top:-3px;
    margin-right:7px;
    float:right;
    background:url(/images/community/header-menu2-community.png) no-repeat;
    width:299px;
    height:37px;
}
/* Header top right menu2 button
-------------------------------*/
.header_menu2_button{
    float:left;
    width:80px;
    margin:5px  auto auto 20px;
}
.header_menu2_button img{
    position:relative;
    z-index:1;
}
.header_menu2_button a{
    position:relative;
    z-index:100;
    margin:-30px auto auto 17px;
    float:left;
    color:#ffff6a;
    font-size:12px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style:italic;
    text-decoration:none;
}
.header_menu2_credit{	
    width:75px;
    overflow:hidden;
    float:left;
    margin:10px auto auto 10px;
}
.header_menu2_credit h1.normal {
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 25px;
    position: relative;
    top: 0;
}

.header_menu2_credit h1.standart {
    color: #FFFFFF;
    font-size: 15px;
    position: relative;
    top: 0;
}

.header_menu2_credit img{
    float: left;
}
/* Header top right menu2 status
-------------------------------*/
.header_menu2_status{
    float:left;
    margin:12px  auto auto 18px;
}
.header_menu2_icon{
    float:left;
    margin:-1px  auto auto 6px;
}
.header_menu2_fr_count{	
    width:45px;
    overflow:hidden;
    float:left;
    margin:10px  auto auto 2px;
}
.header_menu2_fr_count h4{
    color:#fff;
    font-size:18px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* Header top right menu2 menu
-------------------------------*/
.header_menu2 ul{
    list-style-type:none;
}
.header_menu2 ul li { 
    float:left;
    margin:10px 0px auto 12px;
}  
.header_menu2 ul li a.notifications{
    color:#fff;
    text-decoration:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50); /* IE 5-7 */
    -moz-opacity: 0.5;  /* Netscape */
    -khtml-opacity: 0.5;  /* Safari 1.x */
    opacity: 0.5;  /* Good browsers */
    padding: 10px 0 2px;
}

.header_menu2 ul li a.shown{
    color:#fff;
    text-decoration:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100); /* IE 5-7 */
    -moz-opacity: 1;  /* Netscape */
    -khtml-opacity: 1;  /* Safari 1.x */
    opacity: 1;  /* Good browsers */
    background-color: #FFF6E0; 
    padding: 10px 0 2px;
    border: 1px solid #A2917A; 
    border-raduis: 5px; 
    border-bottom: none;   
    position: relative;
    z-index: 5001
}


.header_menu2_popup {
    margin-top:-3px;
    width:350px;
    height:110px; 
    float:left;
    position: relative; 
    display:none;	
    z-index: 5000;
    background-color:#fff6e0;
    border:1px solid #a2917a;
}

/* Middle
-----------------------------------------------------------------------------*/
#content {
    margin-left:10px;
    height:954px;
    width:1000px;	
}
/* content -top -user menu
-----------------------------------------------------------------------------*/
#content .conten-top-menu{
    margin-left:445px;
    height:50px;
    width:100px;
    position:absolute;
    top:20px;
    text-align:center;
}
#content .conten-top-menu p{
    color:#5d3c1b;
    font-size:11px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-top-menu ul{
    margin:-22px auto auto -5px;
    list-style-position:inside;
}
#content .conten-top-menu ul li{
    color:#fffffe;
    margin-bottom:10px;
}
#content .conten-top-menu ul li a{
    color:#fffffe;
    font-size:13px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* content middle
-----------------------------------------------------------------------------*/
#content .conten-middle{
    margin-top:165px;
    float:left;	
    height:770px;
    width:1000px;	
}
#content .conten-middle-presentn-txt{
    width:320px;
    overflow:hidden;
    height:20px;
    margin:-5px auto auto 17px;
    float:left;
}
#content .conten-middle-presentn-txt a{
    margin-right:8px;
    color:#2e759e; 
    font-size:11px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#content .conten-middle-lang{
    width:300px;
    height:35px; 
    float:right;
    margin:-15px 15px auto auto;	
}
#content .conten-middle-lang h5{
    height:auto;	
    color:#2e759e; 
    font-size:11px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-lang a{
    float:left;
    margin:0px 8px auto auto;

}
#content .conten-middle-lang .select{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40); /* IE 5.5+*/
    -moz-opacity: 0.4; /* Mozilla 1.6 и ниже */
    -khtml-opacity: 0.4; /* Konqueror 3.1, Safari 1.1 */
    opacity: 0.4; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
}
/* content middle- top-title and search block
-----------------------------------------------------------------------------*/
#content .conten-middle-top-blok{
    float:left;
    width:970px;
    height:50px;
    margin-left:17px;
}
#content .conten-middle-top-blok-menu{
    margin:8px auto auto -10px;
    float:left;
    width:500px;
    height:48px;
    position:relative;
    z-index:100000;
    background:url(/images/resources/resources-menu-bg.png) no-repeat;
}
#content .conten-middle-top-blok-menu ul{
    margin:15px auto auto 60px;
    list-style-type:none;
}
#content .conten-middle-top-blok-menu ul li{
    display:inline;
    margin-right:18px;
}
#content .conten-middle-top-blok-menu ul li img{	
    margin-left:18px;
}
#content .conten-middle-top-blok-menu ul li a{
    color:#ffff6a;
    font-size:14px;
    font-weight:700;
    font-style:italic;
    text-decoration:none;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-top-blok-menu ul li a:hover{	
    text-decoration:underline;	
}
/* content middle-  search block
-----------------------------------*/
#content .conten-middle-top-blok-search{
    margin:10px 5px auto auto;
    float:right;
    width:350px;
    height:40px;	
}
#content .conten-middle-top-blok-search input[type="button"]{
    margin:-32px auto auto 8px;
    width:85px;
    height:33px;    
    border:none;
    background:url(/images/resources/search-btn.png) no-repeat;
    float:right;
    cursor:pointer;
}
#content .conten-middle-top-blok-search input[type="text"].off{
    padding-left:10px;
    margin:5px auto auto 8px;	
    width:240px;
    height:30px;float:left;
    background:url(/images/community/search-form-bg.png) no-repeat;
    color:#898989;
    border:none;
    font-size:12px;
    font-weight:100;
    position:relative;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;    		               
}

#content .conten-middle-top-blok-search input[type="text"].on{
    padding-left:10px;
    margin:5px auto auto 8px;	
    width:240px;
    height:30px;float:left;
    background:url(/images/community/search-form-bg.png) no-repeat;
    color:#000;
    border:none;
    font-size:12px;
    font-weight:100;
    position:relative;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;    		               
}	
/* content middle-center-trening
-----------------------------------------------------------------------------*/
#content .conten-middle-center{
    border-top:1px dashed #e6a94e;
    margin:0px auto auto 17px;
    width:970px;
    height:700px;
    float:left;	
    z-index:10;
    position:relative;
}
#content .conten-middle-center-all{	
    margin:0px auto auto 0px;
    width:972px;
    height:700px;
    float:left;	
}
/* conten-middle-center-left
-----------------------------------------------------------------------------*/
#content .conten-middle-center-left{	
    width:475px;
    height:660px;
    float:left;	
}
#content .conten-middle-center-left-title{	
    width:475px;
    height:55px;
    float:left;
}
#content .conten-middle-center-left-title img{	
    float:left;
    margin-top:15px;	
}
#content .conten-middle-center-left-title h2{
    margin:20px auto auto 5px;	
    color:#5d3c1b;
    font-size:16px;
    font-weight:200;
    font-style:italic;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* conten-middle-center-right-content audio
-----------------------------------------*/
#content .conten-middle-center-left-cont{	
    width:475px;
    height:605px;
    float:left;
    background-color:#fff2e1;
    border:1px solid #e9e2cf;
}
#content .conten-middle-center-left-cont ul{
    list-style-type:none;
    height:550px;	
}
#content .conten-middle-center-left-cont ul li{
    display:block;	
}
#content .conten-middle-center-left-cont ul li.empty{
    display:block;	
    width: 100%;
    padding: 10px;
    color: #828282; 
    text-align: center; 
    padding-top: 200px;
    font-size: 20px;
}
.bg{
    background-color:#f5e4d4;
}

#content .conten-middle-center-left-cont ul li div{
    height:54px;
    border-bottom:1px dashed #e6a94e;
}
#content .conten-middle-center-left-cont ul li div b{
    margin:10px auto auto 20px;
    float:left;
    position:relative;
    color:#15669a;
    font-size:14px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-left-cont ul li div b.col{	
    color:#db942f;	
}
#content .conten-middle-center-left-cont ul li div img{
    margin:30px auto auto -20px;
    float:left;position:relative;
}
#content .conten-middle-center-left-cont ul li div a{
    margin:12px auto auto 2px;
    overflow:hidden;
    position:absolute;
    width:290px;	
    color:#15669a;
    font-size:14px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-left-cont ul li div p{
    margin:28px auto auto 53px;
    overflow:hidden;
    position:absolute;
    width:290px;	
    color:#644f3b;
    font-size:13px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-left-cont ul li div span{
    margin:5px 20px auto auto;
    width:90px;
    height:40px;
    float:right;
    position:relative;	
}
#content .conten-middle-center-left-cont ul li div span p{
    margin-top:5px;
    padding-left:5px;
    float:right;
    position:relative;
    color:#644f3b;
    font-size:11px;
    width:90px;
    font-weight:100;
    background-color:#e7d5c3;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-left-cont ul li div span img{
    float:left;
    position:absolute;
    margin:27px auto auto 0px;
}
#content .conten-middle-center-left-cont ul li div span b{
    margin-top:2px;
    color:#15669a;
    font-size:14px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-left-cont-all{
    background:url(/images/resources/all-videos-btn.png) no-repeat;
    height:36px;
    width:138px;	
    margin:20px auto 0px auto;
    text-align:center;
    padding-top:7px;
}
#content .conten-middle-center-left-cont-all a{
    color:#fff;
    font-size:13px;
    font-style:italic;
    font-weight:100;	
    text-decoration:none;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-left-cont-all a:hover{	
    text-decoration:underline;	
}
/* conten-middle-center-right
-----------------------------------------------------------------------------*/
#content .conten-middle-center-right{
    margin-left:20px;		
    width:475px;
    height:660px;
    float:left;	
}
#content .conten-middle-center-right-title{	
    width:475px;
    height:55px;
    float:left;
}
#content .conten-middle-center-right-title img{	
    float:left;
    margin:7px auto auto 5px;	
}
#content .conten-middle-center-right-title h2{
    margin:20px auto auto 5px;	
    color:#5d3c1b;
    font-size:16px;
    font-weight:200;
    font-style:italic;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* conten-middle-center-right-content video
-----------------------------------------*/
#content .conten-middle-center-right-cont{
    width:475px;
    height:605px;
    float:left;
    background-color:#fff2e1;
    border:1px solid #e9e2cf;
}
#content .conten-middle-center-right-cont ul{
    list-style-type:none;
    height:550px;
}
#content .conten-middle-center-right-cont ul li{
    display:block;	
}
#content .conten-middle-center-right-cont ul li.empty{
    display:block;	
    width: 100%;
    padding: 10px;
    color: #828282; 
    text-align: center; 
    padding-top: 200px;
    font-size: 20px;	
}
.bg{
    background-color:#f5e4d4;
}
#content .conten-middle-center-right-cont ul li div{
    height:54px;
    border-bottom:1px dashed #e6a94e;
}
#content .conten-middle-center-right-cont ul li div b{
    margin:10px auto auto 20px;
    float:left;
    position:relative;
    color:#15669a;
    font-size:14px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-right-cont ul li div b.col{	
    color:#db942f;	
}
#content .conten-middle-center-right-cont ul li div img{
    margin:30px auto auto -20px;
    float:left;position:relative;
}
#content .conten-middle-center-right-cont ul li div a{
    margin:12px auto auto 2px;
    overflow:hidden;
    position:absolute;
    width:290px;	
    color:#15669a;
    font-size:14px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-right-cont ul li div p{
    margin:28px auto auto 60px;
    overflow:hidden;
    position:absolute;
    width:290px;	
    color:#644f3b;
    font-size:13px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-right-cont ul li div span{
    margin:5px 20px auto auto;
    width:90px;
    height:40px;
    float:right;
    position:relative;	
}
#content .conten-middle-center-right-cont ul li div span p{
    margin-top:5px;
    padding-left:5px;
    float:right;
    position:relative;
    color:#644f3b;
    font-size:11px;
    width:90px;
    font-weight:100;
    background-color:#e7d5c3;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-right-cont ul li div span img{
    float:left;
    position:absolute;
    margin:27px auto auto 0px;
}#content .conten-middle-center-right-cont ul li div span b{
    margin-top:2px;
    color:#15669a;
    font-size:14px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-right-cont-all{
    background:url(/images/resources/all-videos-btn.png) no-repeat;
    height:36px;
    width:138px;	
    margin:20px auto 0px auto;
    text-align:center;
    padding-top:7px;
}
#content .conten-middle-center-right-cont-all a{
    color:#fff;
    font-size:13px;
    font-style:italic;
    font-weight:100;	
    text-decoration:none;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-right-cont-all a:hover{	
    text-decoration:underline;	
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {	
    clear:both;
    height: 100px;

}
#footer .footer-center{	
    margin:0 auto;
    width:600px;
    height:100px;			
}
#footer .footer-center-copy{	
    float:left;
    margin:15px auto auto 25px;	
}
#footer .footer-center-copy p{
    margin-bottom:-5px;	
    color:#5d3c1b;
    font-size:11px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
#footer .footer-center-soc-iconki{	
    float:left;
    width:150px;	
    margin:15px auto auto 95px;		
}
#footer .footer-center-menu{
    margin:24px auto auto 10px;
    float:left;	
    background:url(/images/resources/footer-menu-bg.png) no-repeat;
    width:580px;
    height:41px;	
}
#footer .footer-center-menu ul{	
    list-style-type:none;
}
#footer .footer-center-menu ul li{	
    float:left;
    margin:8px 10px auto 12px;
}
#footer .footer-center-menu ul li a{	
    color:#fff;
    font-size:13px;
    font-weight:100;
    text-decoration:none;
    font-style:italic;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#footer ul li img{
    position:absolute;
    margin-left:13px;
}
/* content middle center alfavit menu blok
-----------------------------------------------------------------------------*/
#content .conten-middle-center-alfavit{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    filter: alpha(opacity=95);
    -moz-opacity: 0.95;
    -khtml-opacity: 0.95;
    opacity: 0.95;
}

#content .div1 {
    margin:0px auto auto -3px;
    background:url(/images/resources/alfavit-menu-bg.png) no-repeat;
    width:709px;
    height:226px;
    position:absolute;
    z-index:10000000;
    display:none;
}

#content .div2{
    margin:0px auto auto -3px;
    background: url("/images/resources/alfavit-menu-bg2.png") no-repeat scroll 0% 0% transparent;
    width:709px;
    height:226px;
    position:absolute;
    z-index:10000000;
    display: none;
}

#content .div3{
    margin:0px auto auto -3px;
    background:url("/images/resources/alfavit-menu-bg3.png") no-repeat;
    width:709px;
    height:226px;
    position:absolute;
    z-index:1000000000;
    display:none;
}

#content .conten-middle-center-alfavit a{
    color:#f3e862;
    font-weight:500;
    font-size:12px;
    text-decoration:none;
    cursor:pointer;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 1px;
}
#content .conten-middle-center-alfavit a:hover{
    color:#f3e862;
    text-decoration:none;  	
    background-color: #b31726;
    border-radius:2px;	
    cursor:pointer;    
}
#content .conten-middle-center-alfavit a.selected{
    color:#bcb88b;
    text-decoration:none;  	
    background-color: #b31726;
    border-radius:2px;	
    cursor:pointer;
}

#content .conten-middle-center-alfavit span.disabled{
    color:#dad9cd;
    font-weight:500;
    font-size: 10px;
    text-decoration:none;
    cursor:pointer;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    cursor: default;
    padding:0;
    margin:0;
}
/* content middle center alfavit menu blok rus
--------------------------------------------------*/
#content .conten-middle-center-alfavit-ru{
    margin:10px auto auto 15px;
    float:left;
    width:360px;
    height:15px;
}
#content .conten-middle-center-alfavit-ru-menu{
    margin:10px auto auto 15px;
    float:left;
    width:360px;
    height: 165px;
}

#content .conten-middle-center-alfavit-ru-menu ul{
    list-style-type:none;
}
#content .conten-middle-center-alfavit-ru-menu ul li{
    margin:2px auto 2px auto;	
    height:30px;	
    overflow:hidden;
}
#content .conten-middle-center-alfavit-ru-menu ul li a{
    color:#ffff6a;
    font-weight:100;
    letter-spacing:0px;
    font-size:15px;	
    text-decoration:none;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-alfavit-ru-menu ul li a.on{
    background-color: #B31726;
    border-radius: 2px 2px 2px 2px;
    color: #BCB88B;
    font-weight:100;
    letter-spacing:0px;
    font-size:15px;	
    text-decoration:none;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-alfavit-ru-menu ul li a:hover{	
    text-decoration:underline;	
}
/* content middle center alfavit menu blok eng
--------------------------------------------------*/
#content .conten-middle-center-alfavit-eng{
    margin:10px 0 auto auto ;
    float:right;	
    width:330px;
    height:15px;
}
#content .conten-middle-center-alfavit-eng-menu{
    margin:10px auto auto 15px;
    float:left;
    width:310px;
    height: 165px;
}
#content .conten-middle-center-alfavit-eng-menu ul{
    list-style-type:none;
}
#content .conten-middle-center-alfavit-eng-menu ul li{
    margin:2px auto 2px auto;
    height:30px;
    overflow:hidden;
}
#content .conten-middle-center-alfavit-eng-menu ul li a{
    color:#ffff6a;
    font-weight:100;
    letter-spacing:0px;
    font-size:15px;	
    text-decoration:none;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-alfavit-eng-menu ul li a:hover{	
    text-decoration:underline;	
}

#content .conten-middle-center-alfavit-pager{
    margin:-1px auto auto 5px;	
    width:450px;
    float:left;
    height:20px;
    overflow:hidden;
}
#content .conten-middle-center-alfavit-pager p{
    float:left;
    color:#fff;
    font-size:11px;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-alfavit-pager a{
    padding:0 3px;
    margin-left:5px;
    color:#fff;
    font-size:11px;	
    text-decoration:none;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-alfavit-pager a:hover{	
    color:#fff;	
    padding:0px 3px;
    text-decoration:none;
    background-color: #330000;
    border-radius:2px;	
    -moz-border-radius:3px;
    -khtml-border-radius:5px;
    cursor:pointer;
}
#content .conten-middle-center-alfavit-pager a.selected{
    padding:0px 3px;
    color:#fff;	
    text-decoration:none;
    background-color: #330000;
    border-radius:2px;	
    -moz-border-radius:3px;
    -khtml-border-radius:5px;
    cursor:pointer;
}
#content .conten-middle-center-alfavit-page-count{
    margin:-1px auto auto 130px;	
    width:160px;
    float:left;
    height:20px;
    text-align:right;
    overflow:hidden;
}
#content .conten-middle-center-alfavit-page-count p{
    color:#fff;
    font-size:11px;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#video_paging a.normal{
    padding:1px 3px;
    color:#15669a;
    font-size:13px;	
    text-decoration:none;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#video_paging a.normal:hover{
    padding:1px 3px;
    color:#fff;	
    text-decoration:none;
    background-color:#C80220;
    border-radius:2px;	
    -moz-border-radius:3px;
    -khtml-border-radius:5px;
    cursor:pointer;
}
#video_paging a.selected{
    padding:1px 3px;
    color:#fff;	
    text-decoration:none;
    background-color:#C80220;
    border-radius:2px;	
    -moz-border-radius:3px;
    -khtml-border-radius:5px;
    cursor:pointer;
}

#audio_paging a.normal{
    padding:1px 3px;
    color:#15669a;
    font-size:13px;	
    text-decoration:none;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#audio_paging a.normal:hover{
    padding:1px 3px;
    color:#fff;	
    text-decoration:none;
    background-color:#C80220;
    border-radius:2px;	
    -moz-border-radius:3px;
    -khtml-border-radius:5px;
    cursor:pointer;
}
#audio_paging a.selected{
    padding:1px 3px;
    color:#fff;	
    text-decoration:none;
    background-color:#C80220;
    border-radius:2px;	
    -moz-border-radius:3px;
    -khtml-border-radius:5px;
    cursor:pointer;
}