.iph {
width:300; height:200;
}
#PageWrap {
    background-color: transparent;
background-image: url("/img/bg4.jpg");
    
    background-repeat: no-repeat;
    margin: 0;
}
body {
    background-color: transparent;
    background-image: url("/img/bg-x.jpg");
    background-position: left top;
    background-repeat: repeat-x;
    margin: 0;
}
#optinform {
    margin-top: 10px;
    min-height: 288px;
    padding: 10px;
    margin-right: 5px;
    position: absolute;
    right: 0;
font-size: 16px;
    text-align: left;
line-height: 19px;
    top: 0;
color: rgba(255, 226, 101, 0.9);
    width: 343px;
}
body {



    color: #333333;



    line-height: 20px;



    margin: 0;



    padding: 0;



    position: relative;



}