* {
	margin: 0;
	padding: 0;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	background:url(/images/default/mainbg1.jpg) repeat-x center;
	background-color:#ffc412;
	min-height:1120px;
	max-height:100%;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {	
	width: 1000px;	
	margin: 0 auto;
	height:1115px;	
}
/* Header
-----------------------------------------------------------------------------*/
#header {
	margin-top:4px;
	height: 40px;
}
/* Header top menu1
-----------------------------------------------------------------------------*/
.header_menu1{
	margin-top:-4px;
	margin-left:5px;
	float:left;
	background:url(/images/default/mainheader-menu1.png) no-repeat;
	width:333px;
	height:36px;
}
.header_menu1 ul{
	list-style-type:none;
}
.header_menu1 ul li {
	float:left;
	margin:9px 10px auto 22px;
}
.header_menu1 ul li a{
	color:#fff;
	font-size:13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style:italic;
	text-decoration:none;
}
/* Header top right menu2
-----------------------------------------------------------------------------*/
.header_menu2{
	margin-top:-4px;
	margin-right:18px;
	float:right;
	background:url(/images/default/mainheader-menu2.png) no-repeat;
	width:102px;
	height:36px;
}
.header_menu2 ul{
	list-style-type:none;
}
.header_menu2 ul li {
	float:left;
	margin:10px 0px auto 17px;
}
.header_menu2 ul li a{
	color:#fff;
	text-decoration:none;
}
/* Middle
-----------------------------------------------------------------------------*/
#content {
	height:auto;
	width:1000px;
}
/* content top
-----------------------------------------------------------------------------*/
#content .content-top{
	height:490px;
	width:1000px;
}
/* content bottom left block
-----------------------------------------------------------------------------*/
#content .content-bottom-left{
	float:left;
	width:320px;
	height:483px;	
}
#content .content-bottom-left-block{
	margin-top:70px;
	background:url(/images/default/maincontent-left-blok-bg.png) no-repeat;
	width:317px;
	height:385px;
}
#content .content-bottom-left-block p{
	margin:0px auto auto 40px;
	padding-top:10px;
	color:#5d3c1b;
	width:255px;
	font-size:13px;
	line-height:1.3em;	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .content-bottom-left-block-podskazka p{
	margin:35px auto auto 50px;	
	color:#5b5b5b;
	width:210px;
	font-size:13px;
	line-height:1.3em;
	font-style:italic;	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .content-bottom-left-block ul{
	list-style-type:none;
	margin:40px auto auto 35px;
}
#content .content-bottom-left-block ul li {
	float:left;
	margin-right:7px;
}
#content .content-bottom-left-block ul li img{
	border:1px solid #ebe5dc;
}
/* content bottom center block
-----------------------------------------------------------------------------*/
#content .content-bottom-center{
	float:left;
	width:364px;
	height:483px;	
}
#content .content-bottom-center-reg-form{
	margin:210px auto auto 80px;
	width:220px;
	height:150px;	
}
#content .content-bottom-center-reg-form input{
	margin:-22px auto 5px 8px;	
	width:200px;
	height:25px;
	border:none;
	background-color:transparent;
	color:#696867;
	font-size:13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	position:relative;
	z-index:10000000000;
}
#content .content-bottom-center-reg-form img{
	margin-top:7px;	
	margin-left:2px;
	margin-bottom:-17px;
	position:relative;
	z-index:100;
}
#content .content-bottom-center-text{
	margin:25px auto auto 105px;
	width:180px;	
}
#content .content-bottom-center-text p{
	color:#5d3c1b;
	font-size:12px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:100;
	text-align:center;
}
#content .content-bottom-center-text a{
	color:#5d3c1b;
	font-size:12px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:100;
	text-align:center;	
}
/* content bottom right block
-----------------------------------------------------------------------------*/
#content .content-bottom-right{
	float:left;
	width:310px;
	height:483px;
}
#content .content-bottom-right-block{
	margin-top:70px;
	background:url(/images/default/maincontent-right-blok-bg.png) no-repeat;
	width:313px;
	height:402px;
}
#content .content-bottom-right-block p{
	float:left;
	margin:40px auto auto 35px;	
	color:#5d3c1b;
	width:230px;
	font-size:13px;
	line-height:1.3em;	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .content-bottom-right-block p a{	
	color:#5d3c1b;
	text-decoration:underline;	
}
#content .content-bottom-right-block p a:hover{		
	text-decoration:none;	
}
#content .content-bottom-right-block-player{
	float:left;
	margin:15px auto auto 15px;
	width:280px;	
	height:220px;
	overflow:hidden;
	 border-radius:4px;	
	-moz-border-radius:5px;
	-khtml-border-radius:10px;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {	
	clear:both;
	height: 100px;
		
}
#footer .footer-center{	
	margin:0 auto;
	width:600px;
	height:100px;			
}
#footer .footer-center-copy{	
	float:left;
	margin:15px auto auto 25px;	
}
#footer .footer-center-copy p{
	margin-bottom:-5px;	
	color:#5d3c1b;
	font-size:11px;
	font-weight:700;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
#footer .footer-center-soc-iconki{	
	float:left;
	width:150px;
	height:25px;
	margin:15px auto auto 95px;		
}
#footer .footer-center-menu{
	margin:25px auto auto 10px;
	float:left;	
	background:url(/images/default/mainfooter-menu-bg.png) no-repeat;
	width:580px;
	height:41px;	
}
#footer .footer-center-menu ul{	
	list-style-type:none;
}
#footer .footer-center-menu ul li{	
	float:left;
	margin:8px 12px auto 15px;
}
#footer .footer-center-menu ul li a{	
	color:#fff;
	font-size:13px;
	font-weight:100;
	text-decoration:none;
	font-style:italic;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
