* {
	margin: 0;
	padding: 0;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	background:url(/images/video/page/video-page-bg1.jpg) repeat-x center ;
	background-color:#ffc412;
	min-height:1120px;
	max-height:100%;	
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {	
	width: 1000px;
	margin: 0 auto;
	height:100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	margin-top:4px;
	height: 40px;
}
/* Header top menu1
-----------------------------------------------------------------------------*/
.header_menu1{
	margin:-3px auto auto 13px;
	float:left;
	background:url(/images/video/page/header-menu1.png) no-repeat;
	width:329px;
	height:36px;
}
.header_menu1 ul{
	list-style-type:none;
}
.header_menu1 ul li {
	float:left;
	margin:9px 10px auto 22px;
}
.header_menu1 ul li a{
	color:#fff;
	font-size:13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style:italic;
	text-decoration:none;
}
/* Header top right menu2
-----------------------------------------------------------------------------*/
.header_menu2{
	margin-top:-3px;
	margin-right:8px;
	float:right;
	background:url(/images/video/page/header-menu2.png) no-repeat;
	width:102px;
	height:36px;
}
.header_menu2 ul{
	list-style-type:none;
}
.header_menu2 ul li {
	float:left;
	margin:10px 0px auto 17px;
}
.header_menu2 ul li a{
	color:#fff;
	text-decoration:none;
}
/* Middle
-----------------------------------------------------------------------------*/
#content {
	margin-left:10px;
	height:974px;
	width:1000px;	
}
/* content -top -user menu
-----------------------------------------------------------------------------*/
#content .conten-top-menu{
	margin-left:445px;
	height:50px;
	width:100px;
	position:absolute;
	top:20px;
	text-align:center;
}
#content .conten-top-menu p{
	color:#5d3c1b;
	font-size:11px;
	font-weight:700;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-top-menu ul{
	margin:-22px auto auto -5px;
	list-style-position:inside;
}
#content .conten-top-menu ul li{
	color:#fffffe;
	margin-bottom:10px;
}
#content .conten-top-menu ul li a{
	color:#fffffe;
	font-size:13px;
	font-weight:700;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* content middle
-----------------------------------------------------------------------------*/
#content .conten-middle{
	margin-top:155px;
	float:left;	
	height:800px;
	width:1000px;	
}
#content .conten-middle-presentn-txt{
	margin:2px auto auto 17px;
}
#content .conten-middle-presentn-txt a{
	color:#2e759e;
	font-size:11px;
	font-weight:100;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* content middle 1 block video
-----------------------------------------------------------------------------*/
#content .conten-middle-video{
	margin:20px auto auto 0px;	
	width:485px;
	height:410px;
	float:left;
}
#content .conten-middle-video-txt{
	margin:3px auto auto 70px;	
	width:390px;
	overflow:hidden;
	height:40px;
}
#content .conten-middle-video-txt b{
	color:#725432;
	font-size:16px;
	font-weight:100;
	font-style:italic;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-video-txt p{
	color:#725432;
	font-size:11px;
	font-weight:700;	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-video-txt span{
	margin-left:5px;
	color:#15669a;
	font-size:12px;
	font-weight:100;	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-video-player{
	width:445px;
	height:320px;
	overflow:hidden;
	margin:6px auto auto 16px;
}
#content .conten-middle-video-player-soc-icon{
	width:430px;
	margin:15px auto auto 20px;
}
/* content 2 block right side slovar
-----------------------------------------------------------------------------*/
#content .conten-middle-right-side{
	margin:0px auto auto 0px;	
	width:500px;
	height:390px;
	float:left;
}
/* content 2 block right side slovar txt
----------------------------------------------*/
#content .conten-middle-right-side-txt{
	margin:30px auto auto 5px;	
	width:285px;
	overflow:hidden;
	float:left;
}
#content .conten-middle-right-side-txt p{
	color:#644f3b;
	font-size:11px;
	font-weight:700;	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-left:3px;
}
#content .conten-middle-right-side-txt span{
	margin:0px 4px 0px 3px;
	color:#31769f;
	font-size:12px;
	font-weight:100;	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-right-side-test-btn{
	float:left;
	margin:8px 0px 0px 38px;
}
/* content 2 block right side slovar label
----------------------------------------------*/
#content .conten-middle-right-side-label{
	clear:both;
	float:left;
	margin:0px auto auto 5px;	
	width:495px;
	border-bottom:1px dashed #e6a94e;
}
#content .conten-middle-right-side-label img{	
	float:left;	
}
#content .conten-middle-right-side-label p{
	float:left;
	margin-left:8px;
	color:#15669a;
	font-size:13px;
	font-weight:700;
	font-style:italic;	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* content 2 block right side slovar google block
-------------------------------------------------*/
#content .conten-middle-right-side-google-block{
	margin:0px auto auto 5px;	
	width:475px;
	height:285px;
	float:left;
}
/* content 2 block right side slovar google block txt
-------------------------------------------------*/
#content .conten-middle-right-side-google-block-txt{
	margin:10px auto auto 5px;	
	width:450px;		
	float:left;
}
#content .conten-middle-right-side-google-block-txt p{
	margin-bottom:-1px;
	line-height:1.6;	
	color:#15669a;
	font-size:13px;
	font-weight:700;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-right-side-google-block-txt span{
	color:#5c4631;
	font-size:13px;
	font-weight:700;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#scroll-goog {position:relative; width:420px; height:240px; overflow:auto;}
#scrollcontent-goog {position:absolute;width:400px; z-index:200;}
#scrollbar-goog {float:right;position:relative; display:none; width:18px;height:285px; z-index:100;background-color:#f7f0da; background:url(../image/scroll-bg.png); }
.scroller-goog {position:absolute; width:13px; cursor:pointer; background:url(/images/video/page/scroll.png) no-repeat ;margin:0px auto auto 3px;}
/* 
-------------------------------------------------*/
#content .conten-middle-right-side-google-block-scr-cont{	
	width:420px;
	height:180px;
	float:left;
	background-color:#ffefe0;
	border:1px solid #e7dbcd;	
}
/* 
-------------------------------------------------*/
#content .conten-middle-right-side-google-block-scr-cont-txt-trans-word{
	min-width:280px;
	max-width:419px;
	background-color:#f0e1ce;
	overflow:hidden;
}
#content .conten-middle-right-side-google-block-scr-cont-txt-trans-word p{
	margin-bottom:-1px;
	margin-left:5px;
	line-height:1.6;	
	color:#15669a;
	font-size:13px;
	font-weight:700;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
#content .conten-middle-right-side-google-block-scr-cont-txt-trans-word span{
	color:#5c4631;
	font-size:13px;
	font-weight:700;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
/* 
-------------------------------------------------*/
#content .conten-middle-right-side-google-block-scr-cont-txt{	
	width:410px;float:left;
	overflow:hidden;
	height:115px;
	margin:0px 5px auto 5px;
	border-bottom:1px  dashed #e6a94e;		
}

#content .conten-middle-right-side-google-block-scr-cont-txt-slova{	
	width:360px;
	float:left;
}
#content .conten-middle-right-side-google-block-scr-cont-txt-slova p{
	color:#15669a;
	text-align:left;
	margin-bottom:-1px;
	line-height:1.6;
	font-size:13px;
	font-weight:100;		
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-right-side-google-block-scr-cont-txt-caunt{	
	width:40px;
	float:left;	
}
#content .conten-middle-right-side-google-block-scr-cont-txt-caunt p{
	color:#15669a;
	text-align:right;
	margin-bottom:-1px;
	line-height:1.6;
	font-size:13px;
	font-weight:100;		
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* content 3 block bottom side text translate
------------------------------------------------------------*/
#content .conten-middle-right-side-transl{
	clear:both;
	float:left;
	margin:20px auto auto 15px;	
	width:970px;
	height:310px;
}
#scroll1 {position:relative; width:970px; height:310px; overflow:auto}
#scrollcontent {position:absolute; width:952px; z-index:200; }
#scrollbar {float:right; position:relative; display:none; width:18px; height:310px; z-index:100;background-color:#e7dac5; background:url(../image/scroll-bg.png); }
.scroller {position:absolute; width:13px; cursor:pointer; background:url(/images/video/page/scroll.png) no-repeat ;margin:15px auto 0px 3px;}

/* content 3 block bottom side 1block
--------------------------------------*/
#content .conten-middle-right-side-transl-block1{
	float:left;
	width:458px;		
	background-color:#ffefe0;
	border:1px solid #e7dbcd;
}
#content .conten-middle-right-side-transl-block1-txt{	
	width:423px;
	margin:15px auto auto 20px;	
}
#content .conten-middle-right-side-transl-block1-txt p{	
	color:#5c4631;
	font-size:13px;
	font-weight:100;		
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
/* content 3 block bottom side 2block
---------------------------------------*/
#content .conten-middle-right-side-transl-block2{
	margin-left:15px;
	float:left;
	width:475px;		
	background-color:#ffefe0;
	border:1px solid #e7dbcd;
}
#content .conten-middle-right-side-transl-block2-txt{	
	width:423px;
	margin:15px auto auto 20px;	
}
#content .conten-middle-right-side-transl-block2-txt p{	
	color:#5c4631;
	font-size:13px;
	font-weight:100;		
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {	
	clear:both;
	height: 100px;
		
}
#footer .footer-center{	
	margin:0 auto;
	width:600px;
	height:100px;			
}
#footer .footer-center-copy{	
	float:left;
	margin:15px auto auto 25px;	
}
#footer .footer-center-copy p{
	margin-bottom:-5px;	
	color:#5d3c1b;
	font-size:11px;
	font-weight:700;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
#footer .footer-center-soc-iconki{	
	float:left;
	width:150px;	
	margin:15px auto auto 95px;		
}
#footer .footer-center-menu{
	margin:24px auto auto 10px;
	float:left;	
	background:url(/images/video/page/footer-menu-bg.png) no-repeat;
	width:580px;
	height:41px;	
}
#footer .footer-center-menu ul{	
	list-style-type:none;
}
#footer .footer-center-menu ul li{	
	float:left;
	margin:8px 12px auto 15px;
}
#footer .footer-center-menu ul li a{	
	color:#fff;
	font-size:13px;
	font-weight:100;
	text-decoration:none;
	font-style:italic;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
