* {
    margin: 0;
    padding: 0;
}
body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    width: 100%;
    background:url(/images/audio/audio-page-bg1.jpg) repeat-x center ;
    background-color:#ffc412;
    min-height:1120px;
    max-height:100%;	
}
a {
    color: blue;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 18px
}
img {
    border: none;
}
input {
    vertical-align: middle;
}
#wrapper {	
    width: 1000px;
    margin: 0 auto;
    height:100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
    margin-top:4px;
    height: 40px;
}
/* Header top menu1
-----------------------------------------------------------------------------*/
.header_menu1{
    margin:-3px auto auto 13px;
    float:left;
    background:url(/images/audio/header-menu1-not-line.png) no-repeat;
    width:330px;
    height:36px;
}
.header_menu1 ul{
    list-style-type:none;
}
.header_menu1 ul li {
    float:left;
    margin:9px 5px auto 10px;
}
.header_menu1 ul li img{
    position:absolute;
    margin-left:5px;
}
.header_menu1 ul li a{
    color:#fff;
    font-size:13px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style:italic;
    text-decoration:none;
}

/* Header top right menu2
-----------------------------------------------------------------------------*/
.header_menu2{
    margin-top:-4px;
    margin-right:8px;
    float:right;
    background:url(/images/community/header-menu2-community.png) no-repeat;
    width:299px;
    height:37px;
}
/* Header top right menu2 button
-------------------------------*/
.header_menu2_button{
    float:left;
    width:80px;
    margin:5px  auto auto 20px;
}
.header_menu2_button img{
    position:relative;
    z-index:1;
}
.header_menu2_button a{
    position:relative;
    z-index:100;
    margin:-30px auto auto 17px;
    float:left;
    color:#ffff6a;
    font-size:12px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style:italic;
    text-decoration:none;
}
.header_menu2_credit{	
    width:75px;
    overflow:hidden;
    float:left;
    margin:10px auto auto 10px;
    height: 25px;
}
.header_menu2_credit h1.normal {
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 25px;
    position: relative;
    top: 0;
}

.header_menu2_credit h1.standart {
    color: #FFFFFF;
    font-size: 15px;
    position: relative;
    top: 0;
}
.header_menu2_credit img{
    float: left;
}
/* Header top right menu2 status
-------------------------------*/
.header_menu2_status{
    float:left;
    margin:12px  auto auto 18px;
}
.header_menu2_icon{
    float:left;
    margin:-1px  auto auto 6px;
}
.header_menu2_fr_count{	
    width:45px;
    overflow:hidden;
    float:left;
    margin:10px  auto auto 2px;
}
.header_menu2_fr_count h4{ 
    color:#fff;
    font-size:18px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.header_menu2 ul{
    list-style-type:none;
}
.header_menu2 ul li {
    float:left;
    margin:10px 0px auto 12px;
}  
.header_menu2 ul li a.notifications{
    color:#fff;
    text-decoration:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50); /* IE 5-7 */
    -moz-opacity: 0.5;  /* Netscape */
    -khtml-opacity: 0.5;  /* Safari 1.x */
    opacity: 0.5;  /* Good browsers */
    padding: 10px 0 2px;
}

.header_menu2 ul li a.shown{
    color:#fff;
    text-decoration:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100); /* IE 5-7 */
    -moz-opacity: 1;  /* Netscape */
    -khtml-opacity: 1;  /* Safari 1.x */
    opacity: 1;  /* Good browsers */
    background-color: #FFF6E0; 
    padding: 10px 0 2px;
    border: 1px solid #A2917A; 
    border-raduis: 5px; 
    border-bottom: none;   
    position: relative;
    z-index: 5001
}
/* Middle
-----------------------------------------------------------------------------*/
#content {
    margin-left:10px;
    height:974px;
    width:1000px;	
}
/* content -top -user menu
-----------------------------------------------------------------------------*/
#content .conten-top-menu{
    margin-left:445px;
    height:50px;
    width:100px;
    position:absolute;
    top:20px;
    text-align:center;
}
#content .conten-top-menu p{
    color:#5d3c1b;
    font-size:11px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-top-menu ul{
    margin:-22px auto auto -5px;
    list-style-position:inside;
}
#content .conten-top-menu ul li{
    color:#fffffe;
    margin-bottom:10px;
}
#content .conten-top-menu ul li a{
    color:#fffffe;
    font-size:13px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* content middle
-----------------------------------------------------------------------------*/
#content .conten-middle{
    margin-top:155px;
    float:left;	
    height:800px;
    width:1000px;	
}
#content .conten-middle-presentn-txt{
    margin:2px auto auto 17px;
    width:320px;
    height:18px;
    overflow:hidden;
}
#content .conten-middle-presentn-txt a{
    margin-right:8px;
    color:#2e759e;
    font-size:11px;
    font-weight:100;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* content middle 1 block video
-----------------------------------------------------------------------------*/
#content .conten-middle-video{
    margin:20px auto auto 0px;	
    width:485px;
    height:410px;
    float:left;
}
#content .conten-middle-video img{
    margin:3px auto auto 11px;
    float:left;
}
#content .conten-middle-video-txt{
    margin:3px auto auto 70px;	
    width:390px;
    overflow:hidden;
    height:40px;
}
#content .conten-middle-video-txt b{
    color:#725432;
    font-size:16px;
    font-weight:100;
    font-style:italic;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-video-txt p{
    color:#725432;
    font-size:11px;
    font-weight:700;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-video-txt span{
    margin-left:5px;
    color:#15669a;
    font-size:12px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-video-player{
    width:440px;
    height:270px;
    overflow:hidden;
    background-color:#CFCFCF;
    margin:10px auto auto 16px;
}
#content .conten-middle-video-player-soc-icon{
    width:430px;
    margin:15px auto auto 20px;
}
/* content 2 block right side slovar
-----------------------------------------------------------------------------*/
#content .conten-middle-right-side{
    margin:0px auto auto 0px;	
    width:500px;
    height:390px;
    float:left;
}

#content .conten-middle-right-side-transl a.hide{
    z-index: 10000000; 
    position: absolute; 
    text-align: right; 
    width: 940px;
    color: #15669A;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    /* IE 5-7 */
    filter: alpha(opacity=30);
    /* Netscape */
    -moz-opacity: 0.3;
    /* Safari 1.x */
    -khtml-opacity: 0.3;
    /* Good browsers */
    opacity: 0.3;
    text-decoration: none;
}

#content .conten-middle-right-side-transl a.hide:hover{
    z-index: 10000000; 
    position: absolute; 
    text-align: right; 
    width: 940px;
    color: #15669A;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 5-7 */
    filter: alpha(opacity=100);
    /* Netscape */
    -moz-opacity: 1;
    /* Safari 1.x */
    -khtml-opacity: 1;
    /* Good browsers */
    opacity: 1;
    text-decoration: underline;
}
/* content 2 block right side slovar txt
----------------------------------------------*/
#content .conten-middle-right-side-txt{
    margin:30px auto auto 5px;	
    width:285px;
    overflow:hidden;
    float:left;
}
#content .conten-middle-right-side-txt p{
    margin-right:5px;
    color:#644f3b;
    font-size:11px;
    font-weight:700;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-left:3px;
}
#content .conten-middle-right-side-txt span{
    margin:0px 8px 0px 8px;
    color:#31769f;
    font-size:12px;
    font-weight:100;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-right-side-test-btn{
    float:left;
    margin:8px 0px 0px 38px;
}
/* content 2 block right side slovar label
----------------------------------------------*/
#content .conten-middle-right-side-label{
    clear:both;
    float:left;
    margin:0px auto auto 5px;	
    width:495px;
    border-bottom:1px dashed #e6a94e;
}
#content .conten-middle-right-side-label img{	
    float:left;	
}
#content .conten-middle-right-side-label p{
    float:left;
    margin-left:8px;
    color:#15669a;
    font-size:13px;
    font-weight:700;
    font-style:italic;	
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* content 2 block right side slovar google block
-------------------------------------------------*/
#content .conten-middle-right-side-google-block{
    margin:0px auto auto 5px;	
    width:475px;
    height:285px;
    float:left;
}
/* content 2 block right side slovar google block txt
-------------------------------------------------*/
#content .conten-middle-right-side-google-block-txt{
    margin:10px auto auto 5px;	
    width:450px;

    float:left;
}
#content .conten-middle-right-side-google-block-txt img{		
    float:left;
    cursor: pointer;
    display: block;
    margin-right:5px;
}
#content .conten-middle-right-side-google-block-txt p{
    height:23px;
    margin-bottom:-1px;
    line-height:1.6;	
    color:#15669a;
    font-size:13px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-right-side-google-block-txt span{
    color:#5c4631;
    font-size:13px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#scroll-goog {width:495px; height:240px; overflow:auto;}
/*-------------------------------------------------*/
#content .conten-middle-right-side-google-block-scr-cont{	
    width:420px;
    height:100px;
    float:left;
    background-color:#ffefe0;
    border:1px solid #e7dbcd;
    display: none;
}
/* 
-------------------------------------------------*/
#content .conten-middle-right-side-google-block-scr-cont-txt-trans-word{
    width:419px;
    background-color:#f0e1ce;
    overflow:hidden;
}
#content .conten-middle-right-side-google-block-scr-cont-txt-trans-word p{
    margin-bottom:-1px;
    margin-left:5px;
    line-height:1.6;	
    color:#15669a;
    font-size:13px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
#content .conten-middle-right-side-google-block-scr-cont-txt-trans-word span{
    color:#5c4631;
    font-size:13px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
/* 
-------------------------------------------------*/
#content .conten-middle-right-side-google-block-scr-cont-txt{	
    width:410px;float:left;
    overflow:hidden;
    height:90px;
    margin:0px 5px auto 5px;
    border-bottom:1px  dashed #e6a94e;		
}

#content .conten-middle-right-side-google-block-scr-cont-txt-slova{	
    width:360px;
    float:left;
}
#content .conten-middle-right-side-google-block-scr-cont-txt-slova p{
    color:#15669a;
    text-align:left;
    margin-bottom:-1px;
    line-height:1.6;
    font-size:13px;
    font-weight:100;		
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-right-side-google-block-scr-cont-txt-caunt{	
    width:40px;
    float:left;	
}
#content .conten-middle-right-side-google-block-scr-cont-txt-caunt p{
    color:#15669a;
    text-align:right;
    margin-bottom:-1px;
    line-height:1.6;
    font-size:13px;
    font-weight:100;		
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* content 3 block bottom side text translate
------------------------------------------------------------*/
#content .conten-middle-right-side-transl{
    clear:both;
    float:left;
    margin:20px auto auto 15px;	
    width:970px;
    height:310px;
}
#scroll1 {position:relative; width:970px; height:310px; overflow:auto}
#scrollcontent {width:952px; z-index:200; }
/* content 3 block bottom side 1block
--------------------------------------*/
#content .conten-middle-right-side-transl-block1{
    float:left;
    width:458px;		
    background-color:#ffefe0;
    border:1px solid #e7dbcd;
}
#content .conten-middle-right-side-transl-block1-txt{	
    width:428px;
    padding-bottom:18px;
    margin:15px auto auto 15px;
}
#content .conten-middle-right-side-transl-block1-txt a{	
    color:#5c4631;
    font-size:14px;
    font-weight:100;
    line-height:1em;		
    text-decoration: none;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#content .conten-middle-right-side-transl-block1-txt a.selected{	
    color:#543e2a;
    font-size:14px;
    font-weight:100;		
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
    background-color: #ffc412;
    border-radius: 4px;
    cursor:pointer;
}

#content .conten-middle-right-side-transl-block1-txt a:hover{	
    color:#543e2a;
    font-size:14px;
    font-weight:100;		
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
    background-color: #ffc412;
    border-radius: 4px;
    cursor:pointer;
}
/* content 3 block bottom side 2block
---------------------------------------*/
#content .conten-middle-right-side-transl-block2{
    margin-left:15px;
    float:left;
    width:475px;		
    background-color:#ffefe0;
    border:1px solid #e7dbcd;
}
#content .conten-middle-right-side-transl-block2-txt{	
    width:455px;
    margin:15px auto auto 15px;
}
#content .conten-middle-right-side-transl-block2-txt p{	
    color:#5c4631;
    font-size:14px;
    font-weight:100;			
    text-decoration: none;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* content 3 block bottom side 2block
---------------------------------------*/
#content .conten-middle-right-side-transl-bottom{	
    float:left;
    width:415px;
    height:65px;	
}
#content .conten-middle-right-side-transl-bottom span a{
    position:absolute;	
    margin:7px auto auto 5px;
    color:#1c6a9b;
    font-size:13px;
    font-weight:100;		
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;

}
#content .conten-middle-right-side-transl-bottom p{	
    margin:7px 5px auto 10px;
    float:left;
    color:#5c4631;
    font-size:13px;
    font-weight:100;		
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
#content .conten-middle-right-side-transl-bottom img{	
    margin:7px auto auto 5px;
}

#content .conten-middle-right-side-transl-bottom1{	
    float:left;
    width:205px;
    height:35px;
}
#content .conten-middle-right-side-transl-bottom2{
    margin-left:35px;
    float:left;
    width:170px;
    height:35px;		
}
#content .conten-middle-right-side-transl-bottom3{
    margin:-5px auto auto 5px;
    float:left;
    width:205px;
    height:30px;	
}
#content .conten-middle-right-side-transl-bottom4{
    margin:-5px auto auto 30px;	
    float:left;
    width:170px;
    height:au;	
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {	
    clear:both;
    height: 100px;

}
#footer .footer-center{	
    margin:0 auto;
    width:600px;
    height:100px;			
}
#footer .footer-center-copy{	
    float:left;
    margin:15px auto auto 25px;	
}
#footer .footer-center-copy p{
    margin-bottom:-5px;	
    color:#5d3c1b;
    font-size:11px;
    font-weight:700;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
#footer .footer-center-soc-iconki{	
    float:left;
    width:150px;	
    margin:15px auto auto 95px;		
}
#footer .footer-center-menu{
    margin:24px auto auto 10px;
    float:left;	
    background:url(/images/audio/footer-menu-bg.png) no-repeat;
    width:580px;
    height:41px;	
}
#footer .footer-center-menu ul{	
    list-style-type:none;
}
#footer .footer-center-menu ul li{	
    float:left;
    margin:8px 10px auto 12px;
}
#footer .footer-center-menu ul li a{	
    color:#fff;
    font-size:13px;
    font-weight:100;
    text-decoration:none;
    font-style:italic;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#footer ul li img{
    position:absolute;
    margin-left:13px;
}