body {
	margin: 0;
	padding:0;
	background: #EEE;
}

a {
	font-family: Arial, Helvetica, sans-serif;
	color: #498d9d;
}

a:hover {
	color: #c4006b;
}

li {
	padding-bottom: 4px;
}

div.sup_container1 {
	width: 860px;
	position: relative;
}

div.sup_container2 {
	padding: 30px;
}

div.bg {
	background: #FFF;
	position:relative;
}

div.t {
	background: url('/images/pages/images/angles/t.gif') repeat-x left top;
	position:relative;
	top:  -5px;
}

div.l {
	background: url('/images/pages/images/angles/l.gif') repeat-y left top;
	position:relative;
	left:  -5px;
}

div.b {
	background: url('/images/pages/images/angles/b.gif') repeat-x left bottom;
	position:relative;
	bottom: -15px;
}

div.r {
	background: url('/images/pages/images/angles/r.gif') repeat-y right top;
	position:relative;
	right: -14px;
}


div.lt {
	background: url('/images/pages/images/angles/lt.gif') no-repeat left top;
	position:relative;
	right: 14px;
	bottom: 15px;
}

div.rt {
	background: url('/images/pages/images/angles/rt.gif') no-repeat right top;
	position:relative;
	right: -14px;
}

div.lb {
	background: url('/images/pages/images/angles/lb.gif') no-repeat left bottom;
	position:relative;
	left: -14px;
	bottom:  -15px;
}

div.rb {
	background: url('/images/pages/images/angles/rb.gif') no-repeat right bottom;
	position:relative;
	right: -15px;
}

div.container {
	position:relative;
	text-align:left;
	padding: 40px;
	padding-right: 55px;
}

div.menu {
	margin-top: 30px;
}

div.menu span {
	margin-right: 15px;
}

div.menu span a {
	font-size: 18px;
	text-decoration: none;
	border-bottom: 1px dashed #930050;
}

div.menu span a:hover {
	text-decoration: none;
	border-bottom: 1px dashed #c4006b;
}

div.content {
	margin-top: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	position: relative;
}

div.header {
	margin-bottom: 5px;
	font-size: 22px;
	color: #498d9d;
}

div.subheader, div.content table.clients td div.subheader  {
	font-size: 18px;
	margin-bottom: 5px;
}

table.clients {
	margin-top: 20px;
}

table.clients th {
	padding-right: 20px;
}

table.clients th, table.clients td {
	padding-bottom: 40px;
	font-size: 12px;
}

div.subspace {
	margin-bottom: 3px;
}

div.comment {
	margin-bottom: 5px;
	font-style: italic;
	color: #999;
}

div#popup .sup_container1 {
	position: absolute;
	z-index: 99;
}

div#popup {
	display: none;
	filter:alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;

}

div#loader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding: 20px;
	display: none;
}

div#loader img {
	margin-right: 10px;
}

img.map {
	margin-left: 20px;
}
