<?php $this->placeholder('mycss')->captureStart(); ?>
<style>
    .container {
        background-color: #F8F8F8;
    }

    .space {
        margin-left: 15px;
    }

    .mask {
        position: absolute;
        background-color: #000;
        display: none;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
        top:0;
        left: 0;
        z-index: 10000;
    }

    .category_dialog {
        width: 400px;
        height:auto;
        display: none;
        position: absolute;
        z-index: 10001;
        background-color: #F8F8F8;
        padding: 10px;
    }

    .loading_container {
        width: auto;
        text-align: center;
    }

    .categories_label {
        font-size: 14px;
    }

    .categories_small_label {
        font-size: 11px;
        margin-left: 5px;
    }

    .category_link {
        padding: 2px;
        color: #000;
        margin: 10px 0 0 20px;
    }

    #youtube_audio {
        border: 1px solid #000;
        margin-top: 5px;
        display: none;
    }

    #creator_info {
        background-color: #F8F8F8;
        border: 1px solid #CCCCCC;
        margin: 5px auto;
        padding: 10px;
        width: 700px;
    }
</style>
<?php $this->placeholder('mycss')->captureEnd(); ?>

<?php
$abar = new Lingua_View_ActionBar();

if(Lingua_Auth::hasPermission('audio.save')) 
    $abar->add('audio-save', 'Сохранить', null);

if(Lingua_Auth::hasPermission('audio.publish')) 
    $abar->add('audio-publish', 'Опубликовать', null);

if(Lingua_Auth::hasPermission('audio.unpublish')) 
    $abar->add('audio-unpublish', 'Отменить Публикацию', null);

if(Lingua_Auth::hasPermission('audio.delete')) 
    $abar->add('audio-delete', 'Удалить видео');


    $abar->add('audio-back', 'Назад');

echo $abar->render("Действия");
?>

<div class="mask"></div>
<div class="category_dialog">
    dialog
</div>

<div id="creator_info">
    <strong>Создатель:</strong> <?= $this->audio->firstname . " " . $this->audio->surname; ?> (<?= $this->audio->created_ts; ?>)

</div>

<?= $this->render('/panel/audio-form.php') ?>
<?php $this->placeholder('myscript')->captureStart(); ?>
<script>
    var category_id = -1;
    var mask = $("div.mask");
    var dlg = $("div.category_dialog");
    var doc = $(window);
    
    $(document).ready(function(){
        $("#category").change(function(){
            if($(this).val() == 0) {
                //create category has been selected
                window.location.href= "/admin/categories/audio";
                
            }
            loadaudio();
        });
        
        //save button handler
        $("#audio-save").bind('click', audioSave);

        //publish button handler
        $("#audio-publish").click(function(){
            audioPublish();
        });
        
        //delete button handler
        $("#audio-delete").click(function(){
            audioDelete();
        });
        
        //audio back button handler 
        $("#audio-back").click(function(){
            goBack();
        });
        
    
    });
        
    function init() {
        dlg.css({left: (doc.width()-dlg.width())/2});
        dlg.css({top: (doc.height()-dlg.height())/2});
    }
    
    function categoriesRecevied(data) {
        dlg.html(data);
        init();
        
        $("#save").click(function() {
            $.post('/admin/panel/audio-add-category/', {category_id: category_id, category_name: $("#category_name").val(), category_rank: $("#category_rank").val()} , function(data) {
                audioGetCategories(categoriesRecevied);
            });
        });
    }
     
    function audioGetCategories(callback) {
        $.post('/admin/panel/audio-get-categories', function(data){
            callback(data);
        });
    }
    
    //realtime youtube audio loading 
    $("#url").bind('keyup', audioLoad);
    
    function audioLoad() {
        var url = $("#url").val();
        alert(url);
        
       // if(url.indexOf('youtube.com') == -1)  return;
        
        $(this).attr('disabled', '');
        $('#audio_loading').html("<img src='/images/default/main/loading.gif' width='16' height='16' />");
        
        $.post('/admin/panel/audio-get-from-url', {url: $(this).val()}, function(data) {
            $("#url").removeAttr('disabled');
            $("#youtube_audio").html(data);
            $("#youtube_audio").show();
        
            $('#audio_loading').html("");
        });
    }
    
    //realtime youtube audio loading 
    $("#url").bind('keyup', audioLoad);
    
    function audioLoad() {
        $(this).attr('disabled', '');
        $.post('/admin/panel/audio-get-from-url', {url: $(this).val()}, function(data) {
            $("#url").removeAttr('disabled');
            $("#youtube_audio").html(data);
            $("#youtube_audio").show();
        });
    }
    
    function audioDelete() {
        if(confirm('Вы уверены?')) {
            if(!confirm("Если вы удалите данное видео урок, больше не сможете восстонавить.")) {
                return;
            }
        }
        else return;
        
        $.post('/admin/panel/audio-delete/audio_id/<?= $this->audio->audio_id ?>', function(data){
            goBack();
        });
    }
    
    function goBack() {
        window.location.href = "/admin/panel/audio";
    }
    
    function audioSave() {
        $("#form").attr('action', '/admin/panel/audio-save/type/save/audio_id/<?= $this->audio->audio_id ?>');
        $("#form").submit();
    }
    
    function audioPublish() {
        $("#form").attr('action', '/admin/panel/audio-save/type/publish/audio_id/<?= $this->audio->audio_id ?>');
        $("#form").submit();
    }
</script>
<?php $this->placeholder('myscript')->captureEnd(); ?>