<?php
$abar = new Lingua_View_ActionBar();

if(Lingua_Auth::hasPermission('audio.add')) 
    $abar->add('audio-add', 'Новоя аудио', '/admin/panel/audio-add');
if(Lingua_Auth::hasPermission('audio.save')) 
    $abar->add('audio-edit', 'Редактировать аудио', null, false);

if(Lingua_Auth::hasPermission('audio.delete')) 
    $abar->add('audio-delete', 'Удалить аудио', null, false);

echo $abar->render("Действия");
?>

<?php $this->placeholder('mycss')->captureStart(); ?>
<style>
    .line {
        width: 700px;
        height: 75px;
        display: block;
        border: 2px solid #CCCCCC;
        background-color: #F8F8F8;
        padding: 5px;
        margin: 5px auto;
    }

    .line_hover {
        width: 700px;
        height: 75px;
        display: block;
        border: 2px solid #CCCCCC;
        background-color: #F1F1F1;
        padding: 5px;
        margin: 5px auto;
        cursor: pointer;
    }
</style>
<?php $this->placeholder('mycss')->captureEnd(); ?>

<form method="post" action="/admin/panel/audio">
    <fieldset class="filter">
        <table>
            <tr>
                <td align="center">Категории</td>
                <td align="center">Статус</td>
                <td align="center">Слова</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <select name="audio_category">
                        <option value="0">Все</option>
                        <?php foreach ($this->categories as $category) : ?>
                            <option value="<?= $category['audio_category_id'] ?>" <?php if ($category['audio_category_id'] == $this->category_id) echo "selected" ?>>
                                <?= $category['category_name']; ?>
                            </option>    
                        <?php endforeach; ?>
                    </select>
                </td>

                <td>
                    <select name="audio_status">

                        <option value="0">Все</option>
                        <?php foreach ($this->statuses as $status) : ?>
                            <option value="<?= $status['status'] ?>" <?php if ($status['status'] == $this->status) echo "selected" ?>>
                                <?= $status['status']; ?>
                            </option>    
                        <?php endforeach; ?>
                    </select>
                </td>
                
                <td>
                    <select name="audio_artists">
                        <option value="0">Все</option>
                        <?php  foreach ($this->artists as $artist) : ?>
                            <option value="<?= $artist['audio_artist'] ?>" <?php if ($artist['audio_artist'] == $this->LIST->SESS->artist) echo "selected" ?>>
                                <?= $artist['audio_artist']; ?>
                            </option>    
                        <?php endforeach; ?>
                    </select>
                </td>

                <td>
                    <input type="text" value="<?= $this->keyword; ?>" name="keyword" size="50" />
                </td>
                <td><input type="submit" name="show" value="Показать" /></td>
            </tr>
        </table>
    </fieldset>
</form>
<div id="result"></div>
<?php
$data = $this->LIST->getRecords();
echo $this->LIST->tbarHeader();

foreach ($data as $d) {
    $obj = new Lingua_Object($d);
    ?>
    <div class="line" id="<?= $obj->audio_id ?>">
        <div style="margin: 0; padding: 0">
            <strong>Название:</strong> <?= $obj->title ?>
        </div>
        <div style="margin: 5px 0 0 0; padding: 0; font-size: 12px;">
            <strong>Создатель:</strong> <?= $obj->firstname . ' ' . $obj->surname ?> (<?= $obj->created_ts; ?>)
        </div>
        <div style="margin: 5px 0 0 0; padding: 0; font-size: 12px;">
            <strong>Категория:</strong> <?= $obj->category_name ?>
        </div>

        <div style="margin: 5px 0 0 0; padding: 0; font-size: 12px;">
            <strong>Статус:</strong> <?= $obj->status ?>
        </div>
    </div>
    <?php
}

echo $this->LIST->tbarHeader();
?>


<?php $this->placeholder('myscript')->captureStart(); ?>
<script>
    var selected_audio = -1;
    var audio_edit_btn = null;
    var audio_delete_btn = null;
    
    $(document).ready(function(){
        init();
    });
    
    function init() {
        $('div.line').each(function(index, element){
            $(element).bind('mouseover', line_mouseover);
            $(element).bind('mouseout', line_mouseout);
            $(element).bind('click', line_click);
            $(element).bind('dblclick', line_dblclick);
        });
        
        audio_edit_btn = $("#audio-edit");
        audio_edit_btn.bind("click", audioEdit);
        
        audio_delete_btn = $("#audio-delete");
        audio_delete_btn.bind("click", audioDelete);        
    }
    
    function line_mouseover() {
        $(this).removeClass('line');
        $(this).addClass('line_hover');
    }
    
    function line_dblclick() {
        $("#"+selected_audio).removeClass('line_hover');
        $("#"+selected_audio).addClass('line');
        $(this).addClass('line_hover');
        
        if(selected_audio == this.id) selected_audio = -1;
        else selected_audio = this.id;
        
        audioEdit();
    }
    
    function line_mouseout() {
        if(this.id  == selected_audio) return;
        
        $(this).removeClass('line_hover');
        $(this).addClass('line');
    }
    
    function line_click() {
        $("#"+selected_audio).removeClass('line_hover');
        $("#"+selected_audio).addClass('line');
        $(this).addClass('line_hover');
        
        if(selected_audio == this.id) selected_audio = -1;
        else selected_audio = this.id;
        
        
        if(selected_audio != -1) {
            audio_delete_btn.removeAttr('disabled');
            audio_edit_btn.removeAttr('disabled');
        }
        else {
            audio_edit_btn.attr('disabled', '');
            audio_delete_btn.attr('disabled', '');
            
        }
    }
    
    function audioDelete() {
        if(confirm('Вы уверены?')) {
            if(!confirm("Если вы удалите данное видео урок, больше не сможете восстонавить.")) {
                return;
            }
        }
        else return;
        
        if(selected_audio == -1) return;
        $.post('/admin/panel/audio-delete/audio_id/'+selected_audio, function(data){
            $("#result").html(data);
            $("#"+selected_audio).fadeOut();
        });
    }
    
    function audioEdit() {
        window.location.href = "/admin/panel/audio-edit/audio_id/"+selected_audio;
    }
    
</script>
<?php $this->placeholder('myscript')->captureEnd(); ?>