<object width="550" height="42">
    <param name="movie" value="<?= $this->url ?>"></param>
    <embed src="<?= $this->url ?>" type="application/x-shockwave-flash" width="550" height="42"></embed>
</object>
