<?php
$abar = new Lingua_View_ActionBar();


if(Lingua_Auth::hasPermission('video.add')) 
    $abar->add('video-add', 'Новое видео', '/admin/panel/video-add');
if(Lingua_Auth::hasPermission('video.save')) 
    $abar->add('video-edit', 'Редактировать видео', null, false);
if(Lingua_Auth::hasPermission('video.publish')) 
    $abar->add('video-delete', 'Удалить видео', null, false);

echo $abar->render("Действия"); ?>

<?php $this->placeholder('mycss')->captureStart(); ?>
<style>
    .line {
        width: 700px;
        height: 75px;
        display: block;
        border: 2px solid #CCCCCC;
        background-color: #F8F8F8;
        padding: 5px;
        margin: 5px auto;
    }

    .line_hover {
        width: 700px;
        height: 75px;
        display: block;
        border: 2px solid #CCCCCC;
        background-color: #F1F1F1;
        padding: 5px;
        margin: 5px auto;
        cursor: pointer;
    }
</style>

<style>
    table.list tr {
        border: 2px solid #CCCCCC;
        background-color: #F8F8F8;
        height: 30px;
    }

    table.list tr:hover {
        border: 2px solid #CCCCCC;
        background-color: #F1F1F1;
        height: 30px;
    }
    
</style>
<?php $this->placeholder('mycss')->captureEnd(); ?>

<form method="post" action="/admin/panel/video">
    <fieldset class="filter">
        <table>
            <tr>
                <td align="center">Категории</td>
                <td align="center">Статус</td>
                <td align="center">Исполнитель</td>
                <td align="center"><?php if(Lingua_Auth::hasPermission('video.view.creators')): ?>Создатель<?php endif; ?></td>
                <td align="center"></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <select name="video_category">
                        <option value="0">Все</option>
                        <?php foreach ($this->categories as $category) : ?>
                            <option value="<?= $category['video_category_id'] ?>" <?php if ($category['video_category_id'] == $this->LIST->SESS->category_id) echo "selected" ?>>
                                <?= $category['category_name']; ?>
                            </option>    
                        <?php endforeach; ?>
                    </select>
                </td>

                <td>
                    <select name="video_status">
                        <option value="0">Все</option>
                        <?php foreach ($this->statuses as $status) : ?>
                            <option value="<?= $status['status'] ?>" <?php if ($status['status'] == $this->LIST->SESS->status) echo "selected" ?>>
                                <?= $status['status']; ?>
                            </option>    
                        <?php endforeach; ?>
                    </select>
                </td>

                <td>
                    <select name="video_artists">
                        <option value="0">Все</option>
                        <?php foreach ($this->artists as $artist) : ?>
                            <option value="<?= $artist['video_artist'] ?>" <?php if ($artist['video_artist'] == $this->LIST->SESS->artist) echo "selected" ?>>
                                <?= $artist['video_artist']; ?>
                            </option>    
                        <?php endforeach; ?>
                    </select>
                </td>
                
                <td>
                    <?php if(Lingua_Auth::hasPermission('video.view.creators')): ?>
                    <select name="video_creator">
                        <option value="0">Все</option>
                        <?php foreach ($this->creators as $creator) : ?>
                            <option value="<?= $creator['lingua_id'] ?>" <?php if ($creator['lingua_id'] == $this->LIST->SESS->creator) echo "selected" ?>>
                                <?= $creator['creator']; ?>
                            </option>    
                        <?php endforeach; ?>
                    </select>
                    <?php endif; ?>
                </td>
                <td colspan="1"></td>
            </tr>
            <tr>
                <td colspan="5">
                    Слова<input type="text" value="<?= $this->LIST->SESS->keyword; ?>" name="keyword" size="50" />
                    <input type="submit" name="show" value="Показать" />
                </td>
            </tr>
        </table>
    </fieldset>
</form>
<div id="result"></div>

<?php
$data = $this->LIST->getRecords();
?>

<table class="list" style="margin: 0 auto; width: 100%">
    <tr align="right">
        <td colspan="7">
            <?= $this->LIST->tbarHeader(); ?>
        </td>
    </tr>
    <tr>
        <th></th>
        <th>
            Название
        </th>
        <th>
            Создатель
        </th>
        <th>
            Категория
        </th>
        <th>
            Статус
        </th>
        <th>
            Исполнитель
        </th>
        <th>
            Создан в
        </th>
    </tr>

    

    <?php
    $index  = 1;
    foreach ($data as $d) {
        $obj = new Lingua_Object($d);
        ?>
        <tr>
            <td><?= $index ?></td>
            <td><a href="/admin/panel/video-edit/video_id/<?= $obj->video_id; ?>"><?= $obj->title; ?></a></td>
            <td><?= $obj->firstname . ' ' . $obj->surname ?></td>
            <td><?= $obj->category_name ?></td>
            <td><?= $obj->status; ?></td>
            <td><?= $obj->video_artist; ?></td>
            <td><?= $obj->created_ts; ?></td>
        </tr>
        <?php
        $index++;
    }
    ?>
        
    <tr align="right">
        <td colspan="7">
            <?= $this->LIST->tbarHeader(); ?>
        </td>
    </tr>
</table>


<?php $this->placeholder('myscript')->captureStart(); ?>
<script>
    var selected_video = -1;
    var video_edit_btn = null;
    var video_delete_btn = null;
    
    $(document).ready(function(){
        init();
    });
    
    function init() {
        $('div.line').each(function(index, element){
            $(element).bind('mouseover', line_mouseover);
            $(element).bind('mouseout', line_mouseout);
            $(element).bind('click', line_click);
            $(element).bind('dblclick', line_dblclick);
        });
        
        video_edit_btn = $("#video-edit");
        video_edit_btn.bind("click", videoEdit);
        
        video_delete_btn = $("#video-delete");
        video_delete_btn.bind("click", videoDelete);        
    }
    
    function line_mouseover() {
        $(this).removeClass('line');
        $(this).addClass('line_hover');
    }
    
    function line_dblclick() {
        $("#"+selected_video).removeClass('line_hover');
        $("#"+selected_video).addClass('line');
        $(this).addClass('line_hover');
        
        selected_video = this.id;
        
        videoEdit();
    }
    
    function line_mouseout() {
        if(this.id  == selected_video) return;
        
        $(this).removeClass('line_hover');
        $(this).addClass('line');
    }
    
    function line_click() {
        $("#"+selected_video).removeClass('line_hover');
        $("#"+selected_video).addClass('line');
        $(this).addClass('line_hover');
        
        if(selected_video == this.id) selected_video = -1;
        else selected_video = this.id;
        
        
        if(selected_video != -1) {
            video_delete_btn.removeAttr('disabled');
            video_edit_btn.removeAttr('disabled');
        }
        else {
            video_edit_btn.attr('disabled', '');
            video_delete_btn.attr('disabled', '');
            
        }
    }
    
    function videoDelete() {
        if(confirm('Вы уверены?')) {
            if(!confirm("Если вы удалите данное видео урок, больше не сможете восстонавить.")) {
                return;
            }
        }
        else return;
        
        if(selected_video == -1) return;
        $.post('/admin/panel/video-delete/video_id/'+selected_video, function(data){
            $("#result").html(data);
            $("#"+selected_video).fadeOut();
        });
    }
    
    function videoEdit() {
        window.location.href = "/admin/panel/video-edit/video_id/"+selected_video;
    }
    
</script>
<?php $this->placeholder('myscript')->captureEnd(); ?>