<?php $this->placeholder('mycss')->captureStart(); ?>
<style>
    .container {
        background-color: #F8F8F8;
    }

    .space {
        margin-left: 15px;
    }

    .mask {
        position: absolute;
        background-color: #000;
        display: none;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
        top:0;
        left: 0;
        z-index: 10000;
    }

    .category_dialog {
        width: 400px;
        height:auto;
        display: none;
        position: absolute;
        z-index: 10001;
        background-color: #F8F8F8;
        padding: 10px;
    }

    .loading_container {
        width: auto;
        text-align: center;
    }

    .categories_label {
        font-size: 14px;
    }

    .categories_small_label {
        font-size: 11px;
        margin-left: 5px;
    }

    .category_link {
        padding: 2px;
        color: #000;
        margin: 10px 0 0 20px;
    }

    #youtube_video {
        border: 1px solid #000;
        margin-top: 5px;
        display: none;
    }

    #creator_info {
        background-color: #F8F8F8;
        border: 1px solid #CCCCCC;
        margin: 5px auto;
        padding: 10px;
        width: 700px;
    }
</style>
<?php $this->placeholder('mycss')->captureEnd(); ?>

<?php
$abar = new Lingua_View_ActionBar();
$abar->add('video-save', 'Сохранить', null);
$abar->add('video-publish', 'Опубликовать', null);
$abar->add('video-unpublish', 'Отменить Публикацию', null);
$abar->add('video-delete', 'Удалить видео');
$abar->add('video-back', 'Назад');

echo $abar->render("Действия");
?>

<div class="mask"></div>
<div class="category_dialog">
    dialog
</div>

<div id="creator_info">
    <strong>Создатель:</strong> <?= $this->video->firstname . " " . $this->video->surname; ?> (<?= $this->video->created_ts; ?>)

</div>

<?= $this->render('/panel/video-form.php') ?>
<?php $this->placeholder('myscript')->captureStart(); ?>
<script>
    var category_id = -1;
    var mask = $("div.mask");
    var dlg = $("div.category_dialog");
    var doc = $(window);
    
    $(document).ready(function(){
        $("#category").change(function(){
            if($(this).val() == 0) {
                //create category has been selected
                window.location.href= "/admin/categories/video";
                
            }
            loadVideo();
        });
        
        //save button handler
        $("#video-save").bind('click', videoSave);

        //publish button handler
        $("#video-publish").click(function(){
            videoPublish();
        });
        
        //delete button handler
        $("#video-delete").click(function(){
            videoDelete();
        });
        
        //video back button handler 
        $("#video-back").click(function(){
            goBack();
        });
        
        
    });
      videoLoad();  
    function init() {
        dlg.css({left: (doc.width()-dlg.width())/2});
        dlg.css({top: (doc.height()-dlg.height())/2});
    }
   
    //realtime youtube video loading 
    $("#url").bind('keyup', videoLoad);
    
    function videoLoad() {
        $("#url").attr('disabled', '');
        $.post('/admin/panel/video-get-from-url', {url: $("#url").val()}, function(data) {
            $("#url").removeAttr('disabled');
            $("#youtube_video").html(data);
            $("#youtube_video").show();
        });
    }
    
    function videoDelete() {
        if(confirm('Вы уверены?')) {
            if(!confirm("Если вы удалите данное видео урок, больше не сможете восстонавить.")) {
                return;
            }
        }
        else return;
        
        $.post('/admin/panel/video-delete/video_id/<?= $this->video->video_id ?>', function(data){
            goBack();
        });
    }
    
    function goBack() {
        window.location.href = "/admin/panel/video";
    }
    
    function videoSave() {
        $("#form").attr('action', '/admin/panel/video-save/type/save/video_id/<?= $this->video->video_id ?>');
        $("#form").submit();
    }
    
    function videoPublish() {
        $("#form").attr('action', '/admin/panel/video-save/type/publish/video_id/<?= $this->video->video_id ?>');
        $("#form").submit();
    }
</script>
<?php $this->placeholder('myscript')->captureEnd(); ?>