<?php
$abar = new Lingua_View_ActionBar();

if(Lingua_Auth::hasPermission('video.save')) 
    $abar->add('video-save', 'Сохранить', null);
if(Lingua_Auth::hasPermission('video.publish')) 
    $abar->add('video-publish', 'Опубликовать', null);

if(Lingua_Auth::hasPermission('video.unpublish')) 
    $abar->add('video-unpublished', 'Отменить ', null, false);

echo $abar->render("Действия");
?>

<?php $this->placeholder('mycss')->captureStart(); ?>
<style>
    .container {
        background-color: #F8F8F8;
    }

    .space {
        margin-left: 15px;
    }

    .mask {
        position: absolute;
        background-color: #000;
        display: none;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
        top:0;
        left: 0;
        z-index: 10000;
    }

    .category_dialog {
        width: 400px;
        height:auto;
        display: none;
        position: absolute;
        z-index: 10001;
        background-color: #F8F8F8;
        padding: 10px;
    }

    .loading_container {
        width: auto;
        text-align: center;
    }

    .categories_label {
        font-size: 14px;
    }

    .categories_small_label {
        font-size: 11px;
        margin-left: 5px;
    }

    .category_link {
        padding: 2px;
        color: #000;
        margin: 10px 0 0 20px;
    }

    #youtube_video {
        border: 1px solid #000;
        margin-top: 5px;
        display: none;
    }
</style>
<?php $this->placeholder('mycss')->captureEnd(); ?>
<div class="mask"></div>
<div class="category_dialog">
    dialog
</div>
<?= $this->render('/panel/video-form.php') ?>
<?php $this->placeholder('myscript')->captureStart(); ?>
<script>
    var category_id = -1;
    var mask = $("div.mask");
    var dlg = $("div.category_dialog");
    var doc = $(window);
    
    $(document).ready(function(){
        $("#category").change(function(){
            if($(this).val() == 0) {
                //create category has been selected
                window.location.href= "/admin/categories/video";
            }
        });
    });
    
    
    
    function init() {
        dlg.css({left: (doc.width()-dlg.width())/2});
        dlg.css({top: (doc.height()-dlg.height())/2});
    }
    
    function categoriesRecevied(data) {
        dlg.html(data);
        
        $("#close").click(function(){
            dlg.hide();
            mask.hide();
        });
        init();
        
        $("#save").click(function() {
            $.post('/admin/panel/video-add-category/', {category_id: category_id, category_name: $("#category_name").val(), category_rank: $("#category_rank").val()} , function(data) {
                videoGetCategories(categoriesRecevied);
            });
        });
    }
     
    function videoGetCategories(callback) {
        $.post('/admin/panel/video-get-categories', function(data){
            callback(data);
        });
    }
    
    //realtime youtube video loading 
    $("#url").bind('keyup', videoLoad);
    
    function videoLoad() {
        var url = $(this).val();
        if(url.indexOf('youtube.com') == -1)  return;
        
        $(this).attr('disabled', '');
        $('#video_loading').html("<img src='/images/default/main/loading.gif' width='16' height='16' />");
        
        $.post('/admin/panel/video-get-from-url', {url: $(this).val()}, function(data) {
            $("#url").removeAttr('disabled');
            $("#youtube_video").html(data);
            $("#youtube_video").show();
        
            $('#video_loading').html("");
        });
    }
    
    //save button handler
    $("#video-save").bind('click', videoSave);
    $("#video-publish").bind('click', videoPublish) 
    function videoSave() {
        $("#form").attr('action', '/admin/panel/video-save/type/save/');
        $("#form").submit();
    }

    function videoPublish() {
        $("#form").attr('action', '/admin/panel/video-save/type/publish/');
        $("#form").submit();
    }
</script>
<?php $this->placeholder('myscript')->captureEnd(); ?>