<span class="categories_label">Название:</span> <input type="text" name="category_name" id="category_name" />
<span class="categories_label">Ранк:</span> <input type="text" value="<?= ($this->lastest_rank + 1) ?>" name="category_rank" id="category_rank" size="2" />
<span class="categories_small_label">(Текущий: <?= $this->lastest_rank ?>)</span>
<br />
<div class="category_tools" style="margin-top: 15px;">    
    <a href="#" class="category_link" id="save">Добавить</a>
    <a href="#" class="category_link" id="close">Закрыть</a>
</div>

<div style="margin-top: 10px;">
    <table>

        <?php foreach ($this->categories as $category) : ?>
            <tr>
                <td>
                    <h3 style="padding: 0; margin: 0 0 0 10px;"><?= $category['category_name']; ?></h3>
                </td>
            </tr>
        <?php endforeach; ?>
    </table>
</div>

<hr />

<br />
<? if (count($this->categories) == 0): ?>
    Лист категории пусто
<? endif; ?>