body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font: normal 12px/15px sans-serif;
}

#x_head {
    width: 100%;
    height: 39px;
    background-color: #3B5998;
    color: #D8DFEA;
    display: block;
}

#x_head .logo {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

#x_head .title {
    float: left;
    margin: 0 0 0 300px;
    padding: 6px 2px 6px 2px;
    background-color: #4B67A1;
    font: normal 25px/25px sans-serif;
    color: #fff;
}

#x_head .info {
    float: right;
}

#x_head .info a.logout {
    color: #fff;
}

#x_head .info a.logout:hover {
    text-decoration: none;
}

#x_head .info ul{
    color: #cccccc;
    display: block;
    font: 13px Verdana,Geneva,sans-serif;
    list-style: none outside none;
    margin: 4px 10px 0 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#x_head .info li{   
    display: block;
    float: left;
    line-height: 27px;
    padding: 0 5px;
}


#x_head .logout {

}

#x_left {
    width: 250px;
    display: block;
    height: 100%;
    float: left;
    border-right: 1px solid #D6D6D6;
}

#x_content {
    float: left;
    width: 100%;
}

#x_right {
    width: 250px;
    border-left: 1px solid #D6D6D6;
    display: block;
    min-height: 600px;
    max-height: 100%;
    float: right;
    background-color: #F8F8F8;
}

#wrapper {
    height: 100%;
}

#pager {
    width: 100%;
}

#link_prev {
}

.sep {
    background: url("/images/admin/xtmp/sep.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 20px;
    width: 1px;
    margin-top: 5px;
}

.act {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #D6D6D6;
}

fieldset {
    border: 1px solid #CCCCCC;
    padding: 10px;
    width: 700px;
    margin: 5px auto;
}

.link {
    float: left;
    margin-left: 3px;
}

.filter {
    width: 710px;
    border-radius: 0;
    height: 100px;
    display: block;
    border: 1px solid #CCCCCC;
    background-color: #F8F8F8;
    padding: 5px;
    margin: 5px auto;
}

.sidebar {
    height: 100%;
}

.video {

}

#filter {
    margin:0;
    padding: 0;
    width: 150px; 
    background-color: #F8F8F8
}

#filter h3 {
    width: 100%;
    text-align: center;
    display: block;
    background-color: #666;
    height: 25px;
    padding-top: 5px;
    color: white;
    margin: 0;
}

#filter .filter_body {
    margin-left: 5px;
}

#filter input[type=text] {
    width: 150px;
    text-align: center;
}

/**
    Для уроков
**/
    div.container {overflow: hidden}
    .lesson-form .step {
        margin-bottom: 30px;
    }
    .step {
        border: 1px solid silver;
    }
    .step .title {
        background: #F8F8F8;
    }
    .step .content {
        padding: 20px;
    }
    #phrases .phrase, #words .word {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid black;
        padding: 10px;
    }
    #phrases .phrase .text1 {
        margin-bottom: 7px;
    }
    #phrases .phrase .label, .word .label {
        font-weight: bold;        
    }
    .lesson-form .addlinks {
        margin-top: 10px;
    }
    .lesson-form .addlinks a {
        font-size: 18px;
        margin-right: 10px;
    }
    #phrases {
        width: 300px;
        float: left;
        border-right: 1px solid silver;
        padding-right: 20px;
    }
    #words {
        width: 300px;
        float: left;
        padding-left: 20px;
        border-left: 1px solid silver;
    }
    
     div.lesson-form {
        margin-left: 58px;
        margin-right: 58px;
    }
    div.lesson-form .step .title {
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 20px;
    }
    .defaultSkin .mceExternalToolbar td.mceToolbar {
        display: none !important;
    }
    .defaultSkin a:hover, .defaultSkin a:link, .defaultSkin a:visited, .defaultSkin a:active {
        display: none !important;
    }
    textarea.tinymce {
        width: 600px;
        height: 200px;
    }
   