<h1> An error occured </h1>

<h2>
    <?php echo $this->message; ?>
</h2>

<h3>Exception information: </h3>

<p>
    <b>Message</b> 
    <?= $this->exception->getMessage(); ?>
</p>

<h3>Stack Trace: </h3>
<pre> 
    <?= $this->exception->getTraceAsString(); ?>
</pre>

<h3>Request Parameters: </h3>
<?php Daz_Debug::dump($this->request->getParams()); ?>