<div id="classContainer">

</div>
<div class="conten-middle-top-blok">
    <h2>Тренинги</h2>

</div><!-- #conten-middle-top-blok--> 
<div class="conten-middle-center">  
    <div class="conten-middle-center-cont" style="position: relative;">


        <div id="training" style="width: 962px; height: 653px; position: absolute; left: 0">
            <div class="conten-middle-center">   
                <center>
                    <h4 id="training_title"></h4>
                </center>

                <div class="conten-middle-center-tren1-tblock">  

                    <div class="conten-middle-center-left-block">left words side</div>
                    <div class="conten-middle-center-right-block">
                        <?php foreach ($this->words as $word) : ?>
                            <?php
                            for ($i = 0; $i < strlen($word); $i++) {
                                
                            }
                            ?>
                        <?php endforeach; ?>
                    </div> 
                </div>   
            </div><!-- #conten-blok-->
            <div class="conten-middle-center-back-bottom">
                <a href="#" onclick="return false;">назад к тренингам</a>
            </div>
        </div> <!-- #conten-middle-center--> 
        <div id="error"> 
            <p>В вашем словаре еще недостаточно слов.<br /> Начните пополнять словарь, нажимая на незнакомые слова в разделе 
                <a href="/resources" id="resources" target="_blank">Видео/Аудио</a>
            </p>
        </div>

        <div id="popup">пометить как выученное</div>
    </div>    
</div> <!-- #conten-middle-center-->   
