<link rel="stylesheet" href="/css/training/coaching/coaching.css" type="text/css" media="screen, projection" />

<h2>Тренинги</h2>
<div class="conten-middle-top-blok">                    
    <div class="conten-middle-top-blok-search"></div>
</div><!-- #conten-middle-top-blok-->

<div class="conten-middle-center"> 
    <div class="conten-middle-center-left">   
        <?php if (!$this->denied) : ?>
            <div class="conten-middle-center-left-cont">   
                <div id="scroll1">
                    <div id="scrollcontent">    

                        <div class="conten-middle-center-left-cont-bl">
                            <h2 style="text-decoration: underline;">
                                Видео уроки
                                <ul class="word_click">
                                    <?php foreach ($this->data as $key => $lesson) : ?>
                                        <?php $class = ($lesson->id == $this->id) ? 'on' : 'off'; ?>
                                        <li class="<?= $class ?>">
                                            <p>
                                                <a href="/training-coaching?id=<?= $lesson->id ?>"><?= $lesson->lesson_title; ?></a>
                                            </p>
                                        </li>
                                    <?php endforeach; ?>
                                </ul>

                            </h2>
                        </div>

                    </div>
                </div>
            </div>     
        <?php else : ?>
            <div class="conten-middle-center-left-cont disabled">
            </div>
        <?php endif; ?>
    </div><!-- #conten-middle-center-left-->                   

    <div class="conten-middle-center-right">               	              
        <div class="conten-middle-center-right-cont">

            <div id="jpId" style="display: none; width:0; height: 0; position: absolute; z-index: none;"></div> 
            <div class="conten-middle-center-right-cont-bl">
                <h2 style="width: 100%; text-align: center;">
                    <?php if ($this->denied) : ?>
                        Доступ закрыт для вашей учётной записи
                    <?php else : ?>
                        <?php if (!$this->lesson->url) : ?>
                            Ожидается...
                        <?php else: ?>
                            <p><?= $this->lesson->desc; ?></p>
                            <img src="/images/training/coaching/<?= $this->lesson->img ?>" width="400" height="auto" />
                        <?php endif; ?>
                    <?php endif; ?>
                </h2>
            </div>                   
        </div>
    </div><!-- #conten-middle-center-right-->
</div> <!-- #conten-middle-center--> 

<div id="lesson" style="position: absolute; z-index: 1000000; display: none; top: 150px;">
</div>

<?php if (!$this->denied) : ?>
    <?php $this->placeholder('myscript')->captureStart(); ?>
    <script type="text/javascript" src="/js/fancybox/jquery.fancybox.js?v=2.0.6"></script>
    <script type="text/javascript" src="/js/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="/js/fancybox/helpers/jquery.fancybox-buttons.js"></script>
    <script>
        $(document).ready(function() {                  
            var $img = $('.conten-middle-center-right-cont-bl img');
            $img.css('cursor', 'pointer');
            $img.click(function() {
                $('#lesson').fancybox({
                    helpers: {
                        title : {
                            type : 'outside'
                        },
                        overlay : {
                            speedIn : 1200,
                            opacity : 0.45
                        },
                        modal: true
                    },
                                                                            
                    type: 'iframe',
                    href: '<?= trim($this->lesson->url) ?>',
                    width: 1024,
                    height: 900
                }).trigger('click');
            });
    <?php if (Daz_Request::get('id')) : ?>
                // $('#lesson').show();
                $('#lesson').fancybox({
                    helpers: {
                        title : {
                            type : 'outside'
                        },
                        overlay : {
                            speedIn : 1200,
                            opacity : 0.45
                        },
                        modal: true
                    },
                                                                                                                
                    type: 'iframe',
                    href: '<?= trim($this->lesson->url) ?>',
                    width: 1024,
                    height: 900
                                                                                                                
                }).trigger('click');
    <?php endif; ?>
        });
    </script>
    <?php $this->placeholder('myscript')->captureEnd(); ?>
<?php endif; ?>