<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<style type="text/css">
	b{
	float:left;
	width:870px;
	margin-left:30px;	
	color:#5c4631;
	text-align:left;	
	line-height:1.3;
	font-size:13px;
	font-weight:100;		
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
	h2{
	margin-top:10px;
	color:#970100;
	font-size:20px;
	font-style:italic;
	font-weight:100;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
</style>
<div class="conten-middle-center" style="border:none;overflow:auto;overflow-x:hidden;height:720px;">
<h2>О школе</h2>
    <div class="conten-middle-center-cont" style="height:auto;  padding-left: 5px;"><br/>           
<b style="width:500px">
Международная онлайн-школа по изучению иностранных языков Langwee дает возможность выучить английский, немецкий, французский, испанский, итальянский, а также другие языки, которые постоянно появляются в школе. Онлайн-школа доступна круглосуточно 7 дней в неделю: вы сможете учиться в любое удобное для вас время и из любой точки мира, где есть доступ в сеть Интернет. Langwee включила в себя все необходимое для быстрого, легкого, максимально эффективного, нацеленного на результат изучения иностранного языка.<br /><br />
</b><iframe width="350" height="250" src="http://www.youtube.com/embed/CGSXUFfHxbs" frameborder="0" ></iframe>
        <div class="conten-middle-top-blok">
            <h2>Для кого подойдет Langwee?</h2>
        </div><!-- #conten-middle-top-blok-->
<b>
Langwee подойдет абсолютно всем людям, которые хотят выучить иностранный язык, знать его и свободно говорить на нем. Онлайн-школа Langwee необходима:<br />
- новичкам и тем, кто хочет выучить язык с нуля (starter, beginner, elementary);<br />
- людям со средним уровнем владения языка (pre-intermediate, intermediate);<br />
- людям с продвинутым уровнем владения языка и тем, кто владеет им в совершенстве(upper- intermediate, advanced);<br />
- детям;<br />
- взрослым, кто никогда не изучал язык и думает, что уже бесполезно начинать;<br />
- тем, кто изучает иностранный язык в университете, школе, на языковых курсах;<br />
- путешественникам и людям, которые хотят начать путешествовать;<br />
- тем, кто учит языки самостоятельно;<br />
- тем, кто хочет освежить или восстановить полученные ранее знания;<br />
- тем, кто хочет свободно владеть языком и свободно говорить на нем;<br />
- тем, кто хочет учиться у носителей языков;<br />
- людям, которые хотят работать индивидуально с очень сильными преподавателями, носителями языков, обучающим не по стандартным и скучным методикам;<br />
- тем, кто устал от скучных преподавателей, нудных домашних заданий, упражнений;<br />
- тем, кто уже долго не получает результата в изучении иностранных языков, хочет это исправить и многим другим.<br /><br /><br />

С помощью специально разработанных методик обучения, Langwee научит вас говорить на иностранном языке свободно и уверенно, с кем бы вы не общались и где бы вы не находились, а звездная концепция позволит забыть о скучных и неинтересных занятиях, окунувшись в увлекательный мир обучения.

</b><br /><br />
<center><img src="/images/community/about-trening.png" alt="уроки английского"/></center>      
<br /><b>
Более 15 высокоэффективных тренингов дадут гарантированный результат. Тренируйте произношение, правописание, словарный запас, грамматику и другие языковые навыки вместе с Langwee. В онлайн-школе также доступны тематические и специализированные курсы с преподавателями: английский в путешествиях, бизнес-английский, английский в переговорах, подготовка к TOEIC/TOEFL и другие. 
<br /></b>
        
<br /><b>
В Langwee собрано более 10 000 видео, аудио и текстовых материалов, помогающих достигнуть быстрых результатов в обучении. Забудьте о скучных учебниках, неинтересных домашних заданиях, текстах и упражнениях, которые надоедают очень быстро, вследствие чего мотивация в обучении со временем пропадает. В Langwee вам никогда не будет скучно, и мотивация будет только расти.
<br /><br /></b>
   
<br /><b>
Тренинги Langwee позволяют вывести свое мастерство владения языком на совершенно новый уровень. Вы делаете огромный скачок в своем обучении, проходя тренинги и тратя на тренировки всего полчаса в день. Специалисты Langwee, разрабатывающие тренинги, каждый раз придумывают все новые, эффективные и революционные методики. Ежемесячно новые тренинги появляются на сайте, что позволяет еще быстрее прийти к результату.
<br /><br /></b>
  
<br /><b>
Доказано, что одна из составляющих успеха, в достижении результата изучения иностранного языка, лежит в постоянной практике и общении с носителями языков. С Langwee вам больше не придется ехать в другую страну, жить там и постоянно общаться с носителями языка для получения практики и результата! Langwee стирает границы.
<br /><br /></b>
  
<br /><b>
Для закрепления результата ранее пройденного материала и тренингов и для выработки практических навыков вы начинаете общаться на языке, который изучаете, с другими людьми и носителями языка прямо в сообществе Langwee. Вы можете добавлять в друзья людей из разных стран и общаться с ними в любое время, используя полученные знания на практике. В итоге получается концепция быстрого освоения языка c Langwee: изучай – тренируй – практикуй – общайся!
<br /><br /></b>
      
<br /><b>
Международная онлайн-школа постоянно развивает новые, дающие результат модели обучения. С Langwee изучение иностранных языков становится быстрым, простым и эффективным!<br /><br />
</b>
</div>

</div> <!-- #conten-middle-center-->