<?php



?>

<html>



<head>

<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />

<title>Mokselle &#0151; marketing agency</title>

<link rel="shortcut icon" href="/images/pages/images/icon.ico" />



<style>

	* {font-size: 17px;

		font-family: Arial;

	}



	.cont {

		font-size: 19px;

	}



	div.header0 {

	margin-bottom: 5px;

	font-size: 35px;

	color: #498d9d;

	}



	div.header1 {

	margin-bottom: 5px;

	font-size: 18px;

	color: #808080;

	}



	div.header2 {

	margin-bottom: 5px;

	font-size: 18px;

	color: #498d9d;

	}



	div.header3 {

	margin-bottom: 5px;

	font-size: 25px;

	color: #c00000;

	}



	div.header4 {

	margin-bottom: 5px;

	font-size: 18px;

	color: #c00000;

	}

	.guarantie {

	margin-left: 30px;

	width: 500px;

	height: 460px;

	background: url('/images/pages/guar.jpg') no-repeat;

	text-align: left;

	}

	.subhead {

	margin-bottom: -10px;

	font-size: 18px;

	color: #498d9d;

	}

	div.header20 {

	margin-bottom: -5px;

	font-size: 25px;

	color: #498d9d;

	}



</style>



<link rel="stylesheet" type="text/css" href="/css/pages/main.css" />

</head>



<body marginheight="0" marginwidth="0">



	<center>



	<div class="sup_container1" id="main">

	<div class="sup_container2">

	<div class="bg">



	<div class="t"><div class="l">

	<div class="r"><div class="b">

	<div class="lt"><div class="rt">

	<div class="lb"><div class="rb">



	<div class="container">



		<div class="top" >

					</div>

			<br><br>







<div align="center" style="font-size: 25px;">

		Ваша заявка принята.<br><br>

В ближайшее время с Вами свяжется наш менеджер.

</div>



	</div>



	</div></div>

	</div></div>

	</div></div>

	</div></div>

	</div>

	</div>

	</div>



	<br/>



	</center>



</body>

</html>