<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<style type="text/css">
	b{
	float:left;
	width:500px;
	margin-left:30px;	
	color:#5c4631;
	text-align:left;	
	line-height:1.3;
	font-size:13px;
	font-weight:100;		
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
	h2{
	margin-top:10px;
	color:#970100;
	font-size:20px;
	font-style:italic;
	font-weight:100;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
</style>
<div class="conten-middle-center" style="border:none;overflow:auto;overflow-x:hidden;height:720px;">
<h2>Звезды</h2>
    <div class="conten-middle-center-cont" style="height:auto;  padding-left: 5px;"><br/> 
    <div class="conten-middle-top-blok">
            <h2>Что такое звезды и для чего они нужны?</h2>
        </div><!-- #conten-middle-top-blok-->       
<b>
<br/>
Ваше обучение во Free статусе в Langwee ограничено запасом звезд.Звезды нужны вам для того, что бы пользоваться всеми возможностями в обучении.<br/>
1 звезда позволяет вам:<br/>
- посмотреть авторский перевод текстовых материалов,<br/>
- изучить одно новое слово,<br/>
- пройти 1 тренировку "проверь себя",<br/>
- добавить в словарь 1 незнакомое слово и потом тренировать его в тренингах.<br /><br />
</b>
        <div class="conten-middle-top-blok">
            <h2>Как можно получить и заработать звезды?</h2>
        </div><!-- #conten-middle-top-blok-->
<b>
При регистрации вам начисляется подарок в виде 30 звезд. <br />
Каждый день заходя на сайт вы будете получать еще в подарок 12 звезд.<br />
Приглашайте ваших друзей обучаться вместе с вами и получайте 100 звезд на свой счет*<br /><br />
* Звезды начислятся, когда ваш друг достигнет нового уровня в обучении.<br /><br />
</b>
</div>

</div> <!-- #conten-middle-center-->