<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<style type="text/css">
	b{
	float:left;
	width:850px;
	margin-left:20px;
	margin-top:-5px;	
	color:#5c4631;
	text-align:left;	
	line-height:1.4;
	font-size:13px;
	font-weight:100;	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
	.conten-middle-top-blok {
		margin-top:-7px;		
	}
	h2{
	margin:10px auto 10px 20px;
	color:#970100;
	font-size:20px;
	font-style:italic;
	font-weight:100;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
</style>
<h2>FAQ</h2>
<div class="conten-middle-center" style="overflow:auto; border:none;overflow-x:hidden;height:700px;">	
    <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
        <div class="conten-middle-top-blok">        	
            <h2>Как мне приступить к обучению?</h2>
        </div>
			<b>
               Для того, чтобы вам приступить к обучению, вам нужно зарегестрироваться на сайте, подтвердить свою регистрацию и оплатить обучение.
                После этого вам будут доступны все разделы на сайте.
            </b>         

            <div class="conten-middle-top-blok">
                <h2>Почему я не могу просматривать другие разделы?</h2>
            </div>
			<b>
               В бесплатном режиме у вас ограниченные возможности и не все разделы обучения вы можете использовать. Для того, что бы вы полностью могли получить все обучение — оплатите обучение.
            </b>

            <div class="conten-middle-top-blok">
                <h2>Сколько стоит обучение?</h2>
            </div>
			<b>
               Обучение на 1 месяц стоит 499 руб. На 1 год стоит 4400 руб.
            </b>

            <div class="conten-middle-top-blok">
                <h2>Как я могу связаться с вами?</h2>
            </div>
			<b>
               Наши контакты:<br/>
               Email: info@langwee.com<br/>
               Телефон: 8-800-100-24-72<br/>
            </b>

            <div class="conten-middle-top-blok">
                <h2>Для кого подходит обучение?</h2>
            </div>
			<b>
               Обучение иностранным языкам с Langwee предназначено для всех:<br/>
                - для новичков и тех, кто хочет выучить язык с нуля;<br/>
                - для людей со средним уровнем владения языка;<br/>
                - для людей с продвинутым уровнем владения языка и тех, кто владеет им в совершенстве;<br/>
                - для детей;<br/>
                - для взрослых, кто никогда не изучал язык и думает, что уже бесполезно начинать;<br/>
                - для тех, кто изучает иностраных язык в университете, школе, на языковых курсах;<br/>
                - для путешественников;<br/>
                - для тех, кто учится самостоятельно;<br/>
                - для тех, кто хочет освежить или восстановить полученные ранее знания;<br/>
                - для тех, кто хочет свободно владеть языком и свободно говорить на нем и т. д.<br/>
            </b>

            <div class="conten-middle-top-blok">
                <h2>Какие языки я могу изучать?</h2>
            </div>
			<b>
               На данный момент доступны: английский, немецкий, испанский, французский, итальянский, русский. Каждый месяц появляются новые языки, которые вы можете изучать.
            </b>

            <div class="conten-middle-top-blok">
                <h2>Могу ли я учить несколько языков если я оплатил(а) 1 раз обучение?</h2>
            </div>
			<b>
               Да, преимуществом нашего сервиса является то, что вы оплачиваете обучение на месяц или на год, и можете учить совершенно любой язык, который захотите и который на данный момент доступен.
            </b>

            <div class="conten-middle-top-blok">
                <h2>Нужно ли мне устанавливать какие-то дополнительные программы для обучения?</h2>
            </div>
			<b>
              Нет, никаких дополнительных программ для обучения не требуется.
            </b>

            <div class="conten-middle-top-blok">
                <h2>Есть ли какие-то ограничения по обучению?</h2>
            </div>
			<b>
              Обучение доступно вам 24 часа в сутки, 7 дней в неделю.
            </b>
</div>
</div>
