﻿<html class=" js flexbox canvas canvastext no-webgl no-touch geolocation postmessage no-websqldatabase no-indexeddb hashchange no-history draganddrop no-websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity no-cssanimations csscolumns cssgradients no-cssreflections csstransforms no-csstransforms3d no-csstransitions fontface video audio localstorage sessionstorage webworkers applicationcache svg no-inlinesvg no-smil svgclippaths" lang="en"><head>
        <!-- Google Analytics Content Experiment code -->
        <script>function utmx_section(){}function utmx(){}(function(){var
            k='62888331-0',d=document,l=d.location,c=d.cookie;
            if(l.search.indexOf('utm_expid='+k)>0)return;
            function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
                            indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
                            length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
            '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
                '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
                '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
                valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
                '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
        </script><script>utmx('url','A/B');</script>
        <!-- End of Google Analytics Content Experiment code -->


        <meta name="viewport" content="width=device-width">

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Как без зубрежки слов и грамматики быстро начать разговаривать на английском языке.</title>

        <meta name="keywords" content="Как без зубрежки слов и грамматики быстро начать разговаривать на английском языке.">

        <meta name="description" content="Как без зубрежки слов и грамматики быстро начать разговаривать на английском языке.">

        <meta name="author" content="">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:500&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" media="all"   href="css/style6.css" />
        <link rel="shortcut icon" href="/images/pages/img/favicon.ico">

    </head>

    <body>


        <div id="PageWrap" style="background: url(/images/pages/img/bottom.gif) repeat-x;">

            <div id="Page">

                <div id="Page-In" style="">
                    <div class="title" style=""><div style="margin-left: -200px;" align="center"><div style="margin-top: -20px;font-size: 42px; font-family: Calibri; color: #ff0000; line-height: 40px;">
                                Как без зубрежки слов и грамматики<br> быстро начать разговаривать<br> на английском языке
                            </div>

                            <div align="center" style="font-size: 18px; color: #595959; line-height: 25px; margin-top: 10px;"><i> 5 видео-уроков о том, как правильно изучать английский язык
                    </i><br><!--<span id="newyear" style="color: red; font-weight: bold; font-size: 18px;"></span>--></div>

        <div style="float: right;  height: 50px; margin-top: -130px; margin-right: 110px;"><!--<img src="img/logo.gif">--></div>
                            <br>



                        </div></div>
                    <br>
                    <div id="OptinWrap" style="margin-top: -15px;">
                        <table>
                            <tr>
                                <td valign="top"><div style="margin-top: -50px;">


                                        <td valign="top">

                                            <div id="videoplayer">
                                                <object style="width:400; height:285;">
                                                    <iframe style="width:396; height:280;" src="http://player.vimeo.com/video/40854858?title=0&amp;byline=0&amp;portrait=0"></iframe></object>

                                            </div>

                                    </div>



                                </td>


                                </div>

                                <td valign="top">


                                    <div id="optinform">
                                        <div style="margin-left: 10px;">
                                            <b style="color: #ff0000; font-size: 24px; padding-bottom: 10px;">Бесплатный Доступ к Видео-Курсу:</b><br>
                                            <i>


                                                Чтобы получить 5 видео-уроков прямо сейчас, просто введите свое Имя и Email:


                                            </i></div><br>



                                        
                                        <script language="JavaScript">(function(){var
sh=document.createElement('script');sh.type='text/javascript';sh.async= true;sh.src='http://moksellegroup.mokselle-responder.ru/subscribe_helper.js.php?n=922';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(sh,s);})();function jc_chkscrfrm922(){var
a=document.getElementById('subscr-form-922');if(a.lead_name.value==''){a.lead_name.focus();alert('Пожалуйста,введите ваше имя!');return
false}if(a.lead_email.value==''){a.lead_email.focus();alert('Пожалуйста,введите ваш адрес E-mail!');return false}else{var
b=/^[a-z0-9_\-\.\+]+@([a-z0-9]+[\-\.])*[a-z0-9]+\.[a-z]{2,6}$/i;if(!b.test(a.lead_email.value)){a.lead_email.focus();alert('Пожалуйста,введите КОРРЕКТНЫЙ адрес E-mail!');return false}}return
true}</script><style tyle="text/css"> #subscr-form-922 td {font:14px
Arial,Helvetica,sans-serif;} #subscr-form-922 input
{color:#000;font-size:14px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border:#ccc
1px solid;padding:4px;} </style><form
action="http://moksellegroup.mokselle-responder.ru/subscribe/process/"
method="post" target="_blank" id="subscr-form-922" onsubmit="return
jc_chkscrfrm922()"><input name="rid[0]" type="hidden" value="langwee"
/><input name="doneurl" type="hidden"
value="http://langwee.com/langwee/ths.html" /><input name="doneurl2"
type="hidden" value="http://www.langwee.com/" /><table align="center"
border="0" cellspacing="0" cellpadding="3"><tbody><tr><td>Ваше
имя:</td><td align="center"><input style="width:240px;"
name="lead_name" type="text" /></td></tr><tr><td>Ваш E-Mail:</td><td
align="center"><input style="width:240px;" name="lead_email"
type="text" /></td></tr><tr><td>Город:</td><td align="center"><input
style="width:240px;" name="lead_city" type="text"
/></td></tr><tr><td></td><td><input style="padding:6px
12px;width:169px;height:49px;background:
url(/images/pages/img/but.png);color:#fff;font-weight:bold;"
name="lead_subscribe" type="submit" value=""
/></td></tr></tbody></table></form>

                                        <!--Вы получите письмо с доступом
                                        к бесплатным видео-урокам-->





                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </table><br>
                        <table>
                            <tr>
                                <td width="500">
                                    <ul style="font-size: 18px;">


                                        <li><span style="color: #000;">Как правильно изучать грамматику</span></li>

                                        <li><span style="color: #000;">3 правила как легко и просто запоминать слова</span></li>

                                        <li><span style="color: #000;">Как учатся разговаривать дети - самый эффективный метод изучения </span></li>

                                        <li><span style="color: #000;">Почему нужно изучать настоящий английский, а не официальный</span></li>

                                        <li><span style="color: #000;">Практика: где, как и с кем говорить на английском языке</span></li>

                                        <li><span style="color: #000;">Как изучать английский без скучных учебников</span></li>

                                        <li><span style="color: #000;">Как сделать изучение английского веселым, увлекательным и гиперэффективным</span></li>
                                        <li><span style="color: #000;">Как правильно изучать английский, смотря любимые фильмы, видеоклипы и слушая музыку </span></li>
                                    </ul>
                                </td>
                                <td>
                                    <div style="margin-left: 20px;"><img src="img/arrow.jpg"></div>
                                </td>
                            </tr></table>



                    </div>




                    <div id="fb-root"></div>



                </div>



                <!-- Yandex.Metrika counter -->
                <script type="text/javascript">
                (function (d, w, c) {
                    (w[c] = w[c] || []).push(function() {
                        try {
                            w.yaCounter15468784 = new Ya.Metrika({id:15468784, enableAll: true});
                        } catch(e) {}
                    });

                    var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                    s.type = "text/javascript";
                    s.async = true;
                    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                    if (w.opera == "[object Opera]") {
                        d.addEventListener("DOMContentLoaded", f);
                    } else { f(); }
                })(document, window, "yandex_metrika_callbacks");
                </script>
                <noscript><div><img src="//mc.yandex.ru/watch/15468784" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                <!-- /Yandex.Metrika counter -->


                <script type="text/javascript">

                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-33990556-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

                </script>
                </body></html>
      
        
        
        