<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru"><head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Коучинг по Английскому языку</title>
        <link rel="stylesheet" href="/coaching/files/style.css" type="text/css" />
        <link href="/coaching/files/favourite.ico" type="image/x-icon" rel="icon" />  
        <script src="/coaching/files/ga.js" async="" type="text/javascript"></script>
        <script type="text/javascript" src="/coaching/files/jquery-1_002.js"></script>
        <script type="text/javascript" src="/coaching/files/jexim.js"></script>
        <script type="text/javascript" src="/coaching/files/js.js"></script>
        <script type="text/javascript" src="/coaching/files/jquery-1.js"></script>
        <script type="text/javascript" src="/coaching/files/jquery_002.js"></script>
        <script type="text/javascript" src="/coaching/files/jquery.js"></script>
        <script type="text/javascript" src="/coaching/files/jwplayer.js"></script>
        <script type="text/javascript" src="/coaching/files/shadowbox.js"></script>
        <script src="/coaching/files/jquery-1_003.js" type="text/javascript"></script>
        <script src="/coaching/files/jquery-ui-1.js" type="text/javascript"></script>
        <script src="/coaching/files/yescredit.js" type="text/javascript" charset="utf-8"></script>
        <link href="/coaching/files/jquery-ui-1.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!-- Yandex.Metrika counter -->

        <div id="wrap">
            <script>
                $(document).ready(function() {
                    $('a.sent').each(function(index, element) {
                        $(element).click(function(e) {
                            e.preventDefault();
                            var $div = $('div.' + this.id);
                            var $name = $('input.text_inp_1', $div);
                            var $email = $('input.text_inp_2', $div);
                            var $phone = $('input.text_inp_3', $div);
                            
                            if($name.val() == "" || $email.val() == "" || $phone.val() == "") {
                                alert("Все данные должны быть заполнены");
                            }
                            
                            $.post('/coaching-send', {name: $name.val(), email: $email.val(), phone: $phone.val()}, function(data) {
                                if(data == 'success') {
                                    $name.val('');
                                    $email.val('');
                                    $phone.val('');
                                    
                                    alert('Спасибо, Ваша заявка отправлена.');
                                }
                                else {
                                    alert('Ошибка с отправкой');
                                }
                            });
                            
                        });
                    });
                });
            </script>
            <style>
                #hours {

                    color: black;
                    display: block;
                    font-family: trebuchet MS;
                    font-size: 30px;
                    letter-spacing: 6px;
                    margin-bottom: 20px;
                    margin-left: 35px;
                    margin-top: -10px;
                    position: relative;
                    text-align: center !important;
                    z-index: 1000;

                }


            </style>

            <h2 style="font-size: 50px;">Коучинг Олега Иванилова</h2>
            <center style="left:0; font-size:28px;">Как научиться свободно говорить По-Английски всего за 1 месяц</center><br />

<!--<center><img alt="" src="http://old.molodost.bz/images/stories/2332432343434.jpg" style=" left: 0;"></center>-->

            <div class="section1">

                <script type="text/javascript" src="/coaching/files/timer.js"></script> 

                <h3>Коучинг, пожалуй, на сегодня самый сильный продукт от Нашей языковой школы,<br /> который включает в себя 1-месячную программу<br /> обучения, приносящую <strong>реальные</strong> результаты.</h3>
                <p>
                    Надоело отсутствие результата в изучении Английского? Попробуй то, что работает!<br />
                    По статистике большинство наших студентов овладевает разговорным языком в кротчайшие сроки. И с течением времени их навыки увеличиваются в геометрической прогрессии.</p>
                <!--<p><img src="i/citation1.jpg" /></p>-->

                <div class="video-top">


                </div>
                <div class="form">   


                    <!--- Мастер форма. Начало------>
                    <!--- Мастер форма. Конец.------>
                    <form action="http://www.ecommtools.com/cgi-bin/checkout.cgi" method="post" class="couch" target="_blank">
                        <div class="form_title">
                            <img src="/coaching/files/form_title.jpg" alt="">
                        </div>
                        <div class="form_body">
                            <div class="error">Все поля должны быть заполнены</div>
                            <div id="form_112_top">
                                <div class="form_112_top_inner">
                                    <table>
                                        <tbody><tr>
                                                <td>
                                                    <a class="a_clik">
                                                        <div class="form_112_top_one">
                                                            <table>
                                                                <tbody><tr>
                                                                        <td style="left: 0px; width: 100%" align="center">Стоимость коучинга: 15000 руб.<br /></td>
                                                                    </tr>
                                                                </tbody></table>
                                                        </div>
                                                    </a>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div id="form_112_text" class="form1">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="form_t_l">Ваше имя</td>
                                            <td class="form_t_r"> 
                                                <div class="form_t_r_inner"> 
                                                    <img src="/coaching/files/input_img1.png" alt="" /> <input class="text_inp_1" name="name" type="text" /> </div></td>
                                        </tr>

                                        <tr>
                                            <td class="form_t_l">Ваша почта</td>
                                            <td class="form_t_r"> <div class="form_t_r_inner"> <img src="/coaching/files/input_img2.png" alt="" /><input class="text_inp_2" name="email" type="text"></div></td>
                                        </tr>
                                        <tr>
                                            <td class="form_t_l">Ваш телефон</td>
                                            <td class="form_t_r"><div class="form_t_r_inner">  <img src="/coaching/files/input_img3.png" alt="" /><input class="text_inp_3" name="phone" type="text"></div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a href="#" onclick='return false;' class="sent" id="form1">
                                <img src="/coaching/files/creditbut.png" style="float: right; right: 0pt; margin-bottom: 10px; margin-right: 24px;" alt="" />
                            </a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="section2">
                <h1 style="font-size: 30px;font-weight: 300">Об Авторе Курса:</h1>
                <br />
                <p>Олег Иванилов является человеком, который разработал уникальную программу обучения Английскому языку, а также обучил более 4000 человек бегло общаться на Английском на любые темы.</p>
                <br /><br />
                <span style="margin-left: 50px; font-weight: bold;">Среди них:</span>
                <ul style="list-style:disc; margin: 10pt 0pt 0 105px; clear: both; float: left; font-size: 18px; color: rgb(69, 69, 69);">
                    <li>Депутаты Гос думы</li><li>Клавишник Стаса Михайлова (Андрей Денисов)</li><li>Несколько русских, работающих в данный момент в киноиндустрии Голливуда</li>
                    <li>Русские трейдеры на Wall street</li>
                    <li>и много других людей, которые нашли для себя райский уголок за пределами Родины, а также те, кто смог построить успешные бизнес отношения с зарубежными партнерами.</li>
                </ul>
                    <p> <br /></p>
                <h1 style="font-size: 30px;font-weight: 300; margin-top: 20px;"><br />Что же такого в программе этого человека, что позволяет людям быстро добиваться необходимых результатов в языке?</h1><br />

                <p>Полный курс самодостаточного английского языка с Олегом Иваниловым можно пройти из любой точке мира, где есть интернет. Нулевая база приветствуется!
                    Мышление носителей английского языка - от нуля до уверенного и самостоятельного общения" самым естественным образом сделают Вас самодостаточным в выражении себя по-английски и непринужденном понимании англоязычного собеседника.</p>
                <h1 style="font-size: 30px;font-weight: 300">План Коучинга из 10 занятий (15 часов)</h1> <br />

                <ul style="list-style:disc; margin: 10pt 0pt 20px 105px; clear: both; float: left; font-size: 18px; color: rgb(69, 69, 69);">
                    <li style="margin-bottom: 10px;">
                        <b>Урок 1 (90 минут)</b> - Общий обзор мышления по-английски. Определение целей. На этом вебинаре мы освоим всю базовую грамматику английского языка. Установим разницу между действиями и состояниями и начнем ей пользоваться. Тренировка выражения обычных действий и текущих состояний в утверждении и отрицании. Освоение наличия сделанного к моменту времени. Научимся пользоваться оттенками других действий.
                        <br />
                    </li>
                    <li style="margin-bottom: 10px;">
                        <b>Урок 2 (90 минут)</b> - Повторение. Практическая голосовая тренировка действий в сравнении с текущими остояниями и наличиями уже сделанного к опмоменту времени. Новая информация: способ утверждений и отрицаний действий и состояний в закрытом прошлом. Нестандартные и стандартные формы завершенности. Легкий установочный тренинг утверждений и отрицаний действий и состояний настоящего и прошлого.
                        <br />
                    </li>
                    <li style="margin-bottom: 10px;">
                        <b>Урок 3 (90 минут)</b> - Интенсивная тренировка выражения утверждений и состояний настоящего и прошлого. Новая информация: высказывания о наличии уже сделанного к моменту прошлого‚ настоящего и будущего. Общий тренинг действий‚ состояний и наличия уже сделанного к моменту в прошлом‚ настоящем и будущем.
                        <br />
                    </li>
                    <li style="margin-bottom: 10px;">
                        <b>Урок 4 (90 минут)</b> - Обзорное повторение уже имеющейся базы мышления по-английски. Интенсивная хаотичная тренировка-серфинг по всем поставленным целям высказывания. Новая Информация: Единая универсальная схема построения английского вопроса из двух элементов. Легкий тренинг по вопросам о действии‚ состоянии‚ наличии уже сделанного к моменту‚ в прошлом‚ настоящем и будущем.
                        <br />
                    </li>
                    <li style="margin-bottom: 10px;">
                        <b>Урок 5 (90 минут)</b> - Интенсивная тренировка-серфинг всех пройденных целей высказывания в английском языке. Новая информация: Приемы выражения предположений о дальнейшем и тщетных предположений о минувшем. Легкий тренинг речевых моделей (I would do / I would have done).
                        <br />
                    </li>
                    <li style="margin-bottom: 10px;">
                        <b>Урок 6 (90 минут)</b> - Интенсивная тренировка-серфинг всех пройденных ццелей высказывания по-английски. Новая информация: Приемы выражения рекомендаций к дальнейшему действию и упреков за наличие сделанного в минувшем в речевых моделях (I should do / I should have done)
                        <br /> 
                    </li>
                    <li style="margin-bottom: 10px;">
                        <b>Урок 7 (90 минут)</b> - Интенсивный общий тренинг уверенной скоростной навигации по всем
                        известным типам высказывания (утверждения‚ отрицания вопросы... хаотичный выбор). Шлифовка полного отсутствия ошибок. Новая информация: модальные оттенки действий‚ индивидуальный режим их работы с действиями.
                        <br />
                    </li>
                    <li style="margin-bottom: 10px;">
                        <b>Урок 8 (90 минут)</b> - Выход на свободный разговор с помощью ассоциативной игры C'mon guess what or who I'm thinking about now! Аудирование анекдотов‚ расказываемых мной тотально по-английски.
                        <br />
                    </li>
                    <li style="margin-bottom: 10px;">
                        <b>Урок 9 (90 минут)</b> - Свободный разговор с употреблением жизненно важной и профессиональной лексики. Коррекция всех возможных ошибок тотально на английском языке. Обсуждение сюжетов фильмов и событий‚ происходящих в мире.
                        <br />
                    </li>
                    <li style="margin-bottom: 10px;">
                        <b>Урок 10 (90 минут)</b> - Обзорное повторение всего‚ что мы можем сказать по-английски в англоязычной беседе с вопросами и ответами. Краткое ревю всех речевых моделей тотально на английском языке. Инструктаж на английском языке относительно дальнейших самостоятельных средств развития языка. Обучение чтению по контексту. Обрисовка перспектив дальнейшего развития мышления в самодостаточном английском. Пути практического поддержания языка.
                        <br />
                    </li>
                </ul>

                <img src="/coaching/files/guarantees.jpg" width = "150" style="float: left" />
                <h1 style="font-size: 28px; font-weight: 300;"><br /><br /><br />Если вы не будете довольны результатом- мы вернем Вам деньги!</h1>
                <div style="clear: both"></div>

                <br /><br />
                <h1 style="font-size: 24px;font-weight: 20">Хотите сделать шаг вперед к свободной английской речи на уровне мышления носителей языка?
                    Заполните форму ниже и Вы никогда больше не будете искать другие средства овладеть английским языком.
                </h1>

            </div>

            <br />
            <div class="form">
                <form action="http://www.ecommtools.com/cgi-bin/checkout.cgi" method="post" class="couch" target="_blank">
                    <div class="form_title">
                        <img src="/coaching/files/form_title.jpg" alt="">
                    </div>
                    <div class="form_body">
                        <div class="error">Все поля должны быть заполнены</div>
                        <div id="form_112_top">
                            <div class="form_112_top_inner">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a class="a_clik">
                                                    <div class="form_112_top_one">
                                                        <table>
                                                            <tbody>
                                                                <tr>
                                                                    <td></td>
                                                                    <td style="left: 0px;">Стоимость коучинга: 15000 руб.</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div id="form_112_text" class="form2">
                            <table>
                                <tbody><tr>
                                        <td class="form_t_l">Ваше имя</td>
                                        <td class="form_t_r"> 
                                            <div class="form_t_r_inner"> 
                                                <img src="/coaching/files/input_img1.png" alt="" /> 
                                                <input class="text_inp_1" name="name" type="text" /> 
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="form_t_l">Ваша почта</td>
                                        <td class="form_t_r"> 
                                            <div class="form_t_r_inner"> 
                                                <img src="/coaching/files/input_img2.png" alt="" />
                                                <input class="text_inp_2" name="email" type="text" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="form_t_l">Ваш телефон</td>
                                        <td class="form_t_r">
                                            <div class="form_t_r_inner">  
                                                <img src="/coaching/files/input_img3.png" alt="" />
                                                <input class="text_inp_3" name="phone" type="text" />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody></table>
                        </div>
                        <a href="#" onclick='return false;' class="sent" id="form2">
                            <img src="/coaching/files/creditbut.png" style="float: right; right: 0pt; margin-bottom: 10px; margin-right: 24px;" alt="" />
                        </a>
                    </div>
                </form>
            </div>


            <h1 style="font-size: 30px;font-weight: 300; margin: 0 auto; text-align: center;">Отзывы Наших студентов</h1>

            <div class="section12">
                <div id="textblock">
                    <div class="textblock_title">
                        <h1 style="font-size: 25px">Лариса Исаева</h1>
                    </div><br />
                    <div class="textblock_top" style="margin-top: -25px;">
                        <div class="textblock_right">
                            <p>
                                Классный метод! очень много перепробовала курсов, тренингов...этот реально увлекает, очень просто раскрывается грамматика, действительно легкий язык, который усложняли методики, существующие ради самих себя, а не ради нас, пользователей и страждущих выучить английский! Спасибо Вам, Олег! И за Вашу методику, и за Ваш чарующий голос... Вы подарили надежду!!!
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="section12">
                <div id="textblock">
                    <div class="textblock_title">
                        <h1 style="font-size: 25px">Оксана</h1>
                    </div><br />
                    <div class="textblock_top" style="margin-top: -25px;">
                        <div class="textblock_right">
                            <p>
                                Добрый день всем! Два дня назад решилась приобрести этот курс. Скажу сразу - сомневалась. Дело в том, что как то не складывалось у меня с английским , ну никак не ложился он на базовый французский. После двух тренингов на душе повеселело, так как появились первые результаты. Все логично, просто, понятно. Супер! Полистала тренинги дальше - фразы конечно становятся сложнее и сложнее. Но так подкупает доступность изложения. Появилась надежда! Спасибо.
                            </p>
                        </div>
                    </div>

                </div>
            </div>


            <div class="section12">
                <div id="textblock">
                    <div class="textblock_title">
                        <h1 style="font-size: 25px">Дана</h1>
                    </div><br />
                    <div class="textblock_top" style="margin-top: -25px;">
                        <div class="textblock_right">

                            <p>
                                Ваша программа - оптимальный вариант для тех, кто учил и не владеет языком, для тех у кого мало времени до старта в англоязычной стране, для тех, кому необходим живой язык т.е. говорение на американском. Это не реклама, я пока лишь в начале пути (скажем, вместе с Вами). 2 года я напрягалась изо всех моих сил (курсы,преподаватели,интенетовские курсы и т.д.) и +0 на входе, 0 на выходе. А сейчас уже на 3-5 файле в голове роятся какие-то мысли, но страх сказать или написать неправильно пока парализует. Tеперь я не просто знаю, а моя уверенность растет, ибо я знаю что именно я хочу сказать и как это сделать правильно, потому что сам курс рассчитан на таких как я. А это люди, которые по своему складу мышления выучить могут только то, что понимают. Это для нас! Учусь дальше. Олег, мне кажется,что я всё понимаю,что Вы мне пишете. Но пока писать буду на русском (для меня это тоже иностранный!!!), надеюсь скоро сама захочу писать на англ. Просто писать на черновик и переписывать - не хочу. А со старта еще не получится.
                            </p>
                        </div>
                    </div>

                </div>
            </div>



            <form action="http://www.ecommtools.com/cgi-bin/checkout.cgi" method="post" class="couch" target="_blank">
                <div class="form_title">
                    <img src="/coaching/files/form_title.jpg" alt="">
                </div>
                <div class="form_body">
                    <div class="error">Все поля должны быть заполнены</div>
                    <div id="form_112_top">
                        <div class="form_112_top_inner">
                            <table>
                                <tbody><tr>
                                        <td>
                                            <a class="a_clik">
                                                <div class="form_112_top_one">
                                                    <table>
                                                        <tbody><tr>
                                                                <td></td>
                                                                <td style="left: 0px;">Стоимость коучинга: 15000 руб.</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody></table>
                        </div>
                    </div>

                    <div id="form_112_text" class="form3">
                        <table>
                            <tbody><tr>
                                    <td class="form_t_l">Ваше имя</td>
                                    <td class="form_t_r"> 
                                        <div class="form_t_r_inner"> 
                                            <img src="/coaching/files/input_img1.png" alt="" /> 
                                            <input class="text_inp_1" name="name" type="text" /> 
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="form_t_l">Ваша почта</td>
                                    <td class="form_t_r"> 
                                        <div class="form_t_r_inner"> 
                                            <img src="/coaching/files/input_img2.png" alt="" />
                                            <input class="text_inp_2" name="email" type="text" /></div></td>
                                </tr>
                                <tr>
                                    <td class="form_t_l">Ваш телефон</td>
                                    <td class="form_t_r"><div class="form_t_r_inner">  
                                            <img src="/coaching/files/input_img3.png" alt="" />
                                            <input class="text_inp_3" name="phone" type="text" />
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                    <a href="#" onclick="return false;" class="sent" id ="form3">
                        <img src="/coaching/files/creditbut.png" style="float: right; right: 0pt; margin-bottom: 10px; margin-right: 24px;" alt="" />
                    </a>
                </div>
            </form>
        </div>
    </body>
</html>