<style type="text/css">
b{
	float:left;
	width:850px;
	margin-left:20px;	
	color:#5c4631;
	text-align:left;	
	line-height:1.6;
	font-size:13px;
	font-weight:100;		
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
h2{
	margin:10px auto 10px 20px;
	color:#970100;
	font-size:20px;
	font-style:italic;
	font-weight:100;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
	h3{
	margin-left:10px;	
	float:left;
	color:#970100;
	font-size:20px;
	font-style:italic;
	font-weight:100;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}	
	table{
		margin-top:15px;
		width:900px;
		height:auto;
		border:1px solid #e77d26;
		background-color:#fde0bf;
		color:#725432;
		font-size:13px;	
		font-style:italic;
	font-weight:100;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
	table tr{
		height:30px;
	}
	table tr td{
		border-bottom:1px dashed #e6a64b;
		border-right:1px dashed #e6a64b;
		padding-left:10px;
	}
	.b1{
		background-color:#fcddac;
	}
</style>
<h2>Оплата</h2>
<div class="conten-middle-center" style="border:none; overflow:auto; overflow-x:hidden;height:700px;">
    <div class="conten-middle-center-cont" style="height: auto; padding-left: 10px ;padding-bottom:15px; ">         
         <table>
         	<tr class="b1" style="height:40px;">
            	<td width="50%" style="color:#15669a;font-size:15px;">Возможности/статус</td>
            	<td width="22%">Free Status</td>
                <td width="28%" style="color:#eb8728;font-size:15px;">Standart Status</td>
                <!--<td width="15%" style="color:#d95d22;font-size:15px;">6 месяцев</td>
                <td width="15%" style="color:#bb2222;font-size:15px;">12 месяцев</td>-->
            </tr>            
                
                <tr style="height:60px;">
                <td>Стоимость</td>
            	<td>Free - занятия ограничены запасом звезд**</td>
                <td style="text-align:center;">1 мес. = 499 руб.<input type="image" src="/images/default/main/kupits.png" alt="Купить" title="Купить" onClick="window.open('http://www.ecommtools.com/cgi-bin/cart.cgi?uid=fotorules&action=add&item=15&pselect=&refid=&channel=','','top=200,left=350,width=300,height=200,scrollbars=yes,resizable=yes,location=no,menubar=no,toolbar=0,statusbar=0')" /><br/>
                6 мес. = 4400 руб.<input type="image" src="/images/default/main/kupits.png" alt="Купить" title="Купить" onClick="window.open('http://www.ecommtools.com/cgi-bin/cart.cgi?uid=fotorules&action=add&item=17&pselect=&refid=&channel=','','top=200,left=350,width=300,height=200,scrollbars=yes,resizable=yes,location=no,menubar=no,toolbar=0,statusbar=0')" /><br/>
                1 год = 8800 руб.<input type="image" src="/images/default/main/kupits.png" alt="Купить" title="Купить" onClick="window.open('http://www.ecommtools.com/cgi-bin/cart.cgi?uid=fotorules&action=add&item=16&pselect=&refid=&channel=','','top=200,left=350,width=300,height=200,scrollbars=yes,resizable=yes,location=no,menubar=no,toolbar=0,statusbar=0')" /></td>
            </tr>
                
            <tr>
                <td>Аудио/видео/текстовые материалы. Еженедельное обновление.</td>
            	<td style="text-align:center">+</td>
                <td style="text-align:center">+</td>
                <!--<td>неограничен</td>
                <td>неограничен</td>-->
            </tr>
               
            <tr class="b1">
                <td>Доступ в международное сообщество Langwee. Общение с пользователями и носителями языка.</td>
            	<td style="text-align:center">+</td>
                <td style="text-align:center">+</td>
                <!--<td>неограничен</td>
                <td>неограничен</td>-->
            </tr>
                
            <tr>
                <td>Тренинг "Перевод Слова"</td>
            	<td style="text-align:center">+</td>
                <td style="text-align:center">+</td>
               <!-- <td>безлимитный</td>
                <td>безлимитный</td>-->
            </tr>
               
            <tr class="b1">
                <td>Тренинг "Обратный перевод Слова"</td>
            	<td style="text-align:center">+</td>
                <td style="text-align:center">+</td>
                <!--<td>безлимитный</td>
                <td>безлимитный</td>-->
            </tr>
                
            <tr>
                <td>Тренинг "Конструктор"</td>
            	<td style="text-align:center">+</td>
                <td style="text-align:center">+</td>
                <!--<td>безлимитный</td>
                <td>безлимитный</td>-->
            </tr>
                
            <tr class="b1">
                <td>Тренинг "Аудирование-Перевод"</td>
            	<td style="text-align:center">+</td>
                <td style="text-align:center">+</td>
                <!--<td>неограничен</td>
                <td>неограничен</td>-->
            </tr>
                
            <tr>
                <td>Тренинг "Перевод Фразы"</td>
            	<td style="text-align:center">Демо-режим*</td>
                <td style="text-align:center">Неограничен</td>
               <!-- <td>безлимитный</td>
                <td>безлимитный</td>-->
            </tr>
                           
            <tr class="b1">
                <td>Тренинг "Обратный перевод Фразы"</td>
            	<td style="text-align:center">Демо-режим</td>
                <td style="text-align:center">Неограничен</td>
                <!--<td>безлимитный</td>
                <td>безлимитный</td>-->
            </tr>                
                
            <tr>
                <td>Тренинг "Аудирование-Правописание"</td>
            	<td style="text-align:center">Демо-режим</td>
                <td style="text-align:center">Неограничен</td>
                <!--<td>безлимитный</td>
                <td>безлимитный</td>-->
            </tr>               
               
            <tr class="b1">
                <td>Тренинг "Правописание"</td>
            	<td style="text-align:center">Демо-режим</td>
                <td style="text-align:center">Неограничен</td>
                <!--<td>безлимитный</td>
                <td>безлимитный</td>-->
            </tr>
                
                <tr>
                <td>Тренинг "Мой кроссворд"</td>
            	<td style="text-align:center">Демо-режим</td>
                <td style="text-align:center">Неограничен</td>
                <!--<td>безлимитный</td>
                <td>безлимитный</td>-->
            </tr>
                
                <tr class="b1">
                <td>Тренинг "Перевод Популярных Фраз"</td>
            	<td style="text-align:center">Демо-режим</td>
                <td style="text-align:center">Неограниченя</td>
               <!-- <td>через 2 месяца обучения</td>
                <td>через 1 месяц обучения</td>-->
            </tr>
               
            <tr>
                <td>Тренинг "Обратный Перевод Популярных Фраз"</td>
            	<td style="text-align:center">Демо-режим</td>
                <td style="text-align:center">Неограничен</td>
                <!--<td>через 2 месяца обучения</td>
                <td>через 1 месяц обучения</td>-->
            </tr>
                
                <tr class="b1">
                <td>Тренинг "Проверь себя" 3 части</td>
            	<td style="text-align:center"> Ограничен запасом звезд**</td>
                <td style="text-align:center">Неограничен</td>
                <!--<td>через 2 месяца обучения</td>
                <td>через 1 месяц обучения</td>-->
            </tr>
                
                <tr class="b1">
                <td>Личный Словарь</td>
            	<td style="text-align:center">Ограничен запасом звезд**</td>
                <td style="text-align:center">Неограничен</td>
                <!--<td>через 2 месяца обучения</td>
                <td>через 1 месяц обучения</td>-->
            </tr>
                
                <tr>
                <td>Кол-во иностранных языков для изучения</td>
            	<td style="text-align:center">Ограничены запасом звезд**</td>
                <td style="text-align:center">Неограничен</td>
                <!--<td>безлимитный</td>
                <td>безлимитный</td>-->
            </tr>
                
                <tr class="b1">
                <td>Сертификат по окончании обучения</td>
            	<td style="text-align:center">Не выдается</td>
                <td style="text-align:center">Выдается</td>
                <!--<td>5</td>
                <td>5</td>-->
            </tr>
                
                <tr>
                <td>Авторский перевод текстовых материалов</td>
            	<td style="text-align:center">Ограничены запасом звезд**</td>
                <td style="text-align:center">Неограничен</td>
                <!--<td>безлимитный</td>
                <td>безлимитный</td>-->
            </tr>               
                 
                <tr style="height:60px;">
                <td>Стоимость </td>
            	<td>Free - занятия ограничены запасом звезд**</td>
                <td style="text-align:center;">1 мес. = 499 руб.<input type="image" src="/images/default/main/kupits.png" alt="Купить" title="Купить" onClick="window.open('http://www.ecommtools.com/cgi-bin/cart.cgi?uid=fotorules&action=add&item=15&pselect=&refid=&channel=','','top=200,left=350,width=300,height=200,scrollbars=yes,resizable=yes,location=no,menubar=no,toolbar=0,statusbar=0')" /><br/>
                6 мес. = 4400 руб.<input type="image" src="/images/default/main/kupits.png" alt="Купить" title="Купить" onClick="window.open('http://www.ecommtools.com/cgi-bin/cart.cgi?uid=fotorules&action=add&item=17&pselect=&refid=&channel=','','top=200,left=350,width=300,height=200,scrollbars=yes,resizable=yes,location=no,menubar=no,toolbar=0,statusbar=0')" /><br/>
                1 год = 8800 руб.<input type="image" src="/images/default/main/kupits.png" alt="Купить" title="Купить" onClick="window.open('http://www.ecommtools.com/cgi-bin/cart.cgi?uid=fotorules&action=add&item=16&pselect=&refid=&channel=','','top=200,left=350,width=300,height=200,scrollbars=yes,resizable=yes,location=no,menubar=no,toolbar=0,statusbar=0')" /></td>
            </tr>
                   
         </table> 
         <br/>       
<b>Онлайн-уроки с преподавателем***:<br/>  
- Полгода изучения английского либо немецкого языка = 14300 руб. <br/>  
- Год изучения английского либо немецкого языка = 26200 руб.<br/>  
- Бессрочный абонемент на изучение английского либо немецкого языка = 72000 руб.<br/>  
- Бессрочный абонемент на изучение английского и немецкого языков =  144000 руб.</b> 
<div style="clear:both"></div>
<h3>***</h3><div style="clear:both"></div><b>В курс на полгода входит:<br/>  
- 156 онлайн-уроков с преподавателем по английскому, 312 акад. часов <br/>  
- 100 онлайн-уроков с преподавателем по немецкому, 200 акад. часов<br/>  
В курс на год входит:<br/>  
- 312 онлайн-уроков с преподавателем по английскому, 614 акад. часов<br/>  
- 200 онлайн-уроков с преподавателем по немецкому, 400 акад. часов </b> 
		 <div style="clear:both;"></div>
        <h3 style="margin-top:15px;">*</h3><b style="margin-top:15px;">В демо режиме не доступны тренировки слов, фраз, предложений из личного словаря.<br/> Вы можете тренировать только 10 заготовленных стандартных слов.</b><br/><div style="clear:both"></div><br/>
        <h3>**</h3><b>Обучение ограничено запасом звезд.<br/> Звезды нужны вам для того, что бы пользоваться всеми возможностями в обучении.<br/>
        1 звезда позволяет:<br/>
        - посмотреть авторский перевод текстовых материалов,<br/>
        - изучить одно новое слово,<br/>
        - пройти 1 тренировку "проверь себя",<br/>
        - добавить в словарь 1 незнакомое слово и потом тренировать его в тренингах.<br/>
При регистрации вам начисляется подарок в виде 30 звезд. <br/>
Каждый день заходя на сайт вы будете получать еще в подарок 12 звезд.</b>
    </div> 

</div> <!-- #conten-middle-center--> 