<?php
?>
<style type="text/css">
.review-form {
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
}
.review-form textarea {
    height: 50px;
    width: 300px;
}
.review-form .form-title {
    font-size: 18px;
    margin-bottom: 20px;
}
.review-form .form-row {
    margin-bottom: 10px;
    margin-top: 10px;
}
.review-form span {
    float: none;    
}
.review-form span.form-label {
    display: inline-block;
    width: 100px;
}
.review-form .submit {
    padding: 7px;
}
.review-form .submit-row {
    text-align: center;
}
	b{
	float:left;
	width:830px;
	margin:10px auto auto 20px;
	color:#5c4631;
	text-align:left;	
	line-height:1.4;
	font-size:12px;
	font-weight:100;	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
	.conten-middle-top-blok {
		margin-top:-7px;		
	}
	h2{
	margin:10px auto 10px 20px;
	color:#970100;
	font-size:20px;
	font-style:italic;
	font-weight:100;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
	span{
		margin:auto 30px auto auto ;
	float:right;
	color:#15669a;
	font-size:13px;
	font-style:italic;
	font-weight:100;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
	.otziv-user{	
	margin:10px auto 10px 10px;
	/*background:url(../images/community/user-found-block.png) no-repeat;*/
    display: table-cell;
    text-align: center;
    vertical-align: middle;
	float:left;
	width:60px;
	height:60px;
}
.otziv-user img{	
	max-width:60px;
	max-height:60px;
    background: none;
}
</style>


<h2>Отзывы</h2>
<div class="conten-middle-center" style="overflow:auto; border:none; overflow-x:hidden;height:450px;">
    <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
                <div class="otziv-user"><img src="/images/community/reviews/gdgkrg.jpg" alt="уроки английского" /></div>
                <b>
                   Я 2,5 мес назад занималась у вас на курсах, за что очень-очень благодарна – замечательные преподаватели, прекрасная методика,  в общем СПАСИБО!
                </b>
                <span>Автор: Катя Ролева, HR</span>       
    </div>
    
	<div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
                <div class="otziv-user"><img src="/images/community/reviews/bfgbm.jpg" alt="уроки английского" /></div>
                <b>
                   Мне нравилась незабываемая атмосфера на занятиях – позитивная, дружеская, и конечно же веселая. Самое удивительное это то, что мы не могли ничего спрашивать у преподавателя на родном языке!!! Мне лично это помогло преодолеть страх разговаривать и делать ошибки.
Сейчас я работаю в США, а ваши курсы рекомендую многим своим знакомым.
                </b> 
                <span>Автор: Виктор Михайлов<br/>       
    </div>
    
	<div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
               <div class="otziv-user"><img src="/images/community/reviews/bfgdxbc.jpg" alt="уроки английского" /></div>
                <b>
                   Довольно хорошая школа, эффективная программа обучения. Был на многих курсах, но здесь более эффективное обучение. Проверил на общении с иностранцами, они меня понимают, а я понимаю их - это меня очень радует :)
                </b> 
                <span>Автор: Олег Бильченко, IT админ</span>       
    </div>
    <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
            <div class="otziv-user"><img src="/images/community/reviews/gedcvgyhjnm.jpg" alt="уроки английского" /></div>              
                <b>
                   Занятия интересные, захватывающие. Результат заметен достаточно быстро. Помогает очень в работе.
                </b>
                <span>Автор: Натали Филенко <br/>      
    </div>
    	
    <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
          <div class="otziv-user"><img src="/images/community/reviews/bgerhrtjh6.jpg" alt="уроки английского" /></div>
			<b>
             This is very perfect courses for people who want to speak English and already know grammar. You have different teachers from different places and accents.  In this courses and i like it.
            </b>
            <span>Автор: Andrey Sertegov <br/>       
	</div>
    
    <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
            <div class="otziv-user"><img src="/images/community/reviews/gerger.jpg" alt="уроки английского" /></div>
			<b>
             Школа «Langwee» - это школа, в которой я реально начала учить английский язык. Уроки проходят быстро и интересно и самое главное эффективно!<br />>
«Langwee» - это школа, которую я могу уверено рекомендовать своим друзьям, родным, коллегам.
            </b>
            <span>Автор: Алина Маринина, преподаватель<br/>    
	</div>
   
    
    <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
            <div class="otziv-user"><img src="/images/community/reviews/gfefwefds.jpg" alt="уроки английского" /></div>
			<b>
            Приятные и  приветливые люди работают в школе «Langwee». Сразу появляется желание учиться. 
Преподаватели  высоко квалифицированные. Доходчиво объясняют. Всё понятно буквально сразу. А главное занятия пролетают быстро и интересно.<br /> 
Обязательно буду продолжать обучение в школе Langwee!!!

            </b>
            <span>Автор: Рита Кудирь, менеджер<br/>    
	</div>
    <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
            <div class="otziv-user"><img src="/images/community/reviews/bmdhny.jpg" alt="уроки английского" /></div>
			<b>
            Мне система обучения школы «Langwee»  очень понравилась. Быстро начинаешь овладевать английским. Понимаешь native speakers, понимаешь многие фильмы и читаешь английские книжки. С началом прослушивание курсов мой английский улучшился в разы!<br />
Правда начала и продолжаю слушать песни на английском чтобы быстрее выучить язык. Учите и результат не заставит себя ждать!


            </b>
            <span>Автор: Алексей (torzan)<br/>    
	</div>
    <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
            <div class="otziv-user"><img src="/images/community/reviews/gfgergefd.jpg" alt="уроки английского" /></div>
			<b>
            Your course was great. The teacher too. He gave us a lot of knowledge in management area. My English became higher level then when I came. I have a lot of good memories from this course.
            </b>
            <span>Автор: Ledeneva Ann, student<br/>    
	</div>
    
    <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
            <div class="otziv-user"><img src="/images/community/reviews/ghjtytjnty.jpg" alt="уроки английского" /></div>
			<b>
            Интересная насыщенная программа, учителя приветливые, всегда помогают чуть что. Советую записаться и пойти, все говорят на английском языке, даже администратор.<br />
У них постоянно есть интересные мероприятия и конфы, где можно провести весело время. Спасибо Langwee!
            </b>
            <span>Автор: Ангелина Пилипенко, оператор ПК<br/>    
	</div>
    
    <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
             <div class="otziv-user"><img src="/images/community/reviews/bsdhj.jpg" alt="уроки английского" /></div>
			<b>
            У меня было так: я около месяца учился по нему speaking. level 1 и 2. Было тяжело отвечать на вопросы в мини стори. только через многократное прослушивание мог коротко отвечать. хотя дело с чтением и пониманием было гораздо лучше. Потом сделал вынужденный перерыв и что удивило, что могу мини стори повторять и отвечать во время первого прослушивания. Несколько уроков мне не понравилось - немного скучно, ждешь пока они закончатся. Читаю текст 2 раза и 1 раз слушаю MP3. Потом за одно прослушивание отвечаю в мини стори. Так что курс реально помогает развивать speaking .
            </b>
            <span>Автор: Армен Арамян (aragorn12)<br/>    
	</div>
    <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
            <div class="otziv-user"><img src="/images/community/reviews/gjbbdhvfdk.jpg" alt="уроки английского" /></div>
			<b>
            До этого была на многих курсах английского языка, но только тут мне понравилось по-настоящему. Нравится посещать эти курсы, так как они они, наиболее эффективны для меня. Уроки проходят с настоящими американцами/ англичанами, это дает возможность быть готовой к разговору и пониманию иностранцев. Сами занятия очень веселые.<br />
Спасибо «Langwee» за качественное обучение. Процветания и побольше Вам студентов. Оставайтесь всегда на таком же высоком уровне!
            </b>
            <span>Автор: Ольга Барыш, секретарь<br/>    
	</div>
    <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
            <div class="otziv-user"><img src="/images/community/reviews/bstredr54f.jpg" alt="уроки английского" /></div>
			<b>
            Курс попал в самую точку - и он здорово работает (для аудирования). Многократное прослушивание хорошо развивает навыки аудирования (слушания).
Однако утверждать, что навыки говорения развиваются, я пока не буду. Занимаюсь регулярно 5 месяцев.
            </b>
            <span>Автор: Денис<br/>    
	</div>
    <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
            <div class="otziv-user"><img src="/images/community/reviews/gmdktnguv.jpg" alt="уроки английского" /></div>
			<b>
            Если у кого есть психологический барьер или Вы просто боитесь общаться с другими на иностранном языке, именно здесь Вам помогут.
            </b>
            <span>Автор: Елена Симонова, стюардесса<br/>    
	</div>
    <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
            <div class="otziv-user"><img src="/images/community/reviews/gmgjfkld.jpg" alt="уроки английского" /></div>
			<b>
            Обалденная школа английского языка! Я учусь здесь уже пол года и довольна результатом. Хочу отметить высокий уровень преподавателей и умение находить инд. подход к каждому студенту. Все занятия построены так, чтобы уделялось максимум внимания развитию разговорных навыков. Что радует, в школе царит дружественная атмосфера и сюда хочется приходить снова и снова. Класс!!! Рекомендую Langwee каждому, кто решился на этот важный шаг – изучение английского языка!
            </b>
            <span>Автор: Оксана Миранс, организатор event - мероприятий<br/>    
	</div>
    <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
            <div class="otziv-user"><img src="/images/community/reviews/gldhbthgd.jpg" alt="уроки английского" /></div>
			<b>
            Курсы школы Langwee помогли мне преодолеть разговорный барьер который у меня был много лет. Помого улучшить произношение и понимание английской разговорной речи. Здесь я не просто повысила свой нулевой уровень английского, но и получила удовольствие от самого процесса и интересного общения с новыми людьми.
            </b>
            <span>Автор: София Казакова, менеджер по персоналу<br/>    
	</div>
    <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
            <div class="otziv-user"><img src="/images/community/reviews/gnfvfske.jpg" alt="уроки английского" /></div>
			<b>
            На курсах «Langwee» я получаю огромный багаж знаний. Надеясь, на наилучший результат, с большим удовольствием перехожу на следующий уровень. Методы и материалы изучения английского на курсах «Langwee» мне очень нравятся.  Спасибо преподавателю и всем обучающимся. Привет Оксане Ильиной )
            </b>
            <span>Автор: Алина Задорожная, юрист-консул <br/>    
	</div>
    <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
			<div class="otziv-user"><img src="/images/community/reviews/gnrhrgv.jpg" alt="уроки английского" /></div>
            <b>
            Очень благодарна школе Langwee за те знания, которые я здесь получила.  Очень хороший и дружный коллектив, замечательные преподаватели - носители английского языка. Советую её всем, кому нужен английский как в повседневной жизни, так и для работы.
            </b>
            <span>Автор: Вероника Лиланина, Manager of international logistics <br/>    
	</div>    
    <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
            <div class="otziv-user"><img src="/images/community/reviews/godenchv.jpg" alt="уроки английского" /></div>
			<b>
            Я обожнюю «Langwee»!  Тут можна отримати дуже ефективне навчання, доволi хорошу базу знань. Я тут насолоджуюсь дружнім спілкуванням, а також цікавою методикою.  «Langwee» - це можливість вивчити англійську з комфортом і без тяжких зусиль. Отримуй купу задоволення і знання з професійною школою «Langwee»!!!
            </b>
            <span>Автор: Капоть Инна, студентка<br/>    
	</div> 
    
    <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
            <div class="otziv-user"><img src="/images/community/reviews/btgbnkl.jpg" alt="уроки английского" /></div>
			<b>
            Я вот уже больше  года занимаюсь, причём без перерывов и каждый день полтора часа какого-нибудь сериала (типа Сайнфилд/Друзья (образец той лексики которая мне нужна)).Так вот, что радует - единственное в чём прогресс почти не чувствуется - в понимании зарубежных песен. Не знаю почему у меня так. Причём слушаешь - вообще не врубаешься о чём они поют, потом заходишь в словарь и выясняется что процентов 50 слов/выражений знал.
            </b>
            <span>Автор: Дмитрий Миронов, копирайтер<br/>    
	</div> 
    
     <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
            <div class="otziv-user"><img src="/images/community/reviews/gpfmymgj.jpg" alt="уроки английского" /></div>
			<b>
            С самого детства у меня был талант к изучению языков. Но незадача - традиционная школа часто портит все желание учится своей сухостью и однообразием, а преподаватели - устарелыми методиками. Также я поняла, что без английского делать в современном мире нечего и решила возобновить старые, но еще не до конца потерянные знания и талант. И школа Langwee мне в этом очень помогла! Доступная и простая подача материала, объяснения непонятных моментов, отличные конференции и прекрасное произношение у лекторов - вот то, чего я искала и что нашла для себя. И вот теперь я с удовольствием общаюсь с англичанами и продолжаю учится дальше, готовлюсь к поездке в Лондон ))
            </b>
            <span>Автор: Кристина (kris-ti-naa)<br/>    
	</div> 
    
    
    <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
            <div class="otziv-user"><img src="/images/community/reviews/gunvcgxfe.jpg" alt="уроки английского" /></div>
			<b>
            Изучаю английский язык в универе. Но, так как в процессе обучения я получаю знания в традиционной немного поднадоевшей ещё со школы форме, то я решила добавить новизны. Выбрала для себя курсы английского языка в школе английского языка «Langwee». И уже поняла, что сделала правильный выбор! Опытные преподаватели, четкость и простота подачи материала, инновационная система обучения, стильный дизайн сайта – все это вызывает интерес и желание учиться! Спасибо Вам огромное! С ув. Алесандра.
            </b>
            <span>Автор: Александра<br/>    
	</div> 
    
    <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
            <div class="otziv-user"><img src="/images/community/reviews/gwscgyh.jpg" alt="уроки английского" /></div>
			<b>
            Учусь в вашей школе не так давно, и пока довольна, преподаватели добрые и интересные, методика новая, занятие пролетает как секунда, только начались, как осталось 5 минут до конца ) На уроке много разной деятельности, и ты постоянно занят, это прикольно. Вот бы в нашем универе пары так быстро пролетали…
            </b>
            <span>Автор: Наташа Кривошей – директор тур фирмы<br/>    
	</div> 
    
    <div class="conten-middle-center-cont" style="height:auto;  padding-bottom: 10px; margin-bottom:-7px;width:950px;">
            <div class="otziv-user"><img src="/images/community/reviews/bvbnry.jpg" alt="уроки английского" /></div>
			<b>
            У меня знания английского языка были значительно утрачены и забыты из-за отсутствия постоянной разговорной практики. После нескольких месяцев занятий в школе английского языка Langwee.com я не только вспомнил, что знал до этого и сумел выучить новое, но и все четко структурировалось, что для меня, как для технаря на первом месте. Все конкретно четко и понятно. Осталось наращивать словарный запас и практиковаться с друзьями иностранцами. Всем удачи!
            </b>
            <span>Автор: Сергей Михайлов, охранник, водитель<br/>    
	</div> 
    
</div>

<div class="review-form">
    <form action="sendreview" method="post">
    <div class="form-title">Добавить отзыв</div>
    <div class="form-content">
        <div class="form-row">
            <span class="form-label">Имя: </span>   
            <input type="text" name="name" />     
        </div>
        <div class="form-row">
            <span class="form-label">Профессия: </span>
            <input type="text" name="name" />   
        </div>
         <div class="form-row">
            <span class="form-label">Текст сообщения: </span>
            <textarea name="message"></textarea>
        </div>
        <div class="submit-row">
            <input type="submit" class="submit" value="Добавить" />
        </div>
    </div>
    </form>
</div>