<style type="text/css">
b{
	float:left;
	width:850px;
	margin-left:30px;	
	color:#5c4631;
	text-align:left;	
	line-height:1.6;
	font-size:13px;
	font-weight:100;		
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content .conten-middle-center-cont{
	height:500px!important;
}
.clr{
	clear:both;
}
h2{
	margin-bottom:30px!important;
}
</style>
<div class="conten-middle-center" style=" border:none">
    <div class="conten-middle-center-cont" style="height: 100px;  padding-left: 10px;">
        <div class="conten-middle-top-blok">
            <h2>Расписание уроков в формате онлайн-занятий.</h2>
			<div class="clr"></div>
<div style="width:470px;float:left;margin-right:20px;text-align:center;">
<h3>Занятия по английскому языку:</h3>
     <h4> Начальный уровень </h4>
<p>Пн.- Пт.  20.30 - 22.00 (МСК)</p>
<p>Сб.- Вс.   19.00 - 20.30 (МСК)</p>
    
      <h4>  Средний уровень</h4>
<p>Пн.- Пт.   20.30 - 22.00 (МСК)</p>
<p>Сб.- Вс.   19.00 - 20.30 (МСК)</p>

    <h4> Продвинутый уровень</h4>
<p>Пн.-Пт. 20.00 - 21.30 (МСК)</p>
<p>Сб.-Вс.  18.30 - 20.00 (МСК)</p>
</div>
<div style="width:470px;text-align:center;float:left;">
<h3>Занятия по немецкому языку:</h3>
    <h4>  Начальный уровень </h4>
<p>Пн.-Пт.  20.00 - 21.30 (МСК)</p>
<p>Сб.-Вс.  19.00 - 20.30 (МСК)</p>
     
     <h4>  Средний уровень</h4>
<p>Пн.-Пт.  20.00 - 21.30 (МСК)</p>
<p>Сб.-Вс.  19.00 - 20.30 (МСК)</p>
    
    <h4> Продвинутый уровень</h4>
<p>Пн.-Пт. 19.30 - 21.00 (МСК)</p>
<p>Сб.-Вс.  19.00 - 20.30 (МСК)</p>
</div>
        </div><!-- #conten-middle-top-blok--> 
     

    </div> 


</div> <!-- #conten-middle-center-->    