<style>
    .status-message {
        font-size: 20px;
        margin-top: 40px;
    }
</style>
<div class="conten-middle-center" style=" border:none">
    <div class="status-message">
        Спасибо за Ваш отзыв!
    </div>
</div>