<style>
    .teachers-block {
        width: 960px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .teachers-block h1 {
        margin-bottom: 30px;
    }
    .teachers-block h2 {
        margin-bottom: 20px;
    }
    .teachers-block .teacher {
        margin-bottom: 30px;
    }
    .teachers-block .teacher .name {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .teachers-block .teacher .photo {
        margin-bottom: 10px;
    }
    .teachers-block .teacher .spec {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .teachers-block .serts {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .teachers-block .serts img {
        height: 200px;
    }
</style>

<div class="teachers-block" style="border:none;overflow:auto;overflow-x:hidden;height:720px;">
    <h1>Преподаватели</h1>
    <h2>Преподаватели английского</h2>
    <div class="teacher">
        <div class="name">
            Романова Ирина Олеговна 
        </div>
        <div class="photo">
            <img src="/images/about/teachers/en/romanova.jpg" />
        </div>
        <div class="spec">
            Предметы: английский язык, немецкий язык
        </div>
        <div class="description">
            Образование: Московский государственный социально-гуманитарный институт, факультет лингвистики и межкультурной коммуникации, специальность – лингвист, переводчик немецкого и английского языков.
            2-ое высшее образование: Институт бизнеса и политики, факультет практической психологии, специализация – возрастная психология. 
            Практика по индивидуальному и семейному консультированию, а также по психокоррекции.<br />
            Стажировка в Германии (1 год, 2003-2004 гг.).<br />
            Прошла курс Валерии Мещеряковой по преподаванию английского языка в игровой форме детям от 3-х до 8 лет.<br />
            Участие в тренингах Валерии Мещеряковой по методике обучения детей 2-10 лет – «Достижение взаимопонимания» и «Обучение чтению и письменной речи. Методика цветочтения».
            Педагогический стаж – 2 года. СОШ, ВУЗ. Занятия в группах по английскому языку и раннему развитию детей в психологическом центре «Сто дорог». Частная школа «Лучик», учитель английского языка.
            Внештатный переводчик издательства «Астрель».<br />
            Опыт репетиторства – 4 года.
        </div>
        <div class="serts">
            <img src="/images/about/teachers/en/romanova_sert1.jpg" />  <img src="/images/about/teachers/en/romanova_sert2.jpg" />  <img src="/images/about/teachers/en/romanova_sert3.jpg" />
        </div>
    </div>
    <div class="teacher">
        <div class="name">
        Петрова Елена Владимировна 
        </div>
        <div class="photo">
            <img src="/images/about/teachers/en/petrova.jpg" />
        </div>
        <div class="spec">
            Предметы: английский язык, немецкий язык, РКИ.
        </div>
        <div class="description">
            Образование: МГЛУ, педагогический факультет, специальность – преподаватель английского и немецкого языков, дополнительная специальность – переводчик в сфере профессиональной коммуникации (английский язык) (диплом с отличием, 2009 г.).<br />
University of Cambridge (США), 2 мес., квалификация – Certificate of Completion Literature, Shakespeare to the Present Day (2006 г.). <br />
Humboldt Institut (Германия), Koeln, 2 мес., квалификация – Deutsch als Fremdsprache, Sprachniveau C1 (2007 г.). <br />
Goethe Institut, Muenchen (Германия), 1 мес., квалификация – Deutsch als Fremsprache, C2 (2008 г.).  <br />
University of Mannheim (Германия), 2 мес., квалификация – экзамен Deutsch als Fremdsprache, DSH 3 (100%) (2009 г.). <br />
Сертификат ТОEFL, диплом Гёте-Института (Германия), уровень С2, экзамен DSH (100%) (2009 г.). <br />
Обучалась в США, University of Augsburg, Master's Degree in British and American Studies (степень магистра, 2009-2010 гг.). <br />
Опыт преподавания – с 2008 года: <br />
2 года преподавала английский и немецкий языки в Центре иностранных языков Yes; <br />
1 год – в США, в начальной школе Turnagain Elementary (Russian Immersion Programm); в средней школе Middle School Romig (Russian Immersion Programm), преподаватель русского языка как иностранного для американцев; <br />
преподавание русского как иностранного и немецкого языков в американском детском лагере BLIA (2011-2012 гг.); <br />
преподает Business English в Denis School; <br />
преподаватель МГИМО. <br />
Репетиторский опыт – с 2006 года.

        </div>
        <div class="serts">
            <img src="/images/about/teachers/en/petrova_sert1.jpg" /> <img src="/images/about/teachers/en/petrova_sert2.jpg" /> <img src="/images/about/teachers/en/petrova_sert3.jpg" /> <img src="/images/about/teachers/en/petrova_sert4.jpg" />
        </div>
    </div>
    
    <div class="teacher">
        <div class="name">
            Гринева Екатерина Анатольевна 
        </div>
        <div class="photo">
            <img src="/images/about/teachers/en/grineva.jpg" />
        </div>
        <div class="spec">
            Предметы: английский язык, русский язык, РКИ.
        </div>
        <div class="description">
            Образование: МГУ им. М.В. Ломоносова, филологический факультет (1998 г.); Русский институт управления (2004 г.).<br />
Преподавательский стаж – более 13 лет (общеобразовательные и специализированные школы, Центр языков и культуры).<br />
С 2000 года – ежегодные курсы повышения квалификации для преподавателей английского языка (г. Плимут, Великобритания).<br />
Опыт работы в Exeter University (Великобритания, 2005-2006 гг.), в языковой школе Susan Sparrows (г. Плимут, Великобритания).<br />
Репетиторская деятельность – более 12 лет.<br />
Руководитель службы по работе с преподавателями компании «Ваш репетитор».<br />
Специальный приз компании «Ваш репетитор» за вклад в развитие преподавательского сообщества (2010 г.).<br />
Победитель конкурса «Репетитор года» (2011) в номинации «Самое лучшее видео на сертификации».<br />
Плюс: IELTS; ГИА, ЕГЭ по русскому и английскому языку.
        </div>
        <div class="serts">
            <img src="/images/about/teachers/en/grineva_sert1.jpg" /> <img src="/images/about/teachers/en/grineva_sert3.jpg" />
        </div>
    </div>
    
    <div class="teacher">
        <div class="name">
            Сидорова Екатерина Владимировна
        </div>
        <div class="photo">
            <img src="/images/about/teachers/en/sidorova.jpg" />
        </div>
        <div class="spec">
            Предметы: английский язык, немецкий язык, шведский язык.
        </div>
        <div class="description">
            Образование: Московский городской психолого-педагогический университет, факультет иностранных языков, специальность – теория и практика межкультурной коммуникации, квалификация – лингвист, специалист по межкультурному общению (английский, немецкий языки, дополнительно – шведский язык) (2012 г.).<br />
Стажировка в шведском колледже на территории Финляндии (Borga Folkakademi), около 1 месяца (2009 г.).<br />
Репетиторский опыт – 2 года.
        </div>
        <div class="serts">
            <img src="/images/about/teachers/en/sidorova_sert1.jpg" /> <img src="/images/about/teachers/en/sidorova_sert2.jpg" /> <img src="/images/about/teachers/en/sidorova_sert3.jpg" /> <img src="/images/about/teachers/en/sidorova_sert4.jpg" />
        </div>
    </div>
    <div class="teacher">
        <div class="name">
            Уильямс Фрэнк 
        </div>
        <div class="photo">
            <img src="/images/about/teachers/en/william.jpg" />
        </div>
        <div class="spec">
            Репетитор по английскому языку.
        </div>
        <div class="description">
            Носитель английского языка.<br />
Образование: Университет штата Миссури (США), специальность – бакалавр изобразительных искусств, специализация – живопись и скульптура (1972 г.). 
Опыт преподавания – 20 лет. Преподавал в университете и частной профессиональной художественной школе. 10 лет преподавал в Колледже декоративно-прикладного искусства им. Карла Фаберже.
        </div>
        <div class="serts">
            <img src="/images/about/teachers/en/william_sert1.jpg" /> <img src="/images/about/teachers/en/william_sert2.jpg" /> 
        </div>
    </div>
    <div class="teacher">
        <div class="name">
            Никоненко Алла Леонтьевна 
        </div>
        <div class="photo">
            <img src="/images/about/teachers/en/nikonenko.jpg" />
        </div>
        <div class="spec">
            Предметы: испанский язык, английский язык.
        </div>
        <div class="description">
            Окончила Лингвистический институт г. Барнаул, специальность «Лингвист с правом преподавания иностранных языков и культур» (2004 г.).<br />
Сертификаты IELTS Academic 8.0, TEFL. Сертификат TEFL (Business)<br />
Опыт работы преподавателем – полгода в АлтГТУ.<br />
Репетиторская деятельность – с 2000 года.
        </div>
        <div class="serts">
            <img src="/images/about/teachers/en/nikonenko_sert1.jpg" /> <img src="/images/about/teachers/en/nikonenko_sert2.jpg" /> <img src="/images/about/teachers/en/nikonenko_sert3.jpg" /> <img src="/images/about/teachers/en/nikonenko_sert4.jpg" /> <img src="/images/about/teachers/en/nikonenko_sert5.jpg" />
        </div>
    </div> 
    <div class="teacher">
        <div class="name">
            Василевич Ирина Анатольевна
        </div>
        <div class="photo">
            <img src="/images/about/teachers/en/vasilevich.jpg" />
        </div>
        <div class="spec">
            Репетитор по английскому языку.
        </div>
        <div class="description">
            Образование: ГУЗ (МИИЗ), специальность – управление земельными ресурсами и их охрана (1990 г.), центр дополнительного образования, специализация – перевод и переводоведение (1989 г.); Московский институт открытого образования, профессиональная переподготовка по программе «Теория и методика обучения русскому языку как иностранному (РКИ)» (2008 г.); Московский институт лингвистики (магистратура), факультет лингвистики и межкультурной коммуникации, специализация – педагогическое образование (2011 г.).<br />
Участница семинара-практикума по подготовке к ЕГЭ (анализ типичных ошибок), организованного британским издательством Longman.<br />
Сертификат FCE (2008 г.); сертификат TKT (для преподавателей); сертификат Британского совета об окончании курса повышения квалификации по использованию информационно-коммуникативных технологий в обучении английскому языку (2012 г.).<br />
Специализируется на ЕГЭ, мировой экономике, международных экзаменах, деловом и финансовом английском.<br />
Проживание и работа в переводческом центре для членов Европарламента в Брюсселе, Бельгия (1992-1996 гг.); проживание и работа во Франции (1998-2006 гг.).<br />
Опыт преподавания:
1991-1992 гг. – РГГУ, практическая грамматика.
1996-1998 гг. – курсы «АВС».
С 2006 года – частные языковые центры («Логос-Элит», «English First», Академия европейских языков).
2007-2009 гг. – подготовка к экзамену по английскому языку иностранных детей в британской школе в Москве.
Разработана программа обучения английскому языку за рубежом: английский язык на Черном (Болгария) и Адриатическом (Черногория) морях, в национальных парках Дании; программы для взрослых и детей в сопровождении взрослых.
Опыт подготовки абитуриентов по программе Дипломатической академии МИД «мировая экономика».
Репетиторская деятельность – 8 лет.

        </div>
        <div class="serts">
            <img src="/images/about/teachers/en/nikonenko_sert1.jpg" /> <img src="/images/about/teachers/en/nikonenko_sert2.jpg" /> <img src="/images/about/teachers/en/nikonenko_sert3.jpg" /> <img src="/images/about/teachers/en/nikonenko_sert4.jpg" /> <img src="/images/about/teachers/en/nikonenko_sert5.jpg" />
        </div>
    </div> 
    <div class="teacher">
        <div class="name">
            Vinieratos Ed 
        </div>
        <div class="photo">
            <img src="/images/about/teachers/en/vinieratos.jpg" />
        </div>
        <div class="spec">
            Предметы: английский язык.
        </div>
        <div class="description">
            Носитель английского языка.<br />
Native speaker (USA, Virginia).<br />
Education: Virginia Military Institute (1962); Stanford University (1967).<br />
CELTA (2001); Fuller Theological Seminary (1981), two technical degrees (BA Mathematics, MS Engineering) and one humanitarian (MA) were earned, along with a legal and IT studies, in the USA, plus, the award of the CELTA English teaching certificate from Cambridge University and ten years post-CELTA experience.<br />
I am presently a free-lance teacher of English and I also lecture at the Griboyedov Institute of Law and Economics (4 years). Formerly, I taught at Moscow's large (2400 employees) Ernst and Young, a global professional services consultancy. I also taught GMAT at the Pericles American Business and Legal Education Project and CPE exam preparation at the Lomonosv Moscow State University, Global Studies Department, preparing Russia's future diplomats and international business men and women.<br />
General and Business English has been taught at many companies over the last eleven years.<br />
I have a variety of personalized teaching materials that are frequently used during lessons in response to student's questions or needs. Moreover, I am a senior with medical limitations. For these reasons I request individual students to visit my flat for lessons.<br />
Плюс: General and Business English, GMAT, TOEFL, Trinity, FCE, CAE, CPE, IELTS, Financial and Legal English, GSCE A-levels, SAT, математика и физика на английском языке.
        </div>
    </div>  
    <div class="teacher">
        <div class="name">
            Судакова Ольга Николаевна
        </div>
        <div class="photo">
            <img src="/images/about/teachers/en/sudakova.jpg" />
        </div>
        <div class="spec">
            Репетитор по английскому языку.
        </div>
        <div class="description">
           Кандидат филологических наук (с 1990 г.); доцент кафедры теории и практики перевода РГГУ.<br />
Образование: МГЛУ, факультет повышения квалификации переводчиков, специальность – устный переводчик, переводчик-референт (английский язык) (1994 г.); аспирантура МПГУ (МГПИ им. Ленина), специальность – сравнительное языкознание и грамматика английского и немецкого языков (1984 г.); Смоленский государственный педагогический институт, факультет иностранных языков, специальность – учитель английского и немецкого языков (1977 г.).<br />
Опыт преподавания – 35 лет (ВУЗы, английский и немецкий языки, 1-5 курсы; с 2000 г. – РГГУ).<br />
Опыт репетиторства – 30 лет.
        </div>
        <div class="serts">
            <img src="/images/about/teachers/en/sudakova_sert1.jpg" /> <img src="/images/about/teachers/en/sudakova_sert2.jpg" /> <img src="/images/about/teachers/en/sudakova_sert3.jpg" /> <img src="/images/about/teachers/en/sudakova_sert4.jpg" />
        </div>
    </div>    
    
    <div class="teacher">
        <div class="name">
            Лобачева Марина Андреевна 
        </div>
        
        <div class="spec">
            Репетитор по английскому языку.
        </div>
        <div class="description">
           Кандидат филологических наук (2005 г.).
Окончила в 1995 году МГУ им. М.В. Ломоносова, филологический факультет, специальность – филолог, преподаватель.<br />
Сертификаты Further Certificate for Teachers of Business English (международный сертификат преподавателя бизнес-английского, выданный Лондонской Торговой Палатой, 2008 г.); Longman Teacher Development (методика преподавания английского языка в рамках программы Longman, 2007-2008 гг.).<br />
Автор печатных работ по методике преподавания английского языка. Печатные работы по практике перевода с русского языка на английский.<br />
Педагогический стаж – 8 лет (доцент кафедры теории и практики перевода).<br />
С 2005 года – преподаватель английского языка.<br />
Репетиторство – с 2000 года.<br />

        </div>
        <div class="serts">
            <img src="/images/about/teachers/en/lobacheva_sert1.jpg" /> <img src="/images/about/teachers/en/lobacheva_sert2.jpg" /> <img src="/images/about/teachers/en/lobacheva_sert3.jpg" /> <img src="/images/about/teachers/en/lobacheva_sert4.jpg" />
        </div>
    </div>
    
    <h2>Преподаватели немецкого</h2>
    <div class="teacher">
        <div class="name">
            Маркус Вульф
        </div>
        <div class="photo">
            <img src="/images/about/teachers/de/wolf.jpg" />
        </div>
        <div class="spec">
            Репетитор по немецкому языку.
        </div>
        <div class="description">
           Носитель немецкого языка.<br />
Образование: Университет Штутгарта (1996 г.), специальность – экономика, финансы, MBA (2010 г.).<br /> 
Опыт работы в крупных международных компаниях на руководящих должностях.<br />
Возможен выезд с учениками за рубеж для практики в стране изучаемого языка.<br />
Опыт репетиторства – 4 года.<br />
Плюс: разговорный язык, бизнес-лексика (экономика, финансы, право), обучение с нуля до C2; для выезда на ПМЖ; подготовка к экзаменам любого вида сложности; дистанционные занятия.
        </div>
        
    </div>
    
    <div class="teacher">
        <div class="name">
            Журавлева Жанна Михайловна
        </div>
        <div class="photo">
            <img src="/images/about/teachers/de/zhuravleva.jpg" />
        </div>
        <div class="spec">
            Репетитор по английскому и немецкому языку.
        </div>
        <div class="description">
           Образование: МГЛУ им. Мориса Тореза, факультет гуманитарных и прикладных наук, специальность – лингвист, преподаватель английского и немецкого языков (2009 г.); дополнительная специальность – переводчик в сфере профессиональной коммуникации (английский язык) (2009 г.).<br />
Университет Аугсбурга в Германии (Augsburg University), магистр искусств (Master of Arts) по специальности «British and American Studies» (2011 г.).<br />
Стажировки в Англии (летняя языковая школа для иностранных студентов в Брайтоне), США (языковая школа ASPECT в Нью-Йорке), на Мальте.<br />
Сертификаты TOEFL, GRE.<br />
Выиграла грант правительства США по программе FULBRIGHT Scholarship (Visiting Fulbright Scholar Program), преподавала РКИ в США (2010-2011 гг.).<br />
Сертификат Гете-института, уровень C1, экзамен на знание немецкого языка DSH-3 (высший показатель).<br />
Языковые курсы в Гете-институте, Германия (г. Дрезден, Мангейм). Проживание в Германии в течение 2 лет.<br />
Опыт преподавания – 3 года (Denis School, преподавание бизнес-английского для корпоративных клиентов; Colgate University, США, преподаватель русского как иностранного, 2010-2011 гг.).<br />
Репетиторский опыт – с 2005 года.<br />
Плюс: TOEFL, IELTS, FCE, TestDaf; ЕГЭ по английскому языку, ЕГЭ по немецкому языку; разговорный английский, разговорный немецкий, бизнес-лексика, пополнение словарного запаса, усвоение грамматических тонкостей.<br />
        </div>
        <div class="serts">
            <img src="/images/about/teachers/de/zhuravleva_sert1.jpg" /> <img src="/images/about/teachers/de/zhuravleva_sert2.jpg" /> <img src="/images/about/teachers/de/zhuravleva_sert3.jpg" /> <img src="/images/about/teachers/de/zhuravleva_sert4.jpg" /> <img src="/images/about/teachers/de/zhuravleva_sert5.jpg" /> 
        </div>
    </div>
    <div class="teacher">
        <div class="name">
            Носикова Ольга Олеговна 
        </div>
        <div class="photo">
            <img src="/images/about/teachers/de/nosikova.jpg" />
        </div>
        <div class="spec">
            Репетитор по немецкому языку.
        </div>
        <div class="description">
           Образование: Международный независимый эколого-политологический университет (МНЭПУ), факультет – мировая экономика, менеджмент, финансы и сервис; факультет иностранных языков, специальность – переводчик немецкого языка в сфере профессиональной коммуникации (дипломы с отличием, 2005 г.).<br />
Курсы немецкого языка в МГПУ (1998-1999 гг.); курсы немецкого языка в РУДН (1999-2000 гг.).<br />
Школа с углубленным изучением немецкого языка (золотая медаль, 2000 г.); российско-германский колледж при университете г. Карлсруэ (Германия, 2004-2005 гг.).<br />
Аспирантура в ГУ-ВШЭ (2005-2009 гг.); аспирантура и научная деятельность в университете Мангейм (Германия, 2007 г.).<br />
Продолжает обучение в институтах: Институт психологии при Первом профессиональном университете, специальность – психолог (2013 г.); Институт групповой психотерапии и социального проектирования, специальность – психодраматерапевт-психодраматист (2014 г.).<br />
Призер олимпиад по немецкому языку, стипендиат DAAD.<br />
Имеются публикации на немецком языке:<br />
Nosikova O.O. Die Entwicklung der Versicherungswirtschaft in Russland // Mannheimer Manuskripte zu Risikotheorie, Portfolio Management und Versicherungswirtschaft.<br />
Стаж работы:<br />
2002-2004 гг. – Международный независимый эколого-политологический университет (г. Москва).<br />
2007 г. – Universität Mannheim (г. Мангейм, Германия).<br />
2010-2011 гг. – Университет российской академии образования (г. Москва).<br />
2010 – по наст. вр. – ННОУ Частный центр прогрессивного обучения «Глобус» (г. Истра).<br />
Опыт репетиторской деятельности – с 2000 г.<br />
Плюс: ГИА по немецкому языку, ЕГЭ по немецкому языку, ПМЖ, бизнес-курс немецкого языка, экономический курс немецкого языка, международные сертификаты Fit in Deutsch 1/2, Start Deutsch 1/2, Zertifikat Deutsch, Zertifikat Deutsch für den Beruf, Zertifikat Deutsch Plus, Zentrale Mittelstufenprüfung (ZMP), Prüfung Wirtschaftsdeutsch (PWD), Test DaF.<br />

        </div>
        <div class="serts">
            <img src="/images/about/teachers/de/nosikova_sert1.jpg" /> <img src="/images/about/teachers/de/nosikova_sert2.jpg" />  
        </div>
    </div>
    
    <div class="teacher">
        <div class="name">
            Сидорова Екатерина Владимировна
        </div>
        <div class="photo">
            <img src="/images/about/teachers/de/sidorova.jpg" />
        </div>
        <div class="spec">
            Предметы: английский язык, немецкий язык, шведский язык.
        </div>
        <div class="description">
          Образование: Московский городской психолого-педагогический университет, факультет иностранных языков, специальность – теория и практика межкультурной коммуникации, квалификация – лингвист, специалист по межкультурному общению (английский, немецкий языки, дополнительно – шведский язык) (2012 г.).<br />
Стажировка в шведском колледже на территории Финляндии (Borga Folkakademi), около 1 месяца (2009 г.).<br />
Репетиторский опыт – 2 года.<br />
        </div>
        <div class="serts">
            <img src="/images/about/teachers/de/sidorova_sert1.jpg" /> <img src="/images/about/teachers/de/sidorova_sert2.jpg" />   <img src="/images/about/teachers/de/sidorova_sert3.jpg" /> <img src="/images/about/teachers/de/sidorova_sert4.jpg" />
        </div>
    </div>
    
    <div class="teacher">
        <div class="name">
            Шитова Александра Андреевна
        </div>
        <div class="photo">
            <img src="/images/about/teachers/de/shitova.jpg" />
        </div>
        <div class="spec">
            Репетитор по немецкому языку.
        </div>
        <div class="description">
          Образование: Томский политехнический университет, факультет – Институт языковой коммуникации, специальность – лингвист-переводчик (2006 г.).<br /> 
Сертификат Deutschsprachdiplom (2001 г.); Mittelstufe, DAAD-Zeugnis Mittelstufe III, das Goethe-Zertifikat C2: Zentrale Oberstufenprüfung (2008 г.). <br />
Стажировка в Германии, 1 месяц (2006 г.). <br />
Опыт преподавания – 2 года, немецкий язык для студентов в общественной организации «РНМО Югендблик» (г. Томск).<br />

        </div>
        
    </div>
    
    <div class="teacher">
        <div class="name">
            Вишневская Анастасия Евгеньевна
        </div>
        <div class="photo">
            <img src="/images/about/teachers/de/vishnevskaya.jpg" />
        </div>
        <div class="spec">
            Предметы: немецкий язык
        </div>
        <div class="description">
          
Образование: МГИМО, международные отношения, регионоведение Западной Европы (2010 г.).<br />
Сертификаты das Große Deutsche Sprachdiplom (С2+) и das Österreichische Sprachdiplom Wirtschaftsdeutsch (С2).<br />
Опыт преподавания – с 2008 года (языковая школа).<br />
РКИ для немецких студентов в Берлине – 1 год.<br />
Репетиторство – 5 лет.<br />
Плюс: ЕГЭ по немецкому языку, TestDAF, MVV.
        </div>
         <div class="serts">
            <img src="/images/about/teachers/de/vishnevskaya_sert1.jpg" /> <img src="/images/about/teachers/de/vishnevskaya_sert2.jpg" />   <img src="/images/about/teachers/de/vishnevskaya_sert3.jpg" />
        </div>
    </div>
    
    <div class="teacher">
        <div class="name">
            Инго Дауммер
        </div>
        <div class="photo">
            <img src="/images/about/teachers/de/ingo.jpg" />
        </div>
        <div class="spec">
            Репетитор немецкого языка.
        </div>
        <div class="description">          
            Носитель немецкого языка.<br />
            Высшее педагогическое образование, специальность – немецкий язык как иностранный (Universitätsabschluss für Deutsch und Deutsch als Fremdsprache, zertifikat für DaF vom International House Germany).<br />
            Опыт работы: International House Germany, Россия; University of Montreal.<br />
            Преподавательская деятельность – 7 лет.<br />
            Частная практика – 6 лет.
        </div>
    </div>
    
    <div class="teacher">
        <div class="name">
            Черных Мария Владимировна
        </div>
        <div class="photo">
            <img src="/images/about/teachers/de/chernyh.jpg" />
        </div>
        <div class="spec">
            Предметы: немецкий язык
        </div>
        <div class="description">          
            Образование: МГПУ, филологический факультет, специальность – преподаватель русского языка и литературы (2009 г.); факультет специальной педагогики, отделение дополнительного профессионального образования, специальность – коррекционно-логопедическая работа с детьми с речевыми нарушениями, 1 курс.<br />
Диплом о дополнительном образовании по специальности «Преподаватель немецкого языка в сфере общего среднего и дополнительного образования».<br />
Сертификат института им. Гете (B2).<br />
Курсы повышения квалификации преподавателей РКИ (РУДН).<br />
Педагогический стаж:<br />
2007-2008 гг. – учитель немецкого языка в гимназии №45;<br />
2010 г. – центр образования №1490;<br />
2010-2011 г. – преподаватель русского языка и литературы в политехническом колледже №2.<br />
С 2011 г. – преподаватель русского языка, литературы и МХК в Колледже по подготовке социального работника №16.<br />
С 2012 г. – преподаватель русского языка и культуры речи Московского института государственного и корпоративного управления.<br />
Работает корректором.<br />
Репетиторская деятельность – 7 лет.<br />
        </div>
        <div class="serts">
            <img src="/images/about/teachers/de/chernyh_sert1.jpg" /> <img src="/images/about/teachers/de/chernyh_sert2.jpg" />   <img src="/images/about/teachers/de/chernyh_sert3.jpg" />
        </div>
    </div>
    
    <div class="teacher">
        <div class="name">
            Петрова Елена Владимировна 
        </div>
        <div class="photo">
            <img src="/images/about/teachers/de/petrova.jpg" />
        </div>
        <div class="spec">
            Предметы: английский язык, немецкий язык, РКИ.
        </div>
        <div class="description">          
            Образование: МГЛУ, педагогический факультет, специальность – преподаватель английского и немецкого языков, дополнительная специальность – переводчик в сфере профессиональной коммуникации (английский язык) (диплом с отличием, 2009 г.).<br />
University of Cambridge (США), 2 мес., квалификация – Certificate of Completion Literature, Shakespeare to the Present Day (2006 г.).<br />
Humboldt Institut (Германия), Koeln, 2 мес., квалификация – Deutsch als Fremdsprache, Sprachniveau C1 (2007 г.).<br />
Goethe Institut, Muenchen (Германия), 1 мес., квалификация – Deutsch als Fremsprache, C2 (2008 г.). <br />
University of Mannheim (Германия), 2 мес., квалификация – экзамен Deutsch als Fremdsprache, DSH 3 (100%) (2009 г.).<br />
Сертификат ТОEFL, диплом Гёте-Института (Германия), уровень С2, экзамен DSH (100%) (2009 г.).<br />
Обучалась в США, University of Augsburg, Master's Degree in British and American Studies (степень магистра, 2009-2010 гг.).<br />
Опыт преподавания – с 2008 года:<br />
2 года преподавала английский и немецкий языки в Центре иностранных языков Yes;<br />
1 год – в США, в начальной школе Turnagain Elementary (Russian Immersion Programm); в средней школе Middle School Romig (Russian Immersion Programm), преподаватель русского языка как иностранного для американцев;<br />
преподавание русского как иностранного и немецкого языков в американском детском лагере BLIA (2011-2012 гг.);<br />
преподает Business English в Denis School;<br />
преподаватель МГИМО.<br />
Репетиторский опыт – с 2006 года.

        </div>
        <div class="serts">
            <img src="/images/about/teachers/de/petrova_sert1.jpg" /> <img src="/images/about/teachers/de/petrova_sert2.jpg" /> <img src="/images/about/teachers/de/petrova_sert3.jpg" /> <img src="/images/about/teachers/de/petrova_sert4.jpg" />
        </div>
    </div>
    
    <div class="teacher">
        <div class="name">
            Романова Ирина Олеговна 
        </div>
        <div class="photo">
            <img src="/images/about/teachers/de/romanova.jpg" />
        </div>
        <div class="spec">
            Предметы: английский язык, немецкий язык
        </div>
        <div class="description">          
            Образование: Московский государственный социально-гуманитарный институт, факультет лингвистики и межкультурной коммуникации, специальность – лингвист, переводчик немецкого и английского языков.<br />
2-ое высшее образование: Институт бизнеса и политики, факультет практической психологии, специализация – возрастная психология. <br />
Практика по индивидуальному и семейному консультированию, а также по психокоррекции.<br />
Стажировка в Германии (1 год, 2003-2004 гг.).<br />
Прошла курс Валерии Мещеряковой по преподаванию английского языка в игровой форме детям от 3-х до 8 лет.<br />
Участие в тренингах Валерии Мещеряковой по методике обучения детей 2-10 лет – «Достижение взаимопонимания» и «Обучение чтению и письменной речи. Методика цветочтения».<br />
Педагогический стаж – 2 года. СОШ, ВУЗ. Занятия в группах по английскому языку и раннему развитию детей в психологическом центре «Сто дорог». Частная школа «Лучик», учитель английского языка.<br />
Внештатный переводчик издательства «Астрель».<br />
Опыт репетиторства – 4 года.
        </div>
        <div class="serts">
            <img src="/images/about/teachers/de/romanova_sert1.jpg" />  <img src="/images/about/teachers/de/romanova_sert2.jpg" /> <img src="/images/about/teachers/de/romanova_sert3.jpg" /> 
        </div>
    </div>
    
    <h2>Преподаватели испанского</h2>
    
    <div class="teacher">
        <div class="name">
            Кинтеро Бессе Эрнесто 
        </div>
        <div class="photo">
            <img src="/images/about/teachers/esp/kintero.jpg" />
        </div>
        <div class="spec">
            Репетитор по испанскому языку.
        </div>
        <div class="description">          
            Носитель испанского языка.<br />
Образование: Высший технический институт г. Ольгин, Куба, технический факультет, специальность – техник транспортных устройств (1986 г.).<br />
Прошел тренинг языковой школы ICL по преподаванию испанского языка.<br />
Школа «ENFOREX», квалификация – преподаваль испанского языка как иностранного (Мадрид, 2012 г.).<br />
Опыт работы в дипломатических службах при посольстве Кубы в различных странах – 15 лет.<br />
Частное преподавание в Москве – 3 года.

        </div>       
    </div>
    
    
    <div class="teacher">
        <div class="name">
            Черноскутова Ирина Сергеевна  
        </div>
        <div class="photo">
            <img src="/images/about/teachers/esp/chernoskutova.jpg" />
        </div>
        <div class="spec">
            Репетитор испанского языка и итальянского языка.
        </div>
        <div class="description">          
            Образование: МГТУ им. Баумана, факультет специального машиностроения, специальность – высокоточные летательные аппараты (2011 г.).<br /> 
Курсы испанского языка в Институте Сервантеса в Москве (2010 г.). <br />
Курсы подготовки к D.E.L.E. – экзамен по испанскому языку как иностранному (2010 г.).<br />
Диплом D.E.L.E., уровень Avanzado (2007, 2008, 2010 гг., по 2 месяца – училась языку в Барселоне), дипломы об окончании курсов, школа «Инфорекс» (Enforex) и школа «Дон-Кихот» (Don Quijote).<br /> 
Курсы итальянского языка – занятия с частным преподавателем. Постоянное общение с носителями языка. <br />
2010 г. (1 мес.) – опыт работы в Италии в качестве администратора в отеле.<br />
Репетиторский опыт – с 2011 года.
        </div> 
        <div class="serts">
            <img src="/images/about/teachers/esp/chernoskutova_sert1.jpg" /> <img src="/images/about/teachers/esp/chernoskutova_sert2.jpg" /> <img src="/images/about/teachers/esp/chernoskutova_sert3.jpg" />  
        </div>      
    </div>
    
    <div class="teacher">
        <div class="name">
            Осорио Умберто 
        </div>
        <div class="photo">
            <img src="/images/about/teachers/esp/osorio.jpg" />
        </div>
        <div class="spec">
            Репетитор по испанскому языку.
        </div>
        <div class="description">          
            Носитель испанского языка.<br />
Окончил РУДН, филологический факультет в 1990 году.<br />
Преподаватель ВУЗов (МГУ, РУДН).<br />
Опыт преподавательской деятельности – 12 лет.
        </div>
    </div>
    
    <div class="teacher">
        <div class="name">
            Хинтон Бенджамин 
        </div>
        <div class="photo">
            <img src="/images/about/teachers/esp/hinton.jpg" />
        </div>
        <div class="spec">
            Репетитор испанского языка и английского языка.
        </div>
        <div class="description">          
            Носитель английского языка.<br />
Образование: University of California (США), факультет – Humanities, специализация – History, бакалавр (2006 г.).<br />
Сертификат CELTA (2011 г.).<br />
Опыт преподавания – с 2006 года. Varna Private High School of Business (Болгария), английский, испанский языки (2006-2008 гг.). Blue Apple Language School (Турция, 2010-2011 гг.).<br />
Репетиторский опыт – 5 лет.<br />
Плюс: TOEFL, IELTS.<br />

        </div>
    </div>
    
    <div class="teacher">
        <div class="name">
            Фернандес Апарисио Паола Антоанетте 
        </div>
        <div class="photo">
            <img src="/images/about/teachers/esp/fernandes_aparisio.jpg" />
        </div>
        <div class="spec">
            Репетитор по испанскому языку.
        </div>
        <div class="description">          
            Носитель испанского языка.<br />
Образование: ММА им. И.М. Сеченова, лечебный факультет, специальность – лечебное дело (2007 г.).<br />
Опыт репетиторства – 5 лет.
        </div>
    </div>
    
     <div class="teacher">
        <div class="name">
            Рохас Ремо
        </div>
        <div class="photo">
            <img src="/images/about/teachers/esp/rohas.jpg" />
        </div>
        <div class="spec">
            Репетитор испанского языка.
        </div>
        <div class="description">          
            Носитель испанского языка.<br />
Образование: Главный университет св. Андреса (Боливия, 2003 г.); Первый московский государственный медицинский университет им. И.М. Сеченова, квалификация – врач, специальность – лечебное дело (2011 г.).<br />
Курсы «Теория и практика перевода», присвоена квалификация – переводчик с русского языка на испанский, по естественнонаучным специальностям (РУДН, 2009 г.).<br />
Опыт преподавания – 7 лет на курсах иностранных языков.<br />
Репетиторский стаж – 5 лет.

        </div>
        <div class="serts">
            <img src="/images/about/teachers/esp/rohas_sert1.jpg" /> <img src="/images/about/teachers/esp/rohas_sert2.jpg" />  
        </div> 
    </div>
    
    <div class="teacher">
        <div class="name">
            Сан Мартин Давид 
        </div>
        <div class="photo">
            <img src="/images/about/teachers/esp/sun_martin.jpg" />
        </div>
        <div class="spec">
            Репетитор испанского языка.
        </div>
        <div class="description">          
            
Носитель испанского языка (Испания).<br />
Образование: Мадридский автономный университет (Испания), филологический факультет, специализация – арабская филология (2004 г., отучился 4 курса).<br />
Опыт преподавания – 7 лет (воспитатель в экологическом кружке, дети с 7 лет).<br />
Опыт работы редактором, корректором и верстальщиком в испанских издательствах.<br />
Опыт репетиторства – с 2012 года.


        </div>
    </div>
    
    <div class="teacher">
        <div class="name">
            Фернандес Ривера Герман Антонио
        </div>
        <div class="photo">
            <img src="/images/about/teachers/esp/fernandes_rivera.jpg" />
        </div>
        <div class="spec">
            Репетитор испанского языка.
        </div>
        <div class="description">          
       Репетитор испанского языка.<br />
Носитель испанского языка (Колумбия).<br />
Образование: Международная школа иностранных языков International House (г. Буэнос-Айрес, Аргентина), специальность – преподавание испанского языка как иностранного (2011 г.).<br />
Опыт репетиторства – 3 года (с 2009 г.).
        </div>
        <div class="serts">
            <img src="/images/about/teachers/esp/fernandes_rivera_sert1.jpg" />  
        </div>
    </div>
    
    <div class="teacher">
        <div class="name">
            Бенавидес Перес Исис
        </div>
        <div class="photo">
            <img src="/images/about/teachers/esp/benavides.jpg" />
        </div>
        <div class="spec">
            Предметы: итальянский язык, испанский язык.
        </div>
        <div class="description">          
           Носитель испанского языка.<br />
Образование: Гаванский университет (Universidad de La Habana), факультет иностранных языков, специальность – преподаватель русского и итальянского языков (1981 г.).<br />
Ежегодные курсы повышения квалификации при Гаванском университете (РКИ). <br />
Интенсивный курс русского языка при Университете дружбы народов им. Патриса Лумумбы (1994 г.).<br />
Заочный двухгодичный курс русского языка при Институте русского языка им. А.С. Пушкина (1982-1984 гг.).<br />
Педагогический стаж – 15 лет (Гаванский университет, преподаватель русского и итальянского языков).<br />

        </div>
        <div class="serts">
            <img src="/images/about/teachers/esp/benavides_sert1.jpg" /> <img src="/images/about/teachers/esp/benavides_sert2.jpg" /> <img src="/images/about/teachers/esp/benavides_sert3.jpg" /> <img src="/images/about/teachers/esp/benavides_sert4.jpg" />
        </div>
    </div>
    
    <div class="teacher">
        <div class="name">
            Габен Жан
        </div>
        <div class="photo">
            <img src="/images/about/teachers/esp/gaben.jpg" />
        </div>
        <div class="spec">
            Предметы: испанский язык, французский язык.
        </div>
        <div class="description">          
           Носитель французского и испанского языков.<br />
Образование:<br />
Университет Сорбонны 12, докторантура (2001 г.);<br />
РУДН, диплом журналиста-международника, сертификат переводчика, диплом учителя французского языка для иностранцев (1996 г.);<br />
Бакалавр Габон (1989 г.).<br />
Пресс-атташе при посольстве Габона в РФ.<br />
Опыт преподавания – 15 лет. Преподаватель французского, английского языков в колледже «Алфави», в других средних общеобразовательных школах. Преподаватель истории во французском лицее. Ассистент кафедры истории РУДН.<br />
Репетиторство – 15 лет.
        </div>        
    </div>
    <h2>Преподаватели итальянского</h2>
    
    <div class="teacher">
        <div class="name">
            Фиоре Рикардо 
        </div>
        <div class="photo">
            <img src="/images/about/teachers/ita/fiore.jpg" />
        </div>
        <div class="spec">
            Репетитор по итальянскому языку.
        </div>
        <div class="description">          
           Носитель итальянского языка.<br />
Образование: Туринский университет, филологический факультет, специальность – итальянская литература (1993 г.); Ассоциация «Русский Мир» (г. Турин, Италия), диплом по русскому языку (1999-2004 гг.); Международный сертификат русского языка делового общения «ТРКИ» 4-й степени – продвинутый уровень С2 effective operational proficiency (2004-2006 гг.).<br />
Педагогический стаж – 1 год (школа иностранных языков «HighWay», Институт итальянского языка Corsoit).<br />
        </div>        
    </div>
    
    <div class="teacher">
        <div class="name">
            Филиппова Светлана Алексеевна 
        </div>
        <div class="photo">
            <img src="/images/about/teachers/ita/filipova.jpg" />
        </div>
        <div class="spec">
            Репетитор по итальянскому языку.
        </div>
        <div class="description">          
           Окончила РГГУ, Институт лингвистики, лингвист (2005 г.).<br />
Стажировка в Миланском католическом университете (2004 г.).<br />
Окончила итальянское отделение магистратуры Middlebury College, USA, степень мастера искусств по итальянскому языку и культуре (2010 г.).<br />
С 2005 года – преподаватель колледжа иностранных языков РГГУ.<br />
Опыт репетиторской деятельности – с 2004 года.
        </div>        
    </div>
    
    <div class="teacher">
        <div class="name">
            Целоне Цинциа
        </div>
        <div class="photo">
            <img src="/images/about/teachers/ita/celone.jpg" />
        </div>
        <div class="spec">
            Репетитор по итальянскому языку.
        </div>
        <div class="description">          
           Носитель итальянского языка.<br />
Образование: Миланский университет (Италия), факультет лингвистики и культуры, специальность – преподаватель итальянского языка как иностранного, бакалавр (2009 г.).<br />
Институт русского языка и литературы, специальность – преподаватель РКИ, 2 курс магистратуры.<br />
Жила и работала 1 год в Ирландии. Окончила полугодовые курсы по английскому языку в Ирландии.<br />
Кембриджский сертификат – уровень С1 (2009 г.).<br />
Опыт преподавания – 2 года. Преподавала итальянский язык как иностранный в государственной миланской школе студентам.<br />
Репетиторский опыт – 1 год.

        </div>        
    </div>
    
    <div class="teacher">
        <div class="name">
            Науменко Юлия Сергеевна 
        </div>
        <div class="photo">
            <img src="/images/about/teachers/ita/naumenko.jpg" />
        </div>
        <div class="spec">
            Репетитор по итальянскому языку.
        </div>
        <div class="description">          
           Образование: МГУ им. М.В. Ломоносова, биологический факультет, специальность – биохимия (2000 г.).<br />
Университет Сиены (Италия), сертификат C2 на знание итальянского языка (подтверждает знание языка на уровне носителя и дает право преподавания) (2007 г.).<br />
Институт итальянской культуры в Москве, заключительный седьмой уровень, рассмотрение сложностей итальянского языка, особенности художественной прозы, деловая переписка (2006-2007 гг.).<br /> 
Опыт преподавания – 8 лет. ПКО «Медиаком», преподавание итальянского языка сотрудникам компании (2002-2004 гг.). Лингвистическая школа «Биг-Бен», корпоративное обучение в компании «Восток-Сервис» (2008-2009 гг.). Лингвистическая школа «Дайвленг» (2007-2009 гг.), группы начального, среднего и продвинутого уровня, индивидуальное обучение, серия авторских песенных семинаров L`Italia che canta. Лингвистическая школа Capital studies (2007-2009 гг.), корпоративное обучение итальянскому языку в компании «Мегафон», индивидуальное обучение. Преподаватель итальянского языка в детском клубе, в ABBYY Language (с 2010 г.).<br />
Репетиторский опыт – 10 лет.<br />
        </div>        
    </div>
    
    <div class="teacher">
        <div class="name">
            Мерло Андреа
        </div>
        <div class="photo">
            <img src="/images/about/teachers/ita/merlo.jpg" />
        </div>
        <div class="spec">
            Предметы: итальянский язык, фортепиано.
        </div>
        <div class="description">          
           Носитель итальянского языка.<br />
Образование: Пармская консерватория, специальность – фортепиано (2004 г.).<br />
Московская консерватория им. Чайковского, фортепианный факультет, специальность – фортепиано (2009 г.).<br />
Лауреат международных конкурсов в Италии, Америке и Германии.<br />
Опыт работы учителем итальянского языка в музыкальной академии в Ванкувере.<br />
Курсы итальянского языка для певцов.<br />
Опыт репетиторства – 6 лет.<br />
        </div>        
    </div>
    
    <div class="teacher">
        <div class="name">
            Bronzi Maria Teresa 
        </div>
        <div class="photo">
            <img src="/images/about/teachers/ita/bronzi.jpg" />
        </div>
        <div class="spec">
            Репетитор по итальянскому языку.
        </div>
        <div class="description">          
           Носитель итальянского языка.<br />
Образование: Римский Университет Ла Сапиенца (University of Rome La Sapienza, г. Рим, Италия), филологический факультет, специальность – русский, английский языки и литература (магистр, 2011 г.).<br />
Опыт репетиторства – 3 года.
        </div>        
    </div>
    
    <div class="teacher">
        <div class="name">
            Арана Элиза Севастиановна
        </div>
        <div class="photo">
            <img src="/images/about/teachers/ita/arana.jpg" />
        </div>
        <div class="spec">
            Репетитор по итальянскому языку.
        </div>
        <div class="description">          
           Носитель итальянского языка.<br />
Образование: РГГУ, историко-филологический факультет, специальность – филология, специализация – история, французская и русская культура и литература (со знанием французского языка) (2007 г.).<br />
До 15 лет жила в Италии, где окончила среднюю школу (Сиракузы).<br />
Опыт переводческой и репетиторской деятельности – 7 лет.

        </div>        
    </div>
    
    <div class="teacher">
        <div class="name">
            Munerato Chiara
        </div>
        <div class="photo">
            <img src="/images/about/teachers/ita/munerato.jpg" />
        </div>
        <div class="spec">
            Репетитор итальянского языка.
        </div>
        <div class="description">          
           
Носитель итальянского языка.<br />
2 курс магистратуры Университета Венеции (Universita' Ca' Foscari Di Venezia), факультет лингвистики и литературы, специальность – русская культура и литература (диплом бакалавра с отличием, 2010 г.).<br />
Педагогический стаж – 1 месяц (курсы иностранных языков).<br />
Репетиторская деятельность – 1 год.<br />

        </div>        
    </div>
    
    <div class="teacher">
        <div class="name">
            Ломбардини Луиза 
        </div>
        <div class="photo">
            <img src="/images/about/teachers/ita/lombardini.jpg" />
        </div>
        <div class="spec">
            Репетитор итальянского языка.
        </div>
        <div class="description">          
         Репетитор итальянского языка.<br />
Носитель итальянского языка.<br />
Образование: University of Udine (г. Удине, Италия), филологический факультет, специальность – филолог, магистр (2011 г.).<br />
Опыт преподавания – 6 мес. Самарский государственный университет, помощник преподавателя итальянского языка. Самарская государственная сельскохозяйственная академия, преподаватель итальянского языка в группе начинающих обучение.
        </div>        
    </div>
    
    <div class="teacher">
        <div class="name">
            Римольди Эмануэль
        </div>
        <div class="photo">
            <img src="/images/about/teachers/ita/rimoldi.jpg" />
        </div>
        <div class="spec">
            Репетитор по итальянскому языку и фортепиано.
        </div>
        <div class="description">          
         Носитель итальянского языка.<br />
Образование: Миланская консерватория, специальность – фортепиано (2009 г.); Московская государственная консерватория им. П.И. Чайковского, фортепианный факультет, специальность – фортепиано, аспирантура, 3 год обучения.<br />
Лауреат международных конкурсов в Италии, США и Германии.<br />
Опыт преподавания – 1 год. Опыт работы преподавателем итальянского языка в Музыкальной академии в Мюнхене (Германия). Курсы итальянского языка для певцов.<br />
        </div>        
    </div>
    
</div>