<?php
$abar = new Lingua_View_ActionBar();

if(Lingua_Auth::hasPermission('lessons.add')) 
    $abar->add('lesson-add', 'Сохранить', null);

if(Lingua_Auth::hasPermission('lessons.publish')) 
    $abar->add('lessons-publish', 'Опубликовать', null);

if(Lingua_Auth::hasPermission('lessons.delete')) 
    $abar->add('lessons-delete', 'Отменить ', null, false);

echo $abar->render("Действия");
?>

<?php $this->placeholder('mycss')->captureStart(); ?>
<style>
    .container {
        background-color: #F8F8F8;
    }

    .space {
        margin-left: 15px;
    }

    .mask {
        position: absolute;
        background-color: #000;
        display: none;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
        top:0;
        left: 0;
        z-index: 10000;
    }

    .category_dialog {
        width: 400px;
        height:auto;
        display: none;
        position: absolute;
        z-index: 10001;
        background-color: #F8F8F8;
        padding: 10px;
    }

    .loading_container {
        width: auto;
        text-align: center;
    }

    .categories_label {
        font-size: 14px;
    }

    .categories_small_label {
        font-size: 11px;
        margin-left: 5px;
    }

    .category_link {
        padding: 2px;
        color: #000;
        margin: 10px 0 0 20px;
    }

    #youtube_video {
        border: 1px solid #000;
        margin-top: 5px;
        display: none;
    }
    
</style>
<?php $this->placeholder('mycss')->captureEnd(); ?>
<?php echo $this->render('/lessons/lesson-form.php') ?>


<?php $this->placeholder('myscript')->captureStart(); ?>
<script>
    var category_id = -1;
    var mask = $("div.mask");
    var dlg = $("div.category_dialog");
    var doc = $(window);
         
    //save button handler
    $(document).ready(function(){
        $("#lesson-add").bind('click', lessonSave);
        $("#lesson-publish").bind('click', lessonPublish) 
        
        function lessonSave() {
            $("#form").attr('action', '/admin/lessons/save/type/save/');
            $("#form").submit();
        }
    
        function lessonPublish() {
            $("#form").attr('action', '/admin/lessons/save/type/publish/');
            $("#form").submit();
        }
    });
</script>
<?php $this->placeholder('myscript')->captureEnd(); ?>