<?php
$abar = new Lingua_View_ActionBar();


if(Lingua_Auth::hasPermission('lessons.add')) 
    $abar->add('lesson-add', 'Новый урок', '/admin/lessons/add');
if(Lingua_Auth::hasPermission('lessons.edit')) 
    $abar->add('lesson-edit', 'Редактировать урок', null, false);
if(Lingua_Auth::hasPermission('lessons.delete')) 
    $abar->add('lesson-delete', 'Удалить урок', null, false);

echo $abar->render("Действия"); ?>

<?php $this->placeholder('mycss')->captureStart(); ?>
<style>
    .line {
        width: 700px;
        height: 75px;
        display: block;
        border: 2px solid #CCCCCC;
        background-color: #F8F8F8;
        padding: 5px;
        margin: 5px auto;
    }

    .line_hover {
        width: 700px;
        height: 75px;
        display: block;
        border: 2px solid #CCCCCC;
        background-color: #F1F1F1;
        padding: 5px;
        margin: 5px auto;
        cursor: pointer;
    }
</style>

<style>
    table.list tr {
        border: 2px solid #CCCCCC;
        background-color: #F8F8F8;
        height: 30px;
    }

    table.list tr:hover {
        border: 2px solid #CCCCCC;
        background-color: #F1F1F1;
        height: 30px;
    }
    
</style>
<?php $this->placeholder('mycss')->captureEnd(); ?>


<div id="result"></div>

<?php
    $data = $this->LIST->getRecords();
?>

<table class="list" style="margin: 0 auto; width: 100%">
    <tr align="right">
        <td colspan="7">
            <?=$this->LIST->tbarHeader(); ?>
        </td>
    </tr>
    <tr>
        <th></th>
        <th>
            Название
        </th>
        <th>
            Создатель
        </th>        
        <th>
            Статус
        </th>        
        <th>
            Создан в
        </th>
    </tr>

    

    <?php
    $index  = 1;
    //print_r($data);
    if ($data)
    foreach ($data as $d) {
        $obj = new Lingua_Object($d);
        ?>
        <tr>
            <td><?= $index ?></td>
            <td><a href="/admin/lessons/edit/lesson_id/<?php echo $obj->lesson_id; ?>"><?php echo $obj->lesson_title; ?></a></td>
            <td><?= $obj->firstname . ' ' . $obj->surname ?></td>
            <td><?= $obj->status; ?></td>
            <td><?= $obj->created_ts; ?></td>
        </tr>
        <?php
        $index++;
    }
    ?>
        
    <tr align="right">
        <td colspan="7">
            <?= $this->LIST->tbarHeader(); ?>
        </td>
    </tr>
</table>


<?php $this->placeholder('myscript')->captureStart(); ?>
<script>
    var selected_video = -1;
    var video_edit_btn = null;
    var video_delete_btn = null;
    
    $(document).ready(function(){
        init();
    });
    
    function init() {
        $('div.line').each(function(index, element){
            $(element).bind('mouseover', line_mouseover);
            $(element).bind('mouseout', line_mouseout);
            $(element).bind('click', line_click);
            $(element).bind('dblclick', line_dblclick);
        });
        
        video_edit_btn = $("#video-edit");
        video_edit_btn.bind("click", videoEdit);
        
        video_delete_btn = $("#video-delete");
        video_delete_btn.bind("click", videoDelete);        
    }
    
    function line_mouseover() {
        $(this).removeClass('line');
        $(this).addClass('line_hover');
    }
    
    function line_dblclick() {
        $("#"+selected_video).removeClass('line_hover');
        $("#"+selected_video).addClass('line');
        $(this).addClass('line_hover');
        
        selected_video = this.id;
        
        videoEdit();
    }
    
    function line_mouseout() {
        if(this.id  == selected_video) return;
        
        $(this).removeClass('line_hover');
        $(this).addClass('line');
    }
    
    function line_click() {
        $("#"+selected_video).removeClass('line_hover');
        $("#"+selected_video).addClass('line');
        $(this).addClass('line_hover');
        
        if(selected_video == this.id) selected_video = -1;
        else selected_video = this.id;
        
        
        if(selected_video != -1) {
            video_delete_btn.removeAttr('disabled');
            video_edit_btn.removeAttr('disabled');
        }
        else {
            video_edit_btn.attr('disabled', '');
            video_delete_btn.attr('disabled', '');
            
        }
    }
    
    function videoDelete() {
        if(confirm('Вы уверены?')) {
            if(!confirm("Если вы удалите данное видео урок, больше не сможете восстонавить.")) {
                return;
            }
        }
        else return;
        
        if(selected_video == -1) return;
        $.post('/admin/panel/video-delete/video_id/'+selected_video, function(data){
            $("#result").html(data);
            $("#"+selected_video).fadeOut();
        });
    }
    
    function videoEdit() {
        window.location.href = "/admin/panel/video-edit/video_id/"+selected_video;
    }
    
</script>
<?php $this->placeholder('myscript')->captureEnd(); ?>