<?= $this->render('/list/get-videos-by-artist.phtml'); ?>

<?php $this->placeholder('myscript')->captureStart(); ?>
<script type="text/javascript">
    
    function init_paging() {
        $("#div_2 div.conten-middle-center-alfavit-pager a").each(function(index, element) {
            $(element).click(function(e){
                clean_pager_style();
                $(this).addClass('selected');
                loadVideoArtists($(this).attr('trg'), 10, selected_language);
            });
        });
    }
        
    function clean_pager_style() {
        $("#div_2 div.conten-middle-center-alfavit-pager a").each(function(index, element) {
            $(element).removeClass('selected');
        });
    }
    
    function init_artists_link() {
        $("#div_2 div.conten-middle-center-alfavit-ru-menu li a").each(function(index, element){
            $(element).click(function(){
                loadVideos($(this).text());
            });
        });
        
        $("#div_2 div.conten-middle-center-alfavit-eng-menu li a").each(function(index, element){
            $(element).click(function(){
                loadVideos($(this).text());
            });
        });
    }
    
    function loadVideoArtists(page, length, lang) {
        $.post('/resources/list/video-artists-filter', {letter: selected_letter.text(), page: page, length: length, lang: RESOURCES.selected_lang}, function(data){
            $("#div_2 div.conten-middle-center-alfavit-ru-menu ul").html("");
            $("#div_2 div.conten-middle-center-alfavit-eng-menu ul").html("");
            var obj = $.parseJSON(data);
            var interator = 0;
            
            $('div.ru-alphabet-container').html('');
            $('div.ru-alphabet-container').append('<a href="#" class="alpabet">ВСЕ</a> ');
            $.each(obj.artists_count.rus, function(key, object) {
                if(object != 0) {
                    $('div.ru-alphabet-container').append('<a href="#" class="alpabet">' + key + '</a> ');
                }
                else {
                    $('div.ru-alphabet-container').append('<span class="disabled">' + key + '</span> ');
                }
            });
            
            $('div.eng-alphabet-container').html('');
            $('div.eng-alphabet-container').append('<a href="#" class="alpabet">#</a> ');
            
            $.each(obj.artists_count.eng, function(key, object) {
                if(object != 0) {
                    $('div.eng-alphabet-container').append('<a href="#" class="alpabet">' + key + '</a> ');
                }
                else {
                    $('div.eng-alphabet-container').append('<span class="disabled">' + key + '</span> ');
                }
            });
            
            init_alphabet();
            
            $.each(obj.artists, function(key, object){
                if(interator < 5) {
                    $("#div_2 div.conten-middle-center-alfavit-ru-menu ul").append('<li><a href="javascript:void(0)"><nobr>' + object.video_atrist + '</nobr></a></li>');
                }
                else {
                    $("#div_2 div.conten-middle-center-alfavit-eng-menu ul").append('<li><a href="javascript:void(0)"><nobr>' + object.video_atrist + '</nobr></a></li>');
                }
                        
                interator++;
            });
            
            var pageNum = parseInt(page) + 1;
            render_paging(Math.ceil(obj.found / 10), pageNum);
               
            $('div.conten-middle-center-alfavit-page-count span').html(obj.found);
            $("#va_loader").html('');
                    
            init_artists_link();
            init_paging();
        });
    }
    
    function loadVideos(artist) {
        closeMenu();
        $.post('/resources/list/get-videos-by-artist' , {artist_name: artist}, function(data){
            $('div.conten-middle div.conten-middle-center div.conten-middle-center-all').html(data);
        });
    }
    
    function render_paging(pages, page) {
        $("#div_2 div.conten-middle-center-alfavit-pager span.paging").html('');
        if(page > pages) {
            page = pages;
        }
        var pageNum = (page >= 4) ? page - 2 : 1;
        
        if(pageNum > 1) {
            $("#div_2 div.conten-middle-center-alfavit-pager span.paging").append('<a href="javascript:void(0)" trg="' + parseInt(page - 6) + '"> < </a>');
        }
        
        for(var iterator = pageNum; iterator < pageNum + 5 ; iterator++) {
            if(iterator > pages) continue;
            
            if(iterator == page) {
                $("#div_2 div.conten-middle-center-alfavit-pager span.paging").append('<a href="javascript:void(0)" class="selected" trg="' + (iterator-1) + '">' + iterator + '</a>');
            }
            else 
                $("#div_2 div.conten-middle-center-alfavit-pager span.paging").append('<a href="javascript:void(0)" trg="' + (iterator-1) + '">' + iterator + '</a>');
        }        
        
        if(page + 3 <= pages ) {
            $("#div_2 div.conten-middle-center-alfavit-pager span.paging").append('<a href="javascript:void(0)" trg="' + ((page + 4) > pages ? pages : (page + 3))+ '"> > </a>');
        }
        init_paging();
    }
</script>
<?php $this->placeholder('myscript')->captureEnd(); ?>
