<div class="conten-middle-center-left">
    <?= Lingua_View_Resources_Filters_Audio::audioListRender($this->top_audio, 'Топ-10 аудиозаписей', true); ?>
</div><!-- #conten-middle-center-left-->

<div class="conten-middle-center-right">
    <?= Lingua_View_Resources_Filters_Video::videoListRender($this->top_video, 'Топ-10 видеозаписи', true); ?>
</div><!-- #conten-middle-center-right-->