/* Header top menu1
----------------------*/
.header_menu1_community{
    float:right;
    margin-right:-45px;
    background:url(/images/community/community-drob-menu.png) no-repeat;
    width:156px;
    height:129px;
    display:none;
}
.header_menu1_community ul{
    list-style-position:inside;
    list-style-type:disc;
    color:#fff;
    float:left;
    margin:8px auto auto -10px;
}  
.header_menu1_community ul li{
    margin-top:0px;
    padding-left:10px;
    padding-bottom:4px;
    padding-top:4px;
    border-bottom:1px dashed #e1a24f;
    width:146px;
    height:20px;
}
.header_menu1_community ul li a{
    color:#e1a24f;
    font-size:13px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style:italic;
    text-decoration:none
}

/* Header top trainings
----------------------*/
.header_menu_trainings{
    float:right;
    margin-left:-10px;
    background:url(/images/community/community-drob-menu.png) no-repeat;
    width:120px;
    height:85px;
    display:none;
    position: absolute;
    top: 30px;
}
.header_menu_trainings ul{
    list-style-position:inside;
    list-style-type:disc;
    color:#fff;
    float:left;
    margin:8px auto auto -10px;
}  
.header_menu_trainings ul li{
    margin-top:0px;
    padding-left:10px;
    padding-bottom:4px;
    padding-top:4px;
    border-bottom:1px dashed #e1a24f;
    width:109px;
    height:20px;
}
.header_menu_trainings ul li a{
    color:#e1a24f;
    font-size:13px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style:italic;
    text-decoration:none
}